Sonluk.UI.Model/Service References/LE.TRA.FeedbackService/Feedback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Sonluk.com/API/LE/TRA/" xmlns:s1="http://Sonluk.com/API/LE/TRA/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Sonluk.com/API/LE/TRA/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Sonluk.com/API/LE/TRA/">
      <s:element name="Select">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keywords" type="tns:FeedbackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FeedbackInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Carrier" type="tns:CompanyInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateEnd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Payment" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatorID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfFeedbackItemInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsignmentNote" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureDateEnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemRemark" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompanyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CityID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cellphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesOffices" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Default" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfCompanyInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="General" type="tns:ArrayOfCompanyGeneralInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCompanyInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompanyInfo" nillable="true" type="tns:CompanyInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCompanyGeneralInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CompanyGeneralInfo" nillable="true" type="tns:CompanyGeneralInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CompanyGeneralInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Client" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SortField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HouseNumberAndStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstTelephoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesOrganization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesOrganizationDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributionChannel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributionChannelDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Division" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DivisionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesGroupDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFeedbackItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FeedbackItemInfo" nillable="true" type="tns:FeedbackItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FeedbackItemInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HeaderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsignmentNote" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureDateEnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GoodsType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WholeQty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ChargedWeight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DirectCost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HandlingCost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OtherCost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Payment" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Confirmed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Normal" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectResult" type="tns:ArrayOfFeedbackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFeedbackInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FeedbackInfo" nillable="true" type="tns:FeedbackInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:FeedbackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="node" type="tns:FeedbackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Modify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="node" type="tns:FeedbackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Import">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="tns:ArrayOfFeedbackItemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keywords" type="tns:FeedbackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportResult" type="tns:ArrayOfFeedbackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodes" type="tns:ArrayOfFeedbackInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeedbackInfo" nillable="true" type="tns:FeedbackInfo" />
      <s:element name="ArrayOfFeedbackItemInfo" nillable="true" type="tns:ArrayOfFeedbackItemInfo" />
    </s:schema>
    <s:schema targetNamespace="http://Sonluk.com/API/LE/TRA/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="SelectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="VerifySoapOut">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="ModifySoapIn">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="ModifySoapOut">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="ImportSoapIn">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="ImportSoapOut">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="ReportSoapIn">
    <wsdl:part name="parameters" element="tns:Report" />
  </wsdl:message>
  <wsdl:message name="ReportSoapOut">
    <wsdl:part name="parameters" element="tns:ReportResponse" />
  </wsdl:message>
  <wsdl:message name="ExportSoapIn">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="ExportSoapOut">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:FeedbackInfo" />
  </wsdl:message>
  <wsdl:message name="ImportHttpGetIn">
    <wsdl:part name="file" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="ImportHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfFeedbackItemInfo" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:FeedbackInfo" />
  </wsdl:message>
  <wsdl:message name="ImportHttpPostIn">
    <wsdl:part name="file" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="ImportHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfFeedbackItemInfo" />
  </wsdl:message>
  <wsdl:portType name="FeedbackSoap">
    <wsdl:operation name="Select">
      <wsdl:input message="tns:SelectSoapIn" />
      <wsdl:output message="tns:SelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:input message="tns:VerifySoapIn" />
      <wsdl:output message="tns:VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input message="tns:ModifySoapIn" />
      <wsdl:output message="tns:ModifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input message="tns:ImportSoapIn" />
      <wsdl:output message="tns:ImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report">
      <wsdl:input message="tns:ReportSoapIn" />
      <wsdl:output message="tns:ReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input message="tns:ExportSoapIn" />
      <wsdl:output message="tns:ExportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FeedbackHttpGet">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input message="tns:ImportHttpGetIn" />
      <wsdl:output message="tns:ImportHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FeedbackHttpPost">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Import">
      <wsdl:input message="tns:ImportHttpPostIn" />
      <wsdl:output message="tns:ImportHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeedbackSoap" type="tns:FeedbackSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FeedbackSoap12" type="tns:FeedbackSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Modify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Import" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FeedbackHttpGet" type="tns:FeedbackHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <http:operation location="/Import" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FeedbackHttpPost" type="tns:FeedbackHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import">
      <http:operation location="/Import" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Feedback">
    <wsdl:port name="FeedbackSoap" binding="tns:FeedbackSoap">
      <soap:address location="http://192.168.0.132/API/LE/TRA/Feedback.asmx" />
    </wsdl:port>
    <wsdl:port name="FeedbackSoap12" binding="tns:FeedbackSoap12">
      <soap12:address location="http://192.168.0.132/API/LE/TRA/Feedback.asmx" />
    </wsdl:port>
    <wsdl:port name="FeedbackHttpGet" binding="tns:FeedbackHttpGet">
      <http:address location="http://192.168.0.132/API/LE/TRA/Feedback.asmx" />
    </wsdl:port>
    <wsdl:port name="FeedbackHttpPost" binding="tns:FeedbackHttpPost">
      <http:address location="http://192.168.0.132/API/LE/TRA/Feedback.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>