Sonluk.UI.Model/Service References/CRM.COST_LKAHXZLMXService/COST_LKAHXZLMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_LKAHXZLMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HXZLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HXZLTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LKAFYTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTITEMID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FYSPJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FYYHXJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FYBCSQJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SQZJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MCHTQK" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MCHTTK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCHTJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CSKKFP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CSKKFPDY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SFYHBYJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FYHXYHCNR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SJXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SJFB" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="HDJSZJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QKSM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SHR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SHSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MCHTQKDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSKKFPDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDSTR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SQJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MDID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MDMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Display2ImgCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZLXDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TT_LKAID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TT_HTYEAR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XSHJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CJHDMDSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HDBEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDENDDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHTHBEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHTHENDDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DP1DES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DP2DES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CCJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCGJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CXGJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCSJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CXSJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DPYJXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="YJXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="YJFB" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="HDFASM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLFSDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SQFYJE" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="FYBEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FYENDDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TT_FYHXXS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MDCRMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_LKAHXZLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_LKAHXZLMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_LKAHXZLMX" nillable="true" type="tns:CRM_COST_LKAHXZLMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HXZLTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByTTIDResult" type="tns:ArrayOfCRM_COST_LKAHXZLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HXZLMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByLKAFYTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LKAFYTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByLKAFYTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteByLKAFYTTIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXinfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="HTYEAR" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LKAID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXinfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadMXinfoResult" type="tns:CRM_COST_LKAHXZLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_Unconnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_UnconnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_UnconnectedResult" type="tns:ArrayOfCRM_COST_LKAHXZLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_CostTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_CostTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_CostTimeResult" type="tns:CRM_COST_LKAHXZLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfCRM_COST_LKAHXZLMX" nillable="true" type="tns:ArrayOfCRM_COST_LKAHXZLMX" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByTTID" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteByLKAFYTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteByLKAFYTTID" />
  </wsdl:message>
  <wsdl:message name="DeleteByLKAFYTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteByLKAFYTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadMXinfoSoapIn">
    <wsdl:part name="parameters" element="tns:ReadMXinfo" />
  </wsdl:message>
  <wsdl:message name="ReadMXinfoSoapOut">
    <wsdl:part name="parameters" element="tns:ReadMXinfoResponse" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Read_Unconnected" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapOut">
    <wsdl:part name="parameters" element="tns:Read_UnconnectedResponse" />
  </wsdl:message>
  <wsdl:message name="Read_CostTimeSoapIn">
    <wsdl:part name="parameters" element="tns:Read_CostTime" />
  </wsdl:message>
  <wsdl:message name="Read_CostTimeSoapOut">
    <wsdl:part name="parameters" element="tns:Read_CostTimeResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpGetIn">
    <wsdl:part name="HXZLTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_COST_LKAHXZLMX" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="HXZLMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteByLKAFYTTIDHttpGetIn">
    <wsdl:part name="LKAFYTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByLKAFYTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpPostIn">
    <wsdl:part name="HXZLTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_COST_LKAHXZLMX" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="HXZLMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteByLKAFYTTIDHttpPostIn">
    <wsdl:part name="LKAFYTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByLKAFYTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="COST_LKAHXZLMXSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDSoapIn" />
      <wsdl:output message="tns:ReadByTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByLKAFYTTID">
      <wsdl:input message="tns:DeleteByLKAFYTTIDSoapIn" />
      <wsdl:output message="tns:DeleteByLKAFYTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXinfo">
      <wsdl:input message="tns:ReadMXinfoSoapIn" />
      <wsdl:output message="tns:ReadMXinfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <wsdl:input message="tns:Read_UnconnectedSoapIn" />
      <wsdl:output message="tns:Read_UnconnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_CostTime">
      <wsdl:input message="tns:Read_CostTimeSoapIn" />
      <wsdl:output message="tns:Read_CostTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_LKAHXZLMXHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDHttpGetIn" />
      <wsdl:output message="tns:ReadByTTIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByLKAFYTTID">
      <wsdl:input message="tns:DeleteByLKAFYTTIDHttpGetIn" />
      <wsdl:output message="tns:DeleteByLKAFYTTIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_LKAHXZLMXHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDHttpPostIn" />
      <wsdl:output message="tns:ReadByTTIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByLKAFYTTID">
      <wsdl:input message="tns:DeleteByLKAFYTTIDHttpPostIn" />
      <wsdl:output message="tns:DeleteByLKAFYTTIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_LKAHXZLMXSoap" type="tns:COST_LKAHXZLMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <soap:operation soapAction="http://tempuri.org/ReadByTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByLKAFYTTID">
      <soap:operation soapAction="http://tempuri.org/DeleteByLKAFYTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXinfo">
      <soap:operation soapAction="http://tempuri.org/ReadMXinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_CostTime">
      <soap:operation soapAction="http://tempuri.org/Read_CostTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_LKAHXZLMXSoap12" type="tns:COST_LKAHXZLMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <soap12:operation soapAction="http://tempuri.org/ReadByTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByLKAFYTTID">
      <soap12:operation soapAction="http://tempuri.org/DeleteByLKAFYTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXinfo">
      <soap12:operation soapAction="http://tempuri.org/ReadMXinfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap12:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_CostTime">
      <soap12:operation soapAction="http://tempuri.org/Read_CostTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_LKAHXZLMXHttpGet" type="tns:COST_LKAHXZLMXHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <http:operation location="/ReadByTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByLKAFYTTID">
      <http:operation location="/DeleteByLKAFYTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_LKAHXZLMXHttpPost" type="tns:COST_LKAHXZLMXHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <http:operation location="/ReadByTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByLKAFYTTID">
      <http:operation location="/DeleteByLKAFYTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_LKAHXZLMX">
    <wsdl:port name="COST_LKAHXZLMXSoap" binding="tns:COST_LKAHXZLMXSoap">
      <soap:address location="http://192.168.0.135/API/CRM/COST_LKAHXZLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_LKAHXZLMXSoap12" binding="tns:COST_LKAHXZLMXSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/COST_LKAHXZLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_LKAHXZLMXHttpGet" binding="tns:COST_LKAHXZLMXHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/COST_LKAHXZLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_LKAHXZLMXHttpPost" binding="tns:COST_LKAHXZLMXHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/COST_LKAHXZLMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>