Sonluk.UI.Model/Service References/HR.ADMINISTRATION_DORMService/WS_HR_ADMINISTRATION_DORM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_DORM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_ADMINISTRATION_DORM_DORM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DORMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DORMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DORMADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DORMJG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DORMSGY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DORMNUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_DORM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_DORM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_ADMINISTRATION_DORM_DORM_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_ADMINISTRATION_DORM_DORM_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="ROOM_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_ROOM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_ADMINISTRATION_DORM_ROOM">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ROOMID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DORMID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ROOMNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ROOMTYPE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ROOMRYCOUNT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ROOMZT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LIVECOUNT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DORMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIVENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROOMTYPELIST" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ROOM_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ROOM_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ROOM_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_ROOM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ROOM_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ROOM_SELECTResult" type="tns:HR_ADMINISTRATION_DORM_ROOM_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_ADMINISTRATION_DORM_ROOM_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="ROOM_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_ROOM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ROOM_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ROOM_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LIVE_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_LIVE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_ADMINISTRATION_DORM_LIVE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LIVEID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ROOMID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LIVENAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LIVETYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LIVEXB" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LIVEXL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIVEPHONENUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIVEINRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIVEOUTRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LIVEJG" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DORMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROOMTYPELIST" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ROOMZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEKS2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEJS2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSBMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROOMNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LIVE_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LIVE_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LIVE_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_LIVE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LIVE_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LIVE_SELECTResult" type="tns:HR_ADMINISTRATION_DORM_LIVE_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_ADMINISTRATION_DORM_LIVE_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="LIVE_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_ADMINISTRATION_DORM_LIVE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LIVE_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LIVE_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="ROOM_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:ROOM_INSERT" />
  </wsdl:message>
  <wsdl:message name="ROOM_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:ROOM_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="ROOM_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:ROOM_SELECT" />
  </wsdl:message>
  <wsdl:message name="ROOM_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:ROOM_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="ROOM_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:ROOM_UPDATE" />
  </wsdl:message>
  <wsdl:message name="ROOM_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:ROOM_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="LIVE_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:LIVE_INSERT" />
  </wsdl:message>
  <wsdl:message name="LIVE_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:LIVE_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="LIVE_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:LIVE_SELECT" />
  </wsdl:message>
  <wsdl:message name="LIVE_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:LIVE_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="LIVE_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:LIVE_UPDATE" />
  </wsdl:message>
  <wsdl:message name="LIVE_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:LIVE_UPDATEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_ADMINISTRATION_DORMSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ROOM_INSERT">
      <wsdl:input message="tns:ROOM_INSERTSoapIn" />
      <wsdl:output message="tns:ROOM_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ROOM_SELECT">
      <wsdl:input message="tns:ROOM_SELECTSoapIn" />
      <wsdl:output message="tns:ROOM_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ROOM_UPDATE">
      <wsdl:input message="tns:ROOM_UPDATESoapIn" />
      <wsdl:output message="tns:ROOM_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LIVE_INSERT">
      <wsdl:input message="tns:LIVE_INSERTSoapIn" />
      <wsdl:output message="tns:LIVE_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LIVE_SELECT">
      <wsdl:input message="tns:LIVE_SELECTSoapIn" />
      <wsdl:output message="tns:LIVE_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LIVE_UPDATE">
      <wsdl:input message="tns:LIVE_UPDATESoapIn" />
      <wsdl:output message="tns:LIVE_UPDATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_ADMINISTRATION_DORMHttpGet" />
  <wsdl:portType name="WS_HR_ADMINISTRATION_DORMHttpPost" />
  <wsdl:binding name="WS_HR_ADMINISTRATION_DORMSoap" type="tns:WS_HR_ADMINISTRATION_DORMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ROOM_INSERT">
      <soap:operation soapAction="http://tempuri.org/ROOM_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ROOM_SELECT">
      <soap:operation soapAction="http://tempuri.org/ROOM_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ROOM_UPDATE">
      <soap:operation soapAction="http://tempuri.org/ROOM_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LIVE_INSERT">
      <soap:operation soapAction="http://tempuri.org/LIVE_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LIVE_SELECT">
      <soap:operation soapAction="http://tempuri.org/LIVE_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LIVE_UPDATE">
      <soap:operation soapAction="http://tempuri.org/LIVE_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_ADMINISTRATION_DORMSoap12" type="tns:WS_HR_ADMINISTRATION_DORMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ROOM_INSERT">
      <soap12:operation soapAction="http://tempuri.org/ROOM_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ROOM_SELECT">
      <soap12:operation soapAction="http://tempuri.org/ROOM_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ROOM_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/ROOM_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LIVE_INSERT">
      <soap12:operation soapAction="http://tempuri.org/LIVE_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LIVE_SELECT">
      <soap12:operation soapAction="http://tempuri.org/LIVE_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LIVE_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/LIVE_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_ADMINISTRATION_DORMHttpGet" type="tns:WS_HR_ADMINISTRATION_DORMHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_ADMINISTRATION_DORMHttpPost" type="tns:WS_HR_ADMINISTRATION_DORMHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_ADMINISTRATION_DORM">
    <wsdl:port name="WS_HR_ADMINISTRATION_DORMSoap" binding="tns:WS_HR_ADMINISTRATION_DORMSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_ADMINISTRATION_DORM.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_ADMINISTRATION_DORMSoap12" binding="tns:WS_HR_ADMINISTRATION_DORMSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_ADMINISTRATION_DORM.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_ADMINISTRATION_DORMHttpGet" binding="tns:WS_HR_ADMINISTRATION_DORMHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_ADMINISTRATION_DORM.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_ADMINISTRATION_DORMHttpPost" binding="tns:WS_HR_ADMINISTRATION_DORMHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_ADMINISTRATION_DORM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>