Sonluk.UI.Model/Service References/HR.XZGL_FLDATZMXService/WS_HR_XZGL_FLDATZMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT_REPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FLDATZMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FLDATZMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TZYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TZMONTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZTYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FLFAID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MYPW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FLTZID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLTZMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLGRJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FLDWJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_REPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_REPORTResult" type="tns:HR_XZGL_FLDATZMX_SELECT_REPORT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FLDATZMX_SELECT_REPORT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_XZGL_FLDATZMX_LIST_REPORT" type="tns:ArrayOfHR_XZGL_FLDATZMX_LIST_REPORT" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_XZGL_FLDATZMX_LIST_REPORT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_XZGL_FLDATZMX_LIST_REPORT" nillable="true" type="tns:HR_XZGL_FLDATZMX_LIST_REPORT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_XZGL_FLDATZMX_LIST_REPORT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FLFAID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FANAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GR_SB" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GR_YB" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GR_SY" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GR_SBHJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GR_GJJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GR_ALL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DW_SB" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DW_YB" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DW_SY" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DW_SHENGYU" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DW_GONGSHANG" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DW_SBHJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DW_GJJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DW_ALL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ALL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLTZID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBJS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GJJJS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISUSE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FLDATZMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_XZGL_FLDATZMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FLDATZMX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_XZGL_FLDATZMX_LIST" type="tns:ArrayOfHR_XZGL_FLDATZMX_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_XZGL_FLDATZMX_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_XZGL_FLDATZMX_LIST" nillable="true" type="tns:HR_XZGL_FLDATZMX_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_XZGL_FLDATZMX_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FLTZMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLTZID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLFAMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLGRJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FLDWJE" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FLMXXZNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FLDATZMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECT_REPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_REPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_REPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_REPORTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_XZGL_FLDATZMXSoap">
    <wsdl:operation name="SELECT_REPORT">
      <wsdl:input message="tns:SELECT_REPORTSoapIn" />
      <wsdl:output message="tns:SELECT_REPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_XZGL_FLDATZMXHttpGet" />
  <wsdl:portType name="WS_HR_XZGL_FLDATZMXHttpPost" />
  <wsdl:binding name="WS_HR_XZGL_FLDATZMXSoap" type="tns:WS_HR_XZGL_FLDATZMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_REPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_REPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FLDATZMXSoap12" type="tns:WS_HR_XZGL_FLDATZMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_REPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_REPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FLDATZMXHttpGet" type="tns:WS_HR_XZGL_FLDATZMXHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FLDATZMXHttpPost" type="tns:WS_HR_XZGL_FLDATZMXHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_XZGL_FLDATZMX">
    <wsdl:port name="WS_HR_XZGL_FLDATZMXSoap" binding="tns:WS_HR_XZGL_FLDATZMXSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FLDATZMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FLDATZMXSoap12" binding="tns:WS_HR_XZGL_FLDATZMXSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FLDATZMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FLDATZMXHttpGet" binding="tns:WS_HR_XZGL_FLDATZMXHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FLDATZMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FLDATZMXHttpPost" binding="tns:WS_HR_XZGL_FLDATZMXHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FLDATZMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>