Sonluk.UI.Model/Service References/MES.SY_MACBBService/SY_MACBB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_MACBB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_MACBB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SYID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NEWBB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WKINFO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:portType name="SY_MACBBSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_MACBBHttpGet" />
  <wsdl:portType name="SY_MACBBHttpPost" />
  <wsdl:binding name="SY_MACBBSoap" type="tns:SY_MACBBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_MACBBSoap12" type="tns:SY_MACBBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_MACBBHttpGet" type="tns:SY_MACBBHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SY_MACBBHttpPost" type="tns:SY_MACBBHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SY_MACBB">
    <wsdl:port name="SY_MACBBSoap" binding="tns:SY_MACBBSoap">
      <soap:address location="http://192.168.0.223/API/MES/SY_MACBB.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_MACBBSoap12" binding="tns:SY_MACBBSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/SY_MACBB.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_MACBBHttpGet" binding="tns:SY_MACBBHttpGet">
      <http:address location="http://192.168.0.223/API/MES/SY_MACBB.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_MACBBHttpPost" binding="tns:SY_MACBBHttpPost">
      <http:address location="http://192.168.0.223/API/MES/SY_MACBB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>