Sonluk.UI.Model/Service References/MES.PUBLIC_FUNCService/PUBLIC_FUNC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GET_TIME">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_TIMEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_TIMEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_YGNAME">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_YGNAMEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_YGNAMEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GET_TIMESoapIn">
    <wsdl:part name="parameters" element="tns:GET_TIME" />
  </wsdl:message>
  <wsdl:message name="GET_TIMESoapOut">
    <wsdl:part name="parameters" element="tns:GET_TIMEResponse" />
  </wsdl:message>
  <wsdl:message name="GET_YGNAMESoapIn">
    <wsdl:part name="parameters" element="tns:GET_YGNAME" />
  </wsdl:message>
  <wsdl:message name="GET_YGNAMESoapOut">
    <wsdl:part name="parameters" element="tns:GET_YGNAMEResponse" />
  </wsdl:message>
  <wsdl:message name="GET_TIMEHttpGetIn">
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_TIMEHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GET_YGNAMEHttpGetIn">
    <wsdl:part name="GH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_YGNAMEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="GET_TIMEHttpPostIn">
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_TIMEHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GET_YGNAMEHttpPostIn">
    <wsdl:part name="GH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_YGNAMEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="PUBLIC_FUNCSoap">
    <wsdl:operation name="GET_TIME">
      <wsdl:input message="tns:GET_TIMESoapIn" />
      <wsdl:output message="tns:GET_TIMESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_YGNAME">
      <wsdl:input message="tns:GET_YGNAMESoapIn" />
      <wsdl:output message="tns:GET_YGNAMESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PUBLIC_FUNCHttpGet">
    <wsdl:operation name="GET_TIME">
      <wsdl:input message="tns:GET_TIMEHttpGetIn" />
      <wsdl:output message="tns:GET_TIMEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_YGNAME">
      <wsdl:input message="tns:GET_YGNAMEHttpGetIn" />
      <wsdl:output message="tns:GET_YGNAMEHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PUBLIC_FUNCHttpPost">
    <wsdl:operation name="GET_TIME">
      <wsdl:input message="tns:GET_TIMEHttpPostIn" />
      <wsdl:output message="tns:GET_TIMEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_YGNAME">
      <wsdl:input message="tns:GET_YGNAMEHttpPostIn" />
      <wsdl:output message="tns:GET_YGNAMEHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PUBLIC_FUNCSoap" type="tns:PUBLIC_FUNCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_TIME">
      <soap:operation soapAction="http://tempuri.org/GET_TIME" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_YGNAME">
      <soap:operation soapAction="http://tempuri.org/GET_YGNAME" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PUBLIC_FUNCSoap12" type="tns:PUBLIC_FUNCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_TIME">
      <soap12:operation soapAction="http://tempuri.org/GET_TIME" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_YGNAME">
      <soap12:operation soapAction="http://tempuri.org/GET_YGNAME" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PUBLIC_FUNCHttpGet" type="tns:PUBLIC_FUNCHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GET_TIME">
      <http:operation location="/GET_TIME" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_YGNAME">
      <http:operation location="/GET_YGNAME" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PUBLIC_FUNCHttpPost" type="tns:PUBLIC_FUNCHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GET_TIME">
      <http:operation location="/GET_TIME" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_YGNAME">
      <http:operation location="/GET_YGNAME" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PUBLIC_FUNC">
    <wsdl:port name="PUBLIC_FUNCSoap" binding="tns:PUBLIC_FUNCSoap">
      <soap:address location="http://192.168.0.223/API/MES/PUBLIC_FUNC.asmx" />
    </wsdl:port>
    <wsdl:port name="PUBLIC_FUNCSoap12" binding="tns:PUBLIC_FUNCSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/PUBLIC_FUNC.asmx" />
    </wsdl:port>
    <wsdl:port name="PUBLIC_FUNCHttpGet" binding="tns:PUBLIC_FUNCHttpGet">
      <http:address location="http://192.168.0.223/API/MES/PUBLIC_FUNC.asmx" />
    </wsdl:port>
    <wsdl:port name="PUBLIC_FUNCHttpPost" binding="tns:PUBLIC_FUNCHttpPost">
      <http:address location="http://192.168.0.223/API/MES/PUBLIC_FUNC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>