Sonluk.UI.Model/Service References/LE.TRA.DestinationService/Destination.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Sonluk.com/API/LE/TRA/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Sonluk.com/API/LE/TRA/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Sonluk.com/API/LE/TRA/">
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfDestinationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDestinationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DestinationInfo" nillable="true" type="tns:DestinationInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DestinationInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiverID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cellphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:CityInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="Default" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CityInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Children" type="tns:ArrayOfCityInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCityInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CityInfo" nillable="true" type="tns:CityInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadSingle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSingleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadSingleResult" type="tns:DestinationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Modify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="node" type="tns:DestinationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfDestinationInfo" nillable="true" type="tns:ArrayOfDestinationInfo" />
      <s:element name="DestinationInfo" nillable="true" type="tns:DestinationInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSingleSoapIn">
    <wsdl:part name="parameters" element="tns:ReadSingle" />
  </wsdl:message>
  <wsdl:message name="ReadSingleSoapOut">
    <wsdl:part name="parameters" element="tns:ReadSingleResponse" />
  </wsdl:message>
  <wsdl:message name="ModifySoapIn">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="ModifySoapOut">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn">
    <wsdl:part name="parentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDestinationInfo" />
  </wsdl:message>
  <wsdl:message name="ReadSingleHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadSingleHttpGetOut">
    <wsdl:part name="Body" element="tns:DestinationInfo" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn">
    <wsdl:part name="parentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDestinationInfo" />
  </wsdl:message>
  <wsdl:message name="ReadSingleHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadSingleHttpPostOut">
    <wsdl:part name="Body" element="tns:DestinationInfo" />
  </wsdl:message>
  <wsdl:portType name="DestinationSoap">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSingle">
      <wsdl:input message="tns:ReadSingleSoapIn" />
      <wsdl:output message="tns:ReadSingleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input message="tns:ModifySoapIn" />
      <wsdl:output message="tns:ModifySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DestinationHttpGet">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSingle">
      <wsdl:input message="tns:ReadSingleHttpGetIn" />
      <wsdl:output message="tns:ReadSingleHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DestinationHttpPost">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSingle">
      <wsdl:input message="tns:ReadSingleHttpPostIn" />
      <wsdl:output message="tns:ReadSingleHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DestinationSoap" type="tns:DestinationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSingle">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/ReadSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://Sonluk.com/API/LE/TRA/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DestinationSoap12" type="tns:DestinationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSingle">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/ReadSingle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/TRA/Modify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DestinationHttpGet" type="tns:DestinationHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSingle">
      <http:operation location="/ReadSingle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DestinationHttpPost" type="tns:DestinationHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSingle">
      <http:operation location="/ReadSingle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Destination">
    <wsdl:port name="DestinationSoap" binding="tns:DestinationSoap">
      <soap:address location="http://192.168.0.132/API/LE/TRA/Destination.asmx" />
    </wsdl:port>
    <wsdl:port name="DestinationSoap12" binding="tns:DestinationSoap12">
      <soap12:address location="http://192.168.0.132/API/LE/TRA/Destination.asmx" />
    </wsdl:port>
    <wsdl:port name="DestinationHttpGet" binding="tns:DestinationHttpGet">
      <http:address location="http://192.168.0.132/API/LE/TRA/Destination.asmx" />
    </wsdl:port>
    <wsdl:port name="DestinationHttpPost" binding="tns:DestinationHttpPost">
      <http:address location="http://192.168.0.132/API/LE/TRA/Destination.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>