Sonluk.UI.Model/Service References/CRM.COST_CLFMXService/COST_CLFMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_CLFMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_CLFMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CLFMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CLFTTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDADDRESS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JT_PLANE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="JT_TRAIN" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="JT_BUS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="JT_BILL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZS_DAYS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ZS_JE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ZS_SFZYFP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZS_FPBHSJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ZS_BILL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BT_DAYS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BT_BZ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BT_JE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QT_ITEM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QT_JE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QT_SFZYFP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QT_FPBHSJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QT_BILL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_CCQLC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_CCHLC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_CCQJLC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_JDMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_JDDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_JDLXFS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_JDLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QT_PP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FGLD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CBZX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HJ" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_CLFMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_CLFMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_CLFMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_CLFMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_CLFMX" nillable="true" type="tns:CRM_COST_CLFMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadPart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_CLFMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadPartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadPartResult" type="tns:ArrayOfCRM_COST_CLFMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CLFTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByTTIDResult" type="tns:ArrayOfCRM_COST_CLFMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CLFMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfCRM_COST_CLFMX" nillable="true" type="tns:ArrayOfCRM_COST_CLFMX" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadPartSoapIn">
    <wsdl:part name="parameters" element="tns:ReadPart" />
  </wsdl:message>
  <wsdl:message name="ReadPartSoapOut">
    <wsdl:part name="parameters" element="tns:ReadPartResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByTTID" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpGetIn">
    <wsdl:part name="CLFTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_COST_CLFMX" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="CLFMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpPostIn">
    <wsdl:part name="CLFTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_COST_CLFMX" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="CLFMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="COST_CLFMXSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadPart">
      <wsdl:input message="tns:ReadPartSoapIn" />
      <wsdl:output message="tns:ReadPartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDSoapIn" />
      <wsdl:output message="tns:ReadByTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_CLFMXHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDHttpGetIn" />
      <wsdl:output message="tns:ReadByTTIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_CLFMXHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDHttpPostIn" />
      <wsdl:output message="tns:ReadByTTIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_CLFMXSoap" type="tns:COST_CLFMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPart">
      <soap:operation soapAction="http://tempuri.org/ReadPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <soap:operation soapAction="http://tempuri.org/ReadByTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_CLFMXSoap12" type="tns:COST_CLFMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPart">
      <soap12:operation soapAction="http://tempuri.org/ReadPart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <soap12:operation soapAction="http://tempuri.org/ReadByTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_CLFMXHttpGet" type="tns:COST_CLFMXHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <http:operation location="/ReadByTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_CLFMXHttpPost" type="tns:COST_CLFMXHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <http:operation location="/ReadByTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_CLFMX">
    <wsdl:port name="COST_CLFMXSoap" binding="tns:COST_CLFMXSoap">
      <soap:address location="http://192.168.0.77/API/CRM/COST_CLFMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_CLFMXSoap12" binding="tns:COST_CLFMXSoap12">
      <soap12:address location="http://192.168.0.77/API/CRM/COST_CLFMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_CLFMXHttpGet" binding="tns:COST_CLFMXHttpGet">
      <http:address location="http://192.168.0.77/API/CRM/COST_CLFMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_CLFMXHttpPost" binding="tns:COST_CLFMXHttpPost">
      <http:address location="http://192.168.0.77/API/CRM/COST_CLFMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>