Sonluk.UI.Model/Service References/EM.SY_STAFF_EMTYPEService/SY_STAFF_EMTYPE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:EM_SY_STAFF_EMTYPE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EM_SY_STAFF_EMTYPE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EMTYPEID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfEM_SY_STAFF_EMTYPE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEM_SY_STAFF_EMTYPE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EM_SY_STAFF_EMTYPE" nillable="true" type="tns:EM_SY_STAFF_EMTYPE" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:EM_SY_STAFF_EMTYPE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:EM_SY_STAFF_EMTYPE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:EM_SY_STAFF_EMTYPE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_EMTYPE_ROLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_EMTYPE_ROLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_EMTYPE_ROLEResult" type="tns:EM_SY_EMTYPE_LAY_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EM_SY_EMTYPE_LAY_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EM_SY_EMTYPE_LAY_LIST" type="tns:ArrayOfEM_SY_EMTYPE_LAY_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEM_SY_EMTYPE_LAY_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EM_SY_EMTYPE_LAY_LIST" nillable="true" type="tns:EM_SY_EMTYPE_LAY_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EM_SY_EMTYPE_LAY_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EMTYPEID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LAY_CHECKED" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MXNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EM_SY_EMTYPE_LAY_SELECT" nillable="true" type="tns:EM_SY_EMTYPE_LAY_SELECT" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_EMTYPE_ROLESoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_EMTYPE_ROLE" />
  </wsdl:message>
  <wsdl:message name="SELECT_EMTYPE_ROLESoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_EMTYPE_ROLEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_EMTYPE_ROLEHttpGetIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_EMTYPE_ROLEHttpGetOut">
    <wsdl:part name="Body" element="tns:EM_SY_EMTYPE_LAY_SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECT_EMTYPE_ROLEHttpPostIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_EMTYPE_ROLEHttpPostOut">
    <wsdl:part name="Body" element="tns:EM_SY_EMTYPE_LAY_SELECT" />
  </wsdl:message>
  <wsdl:portType name="SY_STAFF_EMTYPESoap">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_EMTYPE_ROLE">
      <wsdl:input message="tns:SELECT_EMTYPE_ROLESoapIn" />
      <wsdl:output message="tns:SELECT_EMTYPE_ROLESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_STAFF_EMTYPEHttpGet">
    <wsdl:operation name="SELECT_EMTYPE_ROLE">
      <wsdl:input message="tns:SELECT_EMTYPE_ROLEHttpGetIn" />
      <wsdl:output message="tns:SELECT_EMTYPE_ROLEHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_STAFF_EMTYPEHttpPost">
    <wsdl:operation name="SELECT_EMTYPE_ROLE">
      <wsdl:input message="tns:SELECT_EMTYPE_ROLEHttpPostIn" />
      <wsdl:output message="tns:SELECT_EMTYPE_ROLEHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SY_STAFF_EMTYPESoap" type="tns:SY_STAFF_EMTYPESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_EMTYPE_ROLE">
      <soap:operation soapAction="http://tempuri.org/SELECT_EMTYPE_ROLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_STAFF_EMTYPESoap12" type="tns:SY_STAFF_EMTYPESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_EMTYPE_ROLE">
      <soap12:operation soapAction="http://tempuri.org/SELECT_EMTYPE_ROLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_STAFF_EMTYPEHttpGet" type="tns:SY_STAFF_EMTYPEHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SELECT_EMTYPE_ROLE">
      <http:operation location="/SELECT_EMTYPE_ROLE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_STAFF_EMTYPEHttpPost" type="tns:SY_STAFF_EMTYPEHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SELECT_EMTYPE_ROLE">
      <http:operation location="/SELECT_EMTYPE_ROLE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SY_STAFF_EMTYPE">
    <wsdl:port name="SY_STAFF_EMTYPESoap" binding="tns:SY_STAFF_EMTYPESoap">
      <soap:address location="http://192.168.0.107/TEST/EM/SY_STAFF_EMTYPE.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_STAFF_EMTYPESoap12" binding="tns:SY_STAFF_EMTYPESoap12">
      <soap12:address location="http://192.168.0.107/TEST/EM/SY_STAFF_EMTYPE.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_STAFF_EMTYPEHttpGet" binding="tns:SY_STAFF_EMTYPEHttpGet">
      <http:address location="http://192.168.0.107/TEST/EM/SY_STAFF_EMTYPE.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_STAFF_EMTYPEHttpPost" binding="tns:SY_STAFF_EMTYPEHttpPost">
      <http:address location="http://192.168.0.107/TEST/EM/SY_STAFF_EMTYPE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>