Sonluk.UI.Model/Service References/HR.KQ_KQINFOService/WS_HR_KQ_KQINFO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SYNC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SYNCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SYNCResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_KQ_KQINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_KQ_KQINFO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Badgenumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checktime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sn_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQRQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQRQJS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_KQ_KQINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_KQ_KQINFO_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_KQ_KQINFO_LIST" type="tns:ArrayOfHR_KQ_KQINFO" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_KQ_KQINFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_KQ_KQINFO" nillable="true" type="tns:HR_KQ_KQINFO" />
        </s:sequence>
      </s:complexType>
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SYNCSoapIn">
    <wsdl:part name="parameters" element="tns:SYNC" />
  </wsdl:message>
  <wsdl:message name="SYNCSoapOut">
    <wsdl:part name="parameters" element="tns:SYNCResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SYNCHttpGetIn">
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SYNCHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="SYNCHttpPostIn">
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SYNCHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_KQ_KQINFOSoap">
    <wsdl:operation name="SYNC">
      <wsdl:input message="tns:SYNCSoapIn" />
      <wsdl:output message="tns:SYNCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_KQ_KQINFOHttpGet">
    <wsdl:operation name="SYNC">
      <wsdl:input message="tns:SYNCHttpGetIn" />
      <wsdl:output message="tns:SYNCHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_KQ_KQINFOHttpPost">
    <wsdl:operation name="SYNC">
      <wsdl:input message="tns:SYNCHttpPostIn" />
      <wsdl:output message="tns:SYNCHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_HR_KQ_KQINFOSoap" type="tns:WS_HR_KQ_KQINFOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SYNC">
      <soap:operation soapAction="http://tempuri.org/SYNC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_KQINFOSoap12" type="tns:WS_HR_KQ_KQINFOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SYNC">
      <soap12:operation soapAction="http://tempuri.org/SYNC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_KQINFOHttpGet" type="tns:WS_HR_KQ_KQINFOHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SYNC">
      <http:operation location="/SYNC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_KQINFOHttpPost" type="tns:WS_HR_KQ_KQINFOHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SYNC">
      <http:operation location="/SYNC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_HR_KQ_KQINFO">
    <wsdl:port name="WS_HR_KQ_KQINFOSoap" binding="tns:WS_HR_KQ_KQINFOSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_KQ_KQINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_KQINFOSoap12" binding="tns:WS_HR_KQ_KQINFOSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_KQ_KQINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_KQINFOHttpGet" binding="tns:WS_HR_KQ_KQINFOHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_KQ_KQINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_KQINFOHttpPost" binding="tns:WS_HR_KQ_KQINFOHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_KQ_KQINFO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>