Sonluk.UI.Model/Service References/MES.ZS_SY_KUService/WS_MES_ZS_SY_KU.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_KU" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_KU">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GSTYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSTYPENAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_KU" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_KU" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_ZS_SY_KU_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_KU_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_ZS_SY_KU" type="tns:ArrayOfMES_ZS_SY_KU" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZS_SY_KU">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZS_SY_KU" nillable="true" type="tns:MES_ZS_SY_KU" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MES_ZS_SY_KUSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_MES_ZS_SY_KUHttpGet" />
  <wsdl:portType name="WS_MES_ZS_SY_KUHttpPost" />
  <wsdl:binding name="WS_MES_ZS_SY_KUSoap" type="tns:WS_MES_ZS_SY_KUSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_KUSoap12" type="tns:WS_MES_ZS_SY_KUSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_KUHttpGet" type="tns:WS_MES_ZS_SY_KUHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_KUHttpPost" type="tns:WS_MES_ZS_SY_KUHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_MES_ZS_SY_KU">
    <wsdl:port name="WS_MES_ZS_SY_KUSoap" binding="tns:WS_MES_ZS_SY_KUSoap">
      <soap:address location="http://localhost/API/MES/WS_MES_ZS_SY_KU.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_KUSoap12" binding="tns:WS_MES_ZS_SY_KUSoap12">
      <soap12:address location="http://localhost/API/MES/WS_MES_ZS_SY_KU.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_KUHttpGet" binding="tns:WS_MES_ZS_SY_KUHttpGet">
      <http:address location="http://localhost/API/MES/WS_MES_ZS_SY_KU.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_KUHttpPost" binding="tns:WS_MES_ZS_SY_KUHttpPost">
      <http:address location="http://localhost/API/MES/WS_MES_ZS_SY_KU.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>