Sonluk.UI.Model/Service References/CRM.HG_DICTService/HG_DICT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_DICT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_HG_DICT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DICID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPEID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DICNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DICMEMO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_DICT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DICID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TYPEID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfCRM_HG_DICT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_HG_DICT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_HG_DICT" nillable="true" type="tns:CRM_HG_DICT" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_DICT" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_HG_DICT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDICNAME">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DICNAME" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="typeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDICNAMEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReadByDICNAMEResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDICNAMEandFID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DICNAME" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="typeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDICNAMEandFIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReadByDICNAMEandFIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDICID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DICID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDICIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByDICIDResult" type="tns:CRM_HG_DICT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfCRM_HG_DICT" nillable="true" type="tns:ArrayOfCRM_HG_DICT" />
      <s:element name="CRM_HG_DICT" nillable="true" type="tns:CRM_HG_DICT" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMESoapIn">
    <wsdl:part name="parameters" element="tns:ReadByDICNAME" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMESoapOut">
    <wsdl:part name="parameters" element="tns:ReadByDICNAMEResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEandFIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByDICNAMEandFID" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEandFIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByDICNAMEandFIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByDICIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByDICID" />
  </wsdl:message>
  <wsdl:message name="ReadByDICIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByDICIDResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="DICID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn">
    <wsdl:part name="TYPEID" type="s:string" />
    <wsdl:part name="FID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_DICT" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEHttpGetIn">
    <wsdl:part name="DICNAME" type="s:string" />
    <wsdl:part name="typeID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEandFIDHttpGetIn">
    <wsdl:part name="DICNAME" type="s:string" />
    <wsdl:part name="typeID" type="s:string" />
    <wsdl:part name="FID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEandFIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByDICIDHttpGetIn">
    <wsdl:part name="DICID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDICIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_HG_DICT" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="DICID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn">
    <wsdl:part name="TYPEID" type="s:string" />
    <wsdl:part name="FID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_DICT" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEHttpPostIn">
    <wsdl:part name="DICNAME" type="s:string" />
    <wsdl:part name="typeID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEandFIDHttpPostIn">
    <wsdl:part name="DICNAME" type="s:string" />
    <wsdl:part name="typeID" type="s:string" />
    <wsdl:part name="FID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDICNAMEandFIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByDICIDHttpPostIn">
    <wsdl:part name="DICID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDICIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_HG_DICT" />
  </wsdl:message>
  <wsdl:portType name="HG_DICTSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAME">
      <wsdl:input message="tns:ReadByDICNAMESoapIn" />
      <wsdl:output message="tns:ReadByDICNAMESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAMEandFID">
      <wsdl:input message="tns:ReadByDICNAMEandFIDSoapIn" />
      <wsdl:output message="tns:ReadByDICNAMEandFIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICID">
      <wsdl:input message="tns:ReadByDICIDSoapIn" />
      <wsdl:output message="tns:ReadByDICIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HG_DICTHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAME">
      <wsdl:input message="tns:ReadByDICNAMEHttpGetIn" />
      <wsdl:output message="tns:ReadByDICNAMEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAMEandFID">
      <wsdl:input message="tns:ReadByDICNAMEandFIDHttpGetIn" />
      <wsdl:output message="tns:ReadByDICNAMEandFIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICID">
      <wsdl:input message="tns:ReadByDICIDHttpGetIn" />
      <wsdl:output message="tns:ReadByDICIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HG_DICTHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAME">
      <wsdl:input message="tns:ReadByDICNAMEHttpPostIn" />
      <wsdl:output message="tns:ReadByDICNAMEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAMEandFID">
      <wsdl:input message="tns:ReadByDICNAMEandFIDHttpPostIn" />
      <wsdl:output message="tns:ReadByDICNAMEandFIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDICID">
      <wsdl:input message="tns:ReadByDICIDHttpPostIn" />
      <wsdl:output message="tns:ReadByDICIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HG_DICTSoap" type="tns:HG_DICTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAME">
      <soap:operation soapAction="http://tempuri.org/ReadByDICNAME" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAMEandFID">
      <soap:operation soapAction="http://tempuri.org/ReadByDICNAMEandFID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICID">
      <soap:operation soapAction="http://tempuri.org/ReadByDICID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_DICTSoap12" type="tns:HG_DICTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAME">
      <soap12:operation soapAction="http://tempuri.org/ReadByDICNAME" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAMEandFID">
      <soap12:operation soapAction="http://tempuri.org/ReadByDICNAMEandFID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICID">
      <soap12:operation soapAction="http://tempuri.org/ReadByDICID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_DICTHttpGet" type="tns:HG_DICTHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAME">
      <http:operation location="/ReadByDICNAME" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAMEandFID">
      <http:operation location="/ReadByDICNAMEandFID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICID">
      <http:operation location="/ReadByDICID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_DICTHttpPost" type="tns:HG_DICTHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAME">
      <http:operation location="/ReadByDICNAME" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICNAMEandFID">
      <http:operation location="/ReadByDICNAMEandFID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDICID">
      <http:operation location="/ReadByDICID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HG_DICT">
    <wsdl:port name="HG_DICTSoap" binding="tns:HG_DICTSoap">
      <soap:address location="http://192.168.0.135/API/CRM/HG_DICT.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_DICTSoap12" binding="tns:HG_DICTSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/HG_DICT.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_DICTHttpGet" binding="tns:HG_DICTHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/HG_DICT.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_DICTHttpPost" binding="tns:HG_DICTHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/HG_DICT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>