Sonluk.UI.Model/Service References/CRM.HG_DEPTService/HG_DEPT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_DEPT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_HG_DEPT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PDEPID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DLEVEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPMEMO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_DEPT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfCRM_HG_DEPT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_HG_DEPT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_HG_DEPT" nillable="true" type="tns:CRM_HG_DEPT" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByDEPID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDEPIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByDEPIDResult" type="tns:CRM_HG_DEPTList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_HG_DEPTList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PDEPID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PDEPIDNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DLEVEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPMEMO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DEPNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByNameResult" type="tns:CRM_HG_DEPT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByStaffid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByStaffidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByStaffidResult" type="tns:ArrayOfCRM_HG_DEPT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfCRM_HG_DEPT" nillable="true" type="tns:ArrayOfCRM_HG_DEPT" />
      <s:element name="CRM_HG_DEPTList" nillable="true" type="tns:CRM_HG_DEPTList" />
      <s:element name="CRM_HG_DEPT" nillable="true" type="tns:CRM_HG_DEPT" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByDEPIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByDEPID" />
  </wsdl:message>
  <wsdl:message name="ReadByDEPIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByDEPIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByNameSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByName" />
  </wsdl:message>
  <wsdl:message name="ReadByNameSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByStaffidSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByStaffid" />
  </wsdl:message>
  <wsdl:message name="ReadByStaffidSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByStaffidResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="DEPID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn">
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_DEPT" />
  </wsdl:message>
  <wsdl:message name="ReadByDEPIDHttpGetIn">
    <wsdl:part name="DEPID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDEPIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_HG_DEPTList" />
  </wsdl:message>
  <wsdl:message name="ReadByNameHttpGetIn">
    <wsdl:part name="DEPNAME" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByNameHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_HG_DEPT" />
  </wsdl:message>
  <wsdl:message name="ReadByStaffidHttpGetIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByStaffidHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_DEPT" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="DEPID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn">
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_DEPT" />
  </wsdl:message>
  <wsdl:message name="ReadByDEPIDHttpPostIn">
    <wsdl:part name="DEPID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDEPIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_HG_DEPTList" />
  </wsdl:message>
  <wsdl:message name="ReadByNameHttpPostIn">
    <wsdl:part name="DEPNAME" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByNameHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_HG_DEPT" />
  </wsdl:message>
  <wsdl:message name="ReadByStaffidHttpPostIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByStaffidHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_DEPT" />
  </wsdl:message>
  <wsdl:portType name="HG_DEPTSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDEPID">
      <wsdl:input message="tns:ReadByDEPIDSoapIn" />
      <wsdl:output message="tns:ReadByDEPIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByName">
      <wsdl:input message="tns:ReadByNameSoapIn" />
      <wsdl:output message="tns:ReadByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByStaffid">
      <wsdl:input message="tns:ReadByStaffidSoapIn" />
      <wsdl:output message="tns:ReadByStaffidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HG_DEPTHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDEPID">
      <wsdl:input message="tns:ReadByDEPIDHttpGetIn" />
      <wsdl:output message="tns:ReadByDEPIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByName">
      <wsdl:input message="tns:ReadByNameHttpGetIn" />
      <wsdl:output message="tns:ReadByNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByStaffid">
      <wsdl:input message="tns:ReadByStaffidHttpGetIn" />
      <wsdl:output message="tns:ReadByStaffidHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HG_DEPTHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDEPID">
      <wsdl:input message="tns:ReadByDEPIDHttpPostIn" />
      <wsdl:output message="tns:ReadByDEPIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByName">
      <wsdl:input message="tns:ReadByNameHttpPostIn" />
      <wsdl:output message="tns:ReadByNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByStaffid">
      <wsdl:input message="tns:ReadByStaffidHttpPostIn" />
      <wsdl:output message="tns:ReadByStaffidHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HG_DEPTSoap" type="tns:HG_DEPTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDEPID">
      <soap:operation soapAction="http://tempuri.org/ReadByDEPID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByName">
      <soap:operation soapAction="http://tempuri.org/ReadByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByStaffid">
      <soap:operation soapAction="http://tempuri.org/ReadByStaffid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_DEPTSoap12" type="tns:HG_DEPTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDEPID">
      <soap12:operation soapAction="http://tempuri.org/ReadByDEPID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByName">
      <soap12:operation soapAction="http://tempuri.org/ReadByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByStaffid">
      <soap12:operation soapAction="http://tempuri.org/ReadByStaffid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_DEPTHttpGet" type="tns:HG_DEPTHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDEPID">
      <http:operation location="/ReadByDEPID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByName">
      <http:operation location="/ReadByName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByStaffid">
      <http:operation location="/ReadByStaffid" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_DEPTHttpPost" type="tns:HG_DEPTHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDEPID">
      <http:operation location="/ReadByDEPID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByName">
      <http:operation location="/ReadByName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByStaffid">
      <http:operation location="/ReadByStaffid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HG_DEPT">
    <wsdl:port name="HG_DEPTSoap" binding="tns:HG_DEPTSoap">
      <soap:address location="http://192.168.0.16/API/CRM/HG_DEPT.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_DEPTSoap12" binding="tns:HG_DEPTSoap12">
      <soap12:address location="http://192.168.0.16/API/CRM/HG_DEPT.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_DEPTHttpGet" binding="tns:HG_DEPTHttpGet">
      <http:address location="http://192.168.0.16/API/CRM/HG_DEPT.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_DEPTHttpPost" binding="tns:HG_DEPTHttpPost">
      <http:address location="http://192.168.0.16/API/CRM/HG_DEPT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>