Sonluk.UI.Model/Service References/MES.ZS_SY_JLService/WS_MES_ZS_SY_JL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_JL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_JL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KCBSTM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRGH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCLMSG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_JL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_MX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_JL_MX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_JL_MX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JLID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FTM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLMXLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLMXLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ERRORCOUNT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDDGC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDDNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLMXLBLIST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISSHOWQX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JLMXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MOULD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISQX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FPC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDDGCMB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDDMB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDDNAMEMB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_MXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_MXResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_MX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_JL_MX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_MXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_MXResult" type="tns:MES_ZS_SY_JL_MX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_JL_MX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_ZS_SY_JL_MX" type="tns:ArrayOfMES_ZS_SY_JL_MX" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZS_SY_JL_MX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZS_SY_JL_MX" nillable="true" type="tns:MES_ZS_SY_JL_MX" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_QJQXJL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_JL_QJQXJL" />
            <s:element minOccurs="0" maxOccurs="1" name="model2" type="tns:ArrayOfMES_ZS_SY_JL_QJQXJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_JL_QJQXJL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QXSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QXNOHGSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLMXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEJS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QJJLID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QJRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QJBC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QJKSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QJJSTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZS_SY_JL_QJQXJLMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZS_SY_JL_QJQXJLMX" nillable="true" type="tns:MES_ZS_SY_JL_QJQXJLMX" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_ZS_SY_JL_QJQXJLMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NOHGYY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NOHGSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QJJLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_QJQXJLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_QJQXJLResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_QJQXJL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_JL_QJQXJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_QJQXJLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_QJQXJLResult" type="tns:MES_ZS_SY_JL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_JL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_QJQXJL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_JL_QJQXJL" />
            <s:element minOccurs="0" maxOccurs="1" name="model2" type="tns:ArrayOfMES_ZS_SY_JL_QJQXJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_QJQXJLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_QJQXJLResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_MXSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_MX" />
  </wsdl:message>
  <wsdl:message name="INSERT_MXSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_MXResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_MXSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_MX" />
  </wsdl:message>
  <wsdl:message name="SELECT_MXSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_MXResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_QJQXJLSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_QJQXJL" />
  </wsdl:message>
  <wsdl:message name="INSERT_QJQXJLSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_QJQXJLResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_QJQXJLSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_QJQXJL" />
  </wsdl:message>
  <wsdl:message name="SELECT_QJQXJLSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_QJQXJLResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_QJQXJLSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_QJQXJL" />
  </wsdl:message>
  <wsdl:message name="UPDATE_QJQXJLSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_QJQXJLResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MES_ZS_SY_JLSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_MX">
      <wsdl:input message="tns:INSERT_MXSoapIn" />
      <wsdl:output message="tns:INSERT_MXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_MX">
      <wsdl:input message="tns:SELECT_MXSoapIn" />
      <wsdl:output message="tns:SELECT_MXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_QJQXJL">
      <wsdl:input message="tns:INSERT_QJQXJLSoapIn" />
      <wsdl:output message="tns:INSERT_QJQXJLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_QJQXJL">
      <wsdl:input message="tns:SELECT_QJQXJLSoapIn" />
      <wsdl:output message="tns:SELECT_QJQXJLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QJQXJL">
      <wsdl:input message="tns:UPDATE_QJQXJLSoapIn" />
      <wsdl:output message="tns:UPDATE_QJQXJLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_MES_ZS_SY_JLHttpGet" />
  <wsdl:portType name="WS_MES_ZS_SY_JLHttpPost" />
  <wsdl:binding name="WS_MES_ZS_SY_JLSoap" type="tns:WS_MES_ZS_SY_JLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_MX">
      <soap:operation soapAction="http://tempuri.org/INSERT_MX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_MX">
      <soap:operation soapAction="http://tempuri.org/SELECT_MX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_QJQXJL">
      <soap:operation soapAction="http://tempuri.org/INSERT_QJQXJL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_QJQXJL">
      <soap:operation soapAction="http://tempuri.org/SELECT_QJQXJL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QJQXJL">
      <soap:operation soapAction="http://tempuri.org/UPDATE_QJQXJL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_JLSoap12" type="tns:WS_MES_ZS_SY_JLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_MX">
      <soap12:operation soapAction="http://tempuri.org/INSERT_MX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_MX">
      <soap12:operation soapAction="http://tempuri.org/SELECT_MX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_QJQXJL">
      <soap12:operation soapAction="http://tempuri.org/INSERT_QJQXJL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_QJQXJL">
      <soap12:operation soapAction="http://tempuri.org/SELECT_QJQXJL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QJQXJL">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_QJQXJL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_JLHttpGet" type="tns:WS_MES_ZS_SY_JLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_JLHttpPost" type="tns:WS_MES_ZS_SY_JLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_MES_ZS_SY_JL">
    <wsdl:port name="WS_MES_ZS_SY_JLSoap" binding="tns:WS_MES_ZS_SY_JLSoap">
      <soap:address location="http://localhost/API/MES/WS_MES_ZS_SY_JL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_JLSoap12" binding="tns:WS_MES_ZS_SY_JLSoap12">
      <soap12:address location="http://localhost/API/MES/WS_MES_ZS_SY_JL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_JLHttpGet" binding="tns:WS_MES_ZS_SY_JLHttpGet">
      <http:address location="http://localhost/API/MES/WS_MES_ZS_SY_JL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_JLHttpPost" binding="tns:WS_MES_ZS_SY_JLHttpPost">
      <http:address location="http://localhost/API/MES/WS_MES_ZS_SY_JL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>