Sonluk.UI.Model/Service References/HR.XZGL_JJFL_MXService/WS_HR_XZGL_JJFL_MX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_JJFL_MX" />
            <s:element minOccurs="0" maxOccurs="1" name="RYLIST">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_JJFL_MX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JJFLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JJFLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CHUQCOUNT" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="JIABCOUNT" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="JXJJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="JIABGZ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AIGJYJ" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="JCDEPTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTIDLIST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMONTHS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMONTHE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_JJFL_MX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_JJFL_MX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_XZGL_JJFL_MX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_JJFL_MX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_XZGL_JJFL_MXSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_XZGL_JJFL_MXHttpGet" />
  <wsdl:portType name="WS_HR_XZGL_JJFL_MXHttpPost" />
  <wsdl:binding name="WS_HR_XZGL_JJFL_MXSoap" type="tns:WS_HR_XZGL_JJFL_MXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_JJFL_MXSoap12" type="tns:WS_HR_XZGL_JJFL_MXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_JJFL_MXHttpGet" type="tns:WS_HR_XZGL_JJFL_MXHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_JJFL_MXHttpPost" type="tns:WS_HR_XZGL_JJFL_MXHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_XZGL_JJFL_MX">
    <wsdl:port name="WS_HR_XZGL_JJFL_MXSoap" binding="tns:WS_HR_XZGL_JJFL_MXSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_JJFL_MX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_JJFL_MXSoap12" binding="tns:WS_HR_XZGL_JJFL_MXSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_JJFL_MX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_JJFL_MXHttpGet" binding="tns:WS_HR_XZGL_JJFL_MXHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_JJFL_MX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_JJFL_MXHttpPost" binding="tns:WS_HR_XZGL_JJFL_MXHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_JJFL_MX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>