Sonluk.UI.Model/Service References/HR.KQ_JQGLMXService/WS_HR_KQ_JQGLMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_KQ_JQGLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_KQ_JQGLMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JQGLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JQGLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CHUQ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BINJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SHIJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CHANJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HUNJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SANGJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GONGSJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BURJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HULJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NIANXJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GONGC" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="KUANGG" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISXYCL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KKID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQMONTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSKQYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSKQMONTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSKQYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSKQMONTH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FFJLID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JSMONTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSMONTHJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MYPW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_KQ_JQGLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_KQ_JQGLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_KQ_JQGLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_KQ_JQGLMX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_KQ_JQGLMX_LIST" type="tns:ArrayOfHR_KQ_JQGLMX_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_KQ_JQGLMX_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_KQ_JQGLMX_LIST" nillable="true" type="tns:HR_KQ_JQGLMX_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_KQ_JQGLMX_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JQGLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JQGLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CHUQ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BINJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SHIJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CHANJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HUNJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SANGJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GONGSJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BURJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HULJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NIANXJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GONGC" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="KUANGG" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISXYCL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KKID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KQYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQMONTH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CLRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQZQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQZQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_REPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_KQ_JQGLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_REPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_REPORTResult" type="tns:HR_KQ_JQGLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUTO_ADD_TO_FFJLMX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_KQ_JQGLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUTO_ADD_TO_FFJLMXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AUTO_ADD_TO_FFJLMXResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_REPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_REPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_REPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_REPORTResponse" />
  </wsdl:message>
  <wsdl:message name="AUTO_ADD_TO_FFJLMXSoapIn">
    <wsdl:part name="parameters" element="tns:AUTO_ADD_TO_FFJLMX" />
  </wsdl:message>
  <wsdl:message name="AUTO_ADD_TO_FFJLMXSoapOut">
    <wsdl:part name="parameters" element="tns:AUTO_ADD_TO_FFJLMXResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_KQ_JQGLMXSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_REPORT">
      <wsdl:input message="tns:SELECT_REPORTSoapIn" />
      <wsdl:output message="tns:SELECT_REPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AUTO_ADD_TO_FFJLMX">
      <wsdl:input message="tns:AUTO_ADD_TO_FFJLMXSoapIn" />
      <wsdl:output message="tns:AUTO_ADD_TO_FFJLMXSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_KQ_JQGLMXHttpGet" />
  <wsdl:portType name="WS_HR_KQ_JQGLMXHttpPost" />
  <wsdl:binding name="WS_HR_KQ_JQGLMXSoap" type="tns:WS_HR_KQ_JQGLMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_REPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_REPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUTO_ADD_TO_FFJLMX">
      <soap:operation soapAction="http://tempuri.org/AUTO_ADD_TO_FFJLMX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_JQGLMXSoap12" type="tns:WS_HR_KQ_JQGLMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_REPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_REPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUTO_ADD_TO_FFJLMX">
      <soap12:operation soapAction="http://tempuri.org/AUTO_ADD_TO_FFJLMX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_JQGLMXHttpGet" type="tns:WS_HR_KQ_JQGLMXHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_JQGLMXHttpPost" type="tns:WS_HR_KQ_JQGLMXHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_KQ_JQGLMX">
    <wsdl:port name="WS_HR_KQ_JQGLMXSoap" binding="tns:WS_HR_KQ_JQGLMXSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_KQ_JQGLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_JQGLMXSoap12" binding="tns:WS_HR_KQ_JQGLMXSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_KQ_JQGLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_JQGLMXHttpGet" binding="tns:WS_HR_KQ_JQGLMXHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_KQ_JQGLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_JQGLMXHttpPost" binding="tns:WS_HR_KQ_JQGLMXHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_KQ_JQGLMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>