Sonluk.UI.Model/Service References/CRM.KH_KHService/KH_KH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KH_S" type="tns:CRM_KH_KH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_KH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIRSTAMOUNT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JOINACTIVITY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FIRSTTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PSQK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FSFW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MANAGEWAY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PAYWAY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GSLXRZW" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SUPPORTOTHER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISNEW" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PACT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BELONGKA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WEBSITE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COUNTY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PPOWNER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTORY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHJS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHSOURCE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX2" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FLSJSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOfficial" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SFCCJSM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDJSDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDLXDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHLXDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PKHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPKHLX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GJ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SFZXS" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KPXZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KPDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NSRSBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YHZH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FKTJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FRLXFS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSFRGX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTXSRW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTJXXSRW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSJSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SFCCJ" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TSQKSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JXSYX" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="YXSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WDLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SFBZWD" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MDJCSL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZBDZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCLC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MDDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JCDPSL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FTID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FGLDYJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSZJYJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XYDJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHGM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YYZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GDSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC_ALL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KH_S" type="tns:CRM_KH_KH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isKHID" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSFCS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KH" type="tns:CRM_KH_KH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSFCSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSFCSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParmas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keywords" type="tns:CRM_KH_KH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParmasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParmasResult" type="tns:ArrayOfCRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KH_KH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KH_KH" nillable="true" type="tns:CRM_KH_KH" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByIDResult" type="tns:CRM_KH_KHList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_KHList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PKHIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MANAGEWAYDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PAYWAYDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXRZWDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIRSTAMOUNT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JOINACTIVITY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FIRSTTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PSQK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FSFW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MANAGEWAY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PAYWAY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GSLXRZW" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SUPPORTOTHER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISNEW" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PACT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BELONGKA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WEBSITE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YWYList" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SFCCJSM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDJSDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDLXDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHLXDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PKHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPKHLX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GJ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SFZXS" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KPXZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KPDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NSRSBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YHZH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FKTJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FRLXFS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSFRGX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTXSRW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTJXXSRW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSJSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SFCCJ" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TSQKSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JXSYX" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="YXSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WDLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SFBZWD" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MDJCSL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZBDZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCLC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MDDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JCDPSL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FTID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FGLDYJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSZJYJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XYDJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHGM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GIDSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOfficial" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FLSJSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CZR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHSOURCE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX2" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHLX2DES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSOURCEDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PPOWNER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTORY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="USERCOUNT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFUSER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COUNTY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="COUNTYDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YYZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GDSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YYZTDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_Report_KHModel" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_Report_KHModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XSZZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PCRMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOfficial" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STARTTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDZS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsZXS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HDMC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAY_STATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAYITEM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HUODONG_STATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludePKH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YYZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MDDZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportResult" type="tns:ArrayOfCRM_KH_KHList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KH_KHList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KH_KHList" nillable="true" type="tns:CRM_KH_KHList" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_PLUS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_Report_KHModel" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report_PLUSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_PLUSResult" type="tns:ArrayOfCRM_KH_KHList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report_ZDWD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KH_KH_Report_ZDWD" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_KH_Report_ZDWD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CZSJ_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZSJ_END" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ_END" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FGLD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WDLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISYX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDZS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HDMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAY_STATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAYITEM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HUODONG_STATUS" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_ZDWDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_ZDWDResult" type="tns:ArrayOfCRM_KH_KH_Report_ZDWDList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KH_KH_Report_ZDWDList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KH_KH_Report_ZDWDList" nillable="true" type="tns:CRM_KH_KH_Report_ZDWDList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_KH_KH_Report_ZDWDList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FGLD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CZR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WDLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISYX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDZS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HDMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDIMG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MDDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WDLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DISPLAY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSPZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JINGPIN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISBZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XYPP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CPLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CPLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHSL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QDDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QDDZSOURCE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IMG_MT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MT_SOURCE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFCS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ISYC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BF_MT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFMT_SOURCE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BF_DISPLAY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFDISPLAY_SOURCE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImgSPcount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplayItemCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_LKA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KH_KH_Report_LKA" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RightOn" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_KH_Report_LKA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZSJ_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZSJ_END" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ_END" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHCRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MDJCSL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHMDDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISYX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAY_STATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAYITEM" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_KH_KH_Report_LKAList">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRM_KH_KH_Report_LKA">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CZSJ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MCLC" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="MCLCDES" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MDDZ" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CZR" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CZRDES" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JCDPSL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XSSJSM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JINGPIN" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IMG_MT" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="MT_SOURCE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DISPLAY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DISIMG" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DISPLAY2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DISIMG2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QDDZ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QDDZSOURCE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BFCS" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ISYC" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BF_MT" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BFMT_SOURCE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BF_DISPLAY" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BFDISPLAY_SOURCE" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ImgSPcount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DisplayItemCount" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="Report_LKAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_LKAResult" type="tns:ArrayOfCRM_KH_KH_Report_LKAList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KH_KH_Report_LKAList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KH_KH_Report_LKAList" nillable="true" type="tns:CRM_KH_KH_Report_LKAList" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadXSZZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadXSZZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadXSZZResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Blank_Report">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SFID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CSID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Blank_ReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Blank_ReportResult" type="tns:ArrayOfCRM_KH_BankList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KH_BankList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KH_BankList" nillable="true" type="tns:CRM_KH_BankList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_KH_BankList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FIDDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DICID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DICIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTXSRW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XXMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByCRMID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByCRMIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByCRMIDResult" type="tns:CRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadBF_KHList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KH_KH_PARAM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_KH_PARAM">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JD" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="WD" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MULTIPLE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadBF_KHListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadBF_KHListResult" type="tns:ArrayOfCRM_KH_KH_INFO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KH_KH_INFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KH_KH_INFO" nillable="true" type="tns:CRM_KH_KH_INFO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_KH_KH_INFO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PKHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHIDDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DISTANCE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="JD" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ED" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="DZMS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadKHForSap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHForSapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadKHForSapResult" type="tns:ArrayOfSAP_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSAP_KH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SAP_KH" nillable="true" type="tns:SAP_KH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SAP_KH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KUNNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEZEI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORT01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STREET" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEL_NUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STCEG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BANKA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TELF1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YHZH" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadBySTAFFID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadBySTAFFIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadBySTAFFIDResult" type="tns:ArrayOfCRM_KH_KHList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadJXSByKHID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadJXSByKHIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadJXSByKHIDResult" type="tns:CRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByJXS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KH_KH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByJXSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByJXSResult" type="tns:ArrayOfCRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadUser_KH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_Report_KHModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadUser_KHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadUser_KHResult" type="tns:ArrayOfCRM_KH_KHList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSDFbyPKH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSDFbyPKHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadSDFbyPKHResult" type="tns:ArrayOfCRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadBySAPSN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadBySAPSNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadBySAPSNResult" type="tns:CRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHAcount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_Report_KHModel" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHAcountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadKHAcountResult" type="tns:ArrayOfCRM_KH_KHList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="CRM_KH_KHList" nillable="true" type="tns:CRM_KH_KHList" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="ArrayOfCRM_KH_BankList" nillable="true" type="tns:ArrayOfCRM_KH_BankList" />
      <s:element name="CRM_KH_KH" nillable="true" type="tns:CRM_KH_KH" />
      <s:element name="ArrayOfSAP_KH" nillable="true" type="tns:ArrayOfSAP_KH" />
      <s:element name="ArrayOfCRM_KH_KHList" nillable="true" type="tns:ArrayOfCRM_KH_KHList" />
      <s:element name="ArrayOfCRM_KH_KH" nillable="true" type="tns:ArrayOfCRM_KH_KH" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSFCSSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSFCS" />
  </wsdl:message>
  <wsdl:message name="UpdateSFCSSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSFCSResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParmasSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParmas" />
  </wsdl:message>
  <wsdl:message name="ReadByParmasSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParmasResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByID" />
  </wsdl:message>
  <wsdl:message name="ReadByIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReportSoapIn">
    <wsdl:part name="parameters" element="tns:Report" />
  </wsdl:message>
  <wsdl:message name="ReportSoapOut">
    <wsdl:part name="parameters" element="tns:ReportResponse" />
  </wsdl:message>
  <wsdl:message name="Report_PLUSSoapIn">
    <wsdl:part name="parameters" element="tns:Report_PLUS" />
  </wsdl:message>
  <wsdl:message name="Report_PLUSSoapOut">
    <wsdl:part name="parameters" element="tns:Report_PLUSResponse" />
  </wsdl:message>
  <wsdl:message name="Report_ZDWDSoapIn">
    <wsdl:part name="parameters" element="tns:Report_ZDWD" />
  </wsdl:message>
  <wsdl:message name="Report_ZDWDSoapOut">
    <wsdl:part name="parameters" element="tns:Report_ZDWDResponse" />
  </wsdl:message>
  <wsdl:message name="Report_LKASoapIn">
    <wsdl:part name="parameters" element="tns:Report_LKA" />
  </wsdl:message>
  <wsdl:message name="Report_LKASoapOut">
    <wsdl:part name="parameters" element="tns:Report_LKAResponse" />
  </wsdl:message>
  <wsdl:message name="ReadXSZZSoapIn">
    <wsdl:part name="parameters" element="tns:ReadXSZZ" />
  </wsdl:message>
  <wsdl:message name="ReadXSZZSoapOut">
    <wsdl:part name="parameters" element="tns:ReadXSZZResponse" />
  </wsdl:message>
  <wsdl:message name="Blank_ReportSoapIn">
    <wsdl:part name="parameters" element="tns:Blank_Report" />
  </wsdl:message>
  <wsdl:message name="Blank_ReportSoapOut">
    <wsdl:part name="parameters" element="tns:Blank_ReportResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByCRMIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByCRMID" />
  </wsdl:message>
  <wsdl:message name="ReadByCRMIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByCRMIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadBF_KHListSoapIn">
    <wsdl:part name="parameters" element="tns:ReadBF_KHList" />
  </wsdl:message>
  <wsdl:message name="ReadBF_KHListSoapOut">
    <wsdl:part name="parameters" element="tns:ReadBF_KHListResponse" />
  </wsdl:message>
  <wsdl:message name="ReadKHForSapSoapIn">
    <wsdl:part name="parameters" element="tns:ReadKHForSap" />
  </wsdl:message>
  <wsdl:message name="ReadKHForSapSoapOut">
    <wsdl:part name="parameters" element="tns:ReadKHForSapResponse" />
  </wsdl:message>
  <wsdl:message name="ReadBySTAFFIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadBySTAFFID" />
  </wsdl:message>
  <wsdl:message name="ReadBySTAFFIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadBySTAFFIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadJXSByKHIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadJXSByKHID" />
  </wsdl:message>
  <wsdl:message name="ReadJXSByKHIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadJXSByKHIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByJXSSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByJXS" />
  </wsdl:message>
  <wsdl:message name="ReadByJXSSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByJXSResponse" />
  </wsdl:message>
  <wsdl:message name="ReadUser_KHSoapIn">
    <wsdl:part name="parameters" element="tns:ReadUser_KH" />
  </wsdl:message>
  <wsdl:message name="ReadUser_KHSoapOut">
    <wsdl:part name="parameters" element="tns:ReadUser_KHResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSDFbyPKHSoapIn">
    <wsdl:part name="parameters" element="tns:ReadSDFbyPKH" />
  </wsdl:message>
  <wsdl:message name="ReadSDFbyPKHSoapOut">
    <wsdl:part name="parameters" element="tns:ReadSDFbyPKHResponse" />
  </wsdl:message>
  <wsdl:message name="ReadBySAPSNSoapIn">
    <wsdl:part name="parameters" element="tns:ReadBySAPSN" />
  </wsdl:message>
  <wsdl:message name="ReadBySAPSNSoapOut">
    <wsdl:part name="parameters" element="tns:ReadBySAPSNResponse" />
  </wsdl:message>
  <wsdl:message name="ReadKHAcountSoapIn">
    <wsdl:part name="parameters" element="tns:ReadKHAcount" />
  </wsdl:message>
  <wsdl:message name="ReadKHAcountSoapOut">
    <wsdl:part name="parameters" element="tns:ReadKHAcountResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadByIDHttpGetIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_KH_KHList" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadXSZZHttpGetIn">
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadXSZZHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Blank_ReportHttpGetIn">
    <wsdl:part name="SFID" type="s:string" />
    <wsdl:part name="CSID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Blank_ReportHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_KH_BankList" />
  </wsdl:message>
  <wsdl:message name="ReadByCRMIDHttpGetIn">
    <wsdl:part name="CRMID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByCRMIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="ReadKHForSapHttpGetIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadKHForSapHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSAP_KH" />
  </wsdl:message>
  <wsdl:message name="ReadBySTAFFIDHttpGetIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadBySTAFFIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_KH_KHList" />
  </wsdl:message>
  <wsdl:message name="ReadJXSByKHIDHttpGetIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadJXSByKHIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="ReadSDFbyPKHHttpGetIn">
    <wsdl:part name="SAPSN" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadSDFbyPKHHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="ReadBySAPSNHttpGetIn">
    <wsdl:part name="SAPSN" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadBySAPSNHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadByIDHttpPostIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_KH_KHList" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadXSZZHttpPostIn">
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadXSZZHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Blank_ReportHttpPostIn">
    <wsdl:part name="SFID" type="s:string" />
    <wsdl:part name="CSID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Blank_ReportHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_KH_BankList" />
  </wsdl:message>
  <wsdl:message name="ReadByCRMIDHttpPostIn">
    <wsdl:part name="CRMID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByCRMIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="ReadKHForSapHttpPostIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadKHForSapHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSAP_KH" />
  </wsdl:message>
  <wsdl:message name="ReadBySTAFFIDHttpPostIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadBySTAFFIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_KH_KHList" />
  </wsdl:message>
  <wsdl:message name="ReadJXSByKHIDHttpPostIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadJXSByKHIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="ReadSDFbyPKHHttpPostIn">
    <wsdl:part name="SAPSN" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadSDFbyPKHHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="ReadBySAPSNHttpPostIn">
    <wsdl:part name="SAPSN" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadBySAPSNHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_KH_KH" />
  </wsdl:message>
  <wsdl:portType name="KH_KHSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSFCS">
      <wsdl:input message="tns:UpdateSFCSSoapIn" />
      <wsdl:output message="tns:UpdateSFCSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParmas">
      <wsdl:input message="tns:ReadByParmasSoapIn" />
      <wsdl:output message="tns:ReadByParmasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <wsdl:input message="tns:ReadByIDSoapIn" />
      <wsdl:output message="tns:ReadByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report">
      <wsdl:input message="tns:ReportSoapIn" />
      <wsdl:output message="tns:ReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_PLUS">
      <wsdl:input message="tns:Report_PLUSSoapIn" />
      <wsdl:output message="tns:Report_PLUSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_ZDWD">
      <wsdl:input message="tns:Report_ZDWDSoapIn" />
      <wsdl:output message="tns:Report_ZDWDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_LKA">
      <wsdl:input message="tns:Report_LKASoapIn" />
      <wsdl:output message="tns:Report_LKASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadXSZZ">
      <wsdl:input message="tns:ReadXSZZSoapIn" />
      <wsdl:output message="tns:ReadXSZZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Blank_Report">
      <wsdl:input message="tns:Blank_ReportSoapIn" />
      <wsdl:output message="tns:Blank_ReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByCRMID">
      <wsdl:input message="tns:ReadByCRMIDSoapIn" />
      <wsdl:output message="tns:ReadByCRMIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadBF_KHList">
      <wsdl:input message="tns:ReadBF_KHListSoapIn" />
      <wsdl:output message="tns:ReadBF_KHListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHForSap">
      <wsdl:input message="tns:ReadKHForSapSoapIn" />
      <wsdl:output message="tns:ReadKHForSapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFID">
      <wsdl:input message="tns:ReadBySTAFFIDSoapIn" />
      <wsdl:output message="tns:ReadBySTAFFIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadJXSByKHID">
      <wsdl:input message="tns:ReadJXSByKHIDSoapIn" />
      <wsdl:output message="tns:ReadJXSByKHIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByJXS">
      <wsdl:input message="tns:ReadByJXSSoapIn" />
      <wsdl:output message="tns:ReadByJXSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadUser_KH">
      <wsdl:input message="tns:ReadUser_KHSoapIn" />
      <wsdl:output message="tns:ReadUser_KHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSDFbyPKH">
      <wsdl:input message="tns:ReadSDFbyPKHSoapIn" />
      <wsdl:output message="tns:ReadSDFbyPKHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadBySAPSN">
      <wsdl:input message="tns:ReadBySAPSNSoapIn" />
      <wsdl:output message="tns:ReadBySAPSNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHAcount">
      <wsdl:input message="tns:ReadKHAcountSoapIn" />
      <wsdl:output message="tns:ReadKHAcountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="KH_KHHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <wsdl:input message="tns:ReadByIDHttpGetIn" />
      <wsdl:output message="tns:ReadByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadXSZZ">
      <wsdl:input message="tns:ReadXSZZHttpGetIn" />
      <wsdl:output message="tns:ReadXSZZHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Blank_Report">
      <wsdl:input message="tns:Blank_ReportHttpGetIn" />
      <wsdl:output message="tns:Blank_ReportHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByCRMID">
      <wsdl:input message="tns:ReadByCRMIDHttpGetIn" />
      <wsdl:output message="tns:ReadByCRMIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHForSap">
      <wsdl:input message="tns:ReadKHForSapHttpGetIn" />
      <wsdl:output message="tns:ReadKHForSapHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFID">
      <wsdl:input message="tns:ReadBySTAFFIDHttpGetIn" />
      <wsdl:output message="tns:ReadBySTAFFIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadJXSByKHID">
      <wsdl:input message="tns:ReadJXSByKHIDHttpGetIn" />
      <wsdl:output message="tns:ReadJXSByKHIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSDFbyPKH">
      <wsdl:input message="tns:ReadSDFbyPKHHttpGetIn" />
      <wsdl:output message="tns:ReadSDFbyPKHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadBySAPSN">
      <wsdl:input message="tns:ReadBySAPSNHttpGetIn" />
      <wsdl:output message="tns:ReadBySAPSNHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="KH_KHHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <wsdl:input message="tns:ReadByIDHttpPostIn" />
      <wsdl:output message="tns:ReadByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadXSZZ">
      <wsdl:input message="tns:ReadXSZZHttpPostIn" />
      <wsdl:output message="tns:ReadXSZZHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Blank_Report">
      <wsdl:input message="tns:Blank_ReportHttpPostIn" />
      <wsdl:output message="tns:Blank_ReportHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByCRMID">
      <wsdl:input message="tns:ReadByCRMIDHttpPostIn" />
      <wsdl:output message="tns:ReadByCRMIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHForSap">
      <wsdl:input message="tns:ReadKHForSapHttpPostIn" />
      <wsdl:output message="tns:ReadKHForSapHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFID">
      <wsdl:input message="tns:ReadBySTAFFIDHttpPostIn" />
      <wsdl:output message="tns:ReadBySTAFFIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadJXSByKHID">
      <wsdl:input message="tns:ReadJXSByKHIDHttpPostIn" />
      <wsdl:output message="tns:ReadJXSByKHIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSDFbyPKH">
      <wsdl:input message="tns:ReadSDFbyPKHHttpPostIn" />
      <wsdl:output message="tns:ReadSDFbyPKHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadBySAPSN">
      <wsdl:input message="tns:ReadBySAPSNHttpPostIn" />
      <wsdl:output message="tns:ReadBySAPSNHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KH_KHSoap" type="tns:KH_KHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSFCS">
      <soap:operation soapAction="http://tempuri.org/UpdateSFCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParmas">
      <soap:operation soapAction="http://tempuri.org/ReadByParmas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <soap:operation soapAction="http://tempuri.org/ReadByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap:operation soapAction="http://tempuri.org/Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_PLUS">
      <soap:operation soapAction="http://tempuri.org/Report_PLUS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_ZDWD">
      <soap:operation soapAction="http://tempuri.org/Report_ZDWD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_LKA">
      <soap:operation soapAction="http://tempuri.org/Report_LKA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadXSZZ">
      <soap:operation soapAction="http://tempuri.org/ReadXSZZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Blank_Report">
      <soap:operation soapAction="http://tempuri.org/Blank_Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByCRMID">
      <soap:operation soapAction="http://tempuri.org/ReadByCRMID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBF_KHList">
      <soap:operation soapAction="http://tempuri.org/ReadBF_KHList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHForSap">
      <soap:operation soapAction="http://tempuri.org/ReadKHForSap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFID">
      <soap:operation soapAction="http://tempuri.org/ReadBySTAFFID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadJXSByKHID">
      <soap:operation soapAction="http://tempuri.org/ReadJXSByKHID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByJXS">
      <soap:operation soapAction="http://tempuri.org/ReadByJXS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUser_KH">
      <soap:operation soapAction="http://tempuri.org/ReadUser_KH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSDFbyPKH">
      <soap:operation soapAction="http://tempuri.org/ReadSDFbyPKH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySAPSN">
      <soap:operation soapAction="http://tempuri.org/ReadBySAPSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHAcount">
      <soap:operation soapAction="http://tempuri.org/ReadKHAcount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KH_KHSoap12" type="tns:KH_KHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSFCS">
      <soap12:operation soapAction="http://tempuri.org/UpdateSFCS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParmas">
      <soap12:operation soapAction="http://tempuri.org/ReadByParmas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <soap12:operation soapAction="http://tempuri.org/ReadByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap12:operation soapAction="http://tempuri.org/Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_PLUS">
      <soap12:operation soapAction="http://tempuri.org/Report_PLUS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_ZDWD">
      <soap12:operation soapAction="http://tempuri.org/Report_ZDWD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_LKA">
      <soap12:operation soapAction="http://tempuri.org/Report_LKA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadXSZZ">
      <soap12:operation soapAction="http://tempuri.org/ReadXSZZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Blank_Report">
      <soap12:operation soapAction="http://tempuri.org/Blank_Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByCRMID">
      <soap12:operation soapAction="http://tempuri.org/ReadByCRMID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBF_KHList">
      <soap12:operation soapAction="http://tempuri.org/ReadBF_KHList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHForSap">
      <soap12:operation soapAction="http://tempuri.org/ReadKHForSap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFID">
      <soap12:operation soapAction="http://tempuri.org/ReadBySTAFFID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadJXSByKHID">
      <soap12:operation soapAction="http://tempuri.org/ReadJXSByKHID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByJXS">
      <soap12:operation soapAction="http://tempuri.org/ReadByJXS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUser_KH">
      <soap12:operation soapAction="http://tempuri.org/ReadUser_KH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSDFbyPKH">
      <soap12:operation soapAction="http://tempuri.org/ReadSDFbyPKH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySAPSN">
      <soap12:operation soapAction="http://tempuri.org/ReadBySAPSN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHAcount">
      <soap12:operation soapAction="http://tempuri.org/ReadKHAcount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KH_KHHttpGet" type="tns:KH_KHHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <http:operation location="/ReadByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadXSZZ">
      <http:operation location="/ReadXSZZ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Blank_Report">
      <http:operation location="/Blank_Report" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByCRMID">
      <http:operation location="/ReadByCRMID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHForSap">
      <http:operation location="/ReadKHForSap" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFID">
      <http:operation location="/ReadBySTAFFID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadJXSByKHID">
      <http:operation location="/ReadJXSByKHID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSDFbyPKH">
      <http:operation location="/ReadSDFbyPKH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySAPSN">
      <http:operation location="/ReadBySAPSN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KH_KHHttpPost" type="tns:KH_KHHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <http:operation location="/ReadByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadXSZZ">
      <http:operation location="/ReadXSZZ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Blank_Report">
      <http:operation location="/Blank_Report" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByCRMID">
      <http:operation location="/ReadByCRMID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHForSap">
      <http:operation location="/ReadKHForSap" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFID">
      <http:operation location="/ReadBySTAFFID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadJXSByKHID">
      <http:operation location="/ReadJXSByKHID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSDFbyPKH">
      <http:operation location="/ReadSDFbyPKH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySAPSN">
      <http:operation location="/ReadBySAPSN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KH_KH">
    <wsdl:port name="KH_KHSoap" binding="tns:KH_KHSoap">
      <soap:address location="http://192.168.0.135/API/CRM/KH_KH.asmx" />
    </wsdl:port>
    <wsdl:port name="KH_KHSoap12" binding="tns:KH_KHSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/KH_KH.asmx" />
    </wsdl:port>
    <wsdl:port name="KH_KHHttpGet" binding="tns:KH_KHHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/KH_KH.asmx" />
    </wsdl:port>
    <wsdl:port name="KH_KHHttpPost" binding="tns:KH_KHHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/KH_KH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>