Sonluk.UI.Model/Service References/Print.LayoutService/Layout.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Sonluk.com/API/Print" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Sonluk.com/API/Print" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Sonluk.com/API/Print">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="node" type="tns:LayoutInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LayoutInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Doc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mac" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Background" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Style" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Controls" type="tns:ArrayOfControlInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfControlInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ControlInfo" nillable="true" type="tns:ControlInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ControlInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Layout" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Style" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="node" type="tns:LayoutInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType />
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfLayoutInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLayoutInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LayoutInfo" nillable="true" type="tns:LayoutInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByIDResult" type="tns:LayoutInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDocMac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDocMacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByDocMacResult" type="tns:LayoutInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfLayoutInfo" nillable="true" type="tns:ArrayOfLayoutInfo" />
      <s:element name="LayoutInfo" nillable="true" type="tns:LayoutInfo" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByID" />
  </wsdl:message>
  <wsdl:message name="ReadByIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByDocMacSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByDocMac" />
  </wsdl:message>
  <wsdl:message name="ReadByDocMacSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByDocMacResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn" />
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLayoutInfo" />
  </wsdl:message>
  <wsdl:message name="ReadByIDHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:LayoutInfo" />
  </wsdl:message>
  <wsdl:message name="ReadByDocMacHttpGetIn">
    <wsdl:part name="doc" type="s:string" />
    <wsdl:part name="mac" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDocMacHttpGetOut">
    <wsdl:part name="Body" element="tns:LayoutInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn" />
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLayoutInfo" />
  </wsdl:message>
  <wsdl:message name="ReadByIDHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:LayoutInfo" />
  </wsdl:message>
  <wsdl:message name="ReadByDocMacHttpPostIn">
    <wsdl:part name="doc" type="s:string" />
    <wsdl:part name="mac" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByDocMacHttpPostOut">
    <wsdl:part name="Body" element="tns:LayoutInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="LayoutSoap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <wsdl:input message="tns:ReadByIDSoapIn" />
      <wsdl:output message="tns:ReadByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDocMac">
      <wsdl:input message="tns:ReadByDocMacSoapIn" />
      <wsdl:output message="tns:ReadByDocMacSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LayoutHttpGet">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <wsdl:input message="tns:ReadByIDHttpGetIn" />
      <wsdl:output message="tns:ReadByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDocMac">
      <wsdl:input message="tns:ReadByDocMacHttpGetIn" />
      <wsdl:output message="tns:ReadByDocMacHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LayoutHttpPost">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <wsdl:input message="tns:ReadByIDHttpPostIn" />
      <wsdl:output message="tns:ReadByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDocMac">
      <wsdl:input message="tns:ReadByDocMacHttpPostIn" />
      <wsdl:output message="tns:ReadByDocMacHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LayoutSoap" type="tns:LayoutSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://Sonluk.com/API/Print/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://Sonluk.com/API/Print/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://Sonluk.com/API/Print/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <soap:operation soapAction="http://Sonluk.com/API/Print/ReadByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDocMac">
      <soap:operation soapAction="http://Sonluk.com/API/Print/ReadByDocMac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://Sonluk.com/API/Print/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LayoutSoap12" type="tns:LayoutSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://Sonluk.com/API/Print/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://Sonluk.com/API/Print/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://Sonluk.com/API/Print/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <soap12:operation soapAction="http://Sonluk.com/API/Print/ReadByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDocMac">
      <soap12:operation soapAction="http://Sonluk.com/API/Print/ReadByDocMac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://Sonluk.com/API/Print/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LayoutHttpGet" type="tns:LayoutHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <http:operation location="/ReadByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDocMac">
      <http:operation location="/ReadByDocMac" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LayoutHttpPost" type="tns:LayoutHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByID">
      <http:operation location="/ReadByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDocMac">
      <http:operation location="/ReadByDocMac" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Layout">
    <wsdl:port name="LayoutSoap" binding="tns:LayoutSoap">
      <soap:address location="http://192.168.0.132/API/Print/Layout.asmx" />
    </wsdl:port>
    <wsdl:port name="LayoutSoap12" binding="tns:LayoutSoap12">
      <soap12:address location="http://192.168.0.132/API/Print/Layout.asmx" />
    </wsdl:port>
    <wsdl:port name="LayoutHttpGet" binding="tns:LayoutHttpGet">
      <http:address location="http://192.168.0.132/API/Print/Layout.asmx" />
    </wsdl:port>
    <wsdl:port name="LayoutHttpPost" binding="tns:LayoutHttpPost">
      <http:address location="http://192.168.0.132/API/Print/Layout.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>