Sonluk.UI.Model/Service References/HR.KQ_GSKQService/WS_HR_KQ_GSKQ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_KQ_GSKQ" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_KQ_GSKQ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQRQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQRQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_KQ_GSKQ_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_KQ_GSKQ_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_KQ_GSKQSoap">
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_KQ_GSKQHttpGet" />
  <wsdl:portType name="WS_HR_KQ_GSKQHttpPost" />
  <wsdl:binding name="WS_HR_KQ_GSKQSoap" type="tns:WS_HR_KQ_GSKQSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_GSKQSoap12" type="tns:WS_HR_KQ_GSKQSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_GSKQHttpGet" type="tns:WS_HR_KQ_GSKQHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_KQ_GSKQHttpPost" type="tns:WS_HR_KQ_GSKQHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_KQ_GSKQ">
    <wsdl:port name="WS_HR_KQ_GSKQSoap" binding="tns:WS_HR_KQ_GSKQSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_KQ_GSKQ.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_GSKQSoap12" binding="tns:WS_HR_KQ_GSKQSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_KQ_GSKQ.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_GSKQHttpGet" binding="tns:WS_HR_KQ_GSKQHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_KQ_GSKQ.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_KQ_GSKQHttpPost" binding="tns:WS_HR_KQ_GSKQHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_KQ_GSKQ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>