Sonluk.UI.Model/Service References/HR.XZGL_FLFAMXService/WS_HR_XZGL_FLFAMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FLFAMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FLFAMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FLFAMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLFAID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLMXXZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FLMXXZNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FLMXSX" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FLMXXX" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FLMXDWBL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FLMXGRBL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FLMXYXXSWS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FLMXXSBLGZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FLMXXSBLGZNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FFJLZDID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FFJLZDNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MXID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FLFAMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FLFAMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_XZGL_FLFAMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FLFAMX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_XZGL_FLFAMX" type="tns:ArrayOfHR_XZGL_FLFAMX" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_XZGL_FLFAMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_XZGL_FLFAMX" nillable="true" type="tns:HR_XZGL_FLFAMX" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_XZGL_FLFAMXSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_XZGL_FLFAMXHttpGet" />
  <wsdl:portType name="WS_HR_XZGL_FLFAMXHttpPost" />
  <wsdl:binding name="WS_HR_XZGL_FLFAMXSoap" type="tns:WS_HR_XZGL_FLFAMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FLFAMXSoap12" type="tns:WS_HR_XZGL_FLFAMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FLFAMXHttpGet" type="tns:WS_HR_XZGL_FLFAMXHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FLFAMXHttpPost" type="tns:WS_HR_XZGL_FLFAMXHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_XZGL_FLFAMX">
    <wsdl:port name="WS_HR_XZGL_FLFAMXSoap" binding="tns:WS_HR_XZGL_FLFAMXSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FLFAMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FLFAMXSoap12" binding="tns:WS_HR_XZGL_FLFAMXSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FLFAMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FLFAMXHttpGet" binding="tns:WS_HR_XZGL_FLFAMXHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FLFAMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FLFAMXHttpPost" binding="tns:WS_HR_XZGL_FLFAMXHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FLFAMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>