Sonluk.UI.Model/Service References/MES.MM_CKService/MM_CK.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_MM_CK" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_MM_CK">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CKDM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CKMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ROLENAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_SYNC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_MM_CK" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_SYNCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_SYNCResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_MM_CK" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_MM_CK_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_MM_CK_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_MM_CK" type="tns:ArrayOfMES_MM_CK" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_MM_CK">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_MM_CK" nillable="true" type="tns:MES_MM_CK" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_BY_STAFFID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_MM_CK" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_BY_STAFFIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_BY_STAFFIDResult" type="tns:MES_MM_CK_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_BY_ROLE_ASSEMBLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_MM_CK" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_BY_ROLE_ASSEMBLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_BY_ROLE_ASSEMBLEResult" type="tns:MES_MM_CK_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_SYNCSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_SYNC" />
  </wsdl:message>
  <wsdl:message name="UPDATE_SYNCSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_SYNCResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_STAFFIDSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_BY_STAFFID" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_STAFFIDSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_BY_STAFFIDResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_ROLE_ASSEMBLESoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_BY_ROLE_ASSEMBLE" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_ROLE_ASSEMBLESoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_BY_ROLE_ASSEMBLEResponse" />
  </wsdl:message>
  <wsdl:portType name="MM_CKSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SYNC">
      <wsdl:input message="tns:UPDATE_SYNCSoapIn" />
      <wsdl:output message="tns:UPDATE_SYNCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_STAFFID">
      <wsdl:input message="tns:SELECT_BY_STAFFIDSoapIn" />
      <wsdl:output message="tns:SELECT_BY_STAFFIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_ROLE_ASSEMBLE">
      <wsdl:input message="tns:SELECT_BY_ROLE_ASSEMBLESoapIn" />
      <wsdl:output message="tns:SELECT_BY_ROLE_ASSEMBLESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MM_CKHttpGet" />
  <wsdl:portType name="MM_CKHttpPost" />
  <wsdl:binding name="MM_CKSoap" type="tns:MM_CKSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SYNC">
      <soap:operation soapAction="http://tempuri.org/UPDATE_SYNC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_STAFFID">
      <soap:operation soapAction="http://tempuri.org/SELECT_BY_STAFFID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_ROLE_ASSEMBLE">
      <soap:operation soapAction="http://tempuri.org/SELECT_BY_ROLE_ASSEMBLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MM_CKSoap12" type="tns:MM_CKSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SYNC">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_SYNC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_STAFFID">
      <soap12:operation soapAction="http://tempuri.org/SELECT_BY_STAFFID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_ROLE_ASSEMBLE">
      <soap12:operation soapAction="http://tempuri.org/SELECT_BY_ROLE_ASSEMBLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MM_CKHttpGet" type="tns:MM_CKHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="MM_CKHttpPost" type="tns:MM_CKHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="MM_CK">
    <wsdl:port name="MM_CKSoap" binding="tns:MM_CKSoap">
      <soap:address location="http://192.168.0.223/API/MES/MM_CK.asmx" />
    </wsdl:port>
    <wsdl:port name="MM_CKSoap12" binding="tns:MM_CKSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/MM_CK.asmx" />
    </wsdl:port>
    <wsdl:port name="MM_CKHttpGet" binding="tns:MM_CKHttpGet">
      <http:address location="http://192.168.0.223/API/MES/MM_CK.asmx" />
    </wsdl:port>
    <wsdl:port name="MM_CKHttpPost" binding="tns:MM_CKHttpPost">
      <http:address location="http://192.168.0.223/API/MES/MM_CK.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>