Sonluk.UI.Model/Service References/LE.OutboundDeliveryService/OutboundDelivery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Sonluk.com/API/LE/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Sonluk.com/API/LE/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Sonluk.com/API/LE/">
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyowrds" type="tns:DeliveryInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DeliveryInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConditionValue" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesOrganization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesDistr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipToParty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipToPartyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalWeight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NetWeight" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryDateEnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PickingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PickingDateEnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDateEnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsignmentNote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillOfLoading" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactTelephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumberSet" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfDeliveryItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDeliveryItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeliveryItemInfo" nillable="true" type="tns:DeliveryItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliveryItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Material" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatlDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Whole" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Odd" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GrossWeight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NetWeight" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="WeightUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceDocument" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReferenceDocumentItem" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StgeLoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerMatlDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Batch" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SingleQty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SingleWeight" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SingleVolume" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Plant" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatlGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BatchSplit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfDeliveryInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeliveryInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeliveryInfo" nillable="true" type="tns:DeliveryInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="ItemRead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemReadResult" type="tns:ArrayOfDeliveryItemInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nodes" type="tns:ArrayOfDeliveryInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnLoad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="minSales" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="deliveryNumberSet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salesRange" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnLoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnLoadResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfDeliveryItemInfo" nillable="true" type="tns:ArrayOfDeliveryItemInfo" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ItemReadSoapIn">
    <wsdl:part name="parameters" element="tns:ItemRead" />
  </wsdl:message>
  <wsdl:message name="ItemReadSoapOut">
    <wsdl:part name="parameters" element="tns:ItemReadResponse" />
  </wsdl:message>
  <wsdl:message name="ExportSoapIn">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="ExportSoapOut">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:message name="UnLoadSoapIn">
    <wsdl:part name="parameters" element="tns:UnLoad" />
  </wsdl:message>
  <wsdl:message name="UnLoadSoapOut">
    <wsdl:part name="parameters" element="tns:UnLoadResponse" />
  </wsdl:message>
  <wsdl:message name="ItemReadHttpGetIn">
    <wsdl:part name="serialNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ItemReadHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDeliveryItemInfo" />
  </wsdl:message>
  <wsdl:message name="UnLoadHttpGetIn">
    <wsdl:part name="minSales" type="s:string" />
    <wsdl:part name="deliveryNumberSet" type="s:string" />
    <wsdl:part name="salesRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnLoadHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ItemReadHttpPostIn">
    <wsdl:part name="serialNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ItemReadHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDeliveryItemInfo" />
  </wsdl:message>
  <wsdl:message name="UnLoadHttpPostIn">
    <wsdl:part name="minSales" type="s:string" />
    <wsdl:part name="deliveryNumberSet" type="s:string" />
    <wsdl:part name="salesRange" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnLoadHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="OutboundDeliverySoap">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemRead">
      <wsdl:input message="tns:ItemReadSoapIn" />
      <wsdl:output message="tns:ItemReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input message="tns:ExportSoapIn" />
      <wsdl:output message="tns:ExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnLoad">
      <wsdl:input message="tns:UnLoadSoapIn" />
      <wsdl:output message="tns:UnLoadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OutboundDeliveryHttpGet">
    <wsdl:operation name="ItemRead">
      <wsdl:input message="tns:ItemReadHttpGetIn" />
      <wsdl:output message="tns:ItemReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UnLoad">
      <wsdl:input message="tns:UnLoadHttpGetIn" />
      <wsdl:output message="tns:UnLoadHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OutboundDeliveryHttpPost">
    <wsdl:operation name="ItemRead">
      <wsdl:input message="tns:ItemReadHttpPostIn" />
      <wsdl:output message="tns:ItemReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UnLoad">
      <wsdl:input message="tns:UnLoadHttpPostIn" />
      <wsdl:output message="tns:UnLoadHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OutboundDeliverySoap" type="tns:OutboundDeliverySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://Sonluk.com/API/LE/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemRead">
      <soap:operation soapAction="http://Sonluk.com/API/LE/ItemRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://Sonluk.com/API/LE/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLoad">
      <soap:operation soapAction="http://Sonluk.com/API/LE/UnLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutboundDeliverySoap12" type="tns:OutboundDeliverySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemRead">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/ItemRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLoad">
      <soap12:operation soapAction="http://Sonluk.com/API/LE/UnLoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutboundDeliveryHttpGet" type="tns:OutboundDeliveryHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ItemRead">
      <http:operation location="/ItemRead" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLoad">
      <http:operation location="/UnLoad" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutboundDeliveryHttpPost" type="tns:OutboundDeliveryHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ItemRead">
      <http:operation location="/ItemRead" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLoad">
      <http:operation location="/UnLoad" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutboundDelivery">
    <wsdl:port name="OutboundDeliverySoap" binding="tns:OutboundDeliverySoap">
      <soap:address location="http://192.168.0.132/API/LE/OutboundDelivery.asmx" />
    </wsdl:port>
    <wsdl:port name="OutboundDeliverySoap12" binding="tns:OutboundDeliverySoap12">
      <soap12:address location="http://192.168.0.132/API/LE/OutboundDelivery.asmx" />
    </wsdl:port>
    <wsdl:port name="OutboundDeliveryHttpGet" binding="tns:OutboundDeliveryHttpGet">
      <http:address location="http://192.168.0.132/API/LE/OutboundDelivery.asmx" />
    </wsdl:port>
    <wsdl:port name="OutboundDeliveryHttpPost" binding="tns:OutboundDeliveryHttpPost">
      <http:address location="http://192.168.0.132/API/LE/OutboundDelivery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>