Sonluk.UI.Model/Service References/CRM.COST_PSFService/COST_PSF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_PSF" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_PSF">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PSFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSMONTH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTITEMID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JXSID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SJKPJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FPKJJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="KPJEHJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MDPSF" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCPSF" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OTHER" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PSFHJ" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PSFTYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SEASON" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MDSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JHJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YSJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MDPSFBL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCPSFBL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRINTCOUNT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PSFTYPEDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PSFIDSTR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_PSF" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_PSF" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_PSF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_PSF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_PSF" nillable="true" type="tns:CRM_COST_PSF" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportWLGS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_PSF" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportWLGSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportWLGSResult" type="tns:ArrayOfCRM_COST_PSF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportJXS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_PSF" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportJXSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportJXSResult" type="tns:ArrayOfCRM_COST_PSF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_Unconnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_PSF" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_UnconnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_UnconnectedResult" type="tns:ArrayOfCRM_COST_PSF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PSFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrintCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PSFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrintCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPrintCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReportWLGSSoapIn">
    <wsdl:part name="parameters" element="tns:ReportWLGS" />
  </wsdl:message>
  <wsdl:message name="ReportWLGSSoapOut">
    <wsdl:part name="parameters" element="tns:ReportWLGSResponse" />
  </wsdl:message>
  <wsdl:message name="ReportJXSSoapIn">
    <wsdl:part name="parameters" element="tns:ReportJXS" />
  </wsdl:message>
  <wsdl:message name="ReportJXSSoapOut">
    <wsdl:part name="parameters" element="tns:ReportJXSResponse" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Read_Unconnected" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapOut">
    <wsdl:part name="parameters" element="tns:Read_UnconnectedResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountSoapIn">
    <wsdl:part name="parameters" element="tns:AddPrintCount" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountSoapOut">
    <wsdl:part name="parameters" element="tns:AddPrintCountResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="PSFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpGetIn">
    <wsdl:part name="PSFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="PSFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpPostIn">
    <wsdl:part name="PSFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="COST_PSFSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportWLGS">
      <wsdl:input message="tns:ReportWLGSSoapIn" />
      <wsdl:output message="tns:ReportWLGSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <wsdl:input message="tns:ReportJXSSoapIn" />
      <wsdl:output message="tns:ReportJXSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <wsdl:input message="tns:Read_UnconnectedSoapIn" />
      <wsdl:output message="tns:Read_UnconnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountSoapIn" />
      <wsdl:output message="tns:AddPrintCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_PSFHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountHttpGetIn" />
      <wsdl:output message="tns:AddPrintCountHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_PSFHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountHttpPostIn" />
      <wsdl:output message="tns:AddPrintCountHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_PSFSoap" type="tns:COST_PSFSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportWLGS">
      <soap:operation soapAction="http://tempuri.org/ReportWLGS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <soap:operation soapAction="http://tempuri.org/ReportJXS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <soap:operation soapAction="http://tempuri.org/AddPrintCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_PSFSoap12" type="tns:COST_PSFSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportWLGS">
      <soap12:operation soapAction="http://tempuri.org/ReportWLGS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <soap12:operation soapAction="http://tempuri.org/ReportJXS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap12:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <soap12:operation soapAction="http://tempuri.org/AddPrintCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_PSFHttpGet" type="tns:COST_PSFHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <http:operation location="/AddPrintCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_PSFHttpPost" type="tns:COST_PSFHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <http:operation location="/AddPrintCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_PSF">
    <wsdl:port name="COST_PSFSoap" binding="tns:COST_PSFSoap">
      <soap:address location="http://192.168.0.135/API/CRM/COST_PSF.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_PSFSoap12" binding="tns:COST_PSFSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/COST_PSF.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_PSFHttpGet" binding="tns:COST_PSFHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/COST_PSF.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_PSFHttpPost" binding="tns:COST_PSFHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/COST_PSF.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>