Sonluk.UI.Model/Service References/CRM.BF_BFService/BF_BF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_BFDJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_BFDJ" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BF_BFDJ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BFDJID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFRYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFKH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XSQD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHBFKSSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHBFJSSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXRTEL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LXRZW" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFMD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XCBFSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XCBFJH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTXX" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create_BFDJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Create_BFDJResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_BFDJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_BFDJ" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_BFDJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_BFDJResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_BFDJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BFDJID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_BFDJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_BFDJResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_BFJH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_BFJH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BF_BFJH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFJHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create_BFJHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Create_BFJHResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_BFJH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_BFJH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_BFJHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_BFJHResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_BFJH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_BFJHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_BFJHResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report_STAFF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_STAFFList" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BF_STAFFList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFPC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFPCDES" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_STAFFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_STAFFResult" type="tns:ArrayOfCRM_BF_STAFFList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BF_STAFFList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BF_STAFFList" nillable="true" type="tns:CRM_BF_STAFFList" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_KH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_KHList" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BF_KHList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHLXDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFPC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFPCDES" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_KHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_KHResult" type="tns:ArrayOfCRM_BF_KHList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BF_KHList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BF_KHList" nillable="true" type="tns:CRM_BF_KHList" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_BFDJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_BFDJList" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BF_BFDJList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BFDJID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFRYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFKH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XSQD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHBFKSSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHBFJSSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXRTEL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LXRZW" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFMD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XCBFSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XCBFJH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTXX" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFCS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFZQDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXRZWDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFMDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFJGDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFJHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KQJL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KQISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHCRMID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_BFDJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_BFDJResult" type="tns:ArrayOfCRM_BF_BFDJList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BF_BFDJList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BF_BFDJList" nillable="true" type="tns:CRM_BF_BFDJList" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByBFDJID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BFDJID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByBFDJIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByBFDJIDResult" type="tns:CRM_BF_BFDJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report_Summary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_ReportParam" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BF_ReportParam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BFRYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFAFFNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXRTEL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFMD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJG" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_SummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_SummaryResult" type="tns:ArrayOfCRM_BF_REPORTSUMMARY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BF_REPORTSUMMARY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BF_REPORTSUMMARY" nillable="true" type="tns:CRM_BF_REPORTSUMMARY" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_BF_REPORTSUMMARY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFCS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFKH" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_Detail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_ReportParam" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report_DetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_DetailResult" type="tns:ArrayOfCRM_BF_REPORTDETAIL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BF_REPORTDETAIL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BF_REPORTDETAIL" nillable="true" type="tns:CRM_BF_REPORTDETAIL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_BF_REPORTDETAIL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BFDJID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFRYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFKH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXRTEL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LXRZW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LXRZWDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFMD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFMDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFJGDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTXX" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="BFJHMC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FROMDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TODATE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamsResult" type="tns:ArrayOfCRM_BF_BFJHList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BF_BFJHList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BF_BFJHList" nillable="true" type="tns:CRM_BF_BFJHList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_BF_BFJHList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFJHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BFLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Read_BFJDByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_BFJDByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_BFJDByIDResult" type="tns:CRM_BF_BFJH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_BFDJ_PARAMS" />
            <s:element minOccurs="1" maxOccurs="1" name="isGun" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BF_BFDJ_PARAMS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFRYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHCRMID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfCRM_BF_BFDJList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHBF_BFDJ_SUMMARY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KHDJ_REPORT_PARAMS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KHDJ_REPORT_PARAMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFZQ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HDMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadKHBF_BFDJ_SUMMARYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadKHBF_BFDJ_SUMMARYResult" type="tns:ArrayOfCRM_KHDJ_REPORT_SUMMARY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KHDJ_REPORT_SUMMARY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KHDJ_REPORT_SUMMARY" nillable="true" type="tns:CRM_KHDJ_REPORT_SUMMARY" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_KHDJ_REPORT_SUMMARY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="REQUIRECOUNTS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FINISHCOUNTS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UNFINISHEDCOUNTS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JHMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFJHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFLXDES" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadKHBF_BFDJ_DETAIL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KHDJ_REPORT_PARAMS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHBF_BFDJ_DETAILResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadKHBF_BFDJ_DETAILResult" type="tns:ArrayOfCRM_KHDJ_REPORT_DETAIL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KHDJ_REPORT_DETAIL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KHDJ_REPORT_DETAIL" nillable="true" type="tns:CRM_KHDJ_REPORT_DETAIL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_KHDJ_REPORT_DETAIL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFJHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFJSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXRTEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXRZWDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFMDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTXX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BFJGDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFDJID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KQJL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KQISACTIVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadKHBF_ReportByStaff_SummaryTotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_REPORT_BYSTAFF_PARAMS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BF_REPORT_BYSTAFF_PARAMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadKHBF_ReportByStaff_SummaryTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadKHBF_ReportByStaff_SummaryTotalResult" type="tns:ArrayOfCRM_BF_REPORT_BYSTAFF_SUMMARYTOTAL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BF_REPORT_BYSTAFF_SUMMARYTOTAL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BF_REPORT_BYSTAFF_SUMMARYTOTAL" nillable="true" type="tns:CRM_BF_REPORT_BYSTAFF_SUMMARYTOTAL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_BF_REPORT_BYSTAFF_SUMMARYTOTAL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTAL_COUNT" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadKHBF_ReportByStaff_Summary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_REPORT_BYSTAFF_PARAMS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHBF_ReportByStaff_SummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadKHBF_ReportByStaff_SummaryResult" type="tns:ArrayOfCRM_BF_REPORT_BYSTAFF_SUMMARY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BF_REPORT_BYSTAFF_SUMMARY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BF_REPORT_BYSTAFF_SUMMARY" nillable="true" type="tns:CRM_BF_REPORT_BYSTAFF_SUMMARY" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_BF_REPORT_BYSTAFF_SUMMARY">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BFLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BFLXDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FINISHCOUNTS" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadKHBF_ReportByStaff_Detail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_REPORT_BYSTAFF_PARAMS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHBF_ReportByStaff_DetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadKHBF_ReportByStaff_DetailResult" type="tns:ArrayOfCRM_BF_BFDJList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHBF_ReportByDate_Summary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BF_REPORT_BYSTAFF_PARAMS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadKHBF_ReportByDate_SummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadKHBF_ReportByDate_SummaryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="CRM_BF_BFDJ" nillable="true" type="tns:CRM_BF_BFDJ" />
      <s:element name="ArrayOfCRM_BF_BFJHList" nillable="true" type="tns:ArrayOfCRM_BF_BFJHList" />
      <s:element name="CRM_BF_BFJH" nillable="true" type="tns:CRM_BF_BFJH" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Create_BFDJSoapIn">
    <wsdl:part name="parameters" element="tns:Create_BFDJ" />
  </wsdl:message>
  <wsdl:message name="Create_BFDJSoapOut">
    <wsdl:part name="parameters" element="tns:Create_BFDJResponse" />
  </wsdl:message>
  <wsdl:message name="Update_BFDJSoapIn">
    <wsdl:part name="parameters" element="tns:Update_BFDJ" />
  </wsdl:message>
  <wsdl:message name="Update_BFDJSoapOut">
    <wsdl:part name="parameters" element="tns:Update_BFDJResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_BFDJSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_BFDJ" />
  </wsdl:message>
  <wsdl:message name="Delete_BFDJSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_BFDJResponse" />
  </wsdl:message>
  <wsdl:message name="Create_BFJHSoapIn">
    <wsdl:part name="parameters" element="tns:Create_BFJH" />
  </wsdl:message>
  <wsdl:message name="Create_BFJHSoapOut">
    <wsdl:part name="parameters" element="tns:Create_BFJHResponse" />
  </wsdl:message>
  <wsdl:message name="Update_BFJHSoapIn">
    <wsdl:part name="parameters" element="tns:Update_BFJH" />
  </wsdl:message>
  <wsdl:message name="Update_BFJHSoapOut">
    <wsdl:part name="parameters" element="tns:Update_BFJHResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_BFJHSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_BFJH" />
  </wsdl:message>
  <wsdl:message name="Delete_BFJHSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_BFJHResponse" />
  </wsdl:message>
  <wsdl:message name="Report_STAFFSoapIn">
    <wsdl:part name="parameters" element="tns:Report_STAFF" />
  </wsdl:message>
  <wsdl:message name="Report_STAFFSoapOut">
    <wsdl:part name="parameters" element="tns:Report_STAFFResponse" />
  </wsdl:message>
  <wsdl:message name="Report_KHSoapIn">
    <wsdl:part name="parameters" element="tns:Report_KH" />
  </wsdl:message>
  <wsdl:message name="Report_KHSoapOut">
    <wsdl:part name="parameters" element="tns:Report_KHResponse" />
  </wsdl:message>
  <wsdl:message name="Report_BFDJSoapIn">
    <wsdl:part name="parameters" element="tns:Report_BFDJ" />
  </wsdl:message>
  <wsdl:message name="Report_BFDJSoapOut">
    <wsdl:part name="parameters" element="tns:Report_BFDJResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByBFDJIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByBFDJID" />
  </wsdl:message>
  <wsdl:message name="ReadByBFDJIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByBFDJIDResponse" />
  </wsdl:message>
  <wsdl:message name="Report_SummarySoapIn">
    <wsdl:part name="parameters" element="tns:Report_Summary" />
  </wsdl:message>
  <wsdl:message name="Report_SummarySoapOut">
    <wsdl:part name="parameters" element="tns:Report_SummaryResponse" />
  </wsdl:message>
  <wsdl:message name="Report_DetailSoapIn">
    <wsdl:part name="parameters" element="tns:Report_Detail" />
  </wsdl:message>
  <wsdl:message name="Report_DetailSoapOut">
    <wsdl:part name="parameters" element="tns:Report_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParams" />
  </wsdl:message>
  <wsdl:message name="ReadByParamsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamsResponse" />
  </wsdl:message>
  <wsdl:message name="Read_BFJDByIDSoapIn">
    <wsdl:part name="parameters" element="tns:Read_BFJDByID" />
  </wsdl:message>
  <wsdl:message name="Read_BFJDByIDSoapOut">
    <wsdl:part name="parameters" element="tns:Read_BFJDByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_BFDJ_SUMMARYSoapIn">
    <wsdl:part name="parameters" element="tns:ReadKHBF_BFDJ_SUMMARY" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_BFDJ_SUMMARYSoapOut">
    <wsdl:part name="parameters" element="tns:ReadKHBF_BFDJ_SUMMARYResponse" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_BFDJ_DETAILSoapIn">
    <wsdl:part name="parameters" element="tns:ReadKHBF_BFDJ_DETAIL" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_BFDJ_DETAILSoapOut">
    <wsdl:part name="parameters" element="tns:ReadKHBF_BFDJ_DETAILResponse" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_ReportByStaff_SummaryTotalSoapIn">
    <wsdl:part name="parameters" element="tns:ReadKHBF_ReportByStaff_SummaryTotal" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_ReportByStaff_SummaryTotalSoapOut">
    <wsdl:part name="parameters" element="tns:ReadKHBF_ReportByStaff_SummaryTotalResponse" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_ReportByStaff_SummarySoapIn">
    <wsdl:part name="parameters" element="tns:ReadKHBF_ReportByStaff_Summary" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_ReportByStaff_SummarySoapOut">
    <wsdl:part name="parameters" element="tns:ReadKHBF_ReportByStaff_SummaryResponse" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_ReportByStaff_DetailSoapIn">
    <wsdl:part name="parameters" element="tns:ReadKHBF_ReportByStaff_Detail" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_ReportByStaff_DetailSoapOut">
    <wsdl:part name="parameters" element="tns:ReadKHBF_ReportByStaff_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_ReportByDate_SummarySoapIn">
    <wsdl:part name="parameters" element="tns:ReadKHBF_ReportByDate_Summary" />
  </wsdl:message>
  <wsdl:message name="ReadKHBF_ReportByDate_SummarySoapOut">
    <wsdl:part name="parameters" element="tns:ReadKHBF_ReportByDate_SummaryResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Delete_BFDJHttpGetIn">
    <wsdl:part name="BFDJID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Delete_BFDJHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Delete_BFJHHttpGetIn">
    <wsdl:part name="BFJHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Delete_BFJHHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByBFDJIDHttpGetIn">
    <wsdl:part name="BFDJID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByBFDJIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_BF_BFDJ" />
  </wsdl:message>
  <wsdl:message name="ReadByParamsHttpGetIn">
    <wsdl:part name="BFLX" type="s:string" />
    <wsdl:part name="BFJHMC" type="s:string" />
    <wsdl:part name="FROMDATE" type="s:string" />
    <wsdl:part name="TODATE" type="s:string" />
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByParamsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_BF_BFJHList" />
  </wsdl:message>
  <wsdl:message name="Read_BFJDByIDHttpGetIn">
    <wsdl:part name="BFJHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Read_BFJDByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_BF_BFJH" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Delete_BFDJHttpPostIn">
    <wsdl:part name="BFDJID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Delete_BFDJHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Delete_BFJHHttpPostIn">
    <wsdl:part name="BFJHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Delete_BFJHHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByBFDJIDHttpPostIn">
    <wsdl:part name="BFDJID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByBFDJIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_BF_BFDJ" />
  </wsdl:message>
  <wsdl:message name="ReadByParamsHttpPostIn">
    <wsdl:part name="BFLX" type="s:string" />
    <wsdl:part name="BFJHMC" type="s:string" />
    <wsdl:part name="FROMDATE" type="s:string" />
    <wsdl:part name="TODATE" type="s:string" />
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByParamsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_BF_BFJHList" />
  </wsdl:message>
  <wsdl:message name="Read_BFJDByIDHttpPostIn">
    <wsdl:part name="BFJHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Read_BFJDByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_BF_BFJH" />
  </wsdl:message>
  <wsdl:portType name="BF_BFSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_BFDJ">
      <wsdl:input message="tns:Create_BFDJSoapIn" />
      <wsdl:output message="tns:Create_BFDJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_BFDJ">
      <wsdl:input message="tns:Update_BFDJSoapIn" />
      <wsdl:output message="tns:Update_BFDJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_BFDJ">
      <wsdl:input message="tns:Delete_BFDJSoapIn" />
      <wsdl:output message="tns:Delete_BFDJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_BFJH">
      <wsdl:input message="tns:Create_BFJHSoapIn" />
      <wsdl:output message="tns:Create_BFJHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_BFJH">
      <wsdl:input message="tns:Update_BFJHSoapIn" />
      <wsdl:output message="tns:Update_BFJHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_BFJH">
      <wsdl:input message="tns:Delete_BFJHSoapIn" />
      <wsdl:output message="tns:Delete_BFJHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_STAFF">
      <wsdl:input message="tns:Report_STAFFSoapIn" />
      <wsdl:output message="tns:Report_STAFFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_KH">
      <wsdl:input message="tns:Report_KHSoapIn" />
      <wsdl:output message="tns:Report_KHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_BFDJ">
      <wsdl:input message="tns:Report_BFDJSoapIn" />
      <wsdl:output message="tns:Report_BFDJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByBFDJID">
      <wsdl:input message="tns:ReadByBFDJIDSoapIn" />
      <wsdl:output message="tns:ReadByBFDJIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_Summary">
      <wsdl:input message="tns:Report_SummarySoapIn" />
      <wsdl:output message="tns:Report_SummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_Detail">
      <wsdl:input message="tns:Report_DetailSoapIn" />
      <wsdl:output message="tns:Report_DetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParams">
      <wsdl:input message="tns:ReadByParamsSoapIn" />
      <wsdl:output message="tns:ReadByParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_BFJDByID">
      <wsdl:input message="tns:Read_BFJDByIDSoapIn" />
      <wsdl:output message="tns:Read_BFJDByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_BFDJ_SUMMARY">
      <wsdl:input message="tns:ReadKHBF_BFDJ_SUMMARYSoapIn" />
      <wsdl:output message="tns:ReadKHBF_BFDJ_SUMMARYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_BFDJ_DETAIL">
      <wsdl:input message="tns:ReadKHBF_BFDJ_DETAILSoapIn" />
      <wsdl:output message="tns:ReadKHBF_BFDJ_DETAILSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_SummaryTotal">
      <wsdl:input message="tns:ReadKHBF_ReportByStaff_SummaryTotalSoapIn" />
      <wsdl:output message="tns:ReadKHBF_ReportByStaff_SummaryTotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_Summary">
      <wsdl:input message="tns:ReadKHBF_ReportByStaff_SummarySoapIn" />
      <wsdl:output message="tns:ReadKHBF_ReportByStaff_SummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_Detail">
      <wsdl:input message="tns:ReadKHBF_ReportByStaff_DetailSoapIn" />
      <wsdl:output message="tns:ReadKHBF_ReportByStaff_DetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByDate_Summary">
      <wsdl:input message="tns:ReadKHBF_ReportByDate_SummarySoapIn" />
      <wsdl:output message="tns:ReadKHBF_ReportByDate_SummarySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BF_BFHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_BFDJ">
      <wsdl:input message="tns:Delete_BFDJHttpGetIn" />
      <wsdl:output message="tns:Delete_BFDJHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_BFJH">
      <wsdl:input message="tns:Delete_BFJHHttpGetIn" />
      <wsdl:output message="tns:Delete_BFJHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByBFDJID">
      <wsdl:input message="tns:ReadByBFDJIDHttpGetIn" />
      <wsdl:output message="tns:ReadByBFDJIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParams">
      <wsdl:input message="tns:ReadByParamsHttpGetIn" />
      <wsdl:output message="tns:ReadByParamsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_BFJDByID">
      <wsdl:input message="tns:Read_BFJDByIDHttpGetIn" />
      <wsdl:output message="tns:Read_BFJDByIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BF_BFHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_BFDJ">
      <wsdl:input message="tns:Delete_BFDJHttpPostIn" />
      <wsdl:output message="tns:Delete_BFDJHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_BFJH">
      <wsdl:input message="tns:Delete_BFJHHttpPostIn" />
      <wsdl:output message="tns:Delete_BFJHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByBFDJID">
      <wsdl:input message="tns:ReadByBFDJIDHttpPostIn" />
      <wsdl:output message="tns:ReadByBFDJIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParams">
      <wsdl:input message="tns:ReadByParamsHttpPostIn" />
      <wsdl:output message="tns:ReadByParamsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_BFJDByID">
      <wsdl:input message="tns:Read_BFJDByIDHttpPostIn" />
      <wsdl:output message="tns:Read_BFJDByIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BF_BFSoap" type="tns:BF_BFSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_BFDJ">
      <soap:operation soapAction="http://tempuri.org/Create_BFDJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_BFDJ">
      <soap:operation soapAction="http://tempuri.org/Update_BFDJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_BFDJ">
      <soap:operation soapAction="http://tempuri.org/Delete_BFDJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_BFJH">
      <soap:operation soapAction="http://tempuri.org/Create_BFJH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_BFJH">
      <soap:operation soapAction="http://tempuri.org/Update_BFJH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_BFJH">
      <soap:operation soapAction="http://tempuri.org/Delete_BFJH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_STAFF">
      <soap:operation soapAction="http://tempuri.org/Report_STAFF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_KH">
      <soap:operation soapAction="http://tempuri.org/Report_KH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_BFDJ">
      <soap:operation soapAction="http://tempuri.org/Report_BFDJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByBFDJID">
      <soap:operation soapAction="http://tempuri.org/ReadByBFDJID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_Summary">
      <soap:operation soapAction="http://tempuri.org/Report_Summary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_Detail">
      <soap:operation soapAction="http://tempuri.org/Report_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParams">
      <soap:operation soapAction="http://tempuri.org/ReadByParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_BFJDByID">
      <soap:operation soapAction="http://tempuri.org/Read_BFJDByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_BFDJ_SUMMARY">
      <soap:operation soapAction="http://tempuri.org/ReadKHBF_BFDJ_SUMMARY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_BFDJ_DETAIL">
      <soap:operation soapAction="http://tempuri.org/ReadKHBF_BFDJ_DETAIL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_SummaryTotal">
      <soap:operation soapAction="http://tempuri.org/ReadKHBF_ReportByStaff_SummaryTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_Summary">
      <soap:operation soapAction="http://tempuri.org/ReadKHBF_ReportByStaff_Summary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_Detail">
      <soap:operation soapAction="http://tempuri.org/ReadKHBF_ReportByStaff_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByDate_Summary">
      <soap:operation soapAction="http://tempuri.org/ReadKHBF_ReportByDate_Summary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BF_BFSoap12" type="tns:BF_BFSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_BFDJ">
      <soap12:operation soapAction="http://tempuri.org/Create_BFDJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_BFDJ">
      <soap12:operation soapAction="http://tempuri.org/Update_BFDJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_BFDJ">
      <soap12:operation soapAction="http://tempuri.org/Delete_BFDJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_BFJH">
      <soap12:operation soapAction="http://tempuri.org/Create_BFJH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_BFJH">
      <soap12:operation soapAction="http://tempuri.org/Update_BFJH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_BFJH">
      <soap12:operation soapAction="http://tempuri.org/Delete_BFJH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_STAFF">
      <soap12:operation soapAction="http://tempuri.org/Report_STAFF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_KH">
      <soap12:operation soapAction="http://tempuri.org/Report_KH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_BFDJ">
      <soap12:operation soapAction="http://tempuri.org/Report_BFDJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByBFDJID">
      <soap12:operation soapAction="http://tempuri.org/ReadByBFDJID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_Summary">
      <soap12:operation soapAction="http://tempuri.org/Report_Summary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_Detail">
      <soap12:operation soapAction="http://tempuri.org/Report_Detail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParams">
      <soap12:operation soapAction="http://tempuri.org/ReadByParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_BFJDByID">
      <soap12:operation soapAction="http://tempuri.org/Read_BFJDByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_BFDJ_SUMMARY">
      <soap12:operation soapAction="http://tempuri.org/ReadKHBF_BFDJ_SUMMARY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_BFDJ_DETAIL">
      <soap12:operation soapAction="http://tempuri.org/ReadKHBF_BFDJ_DETAIL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_SummaryTotal">
      <soap12:operation soapAction="http://tempuri.org/ReadKHBF_ReportByStaff_SummaryTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_Summary">
      <soap12:operation soapAction="http://tempuri.org/ReadKHBF_ReportByStaff_Summary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByStaff_Detail">
      <soap12:operation soapAction="http://tempuri.org/ReadKHBF_ReportByStaff_Detail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadKHBF_ReportByDate_Summary">
      <soap12:operation soapAction="http://tempuri.org/ReadKHBF_ReportByDate_Summary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BF_BFHttpGet" type="tns:BF_BFHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_BFDJ">
      <http:operation location="/Delete_BFDJ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_BFJH">
      <http:operation location="/Delete_BFJH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByBFDJID">
      <http:operation location="/ReadByBFDJID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParams">
      <http:operation location="/ReadByParams" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_BFJDByID">
      <http:operation location="/Read_BFJDByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BF_BFHttpPost" type="tns:BF_BFHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_BFDJ">
      <http:operation location="/Delete_BFDJ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_BFJH">
      <http:operation location="/Delete_BFJH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByBFDJID">
      <http:operation location="/ReadByBFDJID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParams">
      <http:operation location="/ReadByParams" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_BFJDByID">
      <http:operation location="/Read_BFJDByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BF_BF">
    <wsdl:port name="BF_BFSoap" binding="tns:BF_BFSoap">
      <soap:address location="http://192.168.0.135/API/CRM/BF_BF.asmx" />
    </wsdl:port>
    <wsdl:port name="BF_BFSoap12" binding="tns:BF_BFSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/BF_BF.asmx" />
    </wsdl:port>
    <wsdl:port name="BF_BFHttpGet" binding="tns:BF_BFHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/BF_BF.asmx" />
    </wsdl:port>
    <wsdl:port name="BF_BFHttpPost" binding="tns:BF_BFHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/BF_BF.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>