Sonluk.UI.Model/Service References/MES.PD_SCRWService/PD_SCRW1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RWLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GDDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BCMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PFLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PFDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PLDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="XFWLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLRMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JLTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TLSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SIZE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRGH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TMCOUNT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CPZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ERPNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBFL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GYSPC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CXLB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SELECT_MES_PD_SCRW">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_PD_SCRW_LIST" type="tns:ArrayOfMES_PD_SCRW_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="TMINFO" type="tns:MES_TM_TMINFO_INSERT_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_PD_SCRW_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_PD_SCRW_LIST" nillable="true" type="tns:MES_PD_SCRW_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_PD_SCRW_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GCDYMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BCMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PFDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PLDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="XFCDNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XFPC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLRMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JLTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GDLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GDDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GDSL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UNITSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERPNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DCXH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DCXHNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DCDJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DCDJNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAY_CHECKED" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="XFWLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TLSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RWLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISOPEN" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XSNOBILL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSNOBILLMX" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MPSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BZCOUNT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BZBS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GYSPC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SCRWTLCOUNT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BGSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MAXVALUE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MINVALUE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RQM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XDGX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLGROUP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLGROUPNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISLEAVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_TM_TMINFO_INSERT_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SELECT_MES_TM_TMINFO_PRINT" type="tns:ArrayOfSELECT_MES_TM_TMINFO_PRINT" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSELECT_MES_TM_TMINFO_PRINT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SELECT_MES_TM_TMINFO_PRINT" nillable="true" type="tns:SELECT_MES_TM_TMINFO_PRINT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SELECT_MES_TM_TMINFO_PRINT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_TM_TMINFO_LIST" type="tns:MES_TM_TMINFO_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_TM_TMINFO_LIST_CHILD" type="tns:ArrayOfMES_TM_TMINFO_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="CZR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_TM_ZFDCMX" type="tns:ArrayOfMES_TM_ZFDCMX" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_TM_TMINFO_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TMLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SCDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BCMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GCDYMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBHMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLCJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GYLX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GYS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GYSMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GYSPC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CPZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CPZTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PFDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PLDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="KSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XFWLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XFCDNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DCDJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DCDJMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DCXH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DCXHMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SBCD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SBCDMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLRMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JLTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NOBILL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOBILLMX" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERPNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TLTMID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SBZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SIZE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SIZENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSCX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYCPGG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="THGG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DCSLBS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DCSLMBSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DCSLYS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RQM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GDSL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ZFDCLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZFDCLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDDNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CGBILL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CGBILLMX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLPZBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLPZND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLPZH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CFTS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLGROUP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLGROUPNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XDGX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XDGXNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLPZHXMH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLBPX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VDATU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCDATEP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_TM_TMINFO_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_TM_TMINFO_LIST" nillable="true" type="tns:MES_TM_TMINFO_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_TM_ZFDCMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_TM_ZFDCMX" nillable="true" type="tns:MES_TM_ZFDCMX" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_TM_ZFDCMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_SCRW_GD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_SCRW_GDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_SCRW_GDResult" type="tns:MES_PD_SCRWANDPD_LIST_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRWANDPD_LIST_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_PD_SCRWANDPD_LIST" type="tns:ArrayOfMES_PD_SCRWANDPD_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_PD_SCRWANDPD_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_PD_SCRWANDPD_LIST" nillable="true" type="tns:MES_PD_SCRWANDPD_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_PD_SCRWANDPD_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GDDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UNITSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERPNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BCMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_LIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfMES_PD_SCRW_LIST" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_LISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_LISTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_ZPQD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_ZPQDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_ZPQDResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LASTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_LASTResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_FJTL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_FJTLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_FJTLResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_FJCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_FJCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_FJCCResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FJTL_VERIFY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_TL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_TL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TLRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TLLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FJTL_VERIFYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FJTL_VERIFYResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_ZXCCINFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BC" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_ZXCCINFOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_ZXCCINFOResult" type="tns:MES_PD_SCRW_CCTH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW_CCTH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZX_CC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_ZXCC_INSERT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW_ZXCC_INSERT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CPZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DCSLBS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DCSLMBSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DCSLYS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZFDCLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CFTS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_TM_ZFDCMX" type="tns:ArrayOfMES_TM_ZFDCMX" />
          <s:element minOccurs="0" maxOccurs="1" name="MAC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YEAR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZX_CCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZX_CCResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZX_CC_NOUPDATE_TIME">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_ZXCC_INSERT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZX_CC_NOUPDATE_TIMEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZX_CC_NOUPDATE_TIMEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZX_CC_OLD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_ZXCC_INSERT" />
            <s:element minOccurs="0" maxOccurs="1" name="YEAR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZX_CC_OLDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZX_CC_OLDResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_ZX_LIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_ZX_LISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_ZX_LISTResult" type="tns:SELECT_MES_PD_SCRW_ZX_LIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SELECT_MES_PD_SCRW_ZX_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_TM_TMINFO_LIST" type="tns:ArrayOfMES_TM_TMINFO_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:element name="DELETE_ZXCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_ZXCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_ZXCCResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_SCRW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_SCRWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_SCRWResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_RWBH_BY_ERPNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_GET_BY_ERPNO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW_GET_BY_ERPNO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERPNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GET_RWBH_BY_ERPNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_RWBH_BY_ERPNOResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_RWBH_BY_ERPNO_OLD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_GET_BY_ERPNO" />
            <s:element minOccurs="0" maxOccurs="1" name="YEAR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_RWBH_BY_ERPNO_OLDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_RWBH_BY_ERPNO_OLDResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_RWBH_BY_TPM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_GET_BY_TPM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW_GET_BY_TPM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GET_RWBH_BY_TPMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_RWBH_BY_TPMResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_BY_FJPD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_BY_FJPDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_BY_FJPDResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_BY_ROLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_BY_ROLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_BY_ROLEResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_GZZX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BC" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GDDH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZPRQ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_GZZXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_GZZXResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_BY_TM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_SELECT_BY_TM" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW_SELECT_BY_TM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_BY_TMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_BY_TMResult" type="tns:SELECT_MES_PD_SCRW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_SUM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_SUM_LIST" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW_SUM_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PFDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COUNT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_SUMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_SUMResult" type="tns:MES_PD_SCRW_SUM_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW_SUM_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_PD_SCRW_SUM_LIST" type="tns:ArrayOfMES_PD_SCRW_SUM_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_PD_SCRW_SUM_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_PD_SCRW_SUM_LIST" nillable="true" type="tns:MES_PD_SCRW_SUM_LIST" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_JDKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_FJ_RWKB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_FJ_RWKB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PFDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ALLSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZPRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WCSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TH" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_JDKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_JDKBResult" type="tns:MES_SY_FJ_RWKB_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_FJ_RWKB_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_FJ_RWKB" type="tns:ArrayOfMES_SY_FJ_RWKB" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_SY_FJ_RWKB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_FJ_RWKB" nillable="true" type="tns:MES_SY_FJ_RWKB" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_YEAR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW" />
            <s:element minOccurs="0" maxOccurs="1" name="YEAR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_YEARResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_YEARResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_ALL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_SCRW_UPDATE_IN" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_SCRW_UPDATE_IN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RWBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISLEAVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_ALLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_ALLResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_PD_SCRW_CCTH" nillable="true" type="tns:MES_PD_SCRW_CCTH" />
      <s:element name="SELECT_MES_PD_SCRW_ZX_LIST" nillable="true" type="tns:SELECT_MES_PD_SCRW_ZX_LIST" />
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_SCRW_GDSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_SCRW_GD" />
  </wsdl:message>
  <wsdl:message name="SELECT_SCRW_GDSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_SCRW_GDResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_LISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_LIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_LISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_LISTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZPQDSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_ZPQD" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZPQDSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_ZPQDResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_LASTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_LAST" />
  </wsdl:message>
  <wsdl:message name="SELECT_LASTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_LASTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_FJTLSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_FJTL" />
  </wsdl:message>
  <wsdl:message name="UPDATE_FJTLSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_FJTLResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_FJCCSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_FJCC" />
  </wsdl:message>
  <wsdl:message name="UPDATE_FJCCSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_FJCCResponse" />
  </wsdl:message>
  <wsdl:message name="FJTL_VERIFYSoapIn">
    <wsdl:part name="parameters" element="tns:FJTL_VERIFY" />
  </wsdl:message>
  <wsdl:message name="FJTL_VERIFYSoapOut">
    <wsdl:part name="parameters" element="tns:FJTL_VERIFYResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZXCCINFOSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_ZXCCINFO" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZXCCINFOSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_ZXCCINFOResponse" />
  </wsdl:message>
  <wsdl:message name="ZX_CCSoapIn">
    <wsdl:part name="parameters" element="tns:ZX_CC" />
  </wsdl:message>
  <wsdl:message name="ZX_CCSoapOut">
    <wsdl:part name="parameters" element="tns:ZX_CCResponse" />
  </wsdl:message>
  <wsdl:message name="ZX_CC_NOUPDATE_TIMESoapIn">
    <wsdl:part name="parameters" element="tns:ZX_CC_NOUPDATE_TIME" />
  </wsdl:message>
  <wsdl:message name="ZX_CC_NOUPDATE_TIMESoapOut">
    <wsdl:part name="parameters" element="tns:ZX_CC_NOUPDATE_TIMEResponse" />
  </wsdl:message>
  <wsdl:message name="ZX_CC_OLDSoapIn">
    <wsdl:part name="parameters" element="tns:ZX_CC_OLD" />
  </wsdl:message>
  <wsdl:message name="ZX_CC_OLDSoapOut">
    <wsdl:part name="parameters" element="tns:ZX_CC_OLDResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZX_LISTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_ZX_LIST" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZX_LISTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_ZX_LISTResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_ZXCCSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_ZXCC" />
  </wsdl:message>
  <wsdl:message name="DELETE_ZXCCSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_ZXCCResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_SCRWSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_SCRW" />
  </wsdl:message>
  <wsdl:message name="UPDATE_SCRWSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_SCRWResponse" />
  </wsdl:message>
  <wsdl:message name="GET_RWBH_BY_ERPNOSoapIn">
    <wsdl:part name="parameters" element="tns:GET_RWBH_BY_ERPNO" />
  </wsdl:message>
  <wsdl:message name="GET_RWBH_BY_ERPNOSoapOut">
    <wsdl:part name="parameters" element="tns:GET_RWBH_BY_ERPNOResponse" />
  </wsdl:message>
  <wsdl:message name="GET_RWBH_BY_ERPNO_OLDSoapIn">
    <wsdl:part name="parameters" element="tns:GET_RWBH_BY_ERPNO_OLD" />
  </wsdl:message>
  <wsdl:message name="GET_RWBH_BY_ERPNO_OLDSoapOut">
    <wsdl:part name="parameters" element="tns:GET_RWBH_BY_ERPNO_OLDResponse" />
  </wsdl:message>
  <wsdl:message name="GET_RWBH_BY_TPMSoapIn">
    <wsdl:part name="parameters" element="tns:GET_RWBH_BY_TPM" />
  </wsdl:message>
  <wsdl:message name="GET_RWBH_BY_TPMSoapOut">
    <wsdl:part name="parameters" element="tns:GET_RWBH_BY_TPMResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_BY_FJPDSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_BY_FJPD" />
  </wsdl:message>
  <wsdl:message name="INSERT_BY_FJPDSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_BY_FJPDResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_ROLESoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_BY_ROLE" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_ROLESoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_BY_ROLEResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_GZZXSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_GZZX" />
  </wsdl:message>
  <wsdl:message name="DELETE_GZZXSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_GZZXResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_TMSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_BY_TM" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_TMSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_BY_TMResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_SUMSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_SUM" />
  </wsdl:message>
  <wsdl:message name="SELECT_SUMSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_SUMResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_JDKBSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_JDKB" />
  </wsdl:message>
  <wsdl:message name="SELECT_JDKBSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_JDKBResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_YEARSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_YEAR" />
  </wsdl:message>
  <wsdl:message name="INSERT_YEARSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_YEARResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_ALLSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_ALL" />
  </wsdl:message>
  <wsdl:message name="UPDATE_ALLSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_ALLResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZXCCINFOHttpGetIn">
    <wsdl:part name="RWBH" type="s:string" />
    <wsdl:part name="BC" type="s:string" />
    <wsdl:part name="LB" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZXCCINFOHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_PD_SCRW_CCTH" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZX_LISTHttpGetIn">
    <wsdl:part name="RWBH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZX_LISTHttpGetOut">
    <wsdl:part name="Body" element="tns:SELECT_MES_PD_SCRW_ZX_LIST" />
  </wsdl:message>
  <wsdl:message name="DELETE_ZXCCHttpGetIn">
    <wsdl:part name="TM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_ZXCCHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_GZZXHttpGetIn">
    <wsdl:part name="GC" type="s:string" />
    <wsdl:part name="GZZXBH" type="s:string" />
    <wsdl:part name="BC" type="s:string" />
    <wsdl:part name="GDDH" type="s:string" />
    <wsdl:part name="ZPRQ" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_GZZXHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZXCCINFOHttpPostIn">
    <wsdl:part name="RWBH" type="s:string" />
    <wsdl:part name="BC" type="s:string" />
    <wsdl:part name="LB" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZXCCINFOHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_PD_SCRW_CCTH" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZX_LISTHttpPostIn">
    <wsdl:part name="RWBH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_ZX_LISTHttpPostOut">
    <wsdl:part name="Body" element="tns:SELECT_MES_PD_SCRW_ZX_LIST" />
  </wsdl:message>
  <wsdl:message name="DELETE_ZXCCHttpPostIn">
    <wsdl:part name="TM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_ZXCCHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_GZZXHttpPostIn">
    <wsdl:part name="GC" type="s:string" />
    <wsdl:part name="GZZXBH" type="s:string" />
    <wsdl:part name="BC" type="s:string" />
    <wsdl:part name="GDDH" type="s:string" />
    <wsdl:part name="ZPRQ" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_GZZXHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="PD_SCRWSoap">
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_SCRW_GD">
      <wsdl:input message="tns:SELECT_SCRW_GDSoapIn" />
      <wsdl:output message="tns:SELECT_SCRW_GDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_LIST">
      <wsdl:input message="tns:INSERT_LISTSoapIn" />
      <wsdl:output message="tns:INSERT_LISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZPQD">
      <wsdl:input message="tns:SELECT_ZPQDSoapIn" />
      <wsdl:output message="tns:SELECT_ZPQDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAST">
      <wsdl:input message="tns:SELECT_LASTSoapIn" />
      <wsdl:output message="tns:SELECT_LASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_FJTL">
      <wsdl:input message="tns:UPDATE_FJTLSoapIn" />
      <wsdl:output message="tns:UPDATE_FJTLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_FJCC">
      <wsdl:input message="tns:UPDATE_FJCCSoapIn" />
      <wsdl:output message="tns:UPDATE_FJCCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FJTL_VERIFY">
      <wsdl:input message="tns:FJTL_VERIFYSoapIn" />
      <wsdl:output message="tns:FJTL_VERIFYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZXCCINFO">
      <wsdl:input message="tns:SELECT_ZXCCINFOSoapIn" />
      <wsdl:output message="tns:SELECT_ZXCCINFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZX_CC">
      <wsdl:input message="tns:ZX_CCSoapIn" />
      <wsdl:output message="tns:ZX_CCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZX_CC_NOUPDATE_TIME">
      <wsdl:input message="tns:ZX_CC_NOUPDATE_TIMESoapIn" />
      <wsdl:output message="tns:ZX_CC_NOUPDATE_TIMESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZX_CC_OLD">
      <wsdl:input message="tns:ZX_CC_OLDSoapIn" />
      <wsdl:output message="tns:ZX_CC_OLDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZX_LIST">
      <wsdl:input message="tns:SELECT_ZX_LISTSoapIn" />
      <wsdl:output message="tns:SELECT_ZX_LISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_ZXCC">
      <wsdl:input message="tns:DELETE_ZXCCSoapIn" />
      <wsdl:output message="tns:DELETE_ZXCCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SCRW">
      <wsdl:input message="tns:UPDATE_SCRWSoapIn" />
      <wsdl:output message="tns:UPDATE_SCRWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_ERPNO">
      <wsdl:input message="tns:GET_RWBH_BY_ERPNOSoapIn" />
      <wsdl:output message="tns:GET_RWBH_BY_ERPNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_ERPNO_OLD">
      <wsdl:input message="tns:GET_RWBH_BY_ERPNO_OLDSoapIn" />
      <wsdl:output message="tns:GET_RWBH_BY_ERPNO_OLDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_TPM">
      <wsdl:input message="tns:GET_RWBH_BY_TPMSoapIn" />
      <wsdl:output message="tns:GET_RWBH_BY_TPMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_BY_FJPD">
      <wsdl:input message="tns:INSERT_BY_FJPDSoapIn" />
      <wsdl:output message="tns:INSERT_BY_FJPDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_ROLE">
      <wsdl:input message="tns:SELECT_BY_ROLESoapIn" />
      <wsdl:output message="tns:SELECT_BY_ROLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_GZZX">
      <wsdl:input message="tns:DELETE_GZZXSoapIn" />
      <wsdl:output message="tns:DELETE_GZZXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_TM">
      <wsdl:input message="tns:SELECT_BY_TMSoapIn" />
      <wsdl:output message="tns:SELECT_BY_TMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_SUM">
      <wsdl:input message="tns:SELECT_SUMSoapIn" />
      <wsdl:output message="tns:SELECT_SUMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_JDKB">
      <wsdl:input message="tns:SELECT_JDKBSoapIn" />
      <wsdl:output message="tns:SELECT_JDKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_YEAR">
      <wsdl:input message="tns:INSERT_YEARSoapIn" />
      <wsdl:output message="tns:INSERT_YEARSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ALL">
      <wsdl:input message="tns:UPDATE_ALLSoapIn" />
      <wsdl:output message="tns:UPDATE_ALLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PD_SCRWHttpGet">
    <wsdl:operation name="SELECT_ZXCCINFO">
      <wsdl:input message="tns:SELECT_ZXCCINFOHttpGetIn" />
      <wsdl:output message="tns:SELECT_ZXCCINFOHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZX_LIST">
      <wsdl:input message="tns:SELECT_ZX_LISTHttpGetIn" />
      <wsdl:output message="tns:SELECT_ZX_LISTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_ZXCC">
      <wsdl:input message="tns:DELETE_ZXCCHttpGetIn" />
      <wsdl:output message="tns:DELETE_ZXCCHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_GZZX">
      <wsdl:input message="tns:DELETE_GZZXHttpGetIn" />
      <wsdl:output message="tns:DELETE_GZZXHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PD_SCRWHttpPost">
    <wsdl:operation name="SELECT_ZXCCINFO">
      <wsdl:input message="tns:SELECT_ZXCCINFOHttpPostIn" />
      <wsdl:output message="tns:SELECT_ZXCCINFOHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZX_LIST">
      <wsdl:input message="tns:SELECT_ZX_LISTHttpPostIn" />
      <wsdl:output message="tns:SELECT_ZX_LISTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_ZXCC">
      <wsdl:input message="tns:DELETE_ZXCCHttpPostIn" />
      <wsdl:output message="tns:DELETE_ZXCCHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_GZZX">
      <wsdl:input message="tns:DELETE_GZZXHttpPostIn" />
      <wsdl:output message="tns:DELETE_GZZXHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PD_SCRWSoap" type="tns:PD_SCRWSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SCRW_GD">
      <soap:operation soapAction="http://tempuri.org/SELECT_SCRW_GD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_LIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_LIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZPQD">
      <soap:operation soapAction="http://tempuri.org/SELECT_ZPQD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAST">
      <soap:operation soapAction="http://tempuri.org/SELECT_LAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_FJTL">
      <soap:operation soapAction="http://tempuri.org/UPDATE_FJTL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_FJCC">
      <soap:operation soapAction="http://tempuri.org/UPDATE_FJCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FJTL_VERIFY">
      <soap:operation soapAction="http://tempuri.org/FJTL_VERIFY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZXCCINFO">
      <soap:operation soapAction="http://tempuri.org/SELECT_ZXCCINFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZX_CC">
      <soap:operation soapAction="http://tempuri.org/ZX_CC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZX_CC_NOUPDATE_TIME">
      <soap:operation soapAction="http://tempuri.org/ZX_CC_NOUPDATE_TIME" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZX_CC_OLD">
      <soap:operation soapAction="http://tempuri.org/ZX_CC_OLD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZX_LIST">
      <soap:operation soapAction="http://tempuri.org/SELECT_ZX_LIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_ZXCC">
      <soap:operation soapAction="http://tempuri.org/DELETE_ZXCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SCRW">
      <soap:operation soapAction="http://tempuri.org/UPDATE_SCRW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_ERPNO">
      <soap:operation soapAction="http://tempuri.org/GET_RWBH_BY_ERPNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_ERPNO_OLD">
      <soap:operation soapAction="http://tempuri.org/GET_RWBH_BY_ERPNO_OLD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_TPM">
      <soap:operation soapAction="http://tempuri.org/GET_RWBH_BY_TPM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_BY_FJPD">
      <soap:operation soapAction="http://tempuri.org/INSERT_BY_FJPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_ROLE">
      <soap:operation soapAction="http://tempuri.org/SELECT_BY_ROLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_GZZX">
      <soap:operation soapAction="http://tempuri.org/DELETE_GZZX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_TM">
      <soap:operation soapAction="http://tempuri.org/SELECT_BY_TM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SUM">
      <soap:operation soapAction="http://tempuri.org/SELECT_SUM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_JDKB">
      <soap:operation soapAction="http://tempuri.org/SELECT_JDKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_YEAR">
      <soap:operation soapAction="http://tempuri.org/INSERT_YEAR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ALL">
      <soap:operation soapAction="http://tempuri.org/UPDATE_ALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PD_SCRWSoap12" type="tns:PD_SCRWSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SCRW_GD">
      <soap12:operation soapAction="http://tempuri.org/SELECT_SCRW_GD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_LIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_LIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZPQD">
      <soap12:operation soapAction="http://tempuri.org/SELECT_ZPQD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAST">
      <soap12:operation soapAction="http://tempuri.org/SELECT_LAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_FJTL">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_FJTL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_FJCC">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_FJCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FJTL_VERIFY">
      <soap12:operation soapAction="http://tempuri.org/FJTL_VERIFY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZXCCINFO">
      <soap12:operation soapAction="http://tempuri.org/SELECT_ZXCCINFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZX_CC">
      <soap12:operation soapAction="http://tempuri.org/ZX_CC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZX_CC_NOUPDATE_TIME">
      <soap12:operation soapAction="http://tempuri.org/ZX_CC_NOUPDATE_TIME" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZX_CC_OLD">
      <soap12:operation soapAction="http://tempuri.org/ZX_CC_OLD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZX_LIST">
      <soap12:operation soapAction="http://tempuri.org/SELECT_ZX_LIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_ZXCC">
      <soap12:operation soapAction="http://tempuri.org/DELETE_ZXCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SCRW">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_SCRW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_ERPNO">
      <soap12:operation soapAction="http://tempuri.org/GET_RWBH_BY_ERPNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_ERPNO_OLD">
      <soap12:operation soapAction="http://tempuri.org/GET_RWBH_BY_ERPNO_OLD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_RWBH_BY_TPM">
      <soap12:operation soapAction="http://tempuri.org/GET_RWBH_BY_TPM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_BY_FJPD">
      <soap12:operation soapAction="http://tempuri.org/INSERT_BY_FJPD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_ROLE">
      <soap12:operation soapAction="http://tempuri.org/SELECT_BY_ROLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_GZZX">
      <soap12:operation soapAction="http://tempuri.org/DELETE_GZZX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_TM">
      <soap12:operation soapAction="http://tempuri.org/SELECT_BY_TM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SUM">
      <soap12:operation soapAction="http://tempuri.org/SELECT_SUM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_JDKB">
      <soap12:operation soapAction="http://tempuri.org/SELECT_JDKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_YEAR">
      <soap12:operation soapAction="http://tempuri.org/INSERT_YEAR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ALL">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_ALL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PD_SCRWHttpGet" type="tns:PD_SCRWHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SELECT_ZXCCINFO">
      <http:operation location="/SELECT_ZXCCINFO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZX_LIST">
      <http:operation location="/SELECT_ZX_LIST" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_ZXCC">
      <http:operation location="/DELETE_ZXCC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_GZZX">
      <http:operation location="/DELETE_GZZX" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PD_SCRWHttpPost" type="tns:PD_SCRWHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SELECT_ZXCCINFO">
      <http:operation location="/SELECT_ZXCCINFO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ZX_LIST">
      <http:operation location="/SELECT_ZX_LIST" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_ZXCC">
      <http:operation location="/DELETE_ZXCC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_GZZX">
      <http:operation location="/DELETE_GZZX" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PD_SCRW">
    <wsdl:port name="PD_SCRWSoap" binding="tns:PD_SCRWSoap">
      <soap:address location="http://192.168.0.223/API/MES/PD_SCRW.asmx" />
    </wsdl:port>
    <wsdl:port name="PD_SCRWSoap12" binding="tns:PD_SCRWSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/PD_SCRW.asmx" />
    </wsdl:port>
    <wsdl:port name="PD_SCRWHttpGet" binding="tns:PD_SCRWHttpGet">
      <http:address location="http://192.168.0.223/API/MES/PD_SCRW.asmx" />
    </wsdl:port>
    <wsdl:port name="PD_SCRWHttpPost" binding="tns:PD_SCRWHttpPost">
      <http:address location="http://192.168.0.223/API/MES/PD_SCRW.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>