Sonluk.UI.Model/Service References/HR.RY_RYINFOService/RY_RYINFO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_RYINFO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ALLGS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stringDEPT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSBM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSBMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZZT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stringZZZT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZZTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RZDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LZRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZTYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIRTHDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFZYXRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YGXZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YGXZNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YGTYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YGTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GLQSR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GHOLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DUTYNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JOBS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JOBSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GJNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HYZK" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HYZKNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZMM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZMMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HJADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JZADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PHONENUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MZNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NSRSBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NSRSF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NSRSFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISINGH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GHDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RZRQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RZRQJS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STUDEFS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STUDEFSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EDUCACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EDUCACTIONNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOSELECT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISLS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LSNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISGL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISJZZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JZZYYQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISHY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HYNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HYYYQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGLB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JZDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTSXRQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTSXRQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LZRQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LZRQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ALLRYID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GHDATEKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GHDATEJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISINGHSTRING" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIRTHDAYKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIRTHDAYJS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEJS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISECRZ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZWLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZWLEVELLIST" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EDUCACTIONSCHOOL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PHONESHORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RYINFOLIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="FPDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HJTYPE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OFFICEPLACE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OFFICEPLACELIST" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:HR_RY_RYINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_RYINFO_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_RYINFO_LIST" type="tns:ArrayOfHR_RY_RYINFO_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_RYINFO_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_RYINFO_LIST" nillable="true" type="tns:HR_RY_RYINFO_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_RYINFO_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GSBM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSBMNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZZTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RZDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LZRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZTYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BIRTHDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFZYXRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YGXZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YGXZNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YGTYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YGTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GLQSR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GHOLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DUTYNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JOBS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JOBSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GJNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HYZK" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HYZKNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZMM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZMMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HJADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JZADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PHONENUMBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MZNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NSRSBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NSRSF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NSRSFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISINGH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GHDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STUDEFS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STUDEFSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EDUCACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EDUCACTIONNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DUTYLEVEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISLS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LSNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISGL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISJZZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JZZYYQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISHY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HYNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HYYYQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSBMGSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HTZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HTZTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HTQXLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HTQXLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTQX" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HTQCS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SYDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QDRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SXRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DQR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GSLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLEVELNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YLKSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YLJSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WJID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WBZWID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WBZWNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBZWDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBPYRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBJZRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBZWREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BZNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISECRZ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZWLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZWLEVELNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSJC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEFILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDUCACTIONSCHOOL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PHONESHORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FPDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HJTYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HJTYPENAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OFFICEPLACE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OFFICEPLACENAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCLMSG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_RY_RYINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_ALL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_ALLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_ALLResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_PIC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_PICResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_PICResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_CHECK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_CHECKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_CHECKResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_DEPT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfHR_RY_RYINFO" />
            <s:element minOccurs="1" maxOccurs="1" name="DEPT" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="GSBM" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHR_RY_RYINFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_RYINFO" nillable="true" type="tns:HR_RY_RYINFO" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_DEPTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_DEPTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_YGTYPE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfHR_RY_RYINFO" />
            <s:element minOccurs="1" maxOccurs="1" name="YGTYPE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ZZZT" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_YGTYPEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_YGTYPEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_JOBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfHR_RY_RYINFO" />
            <s:element minOccurs="1" maxOccurs="1" name="JOBS" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_JOBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_JOBSResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_QUIT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_QUITResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_QUITResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_CHANGEINFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO_CHANGEINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_RYINFO_CHANGEINFO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CHANGEID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHANGERQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CHANGELB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OLD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OLDNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NEW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NEWNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CHANGGEYY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHANGGEYYNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_CHANGEINFOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_CHANGEINFOResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_ISINGH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_ISINGHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_ISINGHResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_DUTYNAME">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_DUTYNAMEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_DUTYNAMEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GSGL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GSGLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_GSGLResult" type="tns:HR_RY_RYINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_WJGL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_WJGLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_WJGLResult" type="tns:HR_RY_RYINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_WBZW">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_WBZWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_WBZWResult" type="tns:HR_RY_RYINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_RONGY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RONGY" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_RONGY">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RONGYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RONGYLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RONGYLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RONGYJB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RONGYJBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RONGYNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BJDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HJRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YXQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YXQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZJG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RONGYND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RONGYNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FILEURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_RONGYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_RONGYResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_RONGY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RONGY" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_RONGYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_RONGYResult" type="tns:HR_RY_RONGY_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_RONGY_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_RONGY_LIST" type="tns:ArrayOfHR_RY_RONGY_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_RONGY_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_RONGY_LIST" nillable="true" type="tns:HR_RY_RONGY_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_RONGY_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RONGYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RONGYLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RONGYLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RONGYJB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RONGYJBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RONGYNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BJDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HJRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YXQKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YXQJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZJG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAMEALL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RYIDALL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RYFILEID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FILEURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_RONGY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RONGY" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_RONGYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_RONGYResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_RONGY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RONGYID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_RONGYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_RONGYResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_RONGY_RYID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RONGYID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_RONGY_RYIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_RONGY_RYIDResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_RONGY_RYID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RONGYID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_RONGY_RYIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_RONGY_RYIDResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_RONGY_RYID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_RONGY_RYIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_RONGY_RYIDResult" type="tns:HR_RY_RONGY_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_RONGY_FILE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RONGY" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_RONGY_FILEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_RONGY_FILEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_RONGY_FILE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RONGYID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_RONGY_FILEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_RONGY_FILEResult" type="tns:HR_RY_RONGY_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_RONGY_FILE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RYFILEID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_RONGY_FILEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_RONGY_FILEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_LBResult" type="tns:HR_RY_RYINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LZINFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LZINFOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_LZINFOResult" type="tns:HR_RY_LZINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_LZINFO_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_LZINFO_LIST" type="tns:ArrayOfHR_RY_LZINFO_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_LZINFO_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_LZINFO_LIST" nillable="true" type="tns:HR_RY_LZINFO_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_LZINFO_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_RY_CHANGEINFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO_CHANGEINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_RY_CHANGEINFOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_RY_CHANGEINFOResult" type="tns:HR_RY_CHANGEINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_CHANGEINFO_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_LB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_RYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_LBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_LBResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
      <s:element name="HR_RY_RONGY_SELECT" nillable="true" type="tns:HR_RY_RONGY_SELECT" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_ALLSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_ALL" />
  </wsdl:message>
  <wsdl:message name="UPDATE_ALLSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_ALLResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_PICSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_PIC" />
  </wsdl:message>
  <wsdl:message name="UPDATE_PICSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_PICResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_CHECKSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_CHECK" />
  </wsdl:message>
  <wsdl:message name="UPDATE_CHECKSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_CHECKResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_DEPTSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_DEPT" />
  </wsdl:message>
  <wsdl:message name="UPDATE_DEPTSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_DEPTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_YGTYPESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_YGTYPE" />
  </wsdl:message>
  <wsdl:message name="UPDATE_YGTYPESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_YGTYPEResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_JOBSSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_JOBS" />
  </wsdl:message>
  <wsdl:message name="UPDATE_JOBSSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_JOBSResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_QUITSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_QUIT" />
  </wsdl:message>
  <wsdl:message name="UPDATE_QUITSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_QUITResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_CHANGEINFOSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_CHANGEINFO" />
  </wsdl:message>
  <wsdl:message name="UPDATE_CHANGEINFOSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_CHANGEINFOResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_ISINGHSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_ISINGH" />
  </wsdl:message>
  <wsdl:message name="UPDATE_ISINGHSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_ISINGHResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_DUTYNAMESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_DUTYNAME" />
  </wsdl:message>
  <wsdl:message name="UPDATE_DUTYNAMESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_DUTYNAMEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_GSGLSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_GSGL" />
  </wsdl:message>
  <wsdl:message name="SELECT_GSGLSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_GSGLResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_WJGLSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_WJGL" />
  </wsdl:message>
  <wsdl:message name="SELECT_WJGLSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_WJGLResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_WBZWSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_WBZW" />
  </wsdl:message>
  <wsdl:message name="SELECT_WBZWSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_WBZWResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGYSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_RONGY" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGYSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_RONGYResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGYSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_RONGY" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGYSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_RONGYResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_RONGYSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_RONGY" />
  </wsdl:message>
  <wsdl:message name="UPDATE_RONGYSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_RONGYResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGYSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_RONGY" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGYSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_RONGYResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGY_RYIDSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_RONGY_RYID" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGY_RYIDSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_RONGY_RYIDResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_RYIDSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_RONGY_RYID" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_RYIDSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_RONGY_RYIDResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_RYIDSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_RONGY_RYID" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_RYIDSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_RONGY_RYIDResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGY_FILESoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_RONGY_FILE" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGY_FILESoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_RONGY_FILEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_FILESoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_RONGY_FILE" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_FILESoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_RONGY_FILEResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_FILESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_RONGY_FILE" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_FILESoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_RONGY_FILEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_LBSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_LB" />
  </wsdl:message>
  <wsdl:message name="SELECT_LBSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_LBResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_LZINFOSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_LZINFO" />
  </wsdl:message>
  <wsdl:message name="SELECT_LZINFOSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_LZINFOResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_RY_CHANGEINFOSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_RY_CHANGEINFO" />
  </wsdl:message>
  <wsdl:message name="SELECT_RY_CHANGEINFOSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_RY_CHANGEINFOResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_LBSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_LB" />
  </wsdl:message>
  <wsdl:message name="UPDATE_LBSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_LBResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGYHttpGetIn">
    <wsdl:part name="RONGYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGYHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGY_RYIDHttpGetIn">
    <wsdl:part name="RONGYID" type="s:string" />
    <wsdl:part name="RYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGY_RYIDHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_RYIDHttpGetIn">
    <wsdl:part name="RONGYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_RYIDHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_RYIDHttpGetIn">
    <wsdl:part name="RYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_RYIDHttpGetOut">
    <wsdl:part name="Body" element="tns:HR_RY_RONGY_SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_FILEHttpGetIn">
    <wsdl:part name="RONGYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_FILEHttpGetOut">
    <wsdl:part name="Body" element="tns:HR_RY_RONGY_SELECT" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_FILEHttpGetIn">
    <wsdl:part name="RYFILEID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_FILEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGYHttpPostIn">
    <wsdl:part name="RONGYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGYHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGY_RYIDHttpPostIn">
    <wsdl:part name="RONGYID" type="s:string" />
    <wsdl:part name="RYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INSERT_RONGY_RYIDHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_RYIDHttpPostIn">
    <wsdl:part name="RONGYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_RYIDHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_RYIDHttpPostIn">
    <wsdl:part name="RYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_RYIDHttpPostOut">
    <wsdl:part name="Body" element="tns:HR_RY_RONGY_SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_FILEHttpPostIn">
    <wsdl:part name="RONGYID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_RONGY_FILEHttpPostOut">
    <wsdl:part name="Body" element="tns:HR_RY_RONGY_SELECT" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_FILEHttpPostIn">
    <wsdl:part name="RYFILEID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_RONGY_FILEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="RY_RYINFOSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ALL">
      <wsdl:input message="tns:UPDATE_ALLSoapIn" />
      <wsdl:output message="tns:UPDATE_ALLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_PIC">
      <wsdl:input message="tns:UPDATE_PICSoapIn" />
      <wsdl:output message="tns:UPDATE_PICSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CHECK">
      <wsdl:input message="tns:UPDATE_CHECKSoapIn" />
      <wsdl:output message="tns:UPDATE_CHECKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_DEPT">
      <wsdl:input message="tns:UPDATE_DEPTSoapIn" />
      <wsdl:output message="tns:UPDATE_DEPTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_YGTYPE">
      <wsdl:input message="tns:UPDATE_YGTYPESoapIn" />
      <wsdl:output message="tns:UPDATE_YGTYPESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_JOBS">
      <wsdl:input message="tns:UPDATE_JOBSSoapIn" />
      <wsdl:output message="tns:UPDATE_JOBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QUIT">
      <wsdl:input message="tns:UPDATE_QUITSoapIn" />
      <wsdl:output message="tns:UPDATE_QUITSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CHANGEINFO">
      <wsdl:input message="tns:UPDATE_CHANGEINFOSoapIn" />
      <wsdl:output message="tns:UPDATE_CHANGEINFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ISINGH">
      <wsdl:input message="tns:UPDATE_ISINGHSoapIn" />
      <wsdl:output message="tns:UPDATE_ISINGHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_DUTYNAME">
      <wsdl:input message="tns:UPDATE_DUTYNAMESoapIn" />
      <wsdl:output message="tns:UPDATE_DUTYNAMESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_GSGL">
      <wsdl:input message="tns:SELECT_GSGLSoapIn" />
      <wsdl:output message="tns:SELECT_GSGLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_WJGL">
      <wsdl:input message="tns:SELECT_WJGLSoapIn" />
      <wsdl:output message="tns:SELECT_WJGLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_WBZW">
      <wsdl:input message="tns:SELECT_WBZWSoapIn" />
      <wsdl:output message="tns:SELECT_WBZWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY">
      <wsdl:input message="tns:INSERT_RONGYSoapIn" />
      <wsdl:output message="tns:INSERT_RONGYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY">
      <wsdl:input message="tns:SELECT_RONGYSoapIn" />
      <wsdl:output message="tns:SELECT_RONGYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_RONGY">
      <wsdl:input message="tns:UPDATE_RONGYSoapIn" />
      <wsdl:output message="tns:UPDATE_RONGYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY">
      <wsdl:input message="tns:DELETE_RONGYSoapIn" />
      <wsdl:output message="tns:DELETE_RONGYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_RYID">
      <wsdl:input message="tns:INSERT_RONGY_RYIDSoapIn" />
      <wsdl:output message="tns:INSERT_RONGY_RYIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_RYID">
      <wsdl:input message="tns:DELETE_RONGY_RYIDSoapIn" />
      <wsdl:output message="tns:DELETE_RONGY_RYIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_RYID">
      <wsdl:input message="tns:SELECT_RONGY_RYIDSoapIn" />
      <wsdl:output message="tns:SELECT_RONGY_RYIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_FILE">
      <wsdl:input message="tns:INSERT_RONGY_FILESoapIn" />
      <wsdl:output message="tns:INSERT_RONGY_FILESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_FILE">
      <wsdl:input message="tns:SELECT_RONGY_FILESoapIn" />
      <wsdl:output message="tns:SELECT_RONGY_FILESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_FILE">
      <wsdl:input message="tns:DELETE_RONGY_FILESoapIn" />
      <wsdl:output message="tns:DELETE_RONGY_FILESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_LB">
      <wsdl:input message="tns:SELECT_LBSoapIn" />
      <wsdl:output message="tns:SELECT_LBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_LZINFO">
      <wsdl:input message="tns:SELECT_LZINFOSoapIn" />
      <wsdl:output message="tns:SELECT_LZINFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_RY_CHANGEINFO">
      <wsdl:input message="tns:SELECT_RY_CHANGEINFOSoapIn" />
      <wsdl:output message="tns:SELECT_RY_CHANGEINFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_LB">
      <wsdl:input message="tns:UPDATE_LBSoapIn" />
      <wsdl:output message="tns:UPDATE_LBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RY_RYINFOHttpGet">
    <wsdl:operation name="DELETE_RONGY">
      <wsdl:input message="tns:DELETE_RONGYHttpGetIn" />
      <wsdl:output message="tns:DELETE_RONGYHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_RYID">
      <wsdl:input message="tns:INSERT_RONGY_RYIDHttpGetIn" />
      <wsdl:output message="tns:INSERT_RONGY_RYIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_RYID">
      <wsdl:input message="tns:DELETE_RONGY_RYIDHttpGetIn" />
      <wsdl:output message="tns:DELETE_RONGY_RYIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_RYID">
      <wsdl:input message="tns:SELECT_RONGY_RYIDHttpGetIn" />
      <wsdl:output message="tns:SELECT_RONGY_RYIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_FILE">
      <wsdl:input message="tns:SELECT_RONGY_FILEHttpGetIn" />
      <wsdl:output message="tns:SELECT_RONGY_FILEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_FILE">
      <wsdl:input message="tns:DELETE_RONGY_FILEHttpGetIn" />
      <wsdl:output message="tns:DELETE_RONGY_FILEHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RY_RYINFOHttpPost">
    <wsdl:operation name="DELETE_RONGY">
      <wsdl:input message="tns:DELETE_RONGYHttpPostIn" />
      <wsdl:output message="tns:DELETE_RONGYHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_RYID">
      <wsdl:input message="tns:INSERT_RONGY_RYIDHttpPostIn" />
      <wsdl:output message="tns:INSERT_RONGY_RYIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_RYID">
      <wsdl:input message="tns:DELETE_RONGY_RYIDHttpPostIn" />
      <wsdl:output message="tns:DELETE_RONGY_RYIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_RYID">
      <wsdl:input message="tns:SELECT_RONGY_RYIDHttpPostIn" />
      <wsdl:output message="tns:SELECT_RONGY_RYIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_FILE">
      <wsdl:input message="tns:SELECT_RONGY_FILEHttpPostIn" />
      <wsdl:output message="tns:SELECT_RONGY_FILEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_FILE">
      <wsdl:input message="tns:DELETE_RONGY_FILEHttpPostIn" />
      <wsdl:output message="tns:DELETE_RONGY_FILEHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RY_RYINFOSoap" type="tns:RY_RYINFOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ALL">
      <soap:operation soapAction="http://tempuri.org/UPDATE_ALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_PIC">
      <soap:operation soapAction="http://tempuri.org/UPDATE_PIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CHECK">
      <soap:operation soapAction="http://tempuri.org/UPDATE_CHECK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_DEPT">
      <soap:operation soapAction="http://tempuri.org/UPDATE_DEPT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_YGTYPE">
      <soap:operation soapAction="http://tempuri.org/UPDATE_YGTYPE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_JOBS">
      <soap:operation soapAction="http://tempuri.org/UPDATE_JOBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QUIT">
      <soap:operation soapAction="http://tempuri.org/UPDATE_QUIT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CHANGEINFO">
      <soap:operation soapAction="http://tempuri.org/UPDATE_CHANGEINFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ISINGH">
      <soap:operation soapAction="http://tempuri.org/UPDATE_ISINGH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_DUTYNAME">
      <soap:operation soapAction="http://tempuri.org/UPDATE_DUTYNAME" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GSGL">
      <soap:operation soapAction="http://tempuri.org/SELECT_GSGL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_WJGL">
      <soap:operation soapAction="http://tempuri.org/SELECT_WJGL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_WBZW">
      <soap:operation soapAction="http://tempuri.org/SELECT_WBZW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY">
      <soap:operation soapAction="http://tempuri.org/INSERT_RONGY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY">
      <soap:operation soapAction="http://tempuri.org/SELECT_RONGY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_RONGY">
      <soap:operation soapAction="http://tempuri.org/UPDATE_RONGY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY">
      <soap:operation soapAction="http://tempuri.org/DELETE_RONGY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_RYID">
      <soap:operation soapAction="http://tempuri.org/INSERT_RONGY_RYID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_RYID">
      <soap:operation soapAction="http://tempuri.org/DELETE_RONGY_RYID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_RYID">
      <soap:operation soapAction="http://tempuri.org/SELECT_RONGY_RYID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_FILE">
      <soap:operation soapAction="http://tempuri.org/INSERT_RONGY_FILE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_FILE">
      <soap:operation soapAction="http://tempuri.org/SELECT_RONGY_FILE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_FILE">
      <soap:operation soapAction="http://tempuri.org/DELETE_RONGY_FILE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LB">
      <soap:operation soapAction="http://tempuri.org/SELECT_LB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LZINFO">
      <soap:operation soapAction="http://tempuri.org/SELECT_LZINFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RY_CHANGEINFO">
      <soap:operation soapAction="http://tempuri.org/SELECT_RY_CHANGEINFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_LB">
      <soap:operation soapAction="http://tempuri.org/UPDATE_LB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RY_RYINFOSoap12" type="tns:RY_RYINFOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ALL">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_ALL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_PIC">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_PIC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CHECK">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_CHECK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_DEPT">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_DEPT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_YGTYPE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_YGTYPE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_JOBS">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_JOBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QUIT">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_QUIT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CHANGEINFO">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_CHANGEINFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_ISINGH">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_ISINGH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_DUTYNAME">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_DUTYNAME" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GSGL">
      <soap12:operation soapAction="http://tempuri.org/SELECT_GSGL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_WJGL">
      <soap12:operation soapAction="http://tempuri.org/SELECT_WJGL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_WBZW">
      <soap12:operation soapAction="http://tempuri.org/SELECT_WBZW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY">
      <soap12:operation soapAction="http://tempuri.org/INSERT_RONGY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY">
      <soap12:operation soapAction="http://tempuri.org/SELECT_RONGY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_RONGY">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_RONGY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY">
      <soap12:operation soapAction="http://tempuri.org/DELETE_RONGY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_RYID">
      <soap12:operation soapAction="http://tempuri.org/INSERT_RONGY_RYID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_RYID">
      <soap12:operation soapAction="http://tempuri.org/DELETE_RONGY_RYID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_RYID">
      <soap12:operation soapAction="http://tempuri.org/SELECT_RONGY_RYID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_FILE">
      <soap12:operation soapAction="http://tempuri.org/INSERT_RONGY_FILE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_FILE">
      <soap12:operation soapAction="http://tempuri.org/SELECT_RONGY_FILE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_FILE">
      <soap12:operation soapAction="http://tempuri.org/DELETE_RONGY_FILE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LB">
      <soap12:operation soapAction="http://tempuri.org/SELECT_LB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LZINFO">
      <soap12:operation soapAction="http://tempuri.org/SELECT_LZINFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RY_CHANGEINFO">
      <soap12:operation soapAction="http://tempuri.org/SELECT_RY_CHANGEINFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_LB">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_LB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RY_RYINFOHttpGet" type="tns:RY_RYINFOHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DELETE_RONGY">
      <http:operation location="/DELETE_RONGY" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_RYID">
      <http:operation location="/INSERT_RONGY_RYID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_RYID">
      <http:operation location="/DELETE_RONGY_RYID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_RYID">
      <http:operation location="/SELECT_RONGY_RYID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_FILE">
      <http:operation location="/SELECT_RONGY_FILE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_FILE">
      <http:operation location="/DELETE_RONGY_FILE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RY_RYINFOHttpPost" type="tns:RY_RYINFOHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DELETE_RONGY">
      <http:operation location="/DELETE_RONGY" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_RONGY_RYID">
      <http:operation location="/INSERT_RONGY_RYID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_RYID">
      <http:operation location="/DELETE_RONGY_RYID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_RYID">
      <http:operation location="/SELECT_RONGY_RYID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_RONGY_FILE">
      <http:operation location="/SELECT_RONGY_FILE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_RONGY_FILE">
      <http:operation location="/DELETE_RONGY_FILE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RY_RYINFO">
    <wsdl:port name="RY_RYINFOSoap" binding="tns:RY_RYINFOSoap">
      <soap:address location="http://localhost/API/HR/RY_RYINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="RY_RYINFOSoap12" binding="tns:RY_RYINFOSoap12">
      <soap12:address location="http://localhost/API/HR/RY_RYINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="RY_RYINFOHttpGet" binding="tns:RY_RYINFOHttpGet">
      <http:address location="http://localhost/API/HR/RY_RYINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="RY_RYINFOHttpPost" binding="tns:RY_RYINFOHttpPost">
      <http:address location="http://localhost/API/HR/RY_RYINFO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>