Sonluk.UI.Model/Service References/MES.BAT_REPORTService/BAT_REPORT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SEARCH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_BAT_REPORT_SEARCH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_BAT_REPORT_SEARCH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ERPNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSNOBILL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSNOBILLMX" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SEARCHResult" type="tns:MES_BAT_REPORT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_BAT_REPORT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERPNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSNOBILL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSNOBILLMX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COUNTZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SCX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCXH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCBZK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMAXK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMINK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCBZA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMAXA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMINA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCBZB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMAXB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMINB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCBZC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMAXC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMINC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDLX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCFDFS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCMAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SZA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SZB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SZC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SZK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SZDXN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GDDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COUNTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODOWORD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SNINFO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WORDSPACE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CXS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPRQM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SAMP1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SAMP2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SAMP3" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SAMP4" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PACKOPEN" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="File" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:SEARCH" />
  </wsdl:message>
  <wsdl:message name="SEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:SEARCHResponse" />
  </wsdl:message>
  <wsdl:portType name="BAT_REPORTSoap">
    <wsdl:operation name="SEARCH">
      <wsdl:input message="tns:SEARCHSoapIn" />
      <wsdl:output message="tns:SEARCHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BAT_REPORTHttpGet" />
  <wsdl:portType name="BAT_REPORTHttpPost" />
  <wsdl:binding name="BAT_REPORTSoap" type="tns:BAT_REPORTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SEARCH">
      <soap:operation soapAction="http://tempuri.org/SEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAT_REPORTSoap12" type="tns:BAT_REPORTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SEARCH">
      <soap12:operation soapAction="http://tempuri.org/SEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAT_REPORTHttpGet" type="tns:BAT_REPORTHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="BAT_REPORTHttpPost" type="tns:BAT_REPORTHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="BAT_REPORT">
    <wsdl:port name="BAT_REPORTSoap" binding="tns:BAT_REPORTSoap">
      <soap:address location="http://localhost/API/MES/BAT_REPORT.asmx" />
    </wsdl:port>
    <wsdl:port name="BAT_REPORTSoap12" binding="tns:BAT_REPORTSoap12">
      <soap12:address location="http://localhost/API/MES/BAT_REPORT.asmx" />
    </wsdl:port>
    <wsdl:port name="BAT_REPORTHttpGet" binding="tns:BAT_REPORTHttpGet">
      <http:address location="http://localhost/API/MES/BAT_REPORT.asmx" />
    </wsdl:port>
    <wsdl:port name="BAT_REPORTHttpPost" binding="tns:BAT_REPORTHttpPost">
      <http:address location="http://localhost/API/MES/BAT_REPORT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>