Sonluk.UI.Model/Service References/PS.ComponentMoveService/ComponentMove.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Sonluk.com/API/PS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Sonluk.com/API/PS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Sonluk.com/API/PS/">
      <s:element name="Component_ljds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="i_in" type="tns:ZSL_PSS_INC_CGDS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZSL_PSS_INC_CGDS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARBPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LARNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INITS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VORNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AUFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BKTXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERFMG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Component_ljdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Component_ljdsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Component_DSXX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="I_NPLNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Component_DSXXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Component_DSXXResult" type="tns:PS_ZPSFUG_Q_CGDS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PS_ZPSFUG_Q_CGDS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="T_MSG" type="tns:PS_MSG" />
          <s:element minOccurs="0" maxOccurs="1" name="T_OUT" type="tns:Ps_cgds" />
          <s:element minOccurs="0" maxOccurs="1" name="LINES" type="tns:ArrayOfTLINE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PS_MSG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ps_cgds">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NPLNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KTEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MENGE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ERFMG_W" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TXZ01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EKNAM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EKGRP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VORNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LARNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARBPL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTLINE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TLINE" nillable="true" type="tns:TLINE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TLINE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TDFORMAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TDLINE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComponentCM_GET">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IV_VERIF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComponentCM_GETResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComponentCM_GETResult" type="tns:ArrayOfComponentCM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfComponentCM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ComponentCM" nillable="true" type="tns:ComponentCM" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComponentCM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VERIF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGNUM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComponentPutAway">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_componentputaway" type="tns:PS_componentputaway" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PS_componentputaway">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RUFNM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AUFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NLPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZMATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LPTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VORNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LARNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARBPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComponentPutAwayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComponentPutAwayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComponentInventory_CM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="I_VERIF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComponentInventory_CMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComponentInventory_CMResult" type="tns:PS_ZPSFUG_Q_CMCC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PS_ZPSFUG_Q_CMCC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="T_OUT" type="tns:ArrayOfPS_ComponentInventory" />
          <s:element minOccurs="0" maxOccurs="1" name="T_MSG" type="tns:PS_MSG" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPS_ComponentInventory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PS_ComponentInventory" nillable="true" type="tns:PS_ComponentInventory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PS_ComponentInventory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LPTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERIF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGPLA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComponentInventory_Network">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="I_AUFNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComponentInventory_NetworkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComponentInventory_NetworkResult" type="tns:PS_ZPSFUG_Q_WLCC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PS_ZPSFUG_Q_WLCC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="T_OUT" type="tns:ZSL_PSS_OUT_WLCC" />
          <s:element minOccurs="0" maxOccurs="1" name="T_MSG" type="tns:PS_MSG" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_PSS_OUT_WLCC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="POST1_OJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PSPID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERNA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KTEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AUFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POST1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZMEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZMATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZMENGE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Network_OA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="I_AUFNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Network_OAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Network_OAResult" type="tns:ArrayOfZSL_PSS_OUT_WLCC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfZSL_PSS_OUT_WLCC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_PSS_OUT_WLCC" nillable="true" type="tns:ZSL_PSS_OUT_WLCC" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComponentSoldout_read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="I_SENUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="I_ZROWSNUM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComponentSoldout_readResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComponentSoldout_readResult" type="tns:PS_ZPSFUG_Q_LJXJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PS_ZPSFUG_Q_LJXJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="T_MSG" type="tns:PS_MSG" />
          <s:element minOccurs="0" maxOccurs="1" name="T_OUT_HEAD" type="tns:ZSL_PSS_OUT_LJXJ" />
          <s:element minOccurs="0" maxOccurs="1" name="T_OUT_ITEM" type="tns:ArrayOfZSL_PSS_OUT_LJXJ01" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_PSS_OUT_LJXJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WPCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POST1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RSNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RSPOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SOBKZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_PSS_OUT_LJXJ01">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_PSS_OUT_LJXJ01" nillable="true" type="tns:ZSL_PSS_OUT_LJXJ01" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_PSS_OUT_LJXJ01">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LGPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComponentSoldout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_i" type="tns:ZSL_PSS_INC_LJXJ" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZSL_PSS_INC_LJXJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ZUSER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZJUDGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LPTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VERME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZROWSNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SENUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RSPOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RSNUM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComponentSoldoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComponentSoldoutResult" type="tns:PS_MSG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComponentMoving_all">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="i_in" type="tns:ZSL_PSS_INC_LJYC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZSL_PSS_INC_LJYC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BESTQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ANFME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VLPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VLBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VLTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NLPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NLBER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NLTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LPTYP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComponentMoving_allResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComponentMoving_allResult" type="tns:PS_MSG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PS_ZPSFUG_Q_CGDS" nillable="true" type="tns:PS_ZPSFUG_Q_CGDS" />
      <s:element name="ArrayOfComponentCM" nillable="true" type="tns:ArrayOfComponentCM" />
      <s:element name="PS_ZPSFUG_Q_CMCC" nillable="true" type="tns:PS_ZPSFUG_Q_CMCC" />
      <s:element name="PS_ZPSFUG_Q_WLCC" nillable="true" type="tns:PS_ZPSFUG_Q_WLCC" />
      <s:element name="ArrayOfZSL_PSS_OUT_WLCC" nillable="true" type="tns:ArrayOfZSL_PSS_OUT_WLCC" />
      <s:element name="PS_ZPSFUG_Q_LJXJ" nillable="true" type="tns:PS_ZPSFUG_Q_LJXJ" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Component_ljdsSoapIn">
    <wsdl:part name="parameters" element="tns:Component_ljds" />
  </wsdl:message>
  <wsdl:message name="Component_ljdsSoapOut">
    <wsdl:part name="parameters" element="tns:Component_ljdsResponse" />
  </wsdl:message>
  <wsdl:message name="Component_DSXXSoapIn">
    <wsdl:part name="parameters" element="tns:Component_DSXX" />
  </wsdl:message>
  <wsdl:message name="Component_DSXXSoapOut">
    <wsdl:part name="parameters" element="tns:Component_DSXXResponse" />
  </wsdl:message>
  <wsdl:message name="ComponentCM_GETSoapIn">
    <wsdl:part name="parameters" element="tns:ComponentCM_GET" />
  </wsdl:message>
  <wsdl:message name="ComponentCM_GETSoapOut">
    <wsdl:part name="parameters" element="tns:ComponentCM_GETResponse" />
  </wsdl:message>
  <wsdl:message name="ComponentPutAwaySoapIn">
    <wsdl:part name="parameters" element="tns:ComponentPutAway" />
  </wsdl:message>
  <wsdl:message name="ComponentPutAwaySoapOut">
    <wsdl:part name="parameters" element="tns:ComponentPutAwayResponse" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_CMSoapIn">
    <wsdl:part name="parameters" element="tns:ComponentInventory_CM" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_CMSoapOut">
    <wsdl:part name="parameters" element="tns:ComponentInventory_CMResponse" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_NetworkSoapIn">
    <wsdl:part name="parameters" element="tns:ComponentInventory_Network" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_NetworkSoapOut">
    <wsdl:part name="parameters" element="tns:ComponentInventory_NetworkResponse" />
  </wsdl:message>
  <wsdl:message name="Network_OASoapIn">
    <wsdl:part name="parameters" element="tns:Network_OA" />
  </wsdl:message>
  <wsdl:message name="Network_OASoapOut">
    <wsdl:part name="parameters" element="tns:Network_OAResponse" />
  </wsdl:message>
  <wsdl:message name="ComponentSoldout_readSoapIn">
    <wsdl:part name="parameters" element="tns:ComponentSoldout_read" />
  </wsdl:message>
  <wsdl:message name="ComponentSoldout_readSoapOut">
    <wsdl:part name="parameters" element="tns:ComponentSoldout_readResponse" />
  </wsdl:message>
  <wsdl:message name="ComponentSoldoutSoapIn">
    <wsdl:part name="parameters" element="tns:ComponentSoldout" />
  </wsdl:message>
  <wsdl:message name="ComponentSoldoutSoapOut">
    <wsdl:part name="parameters" element="tns:ComponentSoldoutResponse" />
  </wsdl:message>
  <wsdl:message name="ComponentMoving_allSoapIn">
    <wsdl:part name="parameters" element="tns:ComponentMoving_all" />
  </wsdl:message>
  <wsdl:message name="ComponentMoving_allSoapOut">
    <wsdl:part name="parameters" element="tns:ComponentMoving_allResponse" />
  </wsdl:message>
  <wsdl:message name="Component_DSXXHttpGetIn">
    <wsdl:part name="I_NPLNR" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Component_DSXXHttpGetOut">
    <wsdl:part name="Body" element="tns:PS_ZPSFUG_Q_CGDS" />
  </wsdl:message>
  <wsdl:message name="ComponentCM_GETHttpGetIn">
    <wsdl:part name="IV_VERIF" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComponentCM_GETHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfComponentCM" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_CMHttpGetIn">
    <wsdl:part name="I_VERIF" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_CMHttpGetOut">
    <wsdl:part name="Body" element="tns:PS_ZPSFUG_Q_CMCC" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_NetworkHttpGetIn">
    <wsdl:part name="I_AUFNR" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_NetworkHttpGetOut">
    <wsdl:part name="Body" element="tns:PS_ZPSFUG_Q_WLCC" />
  </wsdl:message>
  <wsdl:message name="Network_OAHttpGetIn">
    <wsdl:part name="I_AUFNR" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Network_OAHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfZSL_PSS_OUT_WLCC" />
  </wsdl:message>
  <wsdl:message name="ComponentSoldout_readHttpGetIn">
    <wsdl:part name="I_SENUM" type="s:string" />
    <wsdl:part name="I_ZROWSNUM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComponentSoldout_readHttpGetOut">
    <wsdl:part name="Body" element="tns:PS_ZPSFUG_Q_LJXJ" />
  </wsdl:message>
  <wsdl:message name="Component_DSXXHttpPostIn">
    <wsdl:part name="I_NPLNR" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Component_DSXXHttpPostOut">
    <wsdl:part name="Body" element="tns:PS_ZPSFUG_Q_CGDS" />
  </wsdl:message>
  <wsdl:message name="ComponentCM_GETHttpPostIn">
    <wsdl:part name="IV_VERIF" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComponentCM_GETHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfComponentCM" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_CMHttpPostIn">
    <wsdl:part name="I_VERIF" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_CMHttpPostOut">
    <wsdl:part name="Body" element="tns:PS_ZPSFUG_Q_CMCC" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_NetworkHttpPostIn">
    <wsdl:part name="I_AUFNR" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComponentInventory_NetworkHttpPostOut">
    <wsdl:part name="Body" element="tns:PS_ZPSFUG_Q_WLCC" />
  </wsdl:message>
  <wsdl:message name="Network_OAHttpPostIn">
    <wsdl:part name="I_AUFNR" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Network_OAHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfZSL_PSS_OUT_WLCC" />
  </wsdl:message>
  <wsdl:message name="ComponentSoldout_readHttpPostIn">
    <wsdl:part name="I_SENUM" type="s:string" />
    <wsdl:part name="I_ZROWSNUM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ComponentSoldout_readHttpPostOut">
    <wsdl:part name="Body" element="tns:PS_ZPSFUG_Q_LJXJ" />
  </wsdl:message>
  <wsdl:portType name="ComponentMoveSoap">
    <wsdl:operation name="Component_ljds">
      <wsdl:input message="tns:Component_ljdsSoapIn" />
      <wsdl:output message="tns:Component_ljdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Component_DSXX">
      <wsdl:input message="tns:Component_DSXXSoapIn" />
      <wsdl:output message="tns:Component_DSXXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentCM_GET">
      <wsdl:input message="tns:ComponentCM_GETSoapIn" />
      <wsdl:output message="tns:ComponentCM_GETSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentPutAway">
      <wsdl:input message="tns:ComponentPutAwaySoapIn" />
      <wsdl:output message="tns:ComponentPutAwaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_CM">
      <wsdl:input message="tns:ComponentInventory_CMSoapIn" />
      <wsdl:output message="tns:ComponentInventory_CMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_Network">
      <wsdl:input message="tns:ComponentInventory_NetworkSoapIn" />
      <wsdl:output message="tns:ComponentInventory_NetworkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Network_OA">
      <wsdl:input message="tns:Network_OASoapIn" />
      <wsdl:output message="tns:Network_OASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout_read">
      <wsdl:input message="tns:ComponentSoldout_readSoapIn" />
      <wsdl:output message="tns:ComponentSoldout_readSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout">
      <wsdl:input message="tns:ComponentSoldoutSoapIn" />
      <wsdl:output message="tns:ComponentSoldoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentMoving_all">
      <wsdl:input message="tns:ComponentMoving_allSoapIn" />
      <wsdl:output message="tns:ComponentMoving_allSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ComponentMoveHttpGet">
    <wsdl:operation name="Component_DSXX">
      <wsdl:input message="tns:Component_DSXXHttpGetIn" />
      <wsdl:output message="tns:Component_DSXXHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentCM_GET">
      <wsdl:input message="tns:ComponentCM_GETHttpGetIn" />
      <wsdl:output message="tns:ComponentCM_GETHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_CM">
      <wsdl:input message="tns:ComponentInventory_CMHttpGetIn" />
      <wsdl:output message="tns:ComponentInventory_CMHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_Network">
      <wsdl:input message="tns:ComponentInventory_NetworkHttpGetIn" />
      <wsdl:output message="tns:ComponentInventory_NetworkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Network_OA">
      <wsdl:input message="tns:Network_OAHttpGetIn" />
      <wsdl:output message="tns:Network_OAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout_read">
      <wsdl:input message="tns:ComponentSoldout_readHttpGetIn" />
      <wsdl:output message="tns:ComponentSoldout_readHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ComponentMoveHttpPost">
    <wsdl:operation name="Component_DSXX">
      <wsdl:input message="tns:Component_DSXXHttpPostIn" />
      <wsdl:output message="tns:Component_DSXXHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentCM_GET">
      <wsdl:input message="tns:ComponentCM_GETHttpPostIn" />
      <wsdl:output message="tns:ComponentCM_GETHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_CM">
      <wsdl:input message="tns:ComponentInventory_CMHttpPostIn" />
      <wsdl:output message="tns:ComponentInventory_CMHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_Network">
      <wsdl:input message="tns:ComponentInventory_NetworkHttpPostIn" />
      <wsdl:output message="tns:ComponentInventory_NetworkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Network_OA">
      <wsdl:input message="tns:Network_OAHttpPostIn" />
      <wsdl:output message="tns:Network_OAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout_read">
      <wsdl:input message="tns:ComponentSoldout_readHttpPostIn" />
      <wsdl:output message="tns:ComponentSoldout_readHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComponentMoveSoap" type="tns:ComponentMoveSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Component_ljds">
      <soap:operation soapAction="http://Sonluk.com/API/PS/Component_ljds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Component_DSXX">
      <soap:operation soapAction="http://Sonluk.com/API/PS/Component_DSXX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentCM_GET">
      <soap:operation soapAction="http://Sonluk.com/API/PS/ComponentCM_GET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentPutAway">
      <soap:operation soapAction="http://Sonluk.com/API/PS/ComponentPutAway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_CM">
      <soap:operation soapAction="http://Sonluk.com/API/PS/ComponentInventory_CM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_Network">
      <soap:operation soapAction="http://Sonluk.com/API/PS/ComponentInventory_Network" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Network_OA">
      <soap:operation soapAction="http://Sonluk.com/API/PS/Network_OA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout_read">
      <soap:operation soapAction="http://Sonluk.com/API/PS/ComponentSoldout_read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout">
      <soap:operation soapAction="http://Sonluk.com/API/PS/ComponentSoldout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentMoving_all">
      <soap:operation soapAction="http://Sonluk.com/API/PS/ComponentMoving_all" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComponentMoveSoap12" type="tns:ComponentMoveSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Component_ljds">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/Component_ljds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Component_DSXX">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/Component_DSXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentCM_GET">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/ComponentCM_GET" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentPutAway">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/ComponentPutAway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_CM">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/ComponentInventory_CM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_Network">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/ComponentInventory_Network" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Network_OA">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/Network_OA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout_read">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/ComponentSoldout_read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/ComponentSoldout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentMoving_all">
      <soap12:operation soapAction="http://Sonluk.com/API/PS/ComponentMoving_all" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComponentMoveHttpGet" type="tns:ComponentMoveHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Component_DSXX">
      <http:operation location="/Component_DSXX" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentCM_GET">
      <http:operation location="/ComponentCM_GET" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_CM">
      <http:operation location="/ComponentInventory_CM" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_Network">
      <http:operation location="/ComponentInventory_Network" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Network_OA">
      <http:operation location="/Network_OA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout_read">
      <http:operation location="/ComponentSoldout_read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComponentMoveHttpPost" type="tns:ComponentMoveHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Component_DSXX">
      <http:operation location="/Component_DSXX" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentCM_GET">
      <http:operation location="/ComponentCM_GET" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_CM">
      <http:operation location="/ComponentInventory_CM" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentInventory_Network">
      <http:operation location="/ComponentInventory_Network" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Network_OA">
      <http:operation location="/Network_OA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComponentSoldout_read">
      <http:operation location="/ComponentSoldout_read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComponentMove">
    <wsdl:port name="ComponentMoveSoap" binding="tns:ComponentMoveSoap">
      <soap:address location="http://192.168.0.223/API/PS/ComponentMove.asmx" />
    </wsdl:port>
    <wsdl:port name="ComponentMoveSoap12" binding="tns:ComponentMoveSoap12">
      <soap12:address location="http://192.168.0.223/API/PS/ComponentMove.asmx" />
    </wsdl:port>
    <wsdl:port name="ComponentMoveHttpGet" binding="tns:ComponentMoveHttpGet">
      <http:address location="http://192.168.0.223/API/PS/ComponentMove.asmx" />
    </wsdl:port>
    <wsdl:port name="ComponentMoveHttpPost" binding="tns:ComponentMoveHttpPost">
      <http:address location="http://192.168.0.223/API/PS/ComponentMove.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>