Sonluk.UI.Model/Service References/MES.ZS_QJ_QJJLService/WS_MES_ZS_QJ_QJJL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_QJ_QJJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_QJ_QJJL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRGH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QJJSBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QJJSBMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCLMSG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_QJSB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_QJ_QJSB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_QJ_QJSB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISFREE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SCSMTM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRGH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MOULD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TMKSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TMJSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SBFLNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CZLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TMSTR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QJZT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JLMXID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_QJSBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_QJSBResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_QJSB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_QJ_QJSB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_QJSBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_QJSBResult" type="tns:MES_ZS_QJ_QJSB_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_QJ_QJSB_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_ZS_QJ_QJSB" type="tns:ArrayOfMES_ZS_QJ_QJSB" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZS_QJ_QJSB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZS_QJ_QJSB" nillable="true" type="tns:MES_ZS_QJ_QJSB" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_ERRORJL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_QJ_ERRORJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_QJ_ERRORJL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ERRORTM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORSBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERRORINFO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRGH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_ERRORJLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_ERRORJLResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_ERRORJL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_QJ_ERRORJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_ERRORJLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_ERRORJLResult" type="tns:MES_ZS_QJ_ERRORJL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_QJ_ERRORJL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_ZS_QJ_ERRORJL" type="tns:ArrayOfMES_ZS_QJ_ERRORJL" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZS_QJ_ERRORJL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZS_QJ_ERRORJL" nillable="true" type="tns:MES_ZS_QJ_ERRORJL" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_QJSBSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_QJSB" />
  </wsdl:message>
  <wsdl:message name="INSERT_QJSBSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_QJSBResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_QJSBSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_QJSB" />
  </wsdl:message>
  <wsdl:message name="SELECT_QJSBSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_QJSBResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_ERRORJLSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_ERRORJL" />
  </wsdl:message>
  <wsdl:message name="INSERT_ERRORJLSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_ERRORJLResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_ERRORJLSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_ERRORJL" />
  </wsdl:message>
  <wsdl:message name="SELECT_ERRORJLSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_ERRORJLResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MES_ZS_QJ_QJJLSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_QJSB">
      <wsdl:input message="tns:INSERT_QJSBSoapIn" />
      <wsdl:output message="tns:INSERT_QJSBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_QJSB">
      <wsdl:input message="tns:SELECT_QJSBSoapIn" />
      <wsdl:output message="tns:SELECT_QJSBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_ERRORJL">
      <wsdl:input message="tns:INSERT_ERRORJLSoapIn" />
      <wsdl:output message="tns:INSERT_ERRORJLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_ERRORJL">
      <wsdl:input message="tns:SELECT_ERRORJLSoapIn" />
      <wsdl:output message="tns:SELECT_ERRORJLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_MES_ZS_QJ_QJJLHttpGet" />
  <wsdl:portType name="WS_MES_ZS_QJ_QJJLHttpPost" />
  <wsdl:binding name="WS_MES_ZS_QJ_QJJLSoap" type="tns:WS_MES_ZS_QJ_QJJLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_QJSB">
      <soap:operation soapAction="http://tempuri.org/INSERT_QJSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_QJSB">
      <soap:operation soapAction="http://tempuri.org/SELECT_QJSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_ERRORJL">
      <soap:operation soapAction="http://tempuri.org/INSERT_ERRORJL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ERRORJL">
      <soap:operation soapAction="http://tempuri.org/SELECT_ERRORJL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_QJ_QJJLSoap12" type="tns:WS_MES_ZS_QJ_QJJLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_QJSB">
      <soap12:operation soapAction="http://tempuri.org/INSERT_QJSB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_QJSB">
      <soap12:operation soapAction="http://tempuri.org/SELECT_QJSB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_ERRORJL">
      <soap12:operation soapAction="http://tempuri.org/INSERT_ERRORJL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_ERRORJL">
      <soap12:operation soapAction="http://tempuri.org/SELECT_ERRORJL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_QJ_QJJLHttpGet" type="tns:WS_MES_ZS_QJ_QJJLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_QJ_QJJLHttpPost" type="tns:WS_MES_ZS_QJ_QJJLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_MES_ZS_QJ_QJJL">
    <wsdl:port name="WS_MES_ZS_QJ_QJJLSoap" binding="tns:WS_MES_ZS_QJ_QJJLSoap">
      <soap:address location="http://localhost/API/MES/WS_MES_ZS_QJ_QJJL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_QJ_QJJLSoap12" binding="tns:WS_MES_ZS_QJ_QJJLSoap12">
      <soap12:address location="http://localhost/API/MES/WS_MES_ZS_QJ_QJJL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_QJ_QJJLHttpGet" binding="tns:WS_MES_ZS_QJ_QJJLHttpGet">
      <http:address location="http://localhost/API/MES/WS_MES_ZS_QJ_QJJL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_QJ_QJJLHttpPost" binding="tns:WS_MES_ZS_QJ_QJJLHttpPost">
      <http:address location="http://localhost/API/MES/WS_MES_ZS_QJ_QJJL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>