Sonluk.UI.Model/Service References/CRM.WX_OPENIDService/WX_OPENID1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_WX_OPENID" />
            <s:element minOccurs="0" maxOccurs="1" name="USE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_WX_OPENID">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OPENID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WXDLCS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_WX_OPENID" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteByIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_WX_OPENID" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_WX_OPENID" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_WX_OPENID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_WX_OPENID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_WX_OPENID" nillable="true" type="tns:CRM_WX_OPENID" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadBySTAFFParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_WX_OPENIDList" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_WX_OPENIDList">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRM_WX_OPENID">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DEPIDDES" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="STAFFNO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ReadBySTAFFParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadBySTAFFParamResult" type="tns:ArrayOfCRM_WX_OPENIDList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_WX_OPENIDList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_WX_OPENIDList" nillable="true" type="tns:CRM_WX_OPENIDList" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByORDERTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByORDERTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByORDERTTIDResult" type="tns:ArrayOfCRM_WX_OPENIDList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="code2session">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SECRET" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JSCODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="code2sessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code2sessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="wxmsg" type="tns:WX_MSG" />
            <s:element minOccurs="0" maxOccurs="1" name="SYS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WX_MSG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="touser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="toparty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgtype" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="agentid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="tns:TEXT" />
          <s:element minOccurs="1" maxOccurs="1" name="safe" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="template_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="miniprogram" type="tns:MiniProgram" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:Data" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TEXT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MiniProgram">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pagepath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Data">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="first" type="tns:KeyWord" />
          <s:element minOccurs="0" maxOccurs="1" name="keyword1" type="tns:KeyWord" />
          <s:element minOccurs="0" maxOccurs="1" name="keyword2" type="tns:KeyWord" />
          <s:element minOccurs="0" maxOccurs="1" name="keyword3" type="tns:KeyWord" />
          <s:element minOccurs="0" maxOccurs="1" name="keyword4" type="tns:KeyWord" />
          <s:element minOccurs="0" maxOccurs="1" name="keyword5" type="tns:KeyWord" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="tns:KeyWord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyWord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMSGResult" type="tns:WX_MSG_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WX_MSG_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errmsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="invaliduser" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMSGFromTemp">
        <s:complexType />
      </s:element>
      <s:element name="SendMSGFromTempResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMSGFromTempResult" type="tns:WX_MSG_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfCRM_WX_OPENIDList" nillable="true" type="tns:ArrayOfCRM_WX_OPENIDList" />
      <s:element name="WX_MSG_RETURN" nillable="true" type="tns:WX_MSG_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteByIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteByID" />
  </wsdl:message>
  <wsdl:message name="DeleteByIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteByIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadBySTAFFParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadBySTAFFParam" />
  </wsdl:message>
  <wsdl:message name="ReadBySTAFFParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadBySTAFFParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByORDERTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByORDERTTID" />
  </wsdl:message>
  <wsdl:message name="ReadByORDERTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByORDERTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="code2sessionSoapIn">
    <wsdl:part name="parameters" element="tns:code2session" />
  </wsdl:message>
  <wsdl:message name="code2sessionSoapOut">
    <wsdl:part name="parameters" element="tns:code2sessionResponse" />
  </wsdl:message>
  <wsdl:message name="SendMSGSoapIn">
    <wsdl:part name="parameters" element="tns:SendMSG" />
  </wsdl:message>
  <wsdl:message name="SendMSGSoapOut">
    <wsdl:part name="parameters" element="tns:SendMSGResponse" />
  </wsdl:message>
  <wsdl:message name="SendMSGFromTempSoapIn">
    <wsdl:part name="parameters" element="tns:SendMSGFromTemp" />
  </wsdl:message>
  <wsdl:message name="SendMSGFromTempSoapOut">
    <wsdl:part name="parameters" element="tns:SendMSGFromTempResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByIDHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByORDERTTIDHttpGetIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByORDERTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_WX_OPENIDList" />
  </wsdl:message>
  <wsdl:message name="code2sessionHttpGetIn">
    <wsdl:part name="APPID" type="s:string" />
    <wsdl:part name="SECRET" type="s:string" />
    <wsdl:part name="JSCODE" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="code2sessionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMSGFromTempHttpGetIn" />
  <wsdl:message name="SendMSGFromTempHttpGetOut">
    <wsdl:part name="Body" element="tns:WX_MSG_RETURN" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByIDHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByORDERTTIDHttpPostIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByORDERTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_WX_OPENIDList" />
  </wsdl:message>
  <wsdl:message name="code2sessionHttpPostIn">
    <wsdl:part name="APPID" type="s:string" />
    <wsdl:part name="SECRET" type="s:string" />
    <wsdl:part name="JSCODE" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="code2sessionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMSGFromTempHttpPostIn" />
  <wsdl:message name="SendMSGFromTempHttpPostOut">
    <wsdl:part name="Body" element="tns:WX_MSG_RETURN" />
  </wsdl:message>
  <wsdl:portType name="WX_OPENIDSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <wsdl:input message="tns:DeleteByIDSoapIn" />
      <wsdl:output message="tns:DeleteByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFParam">
      <wsdl:input message="tns:ReadBySTAFFParamSoapIn" />
      <wsdl:output message="tns:ReadBySTAFFParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByORDERTTID">
      <wsdl:input message="tns:ReadByORDERTTIDSoapIn" />
      <wsdl:output message="tns:ReadByORDERTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="code2session">
      <wsdl:input message="tns:code2sessionSoapIn" />
      <wsdl:output message="tns:code2sessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMSG">
      <wsdl:input message="tns:SendMSGSoapIn" />
      <wsdl:output message="tns:SendMSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMSGFromTemp">
      <wsdl:input message="tns:SendMSGFromTempSoapIn" />
      <wsdl:output message="tns:SendMSGFromTempSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WX_OPENIDHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <wsdl:input message="tns:DeleteByIDHttpGetIn" />
      <wsdl:output message="tns:DeleteByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByORDERTTID">
      <wsdl:input message="tns:ReadByORDERTTIDHttpGetIn" />
      <wsdl:output message="tns:ReadByORDERTTIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="code2session">
      <wsdl:input message="tns:code2sessionHttpGetIn" />
      <wsdl:output message="tns:code2sessionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMSGFromTemp">
      <wsdl:input message="tns:SendMSGFromTempHttpGetIn" />
      <wsdl:output message="tns:SendMSGFromTempHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WX_OPENIDHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <wsdl:input message="tns:DeleteByIDHttpPostIn" />
      <wsdl:output message="tns:DeleteByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByORDERTTID">
      <wsdl:input message="tns:ReadByORDERTTIDHttpPostIn" />
      <wsdl:output message="tns:ReadByORDERTTIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="code2session">
      <wsdl:input message="tns:code2sessionHttpPostIn" />
      <wsdl:output message="tns:code2sessionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMSGFromTemp">
      <wsdl:input message="tns:SendMSGFromTempHttpPostIn" />
      <wsdl:output message="tns:SendMSGFromTempHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WX_OPENIDSoap" type="tns:WX_OPENIDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <soap:operation soapAction="http://tempuri.org/DeleteByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFParam">
      <soap:operation soapAction="http://tempuri.org/ReadBySTAFFParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByORDERTTID">
      <soap:operation soapAction="http://tempuri.org/ReadByORDERTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="code2session">
      <soap:operation soapAction="http://tempuri.org/code2session" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMSG">
      <soap:operation soapAction="http://tempuri.org/SendMSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMSGFromTemp">
      <soap:operation soapAction="http://tempuri.org/SendMSGFromTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WX_OPENIDSoap12" type="tns:WX_OPENIDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <soap12:operation soapAction="http://tempuri.org/DeleteByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBySTAFFParam">
      <soap12:operation soapAction="http://tempuri.org/ReadBySTAFFParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByORDERTTID">
      <soap12:operation soapAction="http://tempuri.org/ReadByORDERTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="code2session">
      <soap12:operation soapAction="http://tempuri.org/code2session" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMSG">
      <soap12:operation soapAction="http://tempuri.org/SendMSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMSGFromTemp">
      <soap12:operation soapAction="http://tempuri.org/SendMSGFromTemp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WX_OPENIDHttpGet" type="tns:WX_OPENIDHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <http:operation location="/DeleteByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByORDERTTID">
      <http:operation location="/ReadByORDERTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="code2session">
      <http:operation location="/code2session" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMSGFromTemp">
      <http:operation location="/SendMSGFromTemp" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WX_OPENIDHttpPost" type="tns:WX_OPENIDHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <http:operation location="/DeleteByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByORDERTTID">
      <http:operation location="/ReadByORDERTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="code2session">
      <http:operation location="/code2session" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMSGFromTemp">
      <http:operation location="/SendMSGFromTemp" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WX_OPENID">
    <wsdl:port name="WX_OPENIDSoap" binding="tns:WX_OPENIDSoap">
      <soap:address location="http://192.168.0.77/API/CRM/WX_OPENID.asmx" />
    </wsdl:port>
    <wsdl:port name="WX_OPENIDSoap12" binding="tns:WX_OPENIDSoap12">
      <soap12:address location="http://192.168.0.77/API/CRM/WX_OPENID.asmx" />
    </wsdl:port>
    <wsdl:port name="WX_OPENIDHttpGet" binding="tns:WX_OPENIDHttpGet">
      <http:address location="http://192.168.0.77/API/CRM/WX_OPENID.asmx" />
    </wsdl:port>
    <wsdl:port name="WX_OPENIDHttpPost" binding="tns:WX_OPENIDHttpPost">
      <http:address location="http://192.168.0.77/API/CRM/WX_OPENID.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>