Sonluk.UI.Model/Service References/MES.ZS_SY_CLPBService/WS_MES_ZS_SY_CLPB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_CLPB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_CLPB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CLPBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YCLDMID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PBDMID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YCLPBDM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YCLDMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YCLDMREMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PBDMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PBDMREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMCOUNT" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_CLPB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_CLPB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_ZS_SY_CLPB_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_CLPB_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_ZS_SY_CLPB" type="tns:ArrayOfMES_ZS_SY_CLPB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZS_SY_CLPB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZS_SY_CLPB" nillable="true" type="tns:MES_ZS_SY_CLPB" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_WL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_CLPB_WL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_CLPB_WL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CLPBMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CLPBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_WLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_WLResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_WL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_CLPB_WL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_WLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_WLResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_WL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZS_SY_CLPB_WL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_WLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_WLResult" type="tns:MES_ZS_SY_CLPB_WL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZS_SY_CLPB_WL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_ZS_SY_CLPB_WL" type="tns:ArrayOfMES_ZS_SY_CLPB_WL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZS_SY_CLPB_WL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZS_SY_CLPB_WL" nillable="true" type="tns:MES_ZS_SY_CLPB_WL" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_WLSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_WL" />
  </wsdl:message>
  <wsdl:message name="INSERT_WLSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_WLResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_WLSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_WL" />
  </wsdl:message>
  <wsdl:message name="UPDATE_WLSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_WLResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_WLSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_WL" />
  </wsdl:message>
  <wsdl:message name="SELECT_WLSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_WLResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MES_ZS_SY_CLPBSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_WL">
      <wsdl:input message="tns:INSERT_WLSoapIn" />
      <wsdl:output message="tns:INSERT_WLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_WL">
      <wsdl:input message="tns:UPDATE_WLSoapIn" />
      <wsdl:output message="tns:UPDATE_WLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_WL">
      <wsdl:input message="tns:SELECT_WLSoapIn" />
      <wsdl:output message="tns:SELECT_WLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_MES_ZS_SY_CLPBHttpGet" />
  <wsdl:portType name="WS_MES_ZS_SY_CLPBHttpPost" />
  <wsdl:binding name="WS_MES_ZS_SY_CLPBSoap" type="tns:WS_MES_ZS_SY_CLPBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_WL">
      <soap:operation soapAction="http://tempuri.org/INSERT_WL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_WL">
      <soap:operation soapAction="http://tempuri.org/UPDATE_WL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_WL">
      <soap:operation soapAction="http://tempuri.org/SELECT_WL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_CLPBSoap12" type="tns:WS_MES_ZS_SY_CLPBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_WL">
      <soap12:operation soapAction="http://tempuri.org/INSERT_WL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_WL">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_WL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_WL">
      <soap12:operation soapAction="http://tempuri.org/SELECT_WL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_CLPBHttpGet" type="tns:WS_MES_ZS_SY_CLPBHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_MES_ZS_SY_CLPBHttpPost" type="tns:WS_MES_ZS_SY_CLPBHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_MES_ZS_SY_CLPB">
    <wsdl:port name="WS_MES_ZS_SY_CLPBSoap" binding="tns:WS_MES_ZS_SY_CLPBSoap">
      <soap:address location="http://localhost/API/MES/WS_MES_ZS_SY_CLPB.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_CLPBSoap12" binding="tns:WS_MES_ZS_SY_CLPBSoap12">
      <soap12:address location="http://localhost/API/MES/WS_MES_ZS_SY_CLPB.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_CLPBHttpGet" binding="tns:WS_MES_ZS_SY_CLPBHttpGet">
      <http:address location="http://localhost/API/MES/WS_MES_ZS_SY_CLPB.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_ZS_SY_CLPBHttpPost" binding="tns:WS_MES_ZS_SY_CLPBHttpPost">
      <http:address location="http://localhost/API/MES/WS_MES_ZS_SY_CLPB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>