Sonluk.UI.Model/Service References/CRM.HG_WJJLService/HG_WJJL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_WJmodel" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_HG_WJmodel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WJJL" type="tns:CRM_HG_WJJL" />
          <s:element minOccurs="0" maxOccurs="1" name="WJJLTT" type="tns:CRM_HG_WJJLTT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_HG_WJJL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WJID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WJM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WJMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISATIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IMGSOURCE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WJLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WJLXDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CZR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SPZT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SPR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SPSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SPYJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OPINION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPYJDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HFR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HFRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HFSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HFYJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GSDX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GSDXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QDWZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHLXDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CLLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CLFS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CLGSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLGSJSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLFSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YYZTDES" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_HG_WJJLTT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WJID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GSDX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GSDXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WJZT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WJMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CZR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JLID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GSDX" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="GSDXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfCRM_HG_WJJL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_HG_WJJL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_HG_WJJL" nillable="true" type="tns:CRM_HG_WJJL" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_WJJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_HG_WJJL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GSDX" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="GSDXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadLocationResult" type="tns:ArrayOfCRM_HG_WJJL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_SP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_WJJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_SPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_SPResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisplayImgReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HG_WJJL_KHModel" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_HG_WJJL_KHModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XSZZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PCRMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOfficial" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STARTTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDZS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsZXS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HDMC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAY_STATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAYITEM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HUODONG_STATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludePKH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_CJSJ_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_CJSJ_END" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YYZT" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DisplayImgReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayImgReportResult" type="tns:ArrayOfCRM_HG_WJJL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfCRM_HG_WJJL" nillable="true" type="tns:ArrayOfCRM_HG_WJJL" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadLocationSoapIn">
    <wsdl:part name="parameters" element="tns:ReadLocation" />
  </wsdl:message>
  <wsdl:message name="ReadLocationSoapOut">
    <wsdl:part name="parameters" element="tns:ReadLocationResponse" />
  </wsdl:message>
  <wsdl:message name="Update_SPSoapIn">
    <wsdl:part name="parameters" element="tns:Update_SP" />
  </wsdl:message>
  <wsdl:message name="Update_SPSoapOut">
    <wsdl:part name="parameters" element="tns:Update_SPResponse" />
  </wsdl:message>
  <wsdl:message name="DisplayImgReportSoapIn">
    <wsdl:part name="parameters" element="tns:DisplayImgReport" />
  </wsdl:message>
  <wsdl:message name="DisplayImgReportSoapOut">
    <wsdl:part name="parameters" element="tns:DisplayImgReportResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="JLID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn">
    <wsdl:part name="GSDX" type="s:string" />
    <wsdl:part name="GSDXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_WJJL" />
  </wsdl:message>
  <wsdl:message name="ReadLocationHttpGetIn">
    <wsdl:part name="GSDX" type="s:string" />
    <wsdl:part name="GSDXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_WJJL" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="JLID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn">
    <wsdl:part name="GSDX" type="s:string" />
    <wsdl:part name="GSDXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_WJJL" />
  </wsdl:message>
  <wsdl:message name="ReadLocationHttpPostIn">
    <wsdl:part name="GSDX" type="s:string" />
    <wsdl:part name="GSDXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_WJJL" />
  </wsdl:message>
  <wsdl:portType name="HG_WJJLSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadLocation">
      <wsdl:input message="tns:ReadLocationSoapIn" />
      <wsdl:output message="tns:ReadLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_SP">
      <wsdl:input message="tns:Update_SPSoapIn" />
      <wsdl:output message="tns:Update_SPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisplayImgReport">
      <wsdl:input message="tns:DisplayImgReportSoapIn" />
      <wsdl:output message="tns:DisplayImgReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HG_WJJLHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadLocation">
      <wsdl:input message="tns:ReadLocationHttpGetIn" />
      <wsdl:output message="tns:ReadLocationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HG_WJJLHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadLocation">
      <wsdl:input message="tns:ReadLocationHttpPostIn" />
      <wsdl:output message="tns:ReadLocationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HG_WJJLSoap" type="tns:HG_WJJLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLocation">
      <soap:operation soapAction="http://tempuri.org/ReadLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_SP">
      <soap:operation soapAction="http://tempuri.org/Update_SP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayImgReport">
      <soap:operation soapAction="http://tempuri.org/DisplayImgReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_WJJLSoap12" type="tns:HG_WJJLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLocation">
      <soap12:operation soapAction="http://tempuri.org/ReadLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_SP">
      <soap12:operation soapAction="http://tempuri.org/Update_SP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayImgReport">
      <soap12:operation soapAction="http://tempuri.org/DisplayImgReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_WJJLHttpGet" type="tns:HG_WJJLHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLocation">
      <http:operation location="/ReadLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HG_WJJLHttpPost" type="tns:HG_WJJLHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLocation">
      <http:operation location="/ReadLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HG_WJJL">
    <wsdl:port name="HG_WJJLSoap" binding="tns:HG_WJJLSoap">
      <soap:address location="http://192.168.0.135/API/CRM/HG_WJJL.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_WJJLSoap12" binding="tns:HG_WJJLSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/HG_WJJL.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_WJJLHttpGet" binding="tns:HG_WJJLHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/HG_WJJL.asmx" />
    </wsdl:port>
    <wsdl:port name="HG_WJJLHttpPost" binding="tns:HG_WJJLHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/HG_WJJL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>