Sonluk.UI.Model/Service References/CRM.COST_CPService/COST_CP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_CP" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_CP">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CPID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LKAYEARTTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPCP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPFL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSJGJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSJSJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LASTYEARSJXL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="THISYEARSLYG" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LASTYEARXSSJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="THISYEARXSYG" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LASTYEARXSSJ_SJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="THISYEARXSYG_SJ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CCJXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MLXJ" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CPMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BZNUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRICE_OUT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PRICE_IN" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PROFIT_OUT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PROFIT_IN" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_CP" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_CP" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_CP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_CP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_CP" nillable="true" type="tns:CRM_COST_CP" />
        </s:sequence>
      </s:complexType>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CPID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportYEARData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LKAYEARTTID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportYEARDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportYEARDataResult" type="tns:CRM_COST_CP_YEARDATA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_CP_YEARDATA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="A_XS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="A_ZB" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="B_XS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="B_ZB" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="C_XS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="C_ZB" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MCXS_LS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MCXS_GJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MLXJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MLL" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="GSSJLR" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CCJXS_HT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CCJXS_GS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="GSZCFY_HT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="GSZCFY_GS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CXZFY" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="XSRW" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="XSJD" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="A_XSRW" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="A_XSJD" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="JXSReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_CP_JXSReport" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_CP_JXSReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KPSL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPJE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="THISYEARXLYG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCJXS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPFL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPCP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JXSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YWYNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPSL_LAST2YEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPJE_LAST2YEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPSL_LASTYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPJE_LASTYEAR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="JXSReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JXSReportResult" type="tns:ArrayOfCRM_COST_CP_JXSReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_CP_JXSReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_CP_JXSReport" nillable="true" type="tns:CRM_COST_CP_JXSReport" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="CRM_COST_CP_YEARDATA" nillable="true" type="tns:CRM_COST_CP_YEARDATA" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReportYEARDataSoapIn">
    <wsdl:part name="parameters" element="tns:ReportYEARData" />
  </wsdl:message>
  <wsdl:message name="ReportYEARDataSoapOut">
    <wsdl:part name="parameters" element="tns:ReportYEARDataResponse" />
  </wsdl:message>
  <wsdl:message name="JXSReportSoapIn">
    <wsdl:part name="parameters" element="tns:JXSReport" />
  </wsdl:message>
  <wsdl:message name="JXSReportSoapOut">
    <wsdl:part name="parameters" element="tns:JXSReportResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="CPID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReportYEARDataHttpGetIn">
    <wsdl:part name="LKAYEARTTID" type="s:string" />
    <wsdl:part name="ISACTIVE" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReportYEARDataHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_COST_CP_YEARDATA" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="CPID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReportYEARDataHttpPostIn">
    <wsdl:part name="LKAYEARTTID" type="s:string" />
    <wsdl:part name="ISACTIVE" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReportYEARDataHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_COST_CP_YEARDATA" />
  </wsdl:message>
  <wsdl:portType name="COST_CPSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportYEARData">
      <wsdl:input message="tns:ReportYEARDataSoapIn" />
      <wsdl:output message="tns:ReportYEARDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JXSReport">
      <wsdl:input message="tns:JXSReportSoapIn" />
      <wsdl:output message="tns:JXSReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_CPHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportYEARData">
      <wsdl:input message="tns:ReportYEARDataHttpGetIn" />
      <wsdl:output message="tns:ReportYEARDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_CPHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportYEARData">
      <wsdl:input message="tns:ReportYEARDataHttpPostIn" />
      <wsdl:output message="tns:ReportYEARDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_CPSoap" type="tns:COST_CPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportYEARData">
      <soap:operation soapAction="http://tempuri.org/ReportYEARData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JXSReport">
      <soap:operation soapAction="http://tempuri.org/JXSReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_CPSoap12" type="tns:COST_CPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportYEARData">
      <soap12:operation soapAction="http://tempuri.org/ReportYEARData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JXSReport">
      <soap12:operation soapAction="http://tempuri.org/JXSReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_CPHttpGet" type="tns:COST_CPHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportYEARData">
      <http:operation location="/ReportYEARData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_CPHttpPost" type="tns:COST_CPHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportYEARData">
      <http:operation location="/ReportYEARData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_CP">
    <wsdl:port name="COST_CPSoap" binding="tns:COST_CPSoap">
      <soap:address location="http://192.168.0.135/API/CRM/COST_CP.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_CPSoap12" binding="tns:COST_CPSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/COST_CP.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_CPHttpGet" binding="tns:COST_CPHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/COST_CP.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_CPHttpPost" binding="tns:COST_CPHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/COST_CP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>