Sonluk.UI.Model/Service References/HR.PX_PXZTService/PX_PXZT1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT_PXZT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_PX_PXZT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PXZTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PXZTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXKSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXJSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXTEACHER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PXLEVELID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PXLEVELNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXRESULT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FJURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FJREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ALLGS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSBM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GHSELECT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_PXZTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_PXZTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_PXZT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PXZTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_PXZTResult" type="tns:HR_PX_PXZT_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_PX_PXZT_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_PX_PXZT_LIST" type="tns:ArrayOfHR_PX_PXZT_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_PX_PXZT_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_PX_PXZT_LIST" nillable="true" type="tns:HR_PX_PXZT_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_PX_PXZT_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PXZTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PXZTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXKSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXJSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXTEACHER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PXLEVELID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PXLEVELNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXJS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PXRESULT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FJID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FJURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FJREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PXZTMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PXQDTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSBM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSBMNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPTID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE_PXZT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_PXZTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_PXZTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_PXZT_FJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_PXZT_FJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_PXZT_FJResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PXZT_FJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PXZTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PXZT_FJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_PXZT_FJResult" type="tns:HR_PX_PXZT_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PXZTMX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PXZTMXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_PXZTMXResult" type="tns:HR_PX_PXZT_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_PXZTMX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_PXZTMXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_PXZTMXResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_PXZT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PXZTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_PXZTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_PXZTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_PXZT_FJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FJID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_PXZT_FJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_PXZT_FJResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_PXZTMX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PXZTMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_PXZTMXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_PXZTMXResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PXZT_RY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PXZT_RYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_PXZT_RYResult" type="tns:HR_PX_PXZT_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PXZT_BMRY_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT_BMRY" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_PX_PXZT_BMRY">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PXZTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PXZT_BMRY_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PXZT_BMRY_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PXZT_BMRY_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT_BMRY" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PXZT_BMRY_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PXZT_BMRY_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PXZT_BMRY_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_PX_PXZT_BMRY" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PXZT_BMRY_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PXZT_BMRY_SELECTResult" type="tns:HR_PX_PXZT_BMRY_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_PX_PXZT_BMRY_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="HR_PX_PXZT_SELECT" nillable="true" type="tns:HR_PX_PXZT_SELECT" />
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERT_PXZTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_PXZT" />
  </wsdl:message>
  <wsdl:message name="INSERT_PXZTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_PXZTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_PXZT" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_PXZTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_PXZTSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_PXZT" />
  </wsdl:message>
  <wsdl:message name="UPDATE_PXZTSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_PXZTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_PXZT_FJSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_PXZT_FJ" />
  </wsdl:message>
  <wsdl:message name="INSERT_PXZT_FJSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_PXZT_FJResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZT_FJSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_PXZT_FJ" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZT_FJSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_PXZT_FJResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZTMXSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_PXZTMX" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZTMXSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_PXZTMXResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_PXZTMXSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_PXZTMX" />
  </wsdl:message>
  <wsdl:message name="INSERT_PXZTMXSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_PXZTMXResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_PXZT" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_PXZTResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZT_FJSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_PXZT_FJ" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZT_FJSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_PXZT_FJResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTMXSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_PXZTMX" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTMXSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_PXZTMXResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZT_RYSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_PXZT_RY" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZT_RYSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_PXZT_RYResponse" />
  </wsdl:message>
  <wsdl:message name="PXZT_BMRY_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:PXZT_BMRY_INSERT" />
  </wsdl:message>
  <wsdl:message name="PXZT_BMRY_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:PXZT_BMRY_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="PXZT_BMRY_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:PXZT_BMRY_UPDATE" />
  </wsdl:message>
  <wsdl:message name="PXZT_BMRY_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:PXZT_BMRY_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="PXZT_BMRY_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:PXZT_BMRY_SELECT" />
  </wsdl:message>
  <wsdl:message name="PXZT_BMRY_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:PXZT_BMRY_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZT_FJHttpGetIn">
    <wsdl:part name="PXZTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZT_FJHttpGetOut">
    <wsdl:part name="Body" element="tns:HR_PX_PXZT_SELECT" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTHttpGetIn">
    <wsdl:part name="PXZTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZT_FJHttpGetIn">
    <wsdl:part name="FJID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZT_FJHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTMXHttpGetIn">
    <wsdl:part name="PXZTMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTMXHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZT_FJHttpPostIn">
    <wsdl:part name="PXZTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_PXZT_FJHttpPostOut">
    <wsdl:part name="Body" element="tns:HR_PX_PXZT_SELECT" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTHttpPostIn">
    <wsdl:part name="PXZTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZT_FJHttpPostIn">
    <wsdl:part name="FJID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZT_FJHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTMXHttpPostIn">
    <wsdl:part name="PXZTMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_PXZTMXHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="PX_PXZTSoap">
    <wsdl:operation name="INSERT_PXZT">
      <wsdl:input message="tns:INSERT_PXZTSoapIn" />
      <wsdl:output message="tns:INSERT_PXZTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT">
      <wsdl:input message="tns:SELECT_PXZTSoapIn" />
      <wsdl:output message="tns:SELECT_PXZTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_PXZT">
      <wsdl:input message="tns:UPDATE_PXZTSoapIn" />
      <wsdl:output message="tns:UPDATE_PXZTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_PXZT_FJ">
      <wsdl:input message="tns:INSERT_PXZT_FJSoapIn" />
      <wsdl:output message="tns:INSERT_PXZT_FJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT_FJ">
      <wsdl:input message="tns:SELECT_PXZT_FJSoapIn" />
      <wsdl:output message="tns:SELECT_PXZT_FJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZTMX">
      <wsdl:input message="tns:SELECT_PXZTMXSoapIn" />
      <wsdl:output message="tns:SELECT_PXZTMXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_PXZTMX">
      <wsdl:input message="tns:INSERT_PXZTMXSoapIn" />
      <wsdl:output message="tns:INSERT_PXZTMXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT">
      <wsdl:input message="tns:DELETE_PXZTSoapIn" />
      <wsdl:output message="tns:DELETE_PXZTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT_FJ">
      <wsdl:input message="tns:DELETE_PXZT_FJSoapIn" />
      <wsdl:output message="tns:DELETE_PXZT_FJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZTMX">
      <wsdl:input message="tns:DELETE_PXZTMXSoapIn" />
      <wsdl:output message="tns:DELETE_PXZTMXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT_RY">
      <wsdl:input message="tns:SELECT_PXZT_RYSoapIn" />
      <wsdl:output message="tns:SELECT_PXZT_RYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_INSERT">
      <wsdl:input message="tns:PXZT_BMRY_INSERTSoapIn" />
      <wsdl:output message="tns:PXZT_BMRY_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_UPDATE">
      <wsdl:input message="tns:PXZT_BMRY_UPDATESoapIn" />
      <wsdl:output message="tns:PXZT_BMRY_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_SELECT">
      <wsdl:input message="tns:PXZT_BMRY_SELECTSoapIn" />
      <wsdl:output message="tns:PXZT_BMRY_SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PX_PXZTHttpGet">
    <wsdl:operation name="SELECT_PXZT_FJ">
      <wsdl:input message="tns:SELECT_PXZT_FJHttpGetIn" />
      <wsdl:output message="tns:SELECT_PXZT_FJHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT">
      <wsdl:input message="tns:DELETE_PXZTHttpGetIn" />
      <wsdl:output message="tns:DELETE_PXZTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT_FJ">
      <wsdl:input message="tns:DELETE_PXZT_FJHttpGetIn" />
      <wsdl:output message="tns:DELETE_PXZT_FJHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZTMX">
      <wsdl:input message="tns:DELETE_PXZTMXHttpGetIn" />
      <wsdl:output message="tns:DELETE_PXZTMXHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PX_PXZTHttpPost">
    <wsdl:operation name="SELECT_PXZT_FJ">
      <wsdl:input message="tns:SELECT_PXZT_FJHttpPostIn" />
      <wsdl:output message="tns:SELECT_PXZT_FJHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT">
      <wsdl:input message="tns:DELETE_PXZTHttpPostIn" />
      <wsdl:output message="tns:DELETE_PXZTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT_FJ">
      <wsdl:input message="tns:DELETE_PXZT_FJHttpPostIn" />
      <wsdl:output message="tns:DELETE_PXZT_FJHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZTMX">
      <wsdl:input message="tns:DELETE_PXZTMXHttpPostIn" />
      <wsdl:output message="tns:DELETE_PXZTMXHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PX_PXZTSoap" type="tns:PX_PXZTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_PXZT">
      <soap:operation soapAction="http://tempuri.org/INSERT_PXZT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT">
      <soap:operation soapAction="http://tempuri.org/SELECT_PXZT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_PXZT">
      <soap:operation soapAction="http://tempuri.org/UPDATE_PXZT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_PXZT_FJ">
      <soap:operation soapAction="http://tempuri.org/INSERT_PXZT_FJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT_FJ">
      <soap:operation soapAction="http://tempuri.org/SELECT_PXZT_FJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZTMX">
      <soap:operation soapAction="http://tempuri.org/SELECT_PXZTMX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_PXZTMX">
      <soap:operation soapAction="http://tempuri.org/INSERT_PXZTMX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT">
      <soap:operation soapAction="http://tempuri.org/DELETE_PXZT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT_FJ">
      <soap:operation soapAction="http://tempuri.org/DELETE_PXZT_FJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZTMX">
      <soap:operation soapAction="http://tempuri.org/DELETE_PXZTMX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT_RY">
      <soap:operation soapAction="http://tempuri.org/SELECT_PXZT_RY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_INSERT">
      <soap:operation soapAction="http://tempuri.org/PXZT_BMRY_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_UPDATE">
      <soap:operation soapAction="http://tempuri.org/PXZT_BMRY_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_SELECT">
      <soap:operation soapAction="http://tempuri.org/PXZT_BMRY_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PX_PXZTSoap12" type="tns:PX_PXZTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_PXZT">
      <soap12:operation soapAction="http://tempuri.org/INSERT_PXZT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_PXZT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_PXZT">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_PXZT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_PXZT_FJ">
      <soap12:operation soapAction="http://tempuri.org/INSERT_PXZT_FJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT_FJ">
      <soap12:operation soapAction="http://tempuri.org/SELECT_PXZT_FJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZTMX">
      <soap12:operation soapAction="http://tempuri.org/SELECT_PXZTMX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_PXZTMX">
      <soap12:operation soapAction="http://tempuri.org/INSERT_PXZTMX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT">
      <soap12:operation soapAction="http://tempuri.org/DELETE_PXZT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT_FJ">
      <soap12:operation soapAction="http://tempuri.org/DELETE_PXZT_FJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZTMX">
      <soap12:operation soapAction="http://tempuri.org/DELETE_PXZTMX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PXZT_RY">
      <soap12:operation soapAction="http://tempuri.org/SELECT_PXZT_RY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_INSERT">
      <soap12:operation soapAction="http://tempuri.org/PXZT_BMRY_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/PXZT_BMRY_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PXZT_BMRY_SELECT">
      <soap12:operation soapAction="http://tempuri.org/PXZT_BMRY_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PX_PXZTHttpGet" type="tns:PX_PXZTHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SELECT_PXZT_FJ">
      <http:operation location="/SELECT_PXZT_FJ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT">
      <http:operation location="/DELETE_PXZT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT_FJ">
      <http:operation location="/DELETE_PXZT_FJ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZTMX">
      <http:operation location="/DELETE_PXZTMX" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PX_PXZTHttpPost" type="tns:PX_PXZTHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SELECT_PXZT_FJ">
      <http:operation location="/SELECT_PXZT_FJ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT">
      <http:operation location="/DELETE_PXZT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZT_FJ">
      <http:operation location="/DELETE_PXZT_FJ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_PXZTMX">
      <http:operation location="/DELETE_PXZTMX" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PX_PXZT">
    <wsdl:port name="PX_PXZTSoap" binding="tns:PX_PXZTSoap">
      <soap:address location="http://192.168.0.223/API/HR/PX_PXZT.asmx" />
    </wsdl:port>
    <wsdl:port name="PX_PXZTSoap12" binding="tns:PX_PXZTSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/PX_PXZT.asmx" />
    </wsdl:port>
    <wsdl:port name="PX_PXZTHttpGet" binding="tns:PX_PXZTHttpGet">
      <http:address location="http://192.168.0.223/API/HR/PX_PXZT.asmx" />
    </wsdl:port>
    <wsdl:port name="PX_PXZTHttpPost" binding="tns:PX_PXZTHttpPost">
      <http:address location="http://192.168.0.223/API/HR/PX_PXZT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>