Sonluk.UI.Model/Service References/MES.MES_MMService/MES_MM1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_CPBZ_READ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IV_TPM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_CPBZ_READResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_CPBZ_READResult" type="tns:ZBCFUN_CPBZ_READ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZBCFUN_CPBZ_READ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ES_HEADER" type="tns:ZSL_BCS003" />
          <s:element minOccurs="0" maxOccurs="1" name="ET_BOM" type="tns:ArrayOfZSL_BCS302_B" />
          <s:element minOccurs="0" maxOccurs="1" name="ET_RT" type="tns:ArrayOfZSL_BCST302_R" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_BCS003">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERFME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CKDJH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TMZT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MVT_IND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MOVE_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NLPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TANUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SONUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SOBKZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BESTQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDAUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDPOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLDL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_BCS302_B">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_BCS302_B" nillable="true" type="tns:ZSL_BCS302_B" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_BCS302_B">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RSNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RSPOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSTP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STLTY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STLNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STLKN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STPOZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDNRK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATKL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLDL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCXH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCDJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSBS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SOBKZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDAUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDPOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AUFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_BCST302_R">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_BCST302_R" nillable="true" type="tns:ZSL_BCST302_R" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_BCST302_R">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AUFPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VORNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARBPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LTXA1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AUFNR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GET_WLXXBYGROUP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IV_WERKS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WLGROUP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FCODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_WLXXBYGROUPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_WLXXBYGROUPResult" type="tns:MES_SY_MATERIAL_INSERT_LIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_MATERIAL_INSERT_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_MATERIAL" type="tns:ArrayOfMES_SY_MATERIAL" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="ET_HSGX" type="tns:ArrayOfZSL_BCS112" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_SY_MATERIAL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_MATERIAL" nillable="true" type="tns:MES_SY_MATERIAL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_SY_MATERIAL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLGROUP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JLTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UNITSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DCXH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DCXHNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DCDJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DCDJNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DJBS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISTRACE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_BCS112">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_BCS112" nillable="true" type="tns:ZSL_BCS112" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_BCS112">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KWMENG" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="VRKME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PSTYV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEINH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UMREZ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UMREN" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FOC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZBCFUN_CPBZ_READ" nillable="true" type="tns:ZBCFUN_CPBZ_READ" />
      <s:element name="MES_SY_MATERIAL_INSERT_LIST" nillable="true" type="tns:MES_SY_MATERIAL_INSERT_LIST" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_CPBZ_READSoapIn">
    <wsdl:part name="parameters" element="tns:get_CPBZ_READ" />
  </wsdl:message>
  <wsdl:message name="get_CPBZ_READSoapOut">
    <wsdl:part name="parameters" element="tns:get_CPBZ_READResponse" />
  </wsdl:message>
  <wsdl:message name="GET_WLXXBYGROUPSoapIn">
    <wsdl:part name="parameters" element="tns:GET_WLXXBYGROUP" />
  </wsdl:message>
  <wsdl:message name="GET_WLXXBYGROUPSoapOut">
    <wsdl:part name="parameters" element="tns:GET_WLXXBYGROUPResponse" />
  </wsdl:message>
  <wsdl:message name="get_CPBZ_READHttpGetIn">
    <wsdl:part name="IV_TPM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_CPBZ_READHttpGetOut">
    <wsdl:part name="Body" element="tns:ZBCFUN_CPBZ_READ" />
  </wsdl:message>
  <wsdl:message name="GET_WLXXBYGROUPHttpGetIn">
    <wsdl:part name="IV_WERKS" type="s:string" />
    <wsdl:part name="WLGROUP" type="s:string" />
    <wsdl:part name="MATNR" type="s:string" />
    <wsdl:part name="FCODE" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_WLXXBYGROUPHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_SY_MATERIAL_INSERT_LIST" />
  </wsdl:message>
  <wsdl:message name="get_CPBZ_READHttpPostIn">
    <wsdl:part name="IV_TPM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_CPBZ_READHttpPostOut">
    <wsdl:part name="Body" element="tns:ZBCFUN_CPBZ_READ" />
  </wsdl:message>
  <wsdl:message name="GET_WLXXBYGROUPHttpPostIn">
    <wsdl:part name="IV_WERKS" type="s:string" />
    <wsdl:part name="WLGROUP" type="s:string" />
    <wsdl:part name="MATNR" type="s:string" />
    <wsdl:part name="FCODE" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GET_WLXXBYGROUPHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_SY_MATERIAL_INSERT_LIST" />
  </wsdl:message>
  <wsdl:portType name="MES_MMSoap">
    <wsdl:operation name="get_CPBZ_READ">
      <wsdl:input message="tns:get_CPBZ_READSoapIn" />
      <wsdl:output message="tns:get_CPBZ_READSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_WLXXBYGROUP">
      <wsdl:input message="tns:GET_WLXXBYGROUPSoapIn" />
      <wsdl:output message="tns:GET_WLXXBYGROUPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MES_MMHttpGet">
    <wsdl:operation name="get_CPBZ_READ">
      <wsdl:input message="tns:get_CPBZ_READHttpGetIn" />
      <wsdl:output message="tns:get_CPBZ_READHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_WLXXBYGROUP">
      <wsdl:input message="tns:GET_WLXXBYGROUPHttpGetIn" />
      <wsdl:output message="tns:GET_WLXXBYGROUPHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MES_MMHttpPost">
    <wsdl:operation name="get_CPBZ_READ">
      <wsdl:input message="tns:get_CPBZ_READHttpPostIn" />
      <wsdl:output message="tns:get_CPBZ_READHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_WLXXBYGROUP">
      <wsdl:input message="tns:GET_WLXXBYGROUPHttpPostIn" />
      <wsdl:output message="tns:GET_WLXXBYGROUPHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MES_MMSoap" type="tns:MES_MMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_CPBZ_READ">
      <soap:operation soapAction="http://tempuri.org/get_CPBZ_READ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_WLXXBYGROUP">
      <soap:operation soapAction="http://tempuri.org/GET_WLXXBYGROUP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MES_MMSoap12" type="tns:MES_MMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_CPBZ_READ">
      <soap12:operation soapAction="http://tempuri.org/get_CPBZ_READ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_WLXXBYGROUP">
      <soap12:operation soapAction="http://tempuri.org/GET_WLXXBYGROUP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MES_MMHttpGet" type="tns:MES_MMHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="get_CPBZ_READ">
      <http:operation location="/get_CPBZ_READ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_WLXXBYGROUP">
      <http:operation location="/GET_WLXXBYGROUP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MES_MMHttpPost" type="tns:MES_MMHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="get_CPBZ_READ">
      <http:operation location="/get_CPBZ_READ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_WLXXBYGROUP">
      <http:operation location="/GET_WLXXBYGROUP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MES_MM">
    <wsdl:port name="MES_MMSoap" binding="tns:MES_MMSoap">
      <soap:address location="http://192.168.0.223/API/MES/MES_MM.asmx" />
    </wsdl:port>
    <wsdl:port name="MES_MMSoap12" binding="tns:MES_MMSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/MES_MM.asmx" />
    </wsdl:port>
    <wsdl:port name="MES_MMHttpGet" binding="tns:MES_MMHttpGet">
      <http:address location="http://192.168.0.223/API/MES/MES_MM.asmx" />
    </wsdl:port>
    <wsdl:port name="MES_MMHttpPost" binding="tns:MES_MMHttpPost">
      <http:address location="http://192.168.0.223/API/MES/MES_MM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>