Sonluk.UI.Model/Service References/CRM.BC_FXCHService/BC_FXCH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TTCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BC_FXCHTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BC_FXCHTT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FXCHTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SDFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KUNAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAMEG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZKGGKH" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TTCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TTCreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MXCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BC_FXCHMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BC_FXCHMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FXCHMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FXCHTTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DXM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NHM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LWEDT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MXCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MXCreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TTDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FXCHTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TTDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TTDeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MXDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FXCHMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MXDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MXDeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MXDeleteByDXM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DXM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MXDeleteByDXMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MXDeleteByDXMResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadTTbyParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BC_FXCHParam" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_BC_FXCHParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DXM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NHM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadTTbyParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadTTbyParamResult" type="tns:ArrayOfCRM_BC_FXCHTTList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BC_FXCHTTList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BC_FXCHTTList" nillable="true" type="tns:CRM_BC_FXCHTTList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_BC_FXCHTTList">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRM_BC_FXCHTT">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SDF_MC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SDF_SAPSN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CJRDES" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MXcount" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ReadTTbyTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FXCHTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadTTbyTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadTTbyTTIDResult" type="tns:CRM_BC_FXCHTTList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BC_FXCHParam" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportResult" type="tns:ArrayOfCRM_BC_FXCHTTList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXbyTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FXCHTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXbyTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadMXbyTTIDResult" type="tns:ArrayOfCRM_BC_FXCHMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_BC_FXCHMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_BC_FXCHMX" nillable="true" type="tns:CRM_BC_FXCHMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadMXbyParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_BC_FXCHMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXbyParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadMXbyParamResult" type="tns:ArrayOfCRM_BC_FXCHMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadCountByDXM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DXM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadCountByDXMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReadCountByDXMResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify_IfHaveKHRight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify_IfHaveKHRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Verify_IfHaveKHRightResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify_IfHaveCHRight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DXM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify_IfHaveCHRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Verify_IfHaveCHRightResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="CRM_BC_FXCHTTList" nillable="true" type="tns:CRM_BC_FXCHTTList" />
      <s:element name="ArrayOfCRM_BC_FXCHMX" nillable="true" type="tns:ArrayOfCRM_BC_FXCHMX" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TTCreateSoapIn">
    <wsdl:part name="parameters" element="tns:TTCreate" />
  </wsdl:message>
  <wsdl:message name="TTCreateSoapOut">
    <wsdl:part name="parameters" element="tns:TTCreateResponse" />
  </wsdl:message>
  <wsdl:message name="MXCreateSoapIn">
    <wsdl:part name="parameters" element="tns:MXCreate" />
  </wsdl:message>
  <wsdl:message name="MXCreateSoapOut">
    <wsdl:part name="parameters" element="tns:MXCreateResponse" />
  </wsdl:message>
  <wsdl:message name="TTDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:TTDelete" />
  </wsdl:message>
  <wsdl:message name="TTDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:TTDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="MXDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:MXDelete" />
  </wsdl:message>
  <wsdl:message name="MXDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:MXDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="MXDeleteByDXMSoapIn">
    <wsdl:part name="parameters" element="tns:MXDeleteByDXM" />
  </wsdl:message>
  <wsdl:message name="MXDeleteByDXMSoapOut">
    <wsdl:part name="parameters" element="tns:MXDeleteByDXMResponse" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadTTbyParam" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadTTbyParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadTTbyTTID" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadTTbyTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReportSoapIn">
    <wsdl:part name="parameters" element="tns:Report" />
  </wsdl:message>
  <wsdl:message name="ReportSoapOut">
    <wsdl:part name="parameters" element="tns:ReportResponse" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadMXbyTTID" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadMXbyTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadMXbyParam" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadMXbyParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadCountByDXMSoapIn">
    <wsdl:part name="parameters" element="tns:ReadCountByDXM" />
  </wsdl:message>
  <wsdl:message name="ReadCountByDXMSoapOut">
    <wsdl:part name="parameters" element="tns:ReadCountByDXMResponse" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveKHRightSoapIn">
    <wsdl:part name="parameters" element="tns:Verify_IfHaveKHRight" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveKHRightSoapOut">
    <wsdl:part name="parameters" element="tns:Verify_IfHaveKHRightResponse" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveCHRightSoapIn">
    <wsdl:part name="parameters" element="tns:Verify_IfHaveCHRight" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveCHRightSoapOut">
    <wsdl:part name="parameters" element="tns:Verify_IfHaveCHRightResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TTDeleteHttpGetIn">
    <wsdl:part name="FXCHTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TTDeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MXDeleteHttpGetIn">
    <wsdl:part name="FXCHMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MXDeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MXDeleteByDXMHttpGetIn">
    <wsdl:part name="DXM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MXDeleteByDXMHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyTTIDHttpGetIn">
    <wsdl:part name="FXCHTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_BC_FXCHTTList" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDHttpGetIn">
    <wsdl:part name="FXCHTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_BC_FXCHMX" />
  </wsdl:message>
  <wsdl:message name="ReadCountByDXMHttpGetIn">
    <wsdl:part name="DXM" type="s:string" />
    <wsdl:part name="TPM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadCountByDXMHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveKHRightHttpGetIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="CRMID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveKHRightHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveCHRightHttpGetIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="DXM" type="s:string" />
    <wsdl:part name="TPM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveCHRightHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TTDeleteHttpPostIn">
    <wsdl:part name="FXCHTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TTDeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MXDeleteHttpPostIn">
    <wsdl:part name="FXCHMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MXDeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MXDeleteByDXMHttpPostIn">
    <wsdl:part name="DXM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MXDeleteByDXMHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyTTIDHttpPostIn">
    <wsdl:part name="FXCHTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_BC_FXCHTTList" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDHttpPostIn">
    <wsdl:part name="FXCHTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_BC_FXCHMX" />
  </wsdl:message>
  <wsdl:message name="ReadCountByDXMHttpPostIn">
    <wsdl:part name="DXM" type="s:string" />
    <wsdl:part name="TPM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadCountByDXMHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveKHRightHttpPostIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="CRMID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveKHRightHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveCHRightHttpPostIn">
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="DXM" type="s:string" />
    <wsdl:part name="TPM" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Verify_IfHaveCHRightHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="BC_FXCHSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TTCreate">
      <wsdl:input message="tns:TTCreateSoapIn" />
      <wsdl:output message="tns:TTCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MXCreate">
      <wsdl:input message="tns:MXCreateSoapIn" />
      <wsdl:output message="tns:MXCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TTDelete">
      <wsdl:input message="tns:TTDeleteSoapIn" />
      <wsdl:output message="tns:TTDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MXDelete">
      <wsdl:input message="tns:MXDeleteSoapIn" />
      <wsdl:output message="tns:MXDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MXDeleteByDXM">
      <wsdl:input message="tns:MXDeleteByDXMSoapIn" />
      <wsdl:output message="tns:MXDeleteByDXMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyParam">
      <wsdl:input message="tns:ReadTTbyParamSoapIn" />
      <wsdl:output message="tns:ReadTTbyParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyTTID">
      <wsdl:input message="tns:ReadTTbyTTIDSoapIn" />
      <wsdl:output message="tns:ReadTTbyTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report">
      <wsdl:input message="tns:ReportSoapIn" />
      <wsdl:output message="tns:ReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <wsdl:input message="tns:ReadMXbyTTIDSoapIn" />
      <wsdl:output message="tns:ReadMXbyTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyParam">
      <wsdl:input message="tns:ReadMXbyParamSoapIn" />
      <wsdl:output message="tns:ReadMXbyParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadCountByDXM">
      <wsdl:input message="tns:ReadCountByDXMSoapIn" />
      <wsdl:output message="tns:ReadCountByDXMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveKHRight">
      <wsdl:input message="tns:Verify_IfHaveKHRightSoapIn" />
      <wsdl:output message="tns:Verify_IfHaveKHRightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveCHRight">
      <wsdl:input message="tns:Verify_IfHaveCHRightSoapIn" />
      <wsdl:output message="tns:Verify_IfHaveCHRightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BC_FXCHHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TTDelete">
      <wsdl:input message="tns:TTDeleteHttpGetIn" />
      <wsdl:output message="tns:TTDeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MXDelete">
      <wsdl:input message="tns:MXDeleteHttpGetIn" />
      <wsdl:output message="tns:MXDeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MXDeleteByDXM">
      <wsdl:input message="tns:MXDeleteByDXMHttpGetIn" />
      <wsdl:output message="tns:MXDeleteByDXMHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyTTID">
      <wsdl:input message="tns:ReadTTbyTTIDHttpGetIn" />
      <wsdl:output message="tns:ReadTTbyTTIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <wsdl:input message="tns:ReadMXbyTTIDHttpGetIn" />
      <wsdl:output message="tns:ReadMXbyTTIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadCountByDXM">
      <wsdl:input message="tns:ReadCountByDXMHttpGetIn" />
      <wsdl:output message="tns:ReadCountByDXMHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveKHRight">
      <wsdl:input message="tns:Verify_IfHaveKHRightHttpGetIn" />
      <wsdl:output message="tns:Verify_IfHaveKHRightHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveCHRight">
      <wsdl:input message="tns:Verify_IfHaveCHRightHttpGetIn" />
      <wsdl:output message="tns:Verify_IfHaveCHRightHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BC_FXCHHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TTDelete">
      <wsdl:input message="tns:TTDeleteHttpPostIn" />
      <wsdl:output message="tns:TTDeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MXDelete">
      <wsdl:input message="tns:MXDeleteHttpPostIn" />
      <wsdl:output message="tns:MXDeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MXDeleteByDXM">
      <wsdl:input message="tns:MXDeleteByDXMHttpPostIn" />
      <wsdl:output message="tns:MXDeleteByDXMHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyTTID">
      <wsdl:input message="tns:ReadTTbyTTIDHttpPostIn" />
      <wsdl:output message="tns:ReadTTbyTTIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <wsdl:input message="tns:ReadMXbyTTIDHttpPostIn" />
      <wsdl:output message="tns:ReadMXbyTTIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadCountByDXM">
      <wsdl:input message="tns:ReadCountByDXMHttpPostIn" />
      <wsdl:output message="tns:ReadCountByDXMHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveKHRight">
      <wsdl:input message="tns:Verify_IfHaveKHRightHttpPostIn" />
      <wsdl:output message="tns:Verify_IfHaveKHRightHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveCHRight">
      <wsdl:input message="tns:Verify_IfHaveCHRightHttpPostIn" />
      <wsdl:output message="tns:Verify_IfHaveCHRightHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BC_FXCHSoap" type="tns:BC_FXCHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TTCreate">
      <soap:operation soapAction="http://tempuri.org/TTCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXCreate">
      <soap:operation soapAction="http://tempuri.org/MXCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TTDelete">
      <soap:operation soapAction="http://tempuri.org/TTDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXDelete">
      <soap:operation soapAction="http://tempuri.org/MXDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXDeleteByDXM">
      <soap:operation soapAction="http://tempuri.org/MXDeleteByDXM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyParam">
      <soap:operation soapAction="http://tempuri.org/ReadTTbyParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyTTID">
      <soap:operation soapAction="http://tempuri.org/ReadTTbyTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap:operation soapAction="http://tempuri.org/Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <soap:operation soapAction="http://tempuri.org/ReadMXbyTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyParam">
      <soap:operation soapAction="http://tempuri.org/ReadMXbyParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCountByDXM">
      <soap:operation soapAction="http://tempuri.org/ReadCountByDXM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveKHRight">
      <soap:operation soapAction="http://tempuri.org/Verify_IfHaveKHRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveCHRight">
      <soap:operation soapAction="http://tempuri.org/Verify_IfHaveCHRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BC_FXCHSoap12" type="tns:BC_FXCHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TTCreate">
      <soap12:operation soapAction="http://tempuri.org/TTCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXCreate">
      <soap12:operation soapAction="http://tempuri.org/MXCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TTDelete">
      <soap12:operation soapAction="http://tempuri.org/TTDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXDelete">
      <soap12:operation soapAction="http://tempuri.org/MXDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXDeleteByDXM">
      <soap12:operation soapAction="http://tempuri.org/MXDeleteByDXM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyParam">
      <soap12:operation soapAction="http://tempuri.org/ReadTTbyParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyTTID">
      <soap12:operation soapAction="http://tempuri.org/ReadTTbyTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap12:operation soapAction="http://tempuri.org/Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <soap12:operation soapAction="http://tempuri.org/ReadMXbyTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyParam">
      <soap12:operation soapAction="http://tempuri.org/ReadMXbyParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCountByDXM">
      <soap12:operation soapAction="http://tempuri.org/ReadCountByDXM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveKHRight">
      <soap12:operation soapAction="http://tempuri.org/Verify_IfHaveKHRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveCHRight">
      <soap12:operation soapAction="http://tempuri.org/Verify_IfHaveCHRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BC_FXCHHttpGet" type="tns:BC_FXCHHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TTDelete">
      <http:operation location="/TTDelete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXDelete">
      <http:operation location="/MXDelete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXDeleteByDXM">
      <http:operation location="/MXDeleteByDXM" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyTTID">
      <http:operation location="/ReadTTbyTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <http:operation location="/ReadMXbyTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCountByDXM">
      <http:operation location="/ReadCountByDXM" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveKHRight">
      <http:operation location="/Verify_IfHaveKHRight" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveCHRight">
      <http:operation location="/Verify_IfHaveCHRight" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BC_FXCHHttpPost" type="tns:BC_FXCHHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TTDelete">
      <http:operation location="/TTDelete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXDelete">
      <http:operation location="/MXDelete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MXDeleteByDXM">
      <http:operation location="/MXDeleteByDXM" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyTTID">
      <http:operation location="/ReadTTbyTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <http:operation location="/ReadMXbyTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCountByDXM">
      <http:operation location="/ReadCountByDXM" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveKHRight">
      <http:operation location="/Verify_IfHaveKHRight" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify_IfHaveCHRight">
      <http:operation location="/Verify_IfHaveCHRight" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BC_FXCH">
    <wsdl:port name="BC_FXCHSoap" binding="tns:BC_FXCHSoap">
      <soap:address location="http://192.168.0.135/API/CRM/BC_FXCH.asmx" />
    </wsdl:port>
    <wsdl:port name="BC_FXCHSoap12" binding="tns:BC_FXCHSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/BC_FXCH.asmx" />
    </wsdl:port>
    <wsdl:port name="BC_FXCHHttpGet" binding="tns:BC_FXCHHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/BC_FXCH.asmx" />
    </wsdl:port>
    <wsdl:port name="BC_FXCHHttpPost" binding="tns:BC_FXCHHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/BC_FXCH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>