Sonluk.UI.Model/Service References/MES.ZSL_PP_RFCService/ZSL_PP_RFC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZPP_BZZYD_READ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IV_AUFNR" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZPP_BZZYD_READResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZPP_BZZYD_READResult" type="tns:ArrayOfZPP_BZZYD_READ_RESULT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfZPP_BZZYD_READ_RESULT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZPP_BZZYD_READ_RESULT" nillable="true" type="tns:ZPP_BZZYD_READ_RESULT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZPP_BZZYD_READ_RESULT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ZSL_PP01" type="tns:ZSL_PP01" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSL_PP02List" type="tns:ArrayOfZSL_PP02" />
          <s:element minOccurs="0" maxOccurs="1" name="TLINEList" type="tns:ArrayOfTLINE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_PP01">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RSNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AUFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSTRP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GLTRP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PLNBEZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ABLAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDAUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDPOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CY_SEQNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WEMPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GAMNG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARBPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KTEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KWMENG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VRKME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZNUM1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z000" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z001" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z002" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z003" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z004" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z005" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z006" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z007" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z008" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z009" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z010" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z011" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z012" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z013" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z014" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z015" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z016" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z017" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z018" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z019" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Z020" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GMEIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDATU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KTEXT1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ATWTB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PPTXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUTXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_PP02">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_PP02" nillable="true" type="tns:ZSL_PP02" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_PP02">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RSNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BDMNG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AUFPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VORNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEXT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTLINE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TLINE" nillable="true" type="tns:TLINE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TLINE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TDFORMAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TDLINE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ZPP_BZZYD_READSoapIn">
    <wsdl:part name="parameters" element="tns:ZPP_BZZYD_READ" />
  </wsdl:message>
  <wsdl:message name="ZPP_BZZYD_READSoapOut">
    <wsdl:part name="parameters" element="tns:ZPP_BZZYD_READResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ZSL_PP_RFCSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZPP_BZZYD_READ">
      <wsdl:input message="tns:ZPP_BZZYD_READSoapIn" />
      <wsdl:output message="tns:ZPP_BZZYD_READSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ZSL_PP_RFCHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ZSL_PP_RFCHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZSL_PP_RFCSoap" type="tns:ZSL_PP_RFCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZPP_BZZYD_READ">
      <soap:operation soapAction="http://tempuri.org/ZPP_BZZYD_READ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZSL_PP_RFCSoap12" type="tns:ZSL_PP_RFCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZPP_BZZYD_READ">
      <soap12:operation soapAction="http://tempuri.org/ZPP_BZZYD_READ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZSL_PP_RFCHttpGet" type="tns:ZSL_PP_RFCHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZSL_PP_RFCHttpPost" type="tns:ZSL_PP_RFCHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZSL_PP_RFC">
    <wsdl:port name="ZSL_PP_RFCSoap" binding="tns:ZSL_PP_RFCSoap">
      <soap:address location="http://192.168.0.107/API/PP/ZSL_PP_RFC.asmx" />
    </wsdl:port>
    <wsdl:port name="ZSL_PP_RFCSoap12" binding="tns:ZSL_PP_RFCSoap12">
      <soap12:address location="http://192.168.0.107/API/PP/ZSL_PP_RFC.asmx" />
    </wsdl:port>
    <wsdl:port name="ZSL_PP_RFCHttpGet" binding="tns:ZSL_PP_RFCHttpGet">
      <http:address location="http://192.168.0.107/API/PP/ZSL_PP_RFC.asmx" />
    </wsdl:port>
    <wsdl:port name="ZSL_PP_RFCHttpPost" binding="tns:ZSL_PP_RFCHttpPost">
      <http:address location="http://192.168.0.107/API/PP/ZSL_PP_RFC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>