Sonluk.UI.Model/Service References/MES.SY_RYGHService/WS_MES_SY_RYGH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT_GS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_RYGH_GS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_RYGH_GS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RYGSDM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RYGSSM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RYGSREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GHWS" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_GSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_GSResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_GS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_RYGH_GS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_GSResult" type="tns:MES_SY_RYGH_GS_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_RYGH_GS_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_RYGH_GS" type="tns:ArrayOfMES_SY_RYGH_GS" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_SY_RYGH_GS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_RYGH_GS" nillable="true" type="tns:MES_SY_RYGH_GS" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_RYGH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_RYGH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RYGSDM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RYGH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RYNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RYSCGH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RI" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGRID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RYGHALL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_RYGH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_SY_RYGH_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_RYGH_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_RYGH" type="tns:ArrayOfMES_SY_RYGH" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_SY_RYGH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_RYGH" nillable="true" type="tns:MES_SY_RYGH" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_RYGH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERT_GSSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_GS" />
  </wsdl:message>
  <wsdl:message name="INSERT_GSSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_GSResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_GSSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_GS" />
  </wsdl:message>
  <wsdl:message name="SELECT_GSSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_GSResponse" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MES_SY_RYGHSoap">
    <wsdl:operation name="INSERT_GS">
      <wsdl:input message="tns:INSERT_GSSoapIn" />
      <wsdl:output message="tns:INSERT_GSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_GS">
      <wsdl:input message="tns:SELECT_GSSoapIn" />
      <wsdl:output message="tns:SELECT_GSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_MES_SY_RYGHHttpGet" />
  <wsdl:portType name="WS_MES_SY_RYGHHttpPost" />
  <wsdl:binding name="WS_MES_SY_RYGHSoap" type="tns:WS_MES_SY_RYGHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_GS">
      <soap:operation soapAction="http://tempuri.org/INSERT_GS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GS">
      <soap:operation soapAction="http://tempuri.org/SELECT_GS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_SY_RYGHSoap12" type="tns:WS_MES_SY_RYGHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_GS">
      <soap12:operation soapAction="http://tempuri.org/INSERT_GS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GS">
      <soap12:operation soapAction="http://tempuri.org/SELECT_GS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_SY_RYGHHttpGet" type="tns:WS_MES_SY_RYGHHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_MES_SY_RYGHHttpPost" type="tns:WS_MES_SY_RYGHHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_MES_SY_RYGH">
    <wsdl:port name="WS_MES_SY_RYGHSoap" binding="tns:WS_MES_SY_RYGHSoap">
      <soap:address location="http://192.168.0.223/API/MES/WS_MES_SY_RYGH.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_SY_RYGHSoap12" binding="tns:WS_MES_SY_RYGHSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/WS_MES_SY_RYGH.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_SY_RYGHHttpGet" binding="tns:WS_MES_SY_RYGHHttpGet">
      <http:address location="http://192.168.0.223/API/MES/WS_MES_SY_RYGH.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_SY_RYGHHttpPost" binding="tns:WS_MES_SY_RYGHHttpPost">
      <http:address location="http://192.168.0.223/API/MES/WS_MES_SY_RYGH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>