Sonluk.UI.Model/Service References/EM.SY_DEVICEQRJLService/SY_DEVICEQRJL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:EM_SY_DEVICEQRJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EM_SY_DEVICEQRJL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MACADRESS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfEM_SY_DEVICEQRJL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEM_SY_DEVICEQRJL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EM_SY_DEVICEQRJL" nillable="true" type="tns:EM_SY_DEVICEQRJL" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:EM_SY_DEVICEQRJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:portType name="SY_DEVICEQRJLSoap">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_DEVICEQRJLHttpGet" />
  <wsdl:portType name="SY_DEVICEQRJLHttpPost" />
  <wsdl:binding name="SY_DEVICEQRJLSoap" type="tns:SY_DEVICEQRJLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_DEVICEQRJLSoap12" type="tns:SY_DEVICEQRJLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_DEVICEQRJLHttpGet" type="tns:SY_DEVICEQRJLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SY_DEVICEQRJLHttpPost" type="tns:SY_DEVICEQRJLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SY_DEVICEQRJL">
    <wsdl:port name="SY_DEVICEQRJLSoap" binding="tns:SY_DEVICEQRJLSoap">
      <soap:address location="http://192.168.0.107/API/EM/SY_DEVICEQRJL.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_DEVICEQRJLSoap12" binding="tns:SY_DEVICEQRJLSoap12">
      <soap12:address location="http://192.168.0.107/API/EM/SY_DEVICEQRJL.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_DEVICEQRJLHttpGet" binding="tns:SY_DEVICEQRJLHttpGet">
      <http:address location="http://192.168.0.107/API/EM/SY_DEVICEQRJL.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_DEVICEQRJLHttpPost" binding="tns:SY_DEVICEQRJLHttpPost">
      <http:address location="http://192.168.0.107/API/EM/SY_DEVICEQRJL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>