Sonluk.UI.Model/Service References/CRM.HD_NKAMDService/HD_NKAMD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_TT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HD_NKAMDTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_HD_NKAMDTT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NKAMDID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SQRID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SQRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create_TTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Create_TTResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_TT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HD_NKAMDTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_TTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_TTResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_TT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NKAMDID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_TTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_TTResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_MX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HD_NKAMDMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_HD_NKAMDMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NKAMDMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NKAMDID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KDZCCL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDLSMD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LSZB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZBFW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CXHDLS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TSCLLS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGXC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create_MXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Create_MXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_MX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_HD_NKAMDMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_MXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_MXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_MX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NKAMDMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_MXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_MXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Create_TTSoapIn">
    <wsdl:part name="parameters" element="tns:Create_TT" />
  </wsdl:message>
  <wsdl:message name="Create_TTSoapOut">
    <wsdl:part name="parameters" element="tns:Create_TTResponse" />
  </wsdl:message>
  <wsdl:message name="Update_TTSoapIn">
    <wsdl:part name="parameters" element="tns:Update_TT" />
  </wsdl:message>
  <wsdl:message name="Update_TTSoapOut">
    <wsdl:part name="parameters" element="tns:Update_TTResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_TTSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_TT" />
  </wsdl:message>
  <wsdl:message name="Delete_TTSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_TTResponse" />
  </wsdl:message>
  <wsdl:message name="Create_MXSoapIn">
    <wsdl:part name="parameters" element="tns:Create_MX" />
  </wsdl:message>
  <wsdl:message name="Create_MXSoapOut">
    <wsdl:part name="parameters" element="tns:Create_MXResponse" />
  </wsdl:message>
  <wsdl:message name="Update_MXSoapIn">
    <wsdl:part name="parameters" element="tns:Update_MX" />
  </wsdl:message>
  <wsdl:message name="Update_MXSoapOut">
    <wsdl:part name="parameters" element="tns:Update_MXResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_MXSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_MX" />
  </wsdl:message>
  <wsdl:message name="Delete_MXSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_MXResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Delete_TTHttpGetIn">
    <wsdl:part name="NKAMDID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Delete_TTHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Delete_MXHttpGetIn">
    <wsdl:part name="NKAMDMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Delete_MXHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Delete_TTHttpPostIn">
    <wsdl:part name="NKAMDID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Delete_TTHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Delete_MXHttpPostIn">
    <wsdl:part name="NKAMDMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Delete_MXHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="HD_NKAMDSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_TT">
      <wsdl:input message="tns:Create_TTSoapIn" />
      <wsdl:output message="tns:Create_TTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_TT">
      <wsdl:input message="tns:Update_TTSoapIn" />
      <wsdl:output message="tns:Update_TTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_TT">
      <wsdl:input message="tns:Delete_TTSoapIn" />
      <wsdl:output message="tns:Delete_TTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_MX">
      <wsdl:input message="tns:Create_MXSoapIn" />
      <wsdl:output message="tns:Create_MXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_MX">
      <wsdl:input message="tns:Update_MXSoapIn" />
      <wsdl:output message="tns:Update_MXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_MX">
      <wsdl:input message="tns:Delete_MXSoapIn" />
      <wsdl:output message="tns:Delete_MXSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HD_NKAMDHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_TT">
      <wsdl:input message="tns:Delete_TTHttpGetIn" />
      <wsdl:output message="tns:Delete_TTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_MX">
      <wsdl:input message="tns:Delete_MXHttpGetIn" />
      <wsdl:output message="tns:Delete_MXHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="HD_NKAMDHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_TT">
      <wsdl:input message="tns:Delete_TTHttpPostIn" />
      <wsdl:output message="tns:Delete_TTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_MX">
      <wsdl:input message="tns:Delete_MXHttpPostIn" />
      <wsdl:output message="tns:Delete_MXHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HD_NKAMDSoap" type="tns:HD_NKAMDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_TT">
      <soap:operation soapAction="http://tempuri.org/Create_TT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_TT">
      <soap:operation soapAction="http://tempuri.org/Update_TT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_TT">
      <soap:operation soapAction="http://tempuri.org/Delete_TT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_MX">
      <soap:operation soapAction="http://tempuri.org/Create_MX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_MX">
      <soap:operation soapAction="http://tempuri.org/Update_MX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_MX">
      <soap:operation soapAction="http://tempuri.org/Delete_MX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HD_NKAMDSoap12" type="tns:HD_NKAMDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_TT">
      <soap12:operation soapAction="http://tempuri.org/Create_TT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_TT">
      <soap12:operation soapAction="http://tempuri.org/Update_TT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_TT">
      <soap12:operation soapAction="http://tempuri.org/Delete_TT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_MX">
      <soap12:operation soapAction="http://tempuri.org/Create_MX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_MX">
      <soap12:operation soapAction="http://tempuri.org/Update_MX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_MX">
      <soap12:operation soapAction="http://tempuri.org/Delete_MX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HD_NKAMDHttpGet" type="tns:HD_NKAMDHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_TT">
      <http:operation location="/Delete_TT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_MX">
      <http:operation location="/Delete_MX" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HD_NKAMDHttpPost" type="tns:HD_NKAMDHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_TT">
      <http:operation location="/Delete_TT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_MX">
      <http:operation location="/Delete_MX" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HD_NKAMD">
    <wsdl:port name="HD_NKAMDSoap" binding="tns:HD_NKAMDSoap">
      <soap:address location="http://192.168.0.16/API/CRM/HD_NKAMD.asmx" />
    </wsdl:port>
    <wsdl:port name="HD_NKAMDSoap12" binding="tns:HD_NKAMDSoap12">
      <soap12:address location="http://192.168.0.16/API/CRM/HD_NKAMD.asmx" />
    </wsdl:port>
    <wsdl:port name="HD_NKAMDHttpGet" binding="tns:HD_NKAMDHttpGet">
      <http:address location="http://192.168.0.16/API/CRM/HD_NKAMD.asmx" />
    </wsdl:port>
    <wsdl:port name="HD_NKAMDHttpPost" binding="tns:HD_NKAMDHttpPost">
      <http:address location="http://192.168.0.16/API/CRM/HD_NKAMD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>