Sonluk.UI.Model/Service References/MES.MES_WLKCBSService/MES_WLKCBS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GET_WLPZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IS_PURCT" type="tns:ZSL_BCS303_CT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZSL_BCS303_CT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MBLNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MJAHR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZEILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUDAT_ST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUDAT_ED" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPUDT_ST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPUDT_ED" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPUTM_ST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPUTM_ED" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISNOTPRINT" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DBBS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GET_WLPZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_WLPZResult" type="tns:ZBCFUN_PURBS_READ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZBCFUN_PURBS_READ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ET_PURBS" type="tns:ArrayOfZSL_BCS303_BS" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_BCS303_BS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_BCS303_BS" nillable="true" type="tns:ZSL_BCS303_BS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_BCS303_BS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MBLNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MJAHR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZEILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINE_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATKL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLDL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MTART" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCXH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DCDJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGOBE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EBELP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LICHA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SORTL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BUDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WWBS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSBS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XCBS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLCJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MENGE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MEINS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAT_KDAUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAT_KDPOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XCZJTM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JLR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CBOX" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MTSL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QSTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WEMPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DBBS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GET_WLPZ_ZJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IS_PURBS" type="tns:ZSL_BCS303_BS" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_WLPZ_ZJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_WLPZ_ZJResult" type="tns:ZBCFUN_PURBS_READ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_TM_WLPZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfZSL_BCS303_BS" />
            <s:element minOccurs="1" maxOccurs="1" name="INSERTLB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_TM_WLPZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_TM_WLPZResult" type="tns:ZBCFUN_PURBS_READ" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GET_WLPZSoapIn">
    <wsdl:part name="parameters" element="tns:GET_WLPZ" />
  </wsdl:message>
  <wsdl:message name="GET_WLPZSoapOut">
    <wsdl:part name="parameters" element="tns:GET_WLPZResponse" />
  </wsdl:message>
  <wsdl:message name="GET_WLPZ_ZJSoapIn">
    <wsdl:part name="parameters" element="tns:GET_WLPZ_ZJ" />
  </wsdl:message>
  <wsdl:message name="GET_WLPZ_ZJSoapOut">
    <wsdl:part name="parameters" element="tns:GET_WLPZ_ZJResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_TM_WLPZSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_TM_WLPZ" />
  </wsdl:message>
  <wsdl:message name="INSERT_TM_WLPZSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_TM_WLPZResponse" />
  </wsdl:message>
  <wsdl:portType name="MES_WLKCBSSoap">
    <wsdl:operation name="GET_WLPZ">
      <wsdl:input message="tns:GET_WLPZSoapIn" />
      <wsdl:output message="tns:GET_WLPZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_WLPZ_ZJ">
      <wsdl:input message="tns:GET_WLPZ_ZJSoapIn" />
      <wsdl:output message="tns:GET_WLPZ_ZJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_TM_WLPZ">
      <wsdl:input message="tns:INSERT_TM_WLPZSoapIn" />
      <wsdl:output message="tns:INSERT_TM_WLPZSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MES_WLKCBSHttpGet" />
  <wsdl:portType name="MES_WLKCBSHttpPost" />
  <wsdl:binding name="MES_WLKCBSSoap" type="tns:MES_WLKCBSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_WLPZ">
      <soap:operation soapAction="http://tempuri.org/GET_WLPZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_WLPZ_ZJ">
      <soap:operation soapAction="http://tempuri.org/GET_WLPZ_ZJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_TM_WLPZ">
      <soap:operation soapAction="http://tempuri.org/INSERT_TM_WLPZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MES_WLKCBSSoap12" type="tns:MES_WLKCBSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GET_WLPZ">
      <soap12:operation soapAction="http://tempuri.org/GET_WLPZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_WLPZ_ZJ">
      <soap12:operation soapAction="http://tempuri.org/GET_WLPZ_ZJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_TM_WLPZ">
      <soap12:operation soapAction="http://tempuri.org/INSERT_TM_WLPZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MES_WLKCBSHttpGet" type="tns:MES_WLKCBSHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="MES_WLKCBSHttpPost" type="tns:MES_WLKCBSHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="MES_WLKCBS">
    <wsdl:port name="MES_WLKCBSSoap" binding="tns:MES_WLKCBSSoap">
      <soap:address location="http://192.168.0.223/API/MES/MES_WLKCBS.asmx" />
    </wsdl:port>
    <wsdl:port name="MES_WLKCBSSoap12" binding="tns:MES_WLKCBSSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/MES_WLKCBS.asmx" />
    </wsdl:port>
    <wsdl:port name="MES_WLKCBSHttpGet" binding="tns:MES_WLKCBSHttpGet">
      <http:address location="http://192.168.0.223/API/MES/MES_WLKCBS.asmx" />
    </wsdl:port>
    <wsdl:port name="MES_WLKCBSHttpPost" binding="tns:MES_WLKCBSHttpPost">
      <http:address location="http://192.168.0.223/API/MES/MES_WLKCBS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>