Sonluk.UI.Model/Service References/S5.SY_RELATIONSHIPBINDService/SY_RELATIONSHIPBIND.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_RELATIONSHIPBIND" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FIVES_SY_RELATIONSHIPBIND">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OBJ1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OBJ2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ACTION" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfFIVES_SY_RELATIONSHIPBINDList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFIVES_SY_RELATIONSHIPBINDList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FIVES_SY_RELATIONSHIPBINDList" nillable="true" type="tns:FIVES_SY_RELATIONSHIPBINDList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FIVES_SY_RELATIONSHIPBINDList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OBJ1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OBJ2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OBJ1NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OBJ2NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TYPEREMARK" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_RELATIONSHIPBIND" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_RELATIONSHIPBIND" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_RELATIONSHIPBIND" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_OJB1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_RELATIONSHIPBIND" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_OJB1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Delete_OJB1Result" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_OJB2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_RELATIONSHIPBIND" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_OJB2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Delete_OJB2Result" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_OJB1SoapIn">
    <wsdl:part name="parameters" element="tns:Delete_OJB1" />
  </wsdl:message>
  <wsdl:message name="Delete_OJB1SoapOut">
    <wsdl:part name="parameters" element="tns:Delete_OJB1Response" />
  </wsdl:message>
  <wsdl:message name="Delete_OJB2SoapIn">
    <wsdl:part name="parameters" element="tns:Delete_OJB2" />
  </wsdl:message>
  <wsdl:message name="Delete_OJB2SoapOut">
    <wsdl:part name="parameters" element="tns:Delete_OJB2Response" />
  </wsdl:message>
  <wsdl:portType name="SY_RELATIONSHIPBINDSoap">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_OJB1">
      <wsdl:input message="tns:Delete_OJB1SoapIn" />
      <wsdl:output message="tns:Delete_OJB1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_OJB2">
      <wsdl:input message="tns:Delete_OJB2SoapIn" />
      <wsdl:output message="tns:Delete_OJB2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_RELATIONSHIPBINDHttpGet" />
  <wsdl:portType name="SY_RELATIONSHIPBINDHttpPost" />
  <wsdl:binding name="SY_RELATIONSHIPBINDSoap" type="tns:SY_RELATIONSHIPBINDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_OJB1">
      <soap:operation soapAction="http://tempuri.org/Delete_OJB1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_OJB2">
      <soap:operation soapAction="http://tempuri.org/Delete_OJB2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_RELATIONSHIPBINDSoap12" type="tns:SY_RELATIONSHIPBINDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_OJB1">
      <soap12:operation soapAction="http://tempuri.org/Delete_OJB1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_OJB2">
      <soap12:operation soapAction="http://tempuri.org/Delete_OJB2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_RELATIONSHIPBINDHttpGet" type="tns:SY_RELATIONSHIPBINDHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SY_RELATIONSHIPBINDHttpPost" type="tns:SY_RELATIONSHIPBINDHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SY_RELATIONSHIPBIND">
    <wsdl:port name="SY_RELATIONSHIPBINDSoap" binding="tns:SY_RELATIONSHIPBINDSoap">
      <soap:address location="http://192.168.0.107/TEST/FIVES/SY_RELATIONSHIPBIND.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_RELATIONSHIPBINDSoap12" binding="tns:SY_RELATIONSHIPBINDSoap12">
      <soap12:address location="http://192.168.0.107/TEST/FIVES/SY_RELATIONSHIPBIND.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_RELATIONSHIPBINDHttpGet" binding="tns:SY_RELATIONSHIPBINDHttpGet">
      <http:address location="http://192.168.0.107/TEST/FIVES/SY_RELATIONSHIPBIND.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_RELATIONSHIPBINDHttpPost" binding="tns:SY_RELATIONSHIPBINDHttpPost">
      <http:address location="http://192.168.0.107/TEST/FIVES/SY_RELATIONSHIPBIND.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>