Sonluk.UI.Model/Service References/CRM.COST_KAHXDJMXService/COST_KAHXDJMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXDJMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_KAHXDJMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HXDJMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HXDJTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTITEMID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FYHXXS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CWHSBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CBZXBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SPJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YHXJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HXJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WSJE" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="HXRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRINTCOUNT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRINTTHIS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRINTKH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PRINTKHMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GIDCBZXBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DISPLAYTEMP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FYHXXSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CWHSBHDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CBZXBHDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GIDCBZXBHDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SLDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ_END" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConnectedGID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ConnectedGNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HXDJMXIDSTR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ITEM_CWHSBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ITEM_CWHSBHDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CXYFYLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CXYFYLXDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FKFKHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FKFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FPHM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FKFSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MDMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MDID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="THL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HXTBJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SJFY" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ISTJ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OTHER_FYLBDES" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXDJMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXDJMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateByStrResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXDJMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_KAHXDJMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_KAHXDJMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_KAHXDJMX" nillable="true" type="tns:CRM_COST_KAHXDJMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadForPrint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXDJMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadForPrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadForPrintResult" type="tns:ArrayOfCRM_COST_KAHXDJMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HXDJMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrintCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HXDJMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrintCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPrintCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateByStrSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateByStr" />
  </wsdl:message>
  <wsdl:message name="UpdateByStrSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateByStrResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadForPrintSoapIn">
    <wsdl:part name="parameters" element="tns:ReadForPrint" />
  </wsdl:message>
  <wsdl:message name="ReadForPrintSoapOut">
    <wsdl:part name="parameters" element="tns:ReadForPrintResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountSoapIn">
    <wsdl:part name="parameters" element="tns:AddPrintCount" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountSoapOut">
    <wsdl:part name="parameters" element="tns:AddPrintCountResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="HXDJMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpGetIn">
    <wsdl:part name="HXDJMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="HXDJMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpPostIn">
    <wsdl:part name="HXDJMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="COST_KAHXDJMXSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateByStr">
      <wsdl:input message="tns:UpdateByStrSoapIn" />
      <wsdl:output message="tns:UpdateByStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadForPrint">
      <wsdl:input message="tns:ReadForPrintSoapIn" />
      <wsdl:output message="tns:ReadForPrintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountSoapIn" />
      <wsdl:output message="tns:AddPrintCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_KAHXDJMXHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountHttpGetIn" />
      <wsdl:output message="tns:AddPrintCountHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_KAHXDJMXHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountHttpPostIn" />
      <wsdl:output message="tns:AddPrintCountHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_KAHXDJMXSoap" type="tns:COST_KAHXDJMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateByStr">
      <soap:operation soapAction="http://tempuri.org/UpdateByStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadForPrint">
      <soap:operation soapAction="http://tempuri.org/ReadForPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <soap:operation soapAction="http://tempuri.org/AddPrintCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KAHXDJMXSoap12" type="tns:COST_KAHXDJMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateByStr">
      <soap12:operation soapAction="http://tempuri.org/UpdateByStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadForPrint">
      <soap12:operation soapAction="http://tempuri.org/ReadForPrint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <soap12:operation soapAction="http://tempuri.org/AddPrintCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KAHXDJMXHttpGet" type="tns:COST_KAHXDJMXHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <http:operation location="/AddPrintCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KAHXDJMXHttpPost" type="tns:COST_KAHXDJMXHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <http:operation location="/AddPrintCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_KAHXDJMX">
    <wsdl:port name="COST_KAHXDJMXSoap" binding="tns:COST_KAHXDJMXSoap">
      <soap:address location="http://192.168.0.135/API/CRM/COST_KAHXDJMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KAHXDJMXSoap12" binding="tns:COST_KAHXDJMXSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/COST_KAHXDJMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KAHXDJMXHttpGet" binding="tns:COST_KAHXDJMXHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/COST_KAHXDJMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KAHXDJMXHttpPost" binding="tns:COST_KAHXDJMXHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/COST_KAHXDJMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>