Sonluk.UI.Model/Service References/HR.XZGL_FFJLMXService/WS_HR_XZGL_FFJLMX1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FFJLMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FFJLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FFJLMXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FFJLZDNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZDVALUE" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MYPW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSMONTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSMONTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEARCHINFO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SXDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YGTYPENAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FFLY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZHLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RYLIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ISJSSE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GSLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JSFS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FFJLMXLIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="PXLB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_XZGL_FFJLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FFJLMX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:element name="FORMULA_JS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FORMULA_JSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FORMULA_JSResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FORMULA_JS_TZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FORMULA_JS_TZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FORMULA_JS_TZResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUTO_ADD_TO_FFJLMX_OTHER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUTO_ADD_TO_FFJLMX_OTHERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AUTO_ADD_TO_FFJLMX_OTHERResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GSREPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GSREPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_GSREPORTResult" type="tns:HR_XZGL_FFJLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_FFMXREPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_FFMXREPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_FFMXREPORTResult" type="tns:HR_XZGL_FFJLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GZXJSDREPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GZXJSDREPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_GZXJSDREPORTResult" type="tns:HR_XZGL_FFJLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_FFMXGZDREPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_FFMXGZDREPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_FFMXGZDREPORTResult" type="tns:HR_XZGL_FFJLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_FFMXGZHZREPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_FFMXGZHZREPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_FFMXGZHZREPORTResult" type="tns:HR_XZGL_FFJLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_FFMXTXFREPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_FFMXTXFREPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_FFMXTXFREPORTResult" type="tns:HR_XZGL_FFJLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GUOSHUIREPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_GUOSHUIREPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_GUOSHUIREPORTResult" type="tns:HR_XZGL_FFJLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="FORMULA_JSSoapIn">
    <wsdl:part name="parameters" element="tns:FORMULA_JS" />
  </wsdl:message>
  <wsdl:message name="FORMULA_JSSoapOut">
    <wsdl:part name="parameters" element="tns:FORMULA_JSResponse" />
  </wsdl:message>
  <wsdl:message name="FORMULA_JS_TZSoapIn">
    <wsdl:part name="parameters" element="tns:FORMULA_JS_TZ" />
  </wsdl:message>
  <wsdl:message name="FORMULA_JS_TZSoapOut">
    <wsdl:part name="parameters" element="tns:FORMULA_JS_TZResponse" />
  </wsdl:message>
  <wsdl:message name="AUTO_ADD_TO_FFJLMX_OTHERSoapIn">
    <wsdl:part name="parameters" element="tns:AUTO_ADD_TO_FFJLMX_OTHER" />
  </wsdl:message>
  <wsdl:message name="AUTO_ADD_TO_FFJLMX_OTHERSoapOut">
    <wsdl:part name="parameters" element="tns:AUTO_ADD_TO_FFJLMX_OTHERResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_GSREPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_GSREPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_GSREPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_GSREPORTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_FFMXREPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_FFMXREPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_FFMXREPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_FFMXREPORTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_GZXJSDREPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_GZXJSDREPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_GZXJSDREPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_GZXJSDREPORTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_FFMXGZDREPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_FFMXGZDREPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_FFMXGZDREPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_FFMXGZDREPORTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_FFMXGZHZREPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_FFMXGZHZREPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_FFMXGZHZREPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_FFMXGZHZREPORTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_FFMXTXFREPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_FFMXTXFREPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_FFMXTXFREPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_FFMXTXFREPORTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_GUOSHUIREPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_GUOSHUIREPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_GUOSHUIREPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_GUOSHUIREPORTResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_XZGL_FFJLMXSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FORMULA_JS">
      <wsdl:input message="tns:FORMULA_JSSoapIn" />
      <wsdl:output message="tns:FORMULA_JSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FORMULA_JS_TZ">
      <wsdl:input message="tns:FORMULA_JS_TZSoapIn" />
      <wsdl:output message="tns:FORMULA_JS_TZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AUTO_ADD_TO_FFJLMX_OTHER">
      <wsdl:input message="tns:AUTO_ADD_TO_FFJLMX_OTHERSoapIn" />
      <wsdl:output message="tns:AUTO_ADD_TO_FFJLMX_OTHERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_GSREPORT">
      <wsdl:input message="tns:SELECT_GSREPORTSoapIn" />
      <wsdl:output message="tns:SELECT_GSREPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXREPORT">
      <wsdl:input message="tns:SELECT_FFMXREPORTSoapIn" />
      <wsdl:output message="tns:SELECT_FFMXREPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_GZXJSDREPORT">
      <wsdl:input message="tns:SELECT_GZXJSDREPORTSoapIn" />
      <wsdl:output message="tns:SELECT_GZXJSDREPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXGZDREPORT">
      <wsdl:input message="tns:SELECT_FFMXGZDREPORTSoapIn" />
      <wsdl:output message="tns:SELECT_FFMXGZDREPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXGZHZREPORT">
      <wsdl:input message="tns:SELECT_FFMXGZHZREPORTSoapIn" />
      <wsdl:output message="tns:SELECT_FFMXGZHZREPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXTXFREPORT">
      <wsdl:input message="tns:SELECT_FFMXTXFREPORTSoapIn" />
      <wsdl:output message="tns:SELECT_FFMXTXFREPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_GUOSHUIREPORT">
      <wsdl:input message="tns:SELECT_GUOSHUIREPORTSoapIn" />
      <wsdl:output message="tns:SELECT_GUOSHUIREPORTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_XZGL_FFJLMXHttpGet" />
  <wsdl:portType name="WS_HR_XZGL_FFJLMXHttpPost" />
  <wsdl:binding name="WS_HR_XZGL_FFJLMXSoap" type="tns:WS_HR_XZGL_FFJLMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FORMULA_JS">
      <soap:operation soapAction="http://tempuri.org/FORMULA_JS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FORMULA_JS_TZ">
      <soap:operation soapAction="http://tempuri.org/FORMULA_JS_TZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUTO_ADD_TO_FFJLMX_OTHER">
      <soap:operation soapAction="http://tempuri.org/AUTO_ADD_TO_FFJLMX_OTHER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GSREPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_GSREPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXREPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_FFMXREPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GZXJSDREPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_GZXJSDREPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXGZDREPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_FFMXGZDREPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXGZHZREPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_FFMXGZHZREPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXTXFREPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_FFMXTXFREPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GUOSHUIREPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_GUOSHUIREPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FFJLMXSoap12" type="tns:WS_HR_XZGL_FFJLMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FORMULA_JS">
      <soap12:operation soapAction="http://tempuri.org/FORMULA_JS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FORMULA_JS_TZ">
      <soap12:operation soapAction="http://tempuri.org/FORMULA_JS_TZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUTO_ADD_TO_FFJLMX_OTHER">
      <soap12:operation soapAction="http://tempuri.org/AUTO_ADD_TO_FFJLMX_OTHER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GSREPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_GSREPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXREPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_FFMXREPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GZXJSDREPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_GZXJSDREPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXGZDREPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_FFMXGZDREPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXGZHZREPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_FFMXGZHZREPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_FFMXTXFREPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_FFMXTXFREPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_GUOSHUIREPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_GUOSHUIREPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FFJLMXHttpGet" type="tns:WS_HR_XZGL_FFJLMXHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FFJLMXHttpPost" type="tns:WS_HR_XZGL_FFJLMXHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_XZGL_FFJLMX">
    <wsdl:port name="WS_HR_XZGL_FFJLMXSoap" binding="tns:WS_HR_XZGL_FFJLMXSoap">
      <soap:address location="http://localhost/API/HR/WS_HR_XZGL_FFJLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FFJLMXSoap12" binding="tns:WS_HR_XZGL_FFJLMXSoap12">
      <soap12:address location="http://localhost/API/HR/WS_HR_XZGL_FFJLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FFJLMXHttpGet" binding="tns:WS_HR_XZGL_FFJLMXHttpGet">
      <http:address location="http://localhost/API/HR/WS_HR_XZGL_FFJLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FFJLMXHttpPost" binding="tns:WS_HR_XZGL_FFJLMXHttpPost">
      <http:address location="http://localhost/API/HR/WS_HR_XZGL_FFJLMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>