Sonluk.UI.Model/Service References/CRM.COST_ZZFTTService/COST_ZZFTT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_ZZFTT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTITEMID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PKHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GGADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QKSM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WZPG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZQYDXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZHYDXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SFYCXYZC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CXYFY" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SFCSCLFY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CLFY" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="XQRK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGJL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GGSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT1C" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT1K" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT1G" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT2C" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT2K" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT2G" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZF" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="GGZLF" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SQJE" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ZLSTARTTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZLENDTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GGGSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OPINION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HXR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HXSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HXRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MCNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TBSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FINALCOST" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SQJEAll" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="GGGSMCALL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHXZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YHXJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TT_KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TT_HTYEAR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HXZLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GGWSJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AMOUNT" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="HTYEAR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LKAFYTTID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_ZZFTT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_ZZFTT" nillable="true" type="tns:CRM_COST_ZZFTT" />
        </s:sequence>
      </s:complexType>
      <s:element name="Read_KA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_KAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_KAResult" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_LKA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_LKAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_LKAResult" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByCostitemid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByCostitemidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByCostitemidResult" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_LKAUnconnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_LKAUnconnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_LKAUnconnectedResult" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_KAUnconnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_KAUnconnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_KAUnconnectedResult" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_Unconnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_UnconnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_UnconnectedResult" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_Unconnected2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_Unconnected2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_Unconnected2Result" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByTSCLF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByTSCLFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByTSCLFResult" type="tns:ArrayOfCRM_COST_ZZFTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="Read_KASoapIn">
    <wsdl:part name="parameters" element="tns:Read_KA" />
  </wsdl:message>
  <wsdl:message name="Read_KASoapOut">
    <wsdl:part name="parameters" element="tns:Read_KAResponse" />
  </wsdl:message>
  <wsdl:message name="Read_LKASoapIn">
    <wsdl:part name="parameters" element="tns:Read_LKA" />
  </wsdl:message>
  <wsdl:message name="Read_LKASoapOut">
    <wsdl:part name="parameters" element="tns:Read_LKAResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByCostitemidSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByCostitemid" />
  </wsdl:message>
  <wsdl:message name="ReadByCostitemidSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByCostitemidResponse" />
  </wsdl:message>
  <wsdl:message name="Read_LKAUnconnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Read_LKAUnconnected" />
  </wsdl:message>
  <wsdl:message name="Read_LKAUnconnectedSoapOut">
    <wsdl:part name="parameters" element="tns:Read_LKAUnconnectedResponse" />
  </wsdl:message>
  <wsdl:message name="Read_KAUnconnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Read_KAUnconnected" />
  </wsdl:message>
  <wsdl:message name="Read_KAUnconnectedSoapOut">
    <wsdl:part name="parameters" element="tns:Read_KAUnconnectedResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Read_Unconnected" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapOut">
    <wsdl:part name="parameters" element="tns:Read_UnconnectedResponse" />
  </wsdl:message>
  <wsdl:message name="Read_Unconnected2SoapIn">
    <wsdl:part name="parameters" element="tns:Read_Unconnected2" />
  </wsdl:message>
  <wsdl:message name="Read_Unconnected2SoapOut">
    <wsdl:part name="parameters" element="tns:Read_Unconnected2Response" />
  </wsdl:message>
  <wsdl:message name="ReadByTSCLFSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByTSCLF" />
  </wsdl:message>
  <wsdl:message name="ReadByTSCLFSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByTSCLFResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="TTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="TTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="COST_ZZFTTSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_KA">
      <wsdl:input message="tns:Read_KASoapIn" />
      <wsdl:output message="tns:Read_KASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_LKA">
      <wsdl:input message="tns:Read_LKASoapIn" />
      <wsdl:output message="tns:Read_LKASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByCostitemid">
      <wsdl:input message="tns:ReadByCostitemidSoapIn" />
      <wsdl:output message="tns:ReadByCostitemidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_LKAUnconnected">
      <wsdl:input message="tns:Read_LKAUnconnectedSoapIn" />
      <wsdl:output message="tns:Read_LKAUnconnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_KAUnconnected">
      <wsdl:input message="tns:Read_KAUnconnectedSoapIn" />
      <wsdl:output message="tns:Read_KAUnconnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <wsdl:input message="tns:Read_UnconnectedSoapIn" />
      <wsdl:output message="tns:Read_UnconnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected2">
      <wsdl:input message="tns:Read_Unconnected2SoapIn" />
      <wsdl:output message="tns:Read_Unconnected2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTSCLF">
      <wsdl:input message="tns:ReadByTSCLFSoapIn" />
      <wsdl:output message="tns:ReadByTSCLFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_ZZFTTHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_ZZFTTHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_ZZFTTSoap" type="tns:COST_ZZFTTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_KA">
      <soap:operation soapAction="http://tempuri.org/Read_KA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_LKA">
      <soap:operation soapAction="http://tempuri.org/Read_LKA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByCostitemid">
      <soap:operation soapAction="http://tempuri.org/ReadByCostitemid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_LKAUnconnected">
      <soap:operation soapAction="http://tempuri.org/Read_LKAUnconnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_KAUnconnected">
      <soap:operation soapAction="http://tempuri.org/Read_KAUnconnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected2">
      <soap:operation soapAction="http://tempuri.org/Read_Unconnected2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTSCLF">
      <soap:operation soapAction="http://tempuri.org/ReadByTSCLF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_ZZFTTSoap12" type="tns:COST_ZZFTTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_KA">
      <soap12:operation soapAction="http://tempuri.org/Read_KA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_LKA">
      <soap12:operation soapAction="http://tempuri.org/Read_LKA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByCostitemid">
      <soap12:operation soapAction="http://tempuri.org/ReadByCostitemid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_LKAUnconnected">
      <soap12:operation soapAction="http://tempuri.org/Read_LKAUnconnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_KAUnconnected">
      <soap12:operation soapAction="http://tempuri.org/Read_KAUnconnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap12:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected2">
      <soap12:operation soapAction="http://tempuri.org/Read_Unconnected2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTSCLF">
      <soap12:operation soapAction="http://tempuri.org/ReadByTSCLF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_ZZFTTHttpGet" type="tns:COST_ZZFTTHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_ZZFTTHttpPost" type="tns:COST_ZZFTTHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_ZZFTT">
    <wsdl:port name="COST_ZZFTTSoap" binding="tns:COST_ZZFTTSoap">
      <soap:address location="http://192.168.0.77/API/CRM/COST_ZZFTT.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_ZZFTTSoap12" binding="tns:COST_ZZFTTSoap12">
      <soap12:address location="http://192.168.0.77/API/CRM/COST_ZZFTT.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_ZZFTTHttpGet" binding="tns:COST_ZZFTTHttpGet">
      <http:address location="http://192.168.0.77/API/CRM/COST_ZZFTT.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_ZZFTTHttpPost" binding="tns:COST_ZZFTTHttpPost">
      <http:address location="http://192.168.0.77/API/CRM/COST_ZZFTT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>