Sonluk.UI.Model/Service References/HR.XZGL_KKGLService/WS_HR_XZGL_KKGL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_KKGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_KKGL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KSYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSMOUTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSMOUTH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KKLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISAUTO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISOVER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZDID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JQGLID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SXMONTH" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AUTOINSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_KKGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AUTOINSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AUTOINSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_KKGL" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_KKGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_XZGL_KKGL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_KKGL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_XZGL_KKGL_LIST" type="tns:ArrayOfHR_XZGL_KKGL_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_XZGL_KKGL_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_XZGL_KKGL_LIST" nillable="true" type="tns:HR_XZGL_KKGL_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_XZGL_KKGL_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KKID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KSYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSMOUTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSMOUTH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KKLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KKLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISOVER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISAUTO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YGNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YGTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RZDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSMONTH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSMONTH" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="AUTOINSERTSoapIn">
    <wsdl:part name="parameters" element="tns:AUTOINSERT" />
  </wsdl:message>
  <wsdl:message name="AUTOINSERTSoapOut">
    <wsdl:part name="parameters" element="tns:AUTOINSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_XZGL_KKGLSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AUTOINSERT">
      <wsdl:input message="tns:AUTOINSERTSoapIn" />
      <wsdl:output message="tns:AUTOINSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_XZGL_KKGLHttpGet" />
  <wsdl:portType name="WS_HR_XZGL_KKGLHttpPost" />
  <wsdl:binding name="WS_HR_XZGL_KKGLSoap" type="tns:WS_HR_XZGL_KKGLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUTOINSERT">
      <soap:operation soapAction="http://tempuri.org/AUTOINSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_KKGLSoap12" type="tns:WS_HR_XZGL_KKGLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AUTOINSERT">
      <soap12:operation soapAction="http://tempuri.org/AUTOINSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_KKGLHttpGet" type="tns:WS_HR_XZGL_KKGLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_KKGLHttpPost" type="tns:WS_HR_XZGL_KKGLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_XZGL_KKGL">
    <wsdl:port name="WS_HR_XZGL_KKGLSoap" binding="tns:WS_HR_XZGL_KKGLSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_KKGL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_KKGLSoap12" binding="tns:WS_HR_XZGL_KKGLSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_KKGL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_KKGLHttpGet" binding="tns:WS_HR_XZGL_KKGLHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_KKGL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_KKGLHttpPost" binding="tns:WS_HR_XZGL_KKGLHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_KKGL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>