Sonluk.UI.Model/Service References/HR.XZGL_MBGLMXService/WS_HR_XZGL_MBGLMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_MBGLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_MBGLMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LAY_CHECKED" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MBID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZDID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PXM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FFJLZDMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FFJLZDNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISHAVEGS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FORMULA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JSLEVEL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JSORDER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XSBLGZ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YXXSW" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MBMXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XSBLGZNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISGDZD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRINTCD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISFIXED" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_MBGLMX" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_MBGLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_XZGL_MBGLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_MBGLMX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_XZGL_MBGLMX" type="tns:ArrayOfHR_XZGL_MBGLMX" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_XZGL_MBGLMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_XZGL_MBGLMX" nillable="true" type="tns:HR_XZGL_MBGLMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_LAY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_MBGLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LAYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_LAYResult" type="tns:HR_XZGL_MBGLMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_LAYSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_LAY" />
  </wsdl:message>
  <wsdl:message name="SELECT_LAYSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_LAYResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_XZGL_MBGLMXSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAY">
      <wsdl:input message="tns:SELECT_LAYSoapIn" />
      <wsdl:output message="tns:SELECT_LAYSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_XZGL_MBGLMXHttpGet" />
  <wsdl:portType name="WS_HR_XZGL_MBGLMXHttpPost" />
  <wsdl:binding name="WS_HR_XZGL_MBGLMXSoap" type="tns:WS_HR_XZGL_MBGLMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAY">
      <soap:operation soapAction="http://tempuri.org/SELECT_LAY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_MBGLMXSoap12" type="tns:WS_HR_XZGL_MBGLMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAY">
      <soap12:operation soapAction="http://tempuri.org/SELECT_LAY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_MBGLMXHttpGet" type="tns:WS_HR_XZGL_MBGLMXHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_MBGLMXHttpPost" type="tns:WS_HR_XZGL_MBGLMXHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_HR_XZGL_MBGLMX">
    <wsdl:port name="WS_HR_XZGL_MBGLMXSoap" binding="tns:WS_HR_XZGL_MBGLMXSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_MBGLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_MBGLMXSoap12" binding="tns:WS_HR_XZGL_MBGLMXSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_MBGLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_MBGLMXHttpGet" binding="tns:WS_HR_XZGL_MBGLMXHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_MBGLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_MBGLMXHttpPost" binding="tns:WS_HR_XZGL_MBGLMXHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_MBGLMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>