Sonluk.UI.Model/Service References/OA.PendingService/Pending.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Sonluk.com/API/OA/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Sonluk.com/API/OA/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Sonluk.com/API/OA/">
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticketId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="firstNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfPendingInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPendingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PendingInfo" nillable="true" type="tns:PendingInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PendingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationCategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Distinct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BodyType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HasAttachments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubObjectID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImportantLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfPendingInfo" nillable="true" type="tns:ArrayOfPendingInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn">
    <wsdl:part name="ticketId" type="s:string" />
    <wsdl:part name="firstNum" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPendingInfo" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn">
    <wsdl:part name="ticketId" type="s:string" />
    <wsdl:part name="firstNum" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="address" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPendingInfo" />
  </wsdl:message>
  <wsdl:portType name="PendingSoap">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PendingHttpGet">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PendingHttpPost">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PendingSoap" type="tns:PendingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://Sonluk.com/API/OA/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PendingSoap12" type="tns:PendingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://Sonluk.com/API/OA/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PendingHttpGet" type="tns:PendingHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PendingHttpPost" type="tns:PendingHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pending">
    <wsdl:port name="PendingSoap" binding="tns:PendingSoap">
      <soap:address location="http://192.168.0.132/API/OA/Pending.asmx" />
    </wsdl:port>
    <wsdl:port name="PendingSoap12" binding="tns:PendingSoap12">
      <soap12:address location="http://192.168.0.132/API/OA/Pending.asmx" />
    </wsdl:port>
    <wsdl:port name="PendingHttpGet" binding="tns:PendingHttpGet">
      <http:address location="http://192.168.0.132/API/OA/Pending.asmx" />
    </wsdl:port>
    <wsdl:port name="PendingHttpPost" binding="tns:PendingHttpPost">
      <http:address location="http://192.168.0.132/API/OA/Pending.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>