Sonluk.UI.Model/Service References/WMS.BC_TMService/BC_TM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WMS_BC_TM_JH_JHZC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:WMS_BC_TM_JH_JHZC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WMS_BC_TM_JH_JHZC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CKNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHMXNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NHM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DXM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QXBS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CHARG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LWEDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NHMLIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="JLTIMEEND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JLTIMEBEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JPDNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDDNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TSKC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TSKCBJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FHSL" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SDFADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LTBS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JPDMXNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WMS_BC_TM_JH_JHZCResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="WMS_BC_TM_JH_JHZCSoapIn">
    <wsdl:part name="parameters" element="tns:WMS_BC_TM_JH_JHZC" />
  </wsdl:message>
  <wsdl:message name="WMS_BC_TM_JH_JHZCSoapOut">
    <wsdl:part name="parameters" element="tns:WMS_BC_TM_JH_JHZCResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="BC_TMSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WMS_BC_TM_JH_JHZC">
      <wsdl:input message="tns:WMS_BC_TM_JH_JHZCSoapIn" />
      <wsdl:output message="tns:WMS_BC_TM_JH_JHZCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BC_TMHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BC_TMHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BC_TMSoap" type="tns:BC_TMSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WMS_BC_TM_JH_JHZC">
      <soap:operation soapAction="http://tempuri.org/WMS_BC_TM_JH_JHZC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BC_TMSoap12" type="tns:BC_TMSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WMS_BC_TM_JH_JHZC">
      <soap12:operation soapAction="http://tempuri.org/WMS_BC_TM_JH_JHZC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BC_TMHttpGet" type="tns:BC_TMHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BC_TMHttpPost" type="tns:BC_TMHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BC_TM">
    <wsdl:port name="BC_TMSoap" binding="tns:BC_TMSoap">
      <soap:address location="http://localhost/API/WMS/BC_TM.asmx" />
    </wsdl:port>
    <wsdl:port name="BC_TMSoap12" binding="tns:BC_TMSoap12">
      <soap12:address location="http://localhost/API/WMS/BC_TM.asmx" />
    </wsdl:port>
    <wsdl:port name="BC_TMHttpGet" binding="tns:BC_TMHttpGet">
      <http:address location="http://localhost/API/WMS/BC_TM.asmx" />
    </wsdl:port>
    <wsdl:port name="BC_TMHttpPost" binding="tns:BC_TMHttpPost">
      <http:address location="http://localhost/API/WMS/BC_TM.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>