Sonluk.UI.Model/Service References/S5.SY_STAFF_DEPService/SY_STAFF_DEP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_STAFF_DEP" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FIVES_SY_STAFF_DEP">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TZSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OPINTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XFDJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STDJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JFDJSTATUS" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ArrayOfFIVES_SY_STAFF_DEPList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFIVES_SY_STAFF_DEPList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FIVES_SY_STAFF_DEPList" nillable="true" type="tns:FIVES_SY_STAFF_DEPList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FIVES_SY_STAFF_DEPList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJSTATUS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TZSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DJSTATUS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DJNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XFDJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STDJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JFDJSTATUS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XFDJID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STDJID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JFDJID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XFDJNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STDJNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JFDJNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByDJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_STAFF_DEP" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByDJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByDJResult" type="tns:ArrayOfFIVES_SY_STAFF_DEPList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_STAFF_DEP" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCLMSG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_STAFF_DEP" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:FIVES_SY_STAFF_DEP" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_All">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfFIVES_SY_STAFF_DEP" />
            <s:element minOccurs="1" maxOccurs="1" name="staffid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFIVES_SY_STAFF_DEP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FIVES_SY_STAFF_DEP" nillable="true" type="tns:FIVES_SY_STAFF_DEP" />
        </s:sequence>
      </s:complexType>
      <s:element name="Update_AllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Update_AllResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByDJSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByDJ" />
  </wsdl:message>
  <wsdl:message name="ReadByDJSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByDJResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="Update_AllSoapIn">
    <wsdl:part name="parameters" element="tns:Update_All" />
  </wsdl:message>
  <wsdl:message name="Update_AllSoapOut">
    <wsdl:part name="parameters" element="tns:Update_AllResponse" />
  </wsdl:message>
  <wsdl:portType name="SY_STAFF_DEPSoap">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByDJ">
      <wsdl:input message="tns:ReadByDJSoapIn" />
      <wsdl:output message="tns:ReadByDJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_All">
      <wsdl:input message="tns:Update_AllSoapIn" />
      <wsdl:output message="tns:Update_AllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_STAFF_DEPHttpGet" />
  <wsdl:portType name="SY_STAFF_DEPHttpPost" />
  <wsdl:binding name="SY_STAFF_DEPSoap" type="tns:SY_STAFF_DEPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDJ">
      <soap:operation soapAction="http://tempuri.org/ReadByDJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_All">
      <soap:operation soapAction="http://tempuri.org/Update_All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_STAFF_DEPSoap12" type="tns:SY_STAFF_DEPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://tempuri.org/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByDJ">
      <soap12:operation soapAction="http://tempuri.org/ReadByDJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_All">
      <soap12:operation soapAction="http://tempuri.org/Update_All" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_STAFF_DEPHttpGet" type="tns:SY_STAFF_DEPHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SY_STAFF_DEPHttpPost" type="tns:SY_STAFF_DEPHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SY_STAFF_DEP">
    <wsdl:port name="SY_STAFF_DEPSoap" binding="tns:SY_STAFF_DEPSoap">
      <soap:address location="http://192.168.0.77/API/FIVES/SY_STAFF_DEP.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_STAFF_DEPSoap12" binding="tns:SY_STAFF_DEPSoap12">
      <soap12:address location="http://192.168.0.77/API/FIVES/SY_STAFF_DEP.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_STAFF_DEPHttpGet" binding="tns:SY_STAFF_DEPHttpGet">
      <http:address location="http://192.168.0.77/API/FIVES/SY_STAFF_DEP.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_STAFF_DEPHttpPost" binding="tns:SY_STAFF_DEPHttpPost">
      <http:address location="http://192.168.0.77/API/FIVES/SY_STAFF_DEP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>