Sonluk.UI.Model/Service References/HR.XZGL_FFJLZDService/WS_HR_XZGL_FFJLZD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLZD" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FFJLZD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ZDID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FFJLZDNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FFJLZDMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISHAVEGS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FORMULA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISQTYY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QTYYTABLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QTYYZD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZDLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JSLEVEL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISJJX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JSORDER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISGDZD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SORTNO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XSBLGZ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YXXSW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XSBLGZNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MYPW" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLZD" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLZD" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_XZGL_FFJLZD_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FFJLZD_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_XZGL_FFJLZD" type="tns:ArrayOfHR_XZGL_FFJLZD" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_XZGL_FFJLZD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_XZGL_FFJLZD" nillable="true" type="tns:HR_XZGL_FFJLZD" />
        </s:sequence>
      </s:complexType>
      <s:element name="GS_FORMULA_VERIFY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FORMULA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GS_FORMULA_VERIFYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GS_FORMULA_VERIFYResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_YYTABLE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLZD_YYTABLE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FFJLZD_YYTABLE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TABLELB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_YYTABLEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_YYTABLEResult" type="tns:HR_XZGL_FFJLZD_YYTABLE_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FFJLZD_YYTABLE_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_XZGL_FFJLZD_YYTABLE_LIST" type="tns:ArrayOfHR_XZGL_FFJLZD_YYTABLE_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_XZGL_FFJLZD_YYTABLE_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_XZGL_FFJLZD_YYTABLE_LIST" nillable="true" type="tns:HR_XZGL_FFJLZD_YYTABLE_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_XZGL_FFJLZD_YYTABLE_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TABLENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TABLEMS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_YYTABLEZD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLZD_YYTABLEZD" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FFJLZD_YYTABLEZD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TABLENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZDVALUE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MXID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_YYTABLEZDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_YYTABLEZDResult" type="tns:HR_XZGL_FFJLZD_YYTABLEZD_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_XZGL_FFJLZD_YYTABLEZD_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_XZGL_FFJLZD_YYTABLEZD_LIST" type="tns:ArrayOfHR_XZGL_FFJLZD_YYTABLEZD_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_XZGL_FFJLZD_YYTABLEZD_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_XZGL_FFJLZD_YYTABLEZD_LIST" nillable="true" type="tns:HR_XZGL_FFJLZD_YYTABLEZD_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_XZGL_FFJLZD_YYTABLEZD_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TABLENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZDVALUE" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_YYTABLEZD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLZD_YYTABLEZD" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_YYTABLEZDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_YYTABLEZDResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_YYTABLEZD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_XZGL_FFJLZD_YYTABLEZD" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_YYTABLEZDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_YYTABLEZDResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="GS_FORMULA_VERIFYSoapIn">
    <wsdl:part name="parameters" element="tns:GS_FORMULA_VERIFY" />
  </wsdl:message>
  <wsdl:message name="GS_FORMULA_VERIFYSoapOut">
    <wsdl:part name="parameters" element="tns:GS_FORMULA_VERIFYResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_YYTABLESoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_YYTABLE" />
  </wsdl:message>
  <wsdl:message name="SELECT_YYTABLESoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_YYTABLEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_YYTABLEZDSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_YYTABLEZD" />
  </wsdl:message>
  <wsdl:message name="SELECT_YYTABLEZDSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_YYTABLEZDResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_YYTABLEZDSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_YYTABLEZD" />
  </wsdl:message>
  <wsdl:message name="INSERT_YYTABLEZDSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_YYTABLEZDResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_YYTABLEZDSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_YYTABLEZD" />
  </wsdl:message>
  <wsdl:message name="UPDATE_YYTABLEZDSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_YYTABLEZDResponse" />
  </wsdl:message>
  <wsdl:message name="GS_FORMULA_VERIFYHttpGetIn">
    <wsdl:part name="FORMULA" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GS_FORMULA_VERIFYHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="GS_FORMULA_VERIFYHttpPostIn">
    <wsdl:part name="FORMULA" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GS_FORMULA_VERIFYHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_XZGL_FFJLZDSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GS_FORMULA_VERIFY">
      <wsdl:input message="tns:GS_FORMULA_VERIFYSoapIn" />
      <wsdl:output message="tns:GS_FORMULA_VERIFYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_YYTABLE">
      <wsdl:input message="tns:SELECT_YYTABLESoapIn" />
      <wsdl:output message="tns:SELECT_YYTABLESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_YYTABLEZD">
      <wsdl:input message="tns:SELECT_YYTABLEZDSoapIn" />
      <wsdl:output message="tns:SELECT_YYTABLEZDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_YYTABLEZD">
      <wsdl:input message="tns:INSERT_YYTABLEZDSoapIn" />
      <wsdl:output message="tns:INSERT_YYTABLEZDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_YYTABLEZD">
      <wsdl:input message="tns:UPDATE_YYTABLEZDSoapIn" />
      <wsdl:output message="tns:UPDATE_YYTABLEZDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_XZGL_FFJLZDHttpGet">
    <wsdl:operation name="GS_FORMULA_VERIFY">
      <wsdl:input message="tns:GS_FORMULA_VERIFYHttpGetIn" />
      <wsdl:output message="tns:GS_FORMULA_VERIFYHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_XZGL_FFJLZDHttpPost">
    <wsdl:operation name="GS_FORMULA_VERIFY">
      <wsdl:input message="tns:GS_FORMULA_VERIFYHttpPostIn" />
      <wsdl:output message="tns:GS_FORMULA_VERIFYHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_HR_XZGL_FFJLZDSoap" type="tns:WS_HR_XZGL_FFJLZDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GS_FORMULA_VERIFY">
      <soap:operation soapAction="http://tempuri.org/GS_FORMULA_VERIFY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_YYTABLE">
      <soap:operation soapAction="http://tempuri.org/SELECT_YYTABLE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_YYTABLEZD">
      <soap:operation soapAction="http://tempuri.org/SELECT_YYTABLEZD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_YYTABLEZD">
      <soap:operation soapAction="http://tempuri.org/INSERT_YYTABLEZD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_YYTABLEZD">
      <soap:operation soapAction="http://tempuri.org/UPDATE_YYTABLEZD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FFJLZDSoap12" type="tns:WS_HR_XZGL_FFJLZDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GS_FORMULA_VERIFY">
      <soap12:operation soapAction="http://tempuri.org/GS_FORMULA_VERIFY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_YYTABLE">
      <soap12:operation soapAction="http://tempuri.org/SELECT_YYTABLE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_YYTABLEZD">
      <soap12:operation soapAction="http://tempuri.org/SELECT_YYTABLEZD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_YYTABLEZD">
      <soap12:operation soapAction="http://tempuri.org/INSERT_YYTABLEZD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_YYTABLEZD">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_YYTABLEZD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FFJLZDHttpGet" type="tns:WS_HR_XZGL_FFJLZDHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GS_FORMULA_VERIFY">
      <http:operation location="/GS_FORMULA_VERIFY" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_XZGL_FFJLZDHttpPost" type="tns:WS_HR_XZGL_FFJLZDHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GS_FORMULA_VERIFY">
      <http:operation location="/GS_FORMULA_VERIFY" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_HR_XZGL_FFJLZD">
    <wsdl:port name="WS_HR_XZGL_FFJLZDSoap" binding="tns:WS_HR_XZGL_FFJLZDSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FFJLZD.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FFJLZDSoap12" binding="tns:WS_HR_XZGL_FFJLZDSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FFJLZD.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FFJLZDHttpGet" binding="tns:WS_HR_XZGL_FFJLZDHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FFJLZD.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_XZGL_FFJLZDHttpPost" binding="tns:WS_HR_XZGL_FFJLZDHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_XZGL_FFJLZD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>