Sonluk.UI.Model/Service References/CRM.ORDER_TTService/ORDER_TT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_TT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_ORDER_TT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DDLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSAP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDFID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHIPADD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FKSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSZZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FXQD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPORDER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SUCCESS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REASON" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTAL" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DISCOUNT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DISCOUNT_THIS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DISCOUNT_BALANCE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RATE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ACTUAL" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PREVIOUS_BALANCE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PAY" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ_END" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SHR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SHSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GDR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GDSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRINTCOUNT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SHRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GDRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TOTAL2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCANCEL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderSrc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderST" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreNews" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TBSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BJSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderSrcDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MDMCID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDateBEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDateEND" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NotTB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YiDong" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderSTstr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderSrc2" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DYSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJZH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PDFPATH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderST2" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FuntionTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderSrcstr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISLOCK" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NotQR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JHD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QRR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QRSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QRRNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateTTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateTTResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_MX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_ORDER_MX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ORDERMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRODUCTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CPPH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDDW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DDSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RATE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BZDW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BZSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PRICE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AMOUNT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="KYSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CPLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPXLDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPXHDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdSpec" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPORDER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderSrc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FItem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCXP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KCDDMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SonCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReadyForSAP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JHD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderSrcDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MDMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuntionTYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderSrcSTR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDERSTSTR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDate_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDate_END" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MDMCID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NotQR" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateMXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateMXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_TT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTTResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTT_KHinfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_TT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTT_KHinfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTT_KHinfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTT_BJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_TT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTT_BJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTT_BJResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderIsactive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderIsactiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOrderIsactiveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrder_SAPORDER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_TT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrder_SAPORDERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOrder_SAPORDERResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrder_LOCK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ISLOCK" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrder_LOCKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOrder_LOCKResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_MX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateMXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMX_WLinfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_MX" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMX_WLinfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateMX_WLinfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="which" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTTResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrintCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrintCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPrintCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERMXID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMXbyFItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_MX" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMXbyFItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMXbyFItemResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadTTbyID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadTTbyIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadTTbyIDResult" type="tns:CRM_ORDER_TT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadTTbyParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_TT" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="forCopy" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isGun" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadTTbyParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadTTbyParamResult" type="tns:ArrayOfCRM_ORDER_TT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_ORDER_TT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_ORDER_TT" nillable="true" type="tns:CRM_ORDER_TT" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadMXbyTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXbyTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadMXbyTTIDResult" type="tns:ArrayOfCRM_ORDER_MX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_ORDER_MX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_ORDER_MX" nillable="true" type="tns:CRM_ORDER_MX" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadMXbyParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_MX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXbyParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadMXbyParamResult" type="tns:ArrayOfCRM_ORDER_MX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXbyMXID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ORDERMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadMXbyMXIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadMXbyMXIDResult" type="tns:CRM_ORDER_MX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_DRF_SYNC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_DRF_SYNC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_ORDER_DRF_SYNC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ORDERTTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STORENUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDERNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BARCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODNUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODSPEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDERUNIT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDERACTUAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QUANTITY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ITEMTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_DRF_SYNCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_DRF_SYNCResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCLMSG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="CRM_ORDER_TT" nillable="true" type="tns:CRM_ORDER_TT" />
      <s:element name="ArrayOfCRM_ORDER_MX" nillable="true" type="tns:ArrayOfCRM_ORDER_MX" />
      <s:element name="CRM_ORDER_MX" nillable="true" type="tns:CRM_ORDER_MX" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTTSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTT" />
  </wsdl:message>
  <wsdl:message name="CreateTTSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTTResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMXSoapIn">
    <wsdl:part name="parameters" element="tns:CreateMX" />
  </wsdl:message>
  <wsdl:message name="CreateMXSoapOut">
    <wsdl:part name="parameters" element="tns:CreateMXResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTTSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTT" />
  </wsdl:message>
  <wsdl:message name="UpdateTTSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTTResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTT_KHinfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTT_KHinfo" />
  </wsdl:message>
  <wsdl:message name="UpdateTT_KHinfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTT_KHinfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTT_BJSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTT_BJ" />
  </wsdl:message>
  <wsdl:message name="UpdateTT_BJSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTT_BJResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderIsactiveSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderIsactive" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderIsactiveSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderIsactiveResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrder_SAPORDERSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrder_SAPORDER" />
  </wsdl:message>
  <wsdl:message name="UpdateOrder_SAPORDERSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrder_SAPORDERResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrder_LOCKSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrder_LOCK" />
  </wsdl:message>
  <wsdl:message name="UpdateOrder_LOCKSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrder_LOCKResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMXSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMX" />
  </wsdl:message>
  <wsdl:message name="UpdateMXSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMXResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMX_WLinfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMX_WLinfo" />
  </wsdl:message>
  <wsdl:message name="UpdateMX_WLinfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMX_WLinfoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTTSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTT" />
  </wsdl:message>
  <wsdl:message name="DeleteTTSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTTResponse" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountSoapIn">
    <wsdl:part name="parameters" element="tns:AddPrintCount" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountSoapOut">
    <wsdl:part name="parameters" element="tns:AddPrintCountResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMXSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMX" />
  </wsdl:message>
  <wsdl:message name="DeleteMXSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMXResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMXbyFItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMXbyFItem" />
  </wsdl:message>
  <wsdl:message name="DeleteMXbyFItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMXbyFItemResponse" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadTTbyID" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadTTbyIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadTTbyParam" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadTTbyParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadMXbyTTID" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadMXbyTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadMXbyParam" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadMXbyParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyMXIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadMXbyMXID" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyMXIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadMXbyMXIDResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_DRF_SYNCSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_DRF_SYNC" />
  </wsdl:message>
  <wsdl:message name="INSERT_DRF_SYNCSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_DRF_SYNCResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderIsactiveHttpGetIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ISACTIVE" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderIsactiveHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateOrder_LOCKHttpGetIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ISLOCK" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateOrder_LOCKHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteTTHttpGetIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="which" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteTTHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpGetIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteMXHttpGetIn">
    <wsdl:part name="ORDERMXID" type="s:string" />
    <wsdl:part name="XGR" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteMXHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyIDHttpGetIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_ORDER_TT" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDHttpGetIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_ORDER_MX" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyMXIDHttpGetIn">
    <wsdl:part name="ORDERMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyMXIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CRM_ORDER_MX" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderIsactiveHttpPostIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ISACTIVE" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderIsactiveHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateOrder_LOCKHttpPostIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ISLOCK" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateOrder_LOCKHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteTTHttpPostIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="which" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteTTHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpPostIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddPrintCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteMXHttpPostIn">
    <wsdl:part name="ORDERMXID" type="s:string" />
    <wsdl:part name="XGR" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteMXHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyIDHttpPostIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadTTbyIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_ORDER_TT" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDHttpPostIn">
    <wsdl:part name="ORDERTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_ORDER_MX" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyMXIDHttpPostIn">
    <wsdl:part name="ORDERMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadMXbyMXIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CRM_ORDER_MX" />
  </wsdl:message>
  <wsdl:portType name="ORDER_TTSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTT">
      <wsdl:input message="tns:CreateTTSoapIn" />
      <wsdl:output message="tns:CreateTTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMX">
      <wsdl:input message="tns:CreateMXSoapIn" />
      <wsdl:output message="tns:CreateMXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTT">
      <wsdl:input message="tns:UpdateTTSoapIn" />
      <wsdl:output message="tns:UpdateTTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTT_KHinfo">
      <wsdl:input message="tns:UpdateTT_KHinfoSoapIn" />
      <wsdl:output message="tns:UpdateTT_KHinfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTT_BJ">
      <wsdl:input message="tns:UpdateTT_BJSoapIn" />
      <wsdl:output message="tns:UpdateTT_BJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderIsactive">
      <wsdl:input message="tns:UpdateOrderIsactiveSoapIn" />
      <wsdl:output message="tns:UpdateOrderIsactiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_SAPORDER">
      <wsdl:input message="tns:UpdateOrder_SAPORDERSoapIn" />
      <wsdl:output message="tns:UpdateOrder_SAPORDERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_LOCK">
      <wsdl:input message="tns:UpdateOrder_LOCKSoapIn" />
      <wsdl:output message="tns:UpdateOrder_LOCKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMX">
      <wsdl:input message="tns:UpdateMXSoapIn" />
      <wsdl:output message="tns:UpdateMXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMX_WLinfo">
      <wsdl:input message="tns:UpdateMX_WLinfoSoapIn" />
      <wsdl:output message="tns:UpdateMX_WLinfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTT">
      <wsdl:input message="tns:DeleteTTSoapIn" />
      <wsdl:output message="tns:DeleteTTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountSoapIn" />
      <wsdl:output message="tns:AddPrintCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMX">
      <wsdl:input message="tns:DeleteMXSoapIn" />
      <wsdl:output message="tns:DeleteMXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMXbyFItem">
      <wsdl:input message="tns:DeleteMXbyFItemSoapIn" />
      <wsdl:output message="tns:DeleteMXbyFItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyID">
      <wsdl:input message="tns:ReadTTbyIDSoapIn" />
      <wsdl:output message="tns:ReadTTbyIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyParam">
      <wsdl:input message="tns:ReadTTbyParamSoapIn" />
      <wsdl:output message="tns:ReadTTbyParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <wsdl:input message="tns:ReadMXbyTTIDSoapIn" />
      <wsdl:output message="tns:ReadMXbyTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyParam">
      <wsdl:input message="tns:ReadMXbyParamSoapIn" />
      <wsdl:output message="tns:ReadMXbyParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyMXID">
      <wsdl:input message="tns:ReadMXbyMXIDSoapIn" />
      <wsdl:output message="tns:ReadMXbyMXIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_DRF_SYNC">
      <wsdl:input message="tns:INSERT_DRF_SYNCSoapIn" />
      <wsdl:output message="tns:INSERT_DRF_SYNCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ORDER_TTHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderIsactive">
      <wsdl:input message="tns:UpdateOrderIsactiveHttpGetIn" />
      <wsdl:output message="tns:UpdateOrderIsactiveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_LOCK">
      <wsdl:input message="tns:UpdateOrder_LOCKHttpGetIn" />
      <wsdl:output message="tns:UpdateOrder_LOCKHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTT">
      <wsdl:input message="tns:DeleteTTHttpGetIn" />
      <wsdl:output message="tns:DeleteTTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountHttpGetIn" />
      <wsdl:output message="tns:AddPrintCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMX">
      <wsdl:input message="tns:DeleteMXHttpGetIn" />
      <wsdl:output message="tns:DeleteMXHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyID">
      <wsdl:input message="tns:ReadTTbyIDHttpGetIn" />
      <wsdl:output message="tns:ReadTTbyIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <wsdl:input message="tns:ReadMXbyTTIDHttpGetIn" />
      <wsdl:output message="tns:ReadMXbyTTIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyMXID">
      <wsdl:input message="tns:ReadMXbyMXIDHttpGetIn" />
      <wsdl:output message="tns:ReadMXbyMXIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ORDER_TTHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderIsactive">
      <wsdl:input message="tns:UpdateOrderIsactiveHttpPostIn" />
      <wsdl:output message="tns:UpdateOrderIsactiveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_LOCK">
      <wsdl:input message="tns:UpdateOrder_LOCKHttpPostIn" />
      <wsdl:output message="tns:UpdateOrder_LOCKHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTT">
      <wsdl:input message="tns:DeleteTTHttpPostIn" />
      <wsdl:output message="tns:DeleteTTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <wsdl:input message="tns:AddPrintCountHttpPostIn" />
      <wsdl:output message="tns:AddPrintCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMX">
      <wsdl:input message="tns:DeleteMXHttpPostIn" />
      <wsdl:output message="tns:DeleteMXHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyID">
      <wsdl:input message="tns:ReadTTbyIDHttpPostIn" />
      <wsdl:output message="tns:ReadTTbyIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <wsdl:input message="tns:ReadMXbyTTIDHttpPostIn" />
      <wsdl:output message="tns:ReadMXbyTTIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyMXID">
      <wsdl:input message="tns:ReadMXbyMXIDHttpPostIn" />
      <wsdl:output message="tns:ReadMXbyMXIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ORDER_TTSoap" type="tns:ORDER_TTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTT">
      <soap:operation soapAction="http://tempuri.org/CreateTT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMX">
      <soap:operation soapAction="http://tempuri.org/CreateMX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTT">
      <soap:operation soapAction="http://tempuri.org/UpdateTT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTT_KHinfo">
      <soap:operation soapAction="http://tempuri.org/UpdateTT_KHinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTT_BJ">
      <soap:operation soapAction="http://tempuri.org/UpdateTT_BJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderIsactive">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderIsactive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_SAPORDER">
      <soap:operation soapAction="http://tempuri.org/UpdateOrder_SAPORDER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_LOCK">
      <soap:operation soapAction="http://tempuri.org/UpdateOrder_LOCK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMX">
      <soap:operation soapAction="http://tempuri.org/UpdateMX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMX_WLinfo">
      <soap:operation soapAction="http://tempuri.org/UpdateMX_WLinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTT">
      <soap:operation soapAction="http://tempuri.org/DeleteTT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <soap:operation soapAction="http://tempuri.org/AddPrintCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMX">
      <soap:operation soapAction="http://tempuri.org/DeleteMX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMXbyFItem">
      <soap:operation soapAction="http://tempuri.org/DeleteMXbyFItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyID">
      <soap:operation soapAction="http://tempuri.org/ReadTTbyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyParam">
      <soap:operation soapAction="http://tempuri.org/ReadTTbyParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <soap:operation soapAction="http://tempuri.org/ReadMXbyTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyParam">
      <soap:operation soapAction="http://tempuri.org/ReadMXbyParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyMXID">
      <soap:operation soapAction="http://tempuri.org/ReadMXbyMXID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_DRF_SYNC">
      <soap:operation soapAction="http://tempuri.org/INSERT_DRF_SYNC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ORDER_TTSoap12" type="tns:ORDER_TTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTT">
      <soap12:operation soapAction="http://tempuri.org/CreateTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMX">
      <soap12:operation soapAction="http://tempuri.org/CreateMX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTT">
      <soap12:operation soapAction="http://tempuri.org/UpdateTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTT_KHinfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateTT_KHinfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTT_BJ">
      <soap12:operation soapAction="http://tempuri.org/UpdateTT_BJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderIsactive">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderIsactive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_SAPORDER">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrder_SAPORDER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_LOCK">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrder_LOCK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMX">
      <soap12:operation soapAction="http://tempuri.org/UpdateMX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMX_WLinfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateMX_WLinfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTT">
      <soap12:operation soapAction="http://tempuri.org/DeleteTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <soap12:operation soapAction="http://tempuri.org/AddPrintCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMX">
      <soap12:operation soapAction="http://tempuri.org/DeleteMX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMXbyFItem">
      <soap12:operation soapAction="http://tempuri.org/DeleteMXbyFItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyID">
      <soap12:operation soapAction="http://tempuri.org/ReadTTbyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyParam">
      <soap12:operation soapAction="http://tempuri.org/ReadTTbyParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <soap12:operation soapAction="http://tempuri.org/ReadMXbyTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyParam">
      <soap12:operation soapAction="http://tempuri.org/ReadMXbyParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyMXID">
      <soap12:operation soapAction="http://tempuri.org/ReadMXbyMXID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_DRF_SYNC">
      <soap12:operation soapAction="http://tempuri.org/INSERT_DRF_SYNC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ORDER_TTHttpGet" type="tns:ORDER_TTHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderIsactive">
      <http:operation location="/UpdateOrderIsactive" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_LOCK">
      <http:operation location="/UpdateOrder_LOCK" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTT">
      <http:operation location="/DeleteTT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <http:operation location="/AddPrintCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMX">
      <http:operation location="/DeleteMX" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyID">
      <http:operation location="/ReadTTbyID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <http:operation location="/ReadMXbyTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyMXID">
      <http:operation location="/ReadMXbyMXID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ORDER_TTHttpPost" type="tns:ORDER_TTHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderIsactive">
      <http:operation location="/UpdateOrderIsactive" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder_LOCK">
      <http:operation location="/UpdateOrder_LOCK" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTT">
      <http:operation location="/DeleteTT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintCount">
      <http:operation location="/AddPrintCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMX">
      <http:operation location="/DeleteMX" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadTTbyID">
      <http:operation location="/ReadTTbyID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyTTID">
      <http:operation location="/ReadMXbyTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMXbyMXID">
      <http:operation location="/ReadMXbyMXID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ORDER_TT">
    <wsdl:port name="ORDER_TTSoap" binding="tns:ORDER_TTSoap">
      <soap:address location="http://192.168.0.135/API/CRM/ORDER_TT.asmx" />
    </wsdl:port>
    <wsdl:port name="ORDER_TTSoap12" binding="tns:ORDER_TTSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/ORDER_TT.asmx" />
    </wsdl:port>
    <wsdl:port name="ORDER_TTHttpGet" binding="tns:ORDER_TTHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/ORDER_TT.asmx" />
    </wsdl:port>
    <wsdl:port name="ORDER_TTHttpPost" binding="tns:ORDER_TTHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/ORDER_TT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>