Sonluk.UI.Model/Service References/CRM.COST_LKAYEARTTService/COST_LKAYEARTT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAYEARTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_LKAYEARTT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LKAYEARTTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HTYEAR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SQR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SQSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LASTXGSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LKAID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JXSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MONTHCOUNT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MDQKBZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FIRSTTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PSQK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FSFW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MANAGEWAY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PAYWAY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JZPPNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NFGHS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NFCLFS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NFCLZB" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GSLXRZW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QTCP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SFXJMC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SFZJQDHT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KAGXLKA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WEBSITE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACCOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSBHYYSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCXSSOURCE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MCXSSOURCE_OTHER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCFYSOURCE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MCFYSOURCE_OTHER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XSRW" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="XSJD" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AXSRW" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AXSJD" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="OPINION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SUBMITCOUNT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LKAMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SQRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MANAGEWAYDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PAYWAYDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NFGHSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXRZWDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MCXSSOURCEDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MCFYSOURCEDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YWY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TOTALAMOUNT" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAYEARTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAYEARTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAYEARTT" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_LKAYEARTT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_LKAYEARTT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_LKAYEARTT" nillable="true" type="tns:CRM_COST_LKAYEARTT" />
        </s:sequence>
      </s:complexType>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LKAYEARTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAYEARTT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportJXS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LKAYEARTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportJXSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportJXSResult" type="tns:ArrayOfCRM_COST_LKAYEARTT_JXS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_LKAYEARTT_JXS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_LKAYEARTT_JXS" nillable="true" type="tns:CRM_COST_LKAYEARTT_JXS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_COST_LKAYEARTT_JXS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HTYEAR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SJXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SJXS_JX" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="COST_HT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="COST_GS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FB_GS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SPSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZFY" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ZFB" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_TaiZhang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAYearReport" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_LKAYearReport">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FGLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YWY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSCRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HXSX" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="JC" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="XP" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="XDKY" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HTXQ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DQ" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TSCL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HB" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DT" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="QT" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HJ" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report_TaiZhangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Report_TaiZhangResult" type="tns:ArrayOfCRM_COST_LKAYearReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_LKAYearReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_LKAYearReport" nillable="true" type="tns:CRM_COST_LKAYearReport" />
        </s:sequence>
      </s:complexType>
      <s:element name="Report">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_LKAYEARTT_Report" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_LKAYEARTT_Report">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="YWY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSSAP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LKAMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPFL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LKANAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportResult" type="tns:ArrayOfCRM_COST_LKAYEARTT_Report" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_LKAYEARTT_Report">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_LKAYEARTT_Report" nillable="true" type="tns:CRM_COST_LKAYEARTT_Report" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfCRM_COST_LKAYEARTT_JXS" nillable="true" type="tns:ArrayOfCRM_COST_LKAYEARTT_JXS" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="VerifySoapIn">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="VerifySoapOut">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="ReportJXSSoapIn">
    <wsdl:part name="parameters" element="tns:ReportJXS" />
  </wsdl:message>
  <wsdl:message name="ReportJXSSoapOut">
    <wsdl:part name="parameters" element="tns:ReportJXSResponse" />
  </wsdl:message>
  <wsdl:message name="Report_TaiZhangSoapIn">
    <wsdl:part name="parameters" element="tns:Report_TaiZhang" />
  </wsdl:message>
  <wsdl:message name="Report_TaiZhangSoapOut">
    <wsdl:part name="parameters" element="tns:Report_TaiZhangResponse" />
  </wsdl:message>
  <wsdl:message name="ReportSoapIn">
    <wsdl:part name="parameters" element="tns:Report" />
  </wsdl:message>
  <wsdl:message name="ReportSoapOut">
    <wsdl:part name="parameters" element="tns:ReportResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="LKAYEARTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReportJXSHttpGetIn">
    <wsdl:part name="LKAYEARTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReportJXSHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_COST_LKAYEARTT_JXS" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="LKAYEARTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReportJXSHttpPostIn">
    <wsdl:part name="LKAYEARTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReportJXSHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_COST_LKAYEARTT_JXS" />
  </wsdl:message>
  <wsdl:portType name="COST_LKAYEARTTSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <wsdl:input message="tns:UpdateStatusSoapIn" />
      <wsdl:output message="tns:UpdateStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:input message="tns:VerifySoapIn" />
      <wsdl:output message="tns:VerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <wsdl:input message="tns:ReportJXSSoapIn" />
      <wsdl:output message="tns:ReportJXSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report_TaiZhang">
      <wsdl:input message="tns:Report_TaiZhangSoapIn" />
      <wsdl:output message="tns:Report_TaiZhangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report">
      <wsdl:input message="tns:ReportSoapIn" />
      <wsdl:output message="tns:ReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_LKAYEARTTHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <wsdl:input message="tns:ReportJXSHttpGetIn" />
      <wsdl:output message="tns:ReportJXSHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_LKAYEARTTHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <wsdl:input message="tns:ReportJXSHttpPostIn" />
      <wsdl:output message="tns:ReportJXSHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_LKAYEARTTSoap" type="tns:COST_LKAYEARTTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://tempuri.org/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <soap:operation soapAction="http://tempuri.org/ReportJXS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_TaiZhang">
      <soap:operation soapAction="http://tempuri.org/Report_TaiZhang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap:operation soapAction="http://tempuri.org/Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_LKAYEARTTSoap12" type="tns:COST_LKAYEARTTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap12:operation soapAction="http://tempuri.org/Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <soap12:operation soapAction="http://tempuri.org/ReportJXS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report_TaiZhang">
      <soap12:operation soapAction="http://tempuri.org/Report_TaiZhang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap12:operation soapAction="http://tempuri.org/Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_LKAYEARTTHttpGet" type="tns:COST_LKAYEARTTHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <http:operation location="/ReportJXS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_LKAYEARTTHttpPost" type="tns:COST_LKAYEARTTHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportJXS">
      <http:operation location="/ReportJXS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_LKAYEARTT">
    <wsdl:port name="COST_LKAYEARTTSoap" binding="tns:COST_LKAYEARTTSoap">
      <soap:address location="http://192.168.0.135/API/CRM/COST_LKAYEARTT.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_LKAYEARTTSoap12" binding="tns:COST_LKAYEARTTSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/COST_LKAYEARTT.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_LKAYEARTTHttpGet" binding="tns:COST_LKAYEARTTHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/COST_LKAYEARTT.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_LKAYEARTTHttpPost" binding="tns:COST_LKAYEARTTHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/COST_LKAYEARTT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>