Sonluk.UI.Model/Service References/CRM.ORDER_SHService/ORDER_SH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Modify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfCRM_ORDER_SH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_ORDER_SH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_ORDER_SH" nillable="true" type="tns:CRM_ORDER_SH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_ORDER_SH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderSrc" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StoreNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRICE" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DDSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SJSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SHDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPORDER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHDItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPPH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JHSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JHUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SJJHSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDFNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDF2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDF2NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DJH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HSJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ZKL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ZKJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="KPJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="WSJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDateBEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDateEND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHDateBEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHDateEND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJBEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJEND" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RC" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MDMCID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdSpec" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPORDERSTR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JHDSTR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DGJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SJJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DIFFERENCE" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderSrcDES" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ModifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifyResult" type="tns:RETURN_MSG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RETURN_MSG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_SH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_ORDER_SH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Report">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_ORDER_SH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportResult" type="tns:ArrayOfCRM_ORDER_SH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ModifySoapIn">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="ModifySoapOut">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReportSoapIn">
    <wsdl:part name="parameters" element="tns:Report" />
  </wsdl:message>
  <wsdl:message name="ReportSoapOut">
    <wsdl:part name="parameters" element="tns:ReportResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ORDER_SHSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input message="tns:ModifySoapIn" />
      <wsdl:output message="tns:ModifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Report">
      <wsdl:input message="tns:ReportSoapIn" />
      <wsdl:output message="tns:ReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ORDER_SHHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ORDER_SHHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ORDER_SHSoap" type="tns:ORDER_SHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap:operation soapAction="http://tempuri.org/Report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ORDER_SHSoap12" type="tns:ORDER_SHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap12:operation soapAction="http://tempuri.org/Modify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report">
      <soap12:operation soapAction="http://tempuri.org/Report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ORDER_SHHttpGet" type="tns:ORDER_SHHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ORDER_SHHttpPost" type="tns:ORDER_SHHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ORDER_SH">
    <wsdl:port name="ORDER_SHSoap" binding="tns:ORDER_SHSoap">
      <soap:address location="http://192.168.0.135/API/CRM/ORDER_SH.asmx" />
    </wsdl:port>
    <wsdl:port name="ORDER_SHSoap12" binding="tns:ORDER_SHSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/ORDER_SH.asmx" />
    </wsdl:port>
    <wsdl:port name="ORDER_SHHttpGet" binding="tns:ORDER_SHHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/ORDER_SH.asmx" />
    </wsdl:port>
    <wsdl:port name="ORDER_SHHttpPost" binding="tns:ORDER_SHHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/ORDER_SH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>