Sonluk.UI.Model/Service References/MES.SY_GZZX_SBHService/SY_GZZX_SBH1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_GZZX_SBH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_GZZX_SBH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PXM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SBFL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FSBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MACIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TXTYPE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TXTYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBFLNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBNO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCLMSG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_GZZX_SBH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_GZZX_SBH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:ArrayOfMES_SY_GZZX_SBH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMES_SY_GZZX_SBH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_GZZX_SBH" nillable="true" type="tns:MES_SY_GZZX_SBH" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_BY_STAFFID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_GZZX_SBH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_BY_STAFFIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_BY_STAFFIDResult" type="tns:ArrayOfMES_SY_GZZX_SBH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_BY_TDNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_TL_TD" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_TL_TD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TDNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TDREMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_BY_TDNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_BY_TDNOResult" type="tns:MES_PD_TL_TD_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PD_TL_TD_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_PD_TL_TD" type="tns:ArrayOfMES_PD_TL_TD" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_PD_TL_TD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_PD_TL_TD" nillable="true" type="tns:MES_PD_TL_TD" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_BY_TDNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_TL_TD" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_BY_TDNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_BY_TDNOResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_BY_TDNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TDNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_BY_TDNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_BY_TDNOResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_BY_TDNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PD_TL_TD" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_BY_TDNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_BY_TDNOResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_GZZX_SBH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_LBResult" type="tns:MES_SY_GZZX_SBH_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_GZZX_SBH_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_GZZX_SBH" type="tns:ArrayOfMES_SY_GZZX_SBH" />
        </s:sequence>
      </s:complexType>
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_STAFFIDSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_BY_STAFFID" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_STAFFIDSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_BY_STAFFIDResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_TDNOSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_BY_TDNO" />
  </wsdl:message>
  <wsdl:message name="SELECT_BY_TDNOSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_BY_TDNOResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_BY_TDNOSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_BY_TDNO" />
  </wsdl:message>
  <wsdl:message name="INSERT_BY_TDNOSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_BY_TDNOResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_BY_TDNOSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_BY_TDNO" />
  </wsdl:message>
  <wsdl:message name="DELETE_BY_TDNOSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_BY_TDNOResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_BY_TDNOSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_BY_TDNO" />
  </wsdl:message>
  <wsdl:message name="UPDATE_BY_TDNOSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_BY_TDNOResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_LBSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_LB" />
  </wsdl:message>
  <wsdl:message name="SELECT_LBSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_LBResponse" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpGetIn">
    <wsdl:part name="SBBH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_BY_TDNOHttpGetIn">
    <wsdl:part name="TDNO" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_BY_TDNOHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpPostIn">
    <wsdl:part name="SBBH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_BY_TDNOHttpPostIn">
    <wsdl:part name="TDNO" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_BY_TDNOHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="SY_GZZX_SBHSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_STAFFID">
      <wsdl:input message="tns:SELECT_BY_STAFFIDSoapIn" />
      <wsdl:output message="tns:SELECT_BY_STAFFIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_TDNO">
      <wsdl:input message="tns:SELECT_BY_TDNOSoapIn" />
      <wsdl:output message="tns:SELECT_BY_TDNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_BY_TDNO">
      <wsdl:input message="tns:INSERT_BY_TDNOSoapIn" />
      <wsdl:output message="tns:INSERT_BY_TDNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_BY_TDNO">
      <wsdl:input message="tns:DELETE_BY_TDNOSoapIn" />
      <wsdl:output message="tns:DELETE_BY_TDNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_BY_TDNO">
      <wsdl:input message="tns:UPDATE_BY_TDNOSoapIn" />
      <wsdl:output message="tns:UPDATE_BY_TDNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_LB">
      <wsdl:input message="tns:SELECT_LBSoapIn" />
      <wsdl:output message="tns:SELECT_LBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_GZZX_SBHHttpGet">
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETEHttpGetIn" />
      <wsdl:output message="tns:DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_BY_TDNO">
      <wsdl:input message="tns:DELETE_BY_TDNOHttpGetIn" />
      <wsdl:output message="tns:DELETE_BY_TDNOHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_GZZX_SBHHttpPost">
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETEHttpPostIn" />
      <wsdl:output message="tns:DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_BY_TDNO">
      <wsdl:input message="tns:DELETE_BY_TDNOHttpPostIn" />
      <wsdl:output message="tns:DELETE_BY_TDNOHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SY_GZZX_SBHSoap" type="tns:SY_GZZX_SBHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_STAFFID">
      <soap:operation soapAction="http://tempuri.org/SELECT_BY_STAFFID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_TDNO">
      <soap:operation soapAction="http://tempuri.org/SELECT_BY_TDNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_BY_TDNO">
      <soap:operation soapAction="http://tempuri.org/INSERT_BY_TDNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_BY_TDNO">
      <soap:operation soapAction="http://tempuri.org/DELETE_BY_TDNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_BY_TDNO">
      <soap:operation soapAction="http://tempuri.org/UPDATE_BY_TDNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LB">
      <soap:operation soapAction="http://tempuri.org/SELECT_LB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_GZZX_SBHSoap12" type="tns:SY_GZZX_SBHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_STAFFID">
      <soap12:operation soapAction="http://tempuri.org/SELECT_BY_STAFFID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_BY_TDNO">
      <soap12:operation soapAction="http://tempuri.org/SELECT_BY_TDNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_BY_TDNO">
      <soap12:operation soapAction="http://tempuri.org/INSERT_BY_TDNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_BY_TDNO">
      <soap12:operation soapAction="http://tempuri.org/DELETE_BY_TDNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_BY_TDNO">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_BY_TDNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LB">
      <soap12:operation soapAction="http://tempuri.org/SELECT_LB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_GZZX_SBHHttpGet" type="tns:SY_GZZX_SBHHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DELETE">
      <http:operation location="/DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_BY_TDNO">
      <http:operation location="/DELETE_BY_TDNO" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_GZZX_SBHHttpPost" type="tns:SY_GZZX_SBHHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DELETE">
      <http:operation location="/DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_BY_TDNO">
      <http:operation location="/DELETE_BY_TDNO" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SY_GZZX_SBH">
    <wsdl:port name="SY_GZZX_SBHSoap" binding="tns:SY_GZZX_SBHSoap">
      <soap:address location="http://localhost/API/MES/SY_GZZX_SBH.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_GZZX_SBHSoap12" binding="tns:SY_GZZX_SBHSoap12">
      <soap12:address location="http://localhost/API/MES/SY_GZZX_SBH.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_GZZX_SBHHttpGet" binding="tns:SY_GZZX_SBHHttpGet">
      <http:address location="http://localhost/API/MES/SY_GZZX_SBH.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_GZZX_SBHHttpPost" binding="tns:SY_GZZX_SBHHttpPost">
      <http:address location="http://localhost/API/MES/SY_GZZX_SBH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>