Sonluk.UI.Model/Service References/Account.AccessService/Access1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sonluk.com/API/Account/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sonluk.com/API/Account/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sonluk.com/API/Account/">
      <s:element name="SignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="signInName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignInResult" type="tns:AccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SN" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SignIn" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Menu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telphone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExternalSignIn" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Group" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PurGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageDetails" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPAuthorization" type="tns:AuthorizationInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Route" type="tns:RouteInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Authorization" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AuthorizationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PurchasingGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReleaseGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReleaseCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RouteInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Controller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Auth" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignInSS0">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="signInName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInSS0Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignInSS0Result" type="tns:AccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="signInName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountInfo" nillable="true" type="tns:AccountInfo" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignInSoapIn">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="SignInSoapOut">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="SignInSS0SoapIn">
    <wsdl:part name="parameters" element="tns:SignInSS0" />
  </wsdl:message>
  <wsdl:message name="SignInSS0SoapOut">
    <wsdl:part name="parameters" element="tns:SignInSS0Response" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SignInHttpGetIn">
    <wsdl:part name="signInName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SignInHttpGetOut">
    <wsdl:part name="Body" element="tns:AccountInfo" />
  </wsdl:message>
  <wsdl:message name="SignInSS0HttpGetIn">
    <wsdl:part name="signInName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SignInSS0HttpGetOut">
    <wsdl:part name="Body" element="tns:AccountInfo" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetIn">
    <wsdl:part name="signInName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SignInHttpPostIn">
    <wsdl:part name="signInName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SignInHttpPostOut">
    <wsdl:part name="Body" element="tns:AccountInfo" />
  </wsdl:message>
  <wsdl:message name="SignInSS0HttpPostIn">
    <wsdl:part name="signInName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SignInSS0HttpPostOut">
    <wsdl:part name="Body" element="tns:AccountInfo" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostIn">
    <wsdl:part name="signInName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="AccessSoap">
    <wsdl:operation name="SignIn">
      <wsdl:input message="tns:SignInSoapIn" />
      <wsdl:output message="tns:SignInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignInSS0">
      <wsdl:input message="tns:SignInSS0SoapIn" />
      <wsdl:output message="tns:SignInSS0SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AccessHttpGet">
    <wsdl:operation name="SignIn">
      <wsdl:input message="tns:SignInHttpGetIn" />
      <wsdl:output message="tns:SignInHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SignInSS0">
      <wsdl:input message="tns:SignInSS0HttpGetIn" />
      <wsdl:output message="tns:SignInSS0HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AccessHttpPost">
    <wsdl:operation name="SignIn">
      <wsdl:input message="tns:SignInHttpPostIn" />
      <wsdl:output message="tns:SignInHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SignInSS0">
      <wsdl:input message="tns:SignInSS0HttpPostIn" />
      <wsdl:output message="tns:SignInSS0HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccessSoap" type="tns:AccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://sonluk.com/API/Account/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInSS0">
      <soap:operation soapAction="http://sonluk.com/API/Account/SignInSS0" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://sonluk.com/API/Account/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccessSoap12" type="tns:AccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://sonluk.com/API/Account/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInSS0">
      <soap12:operation soapAction="http://sonluk.com/API/Account/SignInSS0" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://sonluk.com/API/Account/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccessHttpGet" type="tns:AccessHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SignIn">
      <http:operation location="/SignIn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInSS0">
      <http:operation location="/SignInSS0" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccessHttpPost" type="tns:AccessHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SignIn">
      <http:operation location="/SignIn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInSS0">
      <http:operation location="/SignInSS0" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Access">
    <wsdl:port name="AccessSoap" binding="tns:AccessSoap">
      <soap:address location="http://192.168.0.107/API/Account/Access.asmx" />
    </wsdl:port>
    <wsdl:port name="AccessSoap12" binding="tns:AccessSoap12">
      <soap12:address location="http://192.168.0.107/API/Account/Access.asmx" />
    </wsdl:port>
    <wsdl:port name="AccessHttpGet" binding="tns:AccessHttpGet">
      <http:address location="http://192.168.0.107/API/Account/Access.asmx" />
    </wsdl:port>
    <wsdl:port name="AccessHttpPost" binding="tns:AccessHttpPost">
      <http:address location="http://192.168.0.107/API/Account/Access.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>