Sonluk.UI.Model/Service References/MES.SY_PLDHService/SY_PLDH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT_LIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_PLDH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PFDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PFLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PLDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLRID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JLTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USERDATES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USERDATEE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CXLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_LISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_LISTResult" type="tns:MES_SY_PLDH_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_PLDH_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_PLDH" type="tns:ArrayOfMES_SY_PLDH" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_SY_PLDH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_PLDH" nillable="true" type="tns:MES_SY_PLDH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_SY_PLDH_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PLDH_SBBH_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH_SBBH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_PLDH_SBBH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NOID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PLDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PFLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PFDH" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PLDH_SBBH_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PLDH_SBBH_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PLDH_SBBH_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH_SBBH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PLDH_SBBH_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PLDH_SBBH_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PLDH_SBBH_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH_SBBH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PLDH_SBBH_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PLDH_SBBH_SELECTResult" type="tns:MES_SY_PLDH_SBBH_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_PLDH_SBBH_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_PLDH_SBBH" type="tns:ArrayOfMES_SY_PLDH_SBBH" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_SY_PLDH_SBBH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_PLDH_SBBH" nillable="true" type="tns:MES_SY_PLDH_SBBH" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_PLDH_PH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH_PH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_PLDH_PH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PLDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PFDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PFLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JYP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PFLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="USERDATES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USERDATEE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_PLDH_PHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_PLDH_PHResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PLDH_PH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH_PH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PLDH_PHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_PLDH_PHResult" type="tns:MES_SY_PLDH_PH_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_PLDH_PH_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_PLDH_PH" type="tns:ArrayOfMES_SY_PLDH_PH" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_SY_PLDH_PH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_PLDH_PH" nillable="true" type="tns:MES_SY_PLDH_PH" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_PLDH_PH_LB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH_PH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_PLDH_PH_LBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_PLDH_PH_LBResult" type="tns:MES_SY_PLDH_PH_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_PLDH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECT_LISTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_LIST" />
  </wsdl:message>
  <wsdl:message name="SELECT_LISTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_LISTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="PLDH_SBBH_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:PLDH_SBBH_INSERT" />
  </wsdl:message>
  <wsdl:message name="PLDH_SBBH_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:PLDH_SBBH_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="PLDH_SBBH_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:PLDH_SBBH_UPDATE" />
  </wsdl:message>
  <wsdl:message name="PLDH_SBBH_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:PLDH_SBBH_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="PLDH_SBBH_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:PLDH_SBBH_SELECT" />
  </wsdl:message>
  <wsdl:message name="PLDH_SBBH_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:PLDH_SBBH_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_PLDH_PHSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_PLDH_PH" />
  </wsdl:message>
  <wsdl:message name="INSERT_PLDH_PHSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_PLDH_PHResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_PLDH_PHSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_PLDH_PH" />
  </wsdl:message>
  <wsdl:message name="SELECT_PLDH_PHSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_PLDH_PHResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_PLDH_PH_LBSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_PLDH_PH_LB" />
  </wsdl:message>
  <wsdl:message name="SELECT_PLDH_PH_LBSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_PLDH_PH_LBResponse" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:portType name="SY_PLDHSoap">
    <wsdl:operation name="SELECT_LIST">
      <wsdl:input message="tns:SELECT_LISTSoapIn" />
      <wsdl:output message="tns:SELECT_LISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_INSERT">
      <wsdl:input message="tns:PLDH_SBBH_INSERTSoapIn" />
      <wsdl:output message="tns:PLDH_SBBH_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_UPDATE">
      <wsdl:input message="tns:PLDH_SBBH_UPDATESoapIn" />
      <wsdl:output message="tns:PLDH_SBBH_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_SELECT">
      <wsdl:input message="tns:PLDH_SBBH_SELECTSoapIn" />
      <wsdl:output message="tns:PLDH_SBBH_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_PLDH_PH">
      <wsdl:input message="tns:INSERT_PLDH_PHSoapIn" />
      <wsdl:output message="tns:INSERT_PLDH_PHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_PLDH_PH">
      <wsdl:input message="tns:SELECT_PLDH_PHSoapIn" />
      <wsdl:output message="tns:SELECT_PLDH_PHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_PLDH_PH_LB">
      <wsdl:input message="tns:SELECT_PLDH_PH_LBSoapIn" />
      <wsdl:output message="tns:SELECT_PLDH_PH_LBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_PLDHHttpGet" />
  <wsdl:portType name="SY_PLDHHttpPost" />
  <wsdl:binding name="SY_PLDHSoap" type="tns:SY_PLDHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_LIST">
      <soap:operation soapAction="http://tempuri.org/SELECT_LIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_INSERT">
      <soap:operation soapAction="http://tempuri.org/PLDH_SBBH_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_UPDATE">
      <soap:operation soapAction="http://tempuri.org/PLDH_SBBH_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_SELECT">
      <soap:operation soapAction="http://tempuri.org/PLDH_SBBH_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_PLDH_PH">
      <soap:operation soapAction="http://tempuri.org/INSERT_PLDH_PH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PLDH_PH">
      <soap:operation soapAction="http://tempuri.org/SELECT_PLDH_PH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PLDH_PH_LB">
      <soap:operation soapAction="http://tempuri.org/SELECT_PLDH_PH_LB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_PLDHSoap12" type="tns:SY_PLDHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT_LIST">
      <soap12:operation soapAction="http://tempuri.org/SELECT_LIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_INSERT">
      <soap12:operation soapAction="http://tempuri.org/PLDH_SBBH_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/PLDH_SBBH_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PLDH_SBBH_SELECT">
      <soap12:operation soapAction="http://tempuri.org/PLDH_SBBH_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_PLDH_PH">
      <soap12:operation soapAction="http://tempuri.org/INSERT_PLDH_PH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PLDH_PH">
      <soap12:operation soapAction="http://tempuri.org/SELECT_PLDH_PH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_PLDH_PH_LB">
      <soap12:operation soapAction="http://tempuri.org/SELECT_PLDH_PH_LB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_PLDHHttpGet" type="tns:SY_PLDHHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SY_PLDHHttpPost" type="tns:SY_PLDHHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SY_PLDH">
    <wsdl:port name="SY_PLDHSoap" binding="tns:SY_PLDHSoap">
      <soap:address location="http://192.168.0.223/API/MES/SY_PLDH.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_PLDHSoap12" binding="tns:SY_PLDHSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/SY_PLDH.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_PLDHHttpGet" binding="tns:SY_PLDHHttpGet">
      <http:address location="http://192.168.0.223/API/MES/SY_PLDH.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_PLDHHttpPost" binding="tns:SY_PLDHHttpPost">
      <http:address location="http://192.168.0.223/API/MES/SY_PLDH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>