Sonluk.UI.Model/Service References/CRM.CRM_KHService/CRM_KH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserName">
        <s:complexType />
      </s:element>
      <s:element name="UserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserNameResult" type="tns:ArrayOfUserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserModel" nillable="true" type="tns:UserModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertKH_KH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KH_S" type="tns:CRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_KH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SFCCJSM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDJSDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDLXDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHSHLXDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PKHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPKHLX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GJ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHZZSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SFZXS" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLXDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KPXZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KPDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KPDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NSRSBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YHZH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YHMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FKTJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FRLXFS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSFRGX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTXSRW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTJXXSRW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSJSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SFCCJ" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TSQKSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JXSYX" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="YXSM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WDLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SFBZWD" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MDJCSL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZBDZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCLC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MDDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JCDPSL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FTID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FGLDYJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSZJYJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XYDJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHGM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertKH_KHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertKH_KHResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectKH_KH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectKH_KHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectKH_KHResult" type="tns:ArrayOfCRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_KH_KH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_KH_KH" nillable="true" type="tns:CRM_KH_KH" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectKH_KHForKHLXandMC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MCLC" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectKH_KHForKHLXandMCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectKH_KHForKHLXandMCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyKH_KH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KH_S" type="tns:CRM_KH_KH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyKH_KHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyKH_KHResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectReportWithReportModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_Report_KHModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_Report_KHModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SAPSN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XSZZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectReportWithReportModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectReportWithReportModelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCRM_KH_GXQY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KH_GXQY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_GXQY">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GXQYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GXQYLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GXQYMC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertCRM_KH_GXQYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCRM_KH_GXQYResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCRM_KH_LXR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KH_LXR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_LXR">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KHLXRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SEX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JTDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MZ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HYZK" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="YDDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GDDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WXH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TXDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YZBM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PHOTO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SFZYLXR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertCRM_KH_LXRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCRM_KH_LXRResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertKH_KHQTXX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KH_KHQTXX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_KH_KHQTXX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="XXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XXLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XXMC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CLLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CLFS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CLGSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KHYJDZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SJR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SJRLXFS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CZR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CZRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertKH_KHQTXXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertKH_KHQTXXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectKH_KHForKHID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectKH_KHForKHIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectKH_KHForKHIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertClXX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_KH_KHQTXX" />
            <s:element minOccurs="1" maxOccurs="1" name="GSDX" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertClXXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertClXXResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectKH_KHQTXX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="XXLB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectKH_KHQTXXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectKH_KHQTXXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfUserModel" nillable="true" type="tns:ArrayOfUserModel" />
      <s:element name="ArrayOfCRM_KH_KH" nillable="true" type="tns:ArrayOfCRM_KH_KH" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UserNameSoapIn">
    <wsdl:part name="parameters" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="UserNameSoapOut">
    <wsdl:part name="parameters" element="tns:UserNameResponse" />
  </wsdl:message>
  <wsdl:message name="InsertKH_KHSoapIn">
    <wsdl:part name="parameters" element="tns:InsertKH_KH" />
  </wsdl:message>
  <wsdl:message name="InsertKH_KHSoapOut">
    <wsdl:part name="parameters" element="tns:InsertKH_KHResponse" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHSoapIn">
    <wsdl:part name="parameters" element="tns:SelectKH_KH" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHSoapOut">
    <wsdl:part name="parameters" element="tns:SelectKH_KHResponse" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHLXandMCSoapIn">
    <wsdl:part name="parameters" element="tns:SelectKH_KHForKHLXandMC" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHLXandMCSoapOut">
    <wsdl:part name="parameters" element="tns:SelectKH_KHForKHLXandMCResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyKH_KHSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyKH_KH" />
  </wsdl:message>
  <wsdl:message name="ModifyKH_KHSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyKH_KHResponse" />
  </wsdl:message>
  <wsdl:message name="SelectReportWithReportModelSoapIn">
    <wsdl:part name="parameters" element="tns:SelectReportWithReportModel" />
  </wsdl:message>
  <wsdl:message name="SelectReportWithReportModelSoapOut">
    <wsdl:part name="parameters" element="tns:SelectReportWithReportModelResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCRM_KH_GXQYSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCRM_KH_GXQY" />
  </wsdl:message>
  <wsdl:message name="InsertCRM_KH_GXQYSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCRM_KH_GXQYResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCRM_KH_LXRSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCRM_KH_LXR" />
  </wsdl:message>
  <wsdl:message name="InsertCRM_KH_LXRSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCRM_KH_LXRResponse" />
  </wsdl:message>
  <wsdl:message name="InsertKH_KHQTXXSoapIn">
    <wsdl:part name="parameters" element="tns:InsertKH_KHQTXX" />
  </wsdl:message>
  <wsdl:message name="InsertKH_KHQTXXSoapOut">
    <wsdl:part name="parameters" element="tns:InsertKH_KHQTXXResponse" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHIDSoapIn">
    <wsdl:part name="parameters" element="tns:SelectKH_KHForKHID" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHIDSoapOut">
    <wsdl:part name="parameters" element="tns:SelectKH_KHForKHIDResponse" />
  </wsdl:message>
  <wsdl:message name="InsertClXXSoapIn">
    <wsdl:part name="parameters" element="tns:InsertClXX" />
  </wsdl:message>
  <wsdl:message name="InsertClXXSoapOut">
    <wsdl:part name="parameters" element="tns:InsertClXXResponse" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHQTXXSoapIn">
    <wsdl:part name="parameters" element="tns:SelectKH_KHQTXX" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHQTXXSoapOut">
    <wsdl:part name="parameters" element="tns:SelectKH_KHQTXXResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserNameHttpGetIn" />
  <wsdl:message name="UserNameHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserModel" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHLXandMCHttpGetIn">
    <wsdl:part name="KHLX" type="s:string" />
    <wsdl:part name="mc" type="s:string" />
    <wsdl:part name="MCLC" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHLXandMCHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHIDHttpGetIn">
    <wsdl:part name="KHID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHQTXXHttpGetIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="XXLB" type="s:string" />
    <wsdl:part name="ISACTIVE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHQTXXHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserNameHttpPostIn" />
  <wsdl:message name="UserNameHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserModel" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_KH_KH" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHLXandMCHttpPostIn">
    <wsdl:part name="KHLX" type="s:string" />
    <wsdl:part name="mc" type="s:string" />
    <wsdl:part name="MCLC" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHLXandMCHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHIDHttpPostIn">
    <wsdl:part name="KHID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHForKHIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHQTXXHttpPostIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="XXLB" type="s:string" />
    <wsdl:part name="ISACTIVE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectKH_KHQTXXHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CRM_KHSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserName">
      <wsdl:input message="tns:UserNameSoapIn" />
      <wsdl:output message="tns:UserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertKH_KH">
      <wsdl:input message="tns:InsertKH_KHSoapIn" />
      <wsdl:output message="tns:InsertKH_KHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KH">
      <wsdl:input message="tns:SelectKH_KHSoapIn" />
      <wsdl:output message="tns:SelectKH_KHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHLXandMC">
      <wsdl:input message="tns:SelectKH_KHForKHLXandMCSoapIn" />
      <wsdl:output message="tns:SelectKH_KHForKHLXandMCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyKH_KH">
      <wsdl:input message="tns:ModifyKH_KHSoapIn" />
      <wsdl:output message="tns:ModifyKH_KHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectReportWithReportModel">
      <wsdl:input message="tns:SelectReportWithReportModelSoapIn" />
      <wsdl:output message="tns:SelectReportWithReportModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCRM_KH_GXQY">
      <wsdl:input message="tns:InsertCRM_KH_GXQYSoapIn" />
      <wsdl:output message="tns:InsertCRM_KH_GXQYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCRM_KH_LXR">
      <wsdl:input message="tns:InsertCRM_KH_LXRSoapIn" />
      <wsdl:output message="tns:InsertCRM_KH_LXRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertKH_KHQTXX">
      <wsdl:input message="tns:InsertKH_KHQTXXSoapIn" />
      <wsdl:output message="tns:InsertKH_KHQTXXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHID">
      <wsdl:input message="tns:SelectKH_KHForKHIDSoapIn" />
      <wsdl:output message="tns:SelectKH_KHForKHIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertClXX">
      <wsdl:input message="tns:InsertClXXSoapIn" />
      <wsdl:output message="tns:InsertClXXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHQTXX">
      <wsdl:input message="tns:SelectKH_KHQTXXSoapIn" />
      <wsdl:output message="tns:SelectKH_KHQTXXSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CRM_KHHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserName">
      <wsdl:input message="tns:UserNameHttpGetIn" />
      <wsdl:output message="tns:UserNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KH">
      <wsdl:input message="tns:SelectKH_KHHttpGetIn" />
      <wsdl:output message="tns:SelectKH_KHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHLXandMC">
      <wsdl:input message="tns:SelectKH_KHForKHLXandMCHttpGetIn" />
      <wsdl:output message="tns:SelectKH_KHForKHLXandMCHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHID">
      <wsdl:input message="tns:SelectKH_KHForKHIDHttpGetIn" />
      <wsdl:output message="tns:SelectKH_KHForKHIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHQTXX">
      <wsdl:input message="tns:SelectKH_KHQTXXHttpGetIn" />
      <wsdl:output message="tns:SelectKH_KHQTXXHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CRM_KHHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserName">
      <wsdl:input message="tns:UserNameHttpPostIn" />
      <wsdl:output message="tns:UserNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KH">
      <wsdl:input message="tns:SelectKH_KHHttpPostIn" />
      <wsdl:output message="tns:SelectKH_KHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHLXandMC">
      <wsdl:input message="tns:SelectKH_KHForKHLXandMCHttpPostIn" />
      <wsdl:output message="tns:SelectKH_KHForKHLXandMCHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHID">
      <wsdl:input message="tns:SelectKH_KHForKHIDHttpPostIn" />
      <wsdl:output message="tns:SelectKH_KHForKHIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHQTXX">
      <wsdl:input message="tns:SelectKH_KHQTXXHttpPostIn" />
      <wsdl:output message="tns:SelectKH_KHQTXXHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRM_KHSoap" type="tns:CRM_KHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserName">
      <soap:operation soapAction="http://tempuri.org/UserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKH_KH">
      <soap:operation soapAction="http://tempuri.org/InsertKH_KH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KH">
      <soap:operation soapAction="http://tempuri.org/SelectKH_KH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHLXandMC">
      <soap:operation soapAction="http://tempuri.org/SelectKH_KHForKHLXandMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyKH_KH">
      <soap:operation soapAction="http://tempuri.org/ModifyKH_KH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectReportWithReportModel">
      <soap:operation soapAction="http://tempuri.org/SelectReportWithReportModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCRM_KH_GXQY">
      <soap:operation soapAction="http://tempuri.org/InsertCRM_KH_GXQY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCRM_KH_LXR">
      <soap:operation soapAction="http://tempuri.org/InsertCRM_KH_LXR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKH_KHQTXX">
      <soap:operation soapAction="http://tempuri.org/InsertKH_KHQTXX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHID">
      <soap:operation soapAction="http://tempuri.org/SelectKH_KHForKHID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClXX">
      <soap:operation soapAction="http://tempuri.org/InsertClXX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHQTXX">
      <soap:operation soapAction="http://tempuri.org/SelectKH_KHQTXX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRM_KHSoap12" type="tns:CRM_KHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserName">
      <soap12:operation soapAction="http://tempuri.org/UserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKH_KH">
      <soap12:operation soapAction="http://tempuri.org/InsertKH_KH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KH">
      <soap12:operation soapAction="http://tempuri.org/SelectKH_KH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHLXandMC">
      <soap12:operation soapAction="http://tempuri.org/SelectKH_KHForKHLXandMC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyKH_KH">
      <soap12:operation soapAction="http://tempuri.org/ModifyKH_KH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectReportWithReportModel">
      <soap12:operation soapAction="http://tempuri.org/SelectReportWithReportModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCRM_KH_GXQY">
      <soap12:operation soapAction="http://tempuri.org/InsertCRM_KH_GXQY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCRM_KH_LXR">
      <soap12:operation soapAction="http://tempuri.org/InsertCRM_KH_LXR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKH_KHQTXX">
      <soap12:operation soapAction="http://tempuri.org/InsertKH_KHQTXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHID">
      <soap12:operation soapAction="http://tempuri.org/SelectKH_KHForKHID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClXX">
      <soap12:operation soapAction="http://tempuri.org/InsertClXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHQTXX">
      <soap12:operation soapAction="http://tempuri.org/SelectKH_KHQTXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRM_KHHttpGet" type="tns:CRM_KHHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserName">
      <http:operation location="/UserName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KH">
      <http:operation location="/SelectKH_KH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHLXandMC">
      <http:operation location="/SelectKH_KHForKHLXandMC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHID">
      <http:operation location="/SelectKH_KHForKHID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHQTXX">
      <http:operation location="/SelectKH_KHQTXX" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRM_KHHttpPost" type="tns:CRM_KHHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserName">
      <http:operation location="/UserName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KH">
      <http:operation location="/SelectKH_KH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHLXandMC">
      <http:operation location="/SelectKH_KHForKHLXandMC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHForKHID">
      <http:operation location="/SelectKH_KHForKHID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKH_KHQTXX">
      <http:operation location="/SelectKH_KHQTXX" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRM_KH">
    <wsdl:port name="CRM_KHSoap" binding="tns:CRM_KHSoap">
      <soap:address location="http://192.168.0.16/API/CRM/CRM_KH.asmx" />
    </wsdl:port>
    <wsdl:port name="CRM_KHSoap12" binding="tns:CRM_KHSoap12">
      <soap12:address location="http://192.168.0.16/API/CRM/CRM_KH.asmx" />
    </wsdl:port>
    <wsdl:port name="CRM_KHHttpGet" binding="tns:CRM_KHHttpGet">
      <http:address location="http://192.168.0.16/API/CRM/CRM_KH.asmx" />
    </wsdl:port>
    <wsdl:port name="CRM_KHHttpPost" binding="tns:CRM_KHHttpPost">
      <http:address location="http://192.168.0.16/API/CRM/CRM_KH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>