Sonluk.UI.Model/Service References/CRM.COST_PUBLICService/COST_PUBLIC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByPublic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="tns:CRM_COST_HXZLTT" />
            <s:element minOccurs="0" maxOccurs="1" name="MODEL_JXS" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="MODEL_KA" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="MODEL_LKA" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="0" maxOccurs="1" name="MODEL_ZDWD" type="tns:CRM_COST_ZZFTT" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_HXZLTT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HXZLTTID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HTYEAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LKAID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JXSID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BNDXSRW" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BNDALRW" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="XSWCL" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ALWCL" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SPJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="YHXJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LKAXSSJLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HTNDYGXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MQLKAXSSJ" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LKABNDWCL" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FYHXXS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LKAYJCMDSL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CRMBAMD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SPZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OPINION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LKANAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LKACRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JXSSAPSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LKAXSSJLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FYHXXSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_COST_ZZFTT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTITEMID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHLX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PKHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GGADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LXDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QKSM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WZPG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZQYDXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZHYDXS" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SFYCXYZC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CXYFY" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SFCSCLFY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CLFY" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="XQRK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGJL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GGSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT1C" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT1K" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT1G" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT2C" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT2K" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GGSJT2G" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZF" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="GGZLF" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SQJE" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ZLSTARTTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZLENDTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GGGSID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OPINION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HXR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HXSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HXRDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SFDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CSDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PKHIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MCNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TBSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FINALCOST" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SQJEAll" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="GGGSMCALL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KHXZ" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KHLXDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YHXJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TT_KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TT_HTYEAR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HXZLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GGWSJE" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AMOUNT" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="HTYEAR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByPublicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByPublicResult" type="tns:ArrayOfCRM_COST_PUBLIC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_PUBLIC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_PUBLIC" nillable="true" type="tns:CRM_COST_PUBLIC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_COST_PUBLIC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TITLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LKAHXZLTT_LKAMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LKAHXZLTT_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZFTT_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZFTT_MC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZZFTT_HXZLMXID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByPublicSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByPublic" />
  </wsdl:message>
  <wsdl:message name="ReadByPublicSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByPublicResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="COST_PUBLICSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByPublic">
      <wsdl:input message="tns:ReadByPublicSoapIn" />
      <wsdl:output message="tns:ReadByPublicSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_PUBLICHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_PUBLICHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_PUBLICSoap" type="tns:COST_PUBLICSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByPublic">
      <soap:operation soapAction="http://tempuri.org/ReadByPublic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_PUBLICSoap12" type="tns:COST_PUBLICSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByPublic">
      <soap12:operation soapAction="http://tempuri.org/ReadByPublic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_PUBLICHttpGet" type="tns:COST_PUBLICHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_PUBLICHttpPost" type="tns:COST_PUBLICHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_PUBLIC">
    <wsdl:port name="COST_PUBLICSoap" binding="tns:COST_PUBLICSoap">
      <soap:address location="http://192.168.0.77/API/CRM/COST_PUBLIC.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_PUBLICSoap12" binding="tns:COST_PUBLICSoap12">
      <soap12:address location="http://192.168.0.77/API/CRM/COST_PUBLIC.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_PUBLICHttpGet" binding="tns:COST_PUBLICHttpGet">
      <http:address location="http://192.168.0.77/API/CRM/COST_PUBLIC.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_PUBLICHttpPost" binding="tns:COST_PUBLICHttpPost">
      <http:address location="http://192.168.0.77/API/CRM/COST_PUBLIC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>