Sonluk.UI.Model/Service References/MES.SY_LANGUAGE_RETURNService/WS_MES_SY_LANGUAGE_RETURN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RETURNMX_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_LANGUAGE_RETURNMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_LANGUAGE_RETURNMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MSGID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SYLANGUAGEID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGMXTEXT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSGMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGRID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RETURNMX_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RETURNMX_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RETURNMX_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfMES_SY_LANGUAGE_RETURNMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMES_SY_LANGUAGE_RETURNMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_LANGUAGE_RETURNMX" nillable="true" type="tns:MES_SY_LANGUAGE_RETURNMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="RETURNMX_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RETURNMX_SELECTResult" type="tns:MES_SY_LANGUAGE_RETURNMX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_LANGUAGE_RETURNMX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_LANGUAGE_RETURNMX" type="tns:ArrayOfMES_SY_LANGUAGE_RETURNMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="RETURNMX_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_LANGUAGE_RETURNMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RETURNMX_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RETURNMX_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RETURNMX_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:RETURNMX_INSERT" />
  </wsdl:message>
  <wsdl:message name="RETURNMX_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:RETURNMX_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="RETURNMX_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:RETURNMX_SELECT" />
  </wsdl:message>
  <wsdl:message name="RETURNMX_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:RETURNMX_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="RETURNMX_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:RETURNMX_UPDATE" />
  </wsdl:message>
  <wsdl:message name="RETURNMX_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:RETURNMX_UPDATEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MES_SY_LANGUAGE_RETURNSoap">
    <wsdl:operation name="RETURNMX_INSERT">
      <wsdl:input message="tns:RETURNMX_INSERTSoapIn" />
      <wsdl:output message="tns:RETURNMX_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RETURNMX_SELECT">
      <wsdl:input message="tns:RETURNMX_SELECTSoapIn" />
      <wsdl:output message="tns:RETURNMX_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RETURNMX_UPDATE">
      <wsdl:input message="tns:RETURNMX_UPDATESoapIn" />
      <wsdl:output message="tns:RETURNMX_UPDATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_MES_SY_LANGUAGE_RETURNHttpGet" />
  <wsdl:portType name="WS_MES_SY_LANGUAGE_RETURNHttpPost" />
  <wsdl:binding name="WS_MES_SY_LANGUAGE_RETURNSoap" type="tns:WS_MES_SY_LANGUAGE_RETURNSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RETURNMX_INSERT">
      <soap:operation soapAction="http://tempuri.org/RETURNMX_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURNMX_SELECT">
      <soap:operation soapAction="http://tempuri.org/RETURNMX_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURNMX_UPDATE">
      <soap:operation soapAction="http://tempuri.org/RETURNMX_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_SY_LANGUAGE_RETURNSoap12" type="tns:WS_MES_SY_LANGUAGE_RETURNSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RETURNMX_INSERT">
      <soap12:operation soapAction="http://tempuri.org/RETURNMX_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURNMX_SELECT">
      <soap12:operation soapAction="http://tempuri.org/RETURNMX_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RETURNMX_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/RETURNMX_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_SY_LANGUAGE_RETURNHttpGet" type="tns:WS_MES_SY_LANGUAGE_RETURNHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_MES_SY_LANGUAGE_RETURNHttpPost" type="tns:WS_MES_SY_LANGUAGE_RETURNHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_MES_SY_LANGUAGE_RETURN">
    <wsdl:port name="WS_MES_SY_LANGUAGE_RETURNSoap" binding="tns:WS_MES_SY_LANGUAGE_RETURNSoap">
      <soap:address location="http://192.168.0.223/API/MES/WS_MES_SY_LANGUAGE_RETURN.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_SY_LANGUAGE_RETURNSoap12" binding="tns:WS_MES_SY_LANGUAGE_RETURNSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/WS_MES_SY_LANGUAGE_RETURN.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_SY_LANGUAGE_RETURNHttpGet" binding="tns:WS_MES_SY_LANGUAGE_RETURNHttpGet">
      <http:address location="http://192.168.0.223/API/MES/WS_MES_SY_LANGUAGE_RETURN.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_SY_LANGUAGE_RETURNHttpPost" binding="tns:WS_MES_SY_LANGUAGE_RETURNHttpPost">
      <http:address location="http://192.168.0.223/API/MES/WS_MES_SY_LANGUAGE_RETURN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>