Sonluk.UI.Model/Service References/MES.TM_GLService/WS_MES_TM_GL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_TM_GL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_TM_GL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SCTMGC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCTM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XCTMGC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XCTM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SDDCQKID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SDDCQK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FZDHLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FZDHLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FZDH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GLLB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SCTMRESDUESL" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_TM_GL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_TM_GL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_TM_GL" type="tns:ArrayOfMES_TM_GL" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_TM_GL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_TM_GL" nillable="true" type="tns:MES_TM_GL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MES_TM_GLSoap">
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_MES_TM_GLHttpGet" />
  <wsdl:portType name="WS_MES_TM_GLHttpPost" />
  <wsdl:binding name="WS_MES_TM_GLSoap" type="tns:WS_MES_TM_GLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_TM_GLSoap12" type="tns:WS_MES_TM_GLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_MES_TM_GLHttpGet" type="tns:WS_MES_TM_GLHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_MES_TM_GLHttpPost" type="tns:WS_MES_TM_GLHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_MES_TM_GL">
    <wsdl:port name="WS_MES_TM_GLSoap" binding="tns:WS_MES_TM_GLSoap">
      <soap:address location="http://localhost/API/MES/WS_MES_TM_GL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_TM_GLSoap12" binding="tns:WS_MES_TM_GLSoap12">
      <soap12:address location="http://localhost/API/MES/WS_MES_TM_GL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_TM_GLHttpGet" binding="tns:WS_MES_TM_GLHttpGet">
      <http:address location="http://localhost/API/MES/WS_MES_TM_GL.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_MES_TM_GLHttpPost" binding="tns:WS_MES_TM_GLHttpPost">
      <http:address location="http://localhost/API/MES/WS_MES_TM_GL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>