Sonluk.UI.Model/Service References/MES.SY_GZZX_SBH_WLLBService/SY_GZZX_SBH_WLLB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_GZZX_SBH_WLLB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_GZZX_SBH_WLLB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LAY_CHECKED" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_LIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ArrayOfMES_SY_GZZX_SBH_WLLB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMES_SY_GZZX_SBH_WLLB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_GZZX_SBH_WLLB" nillable="true" type="tns:MES_SY_GZZX_SBH_WLLB" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT_LISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERT_LISTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_GZZX_SBH_WLLB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_GZZX_SBH_WLLB" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_SY_GZZX_SBH_WLLB_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_GZZX_SBH_WLLB_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_SY_GZZX_SBH_WLLB" type="tns:ArrayOfMES_SY_GZZX_SBH_WLLB" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_LAY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_LAYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_LAYResult" type="tns:MES_SY_GZZX_SBH_WLLB_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_SY_GZZX_SBH_WLLB_SELECT" nillable="true" type="tns:MES_SY_GZZX_SBH_WLLB_SELECT" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERT_LISTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_LIST" />
  </wsdl:message>
  <wsdl:message name="INSERT_LISTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_LISTResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_LAYSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_LAY" />
  </wsdl:message>
  <wsdl:message name="SELECT_LAYSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_LAYResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_LAYHttpGetIn">
    <wsdl:part name="SBBH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_LAYHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_SY_GZZX_SBH_WLLB_SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECT_LAYHttpPostIn">
    <wsdl:part name="SBBH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_LAYHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_SY_GZZX_SBH_WLLB_SELECT" />
  </wsdl:message>
  <wsdl:portType name="SY_GZZX_SBH_WLLBSoap">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT_LIST">
      <wsdl:input message="tns:INSERT_LISTSoapIn" />
      <wsdl:output message="tns:INSERT_LISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAY">
      <wsdl:input message="tns:SELECT_LAYSoapIn" />
      <wsdl:output message="tns:SELECT_LAYSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_GZZX_SBH_WLLBHttpGet">
    <wsdl:operation name="SELECT_LAY">
      <wsdl:input message="tns:SELECT_LAYHttpGetIn" />
      <wsdl:output message="tns:SELECT_LAYHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_GZZX_SBH_WLLBHttpPost">
    <wsdl:operation name="SELECT_LAY">
      <wsdl:input message="tns:SELECT_LAYHttpPostIn" />
      <wsdl:output message="tns:SELECT_LAYHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SY_GZZX_SBH_WLLBSoap" type="tns:SY_GZZX_SBH_WLLBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_LIST">
      <soap:operation soapAction="http://tempuri.org/INSERT_LIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAY">
      <soap:operation soapAction="http://tempuri.org/SELECT_LAY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_GZZX_SBH_WLLBSoap12" type="tns:SY_GZZX_SBH_WLLBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT_LIST">
      <soap12:operation soapAction="http://tempuri.org/INSERT_LIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_LAY">
      <soap12:operation soapAction="http://tempuri.org/SELECT_LAY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_GZZX_SBH_WLLBHttpGet" type="tns:SY_GZZX_SBH_WLLBHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SELECT_LAY">
      <http:operation location="/SELECT_LAY" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_GZZX_SBH_WLLBHttpPost" type="tns:SY_GZZX_SBH_WLLBHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SELECT_LAY">
      <http:operation location="/SELECT_LAY" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SY_GZZX_SBH_WLLB">
    <wsdl:port name="SY_GZZX_SBH_WLLBSoap" binding="tns:SY_GZZX_SBH_WLLBSoap">
      <soap:address location="http://192.168.0.223/API/MES/SY_GZZX_SBH_WLLB.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_GZZX_SBH_WLLBSoap12" binding="tns:SY_GZZX_SBH_WLLBSoap12">
      <soap12:address location="http://192.168.0.223/API/MES/SY_GZZX_SBH_WLLB.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_GZZX_SBH_WLLBHttpGet" binding="tns:SY_GZZX_SBH_WLLBHttpGet">
      <http:address location="http://192.168.0.223/API/MES/SY_GZZX_SBH_WLLB.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_GZZX_SBH_WLLBHttpPost" binding="tns:SY_GZZX_SBH_WLLBHttpPost">
      <http:address location="http://192.168.0.223/API/MES/SY_GZZX_SBH_WLLB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>