Sonluk.UI.Model/Service References/CRM.CRM_HGService/CRM_HG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectHG_DICTwithTYPEID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="typeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectHG_DICTwithTYPEIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectHG_DICTwithTYPEIDResult" type="tns:ArrayOfCRM_HG_DICT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_HG_DICT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_HG_DICT" nillable="true" type="tns:CRM_HG_DICT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_HG_DICT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DICID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPEID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DICNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DICMEMO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfCRM_HG_DICT" nillable="true" type="tns:ArrayOfCRM_HG_DICT" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SelectHG_DICTwithTYPEIDSoapIn">
    <wsdl:part name="parameters" element="tns:SelectHG_DICTwithTYPEID" />
  </wsdl:message>
  <wsdl:message name="SelectHG_DICTwithTYPEIDSoapOut">
    <wsdl:part name="parameters" element="tns:SelectHG_DICTwithTYPEIDResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SelectHG_DICTwithTYPEIDHttpGetIn">
    <wsdl:part name="typeID" type="s:string" />
    <wsdl:part name="fid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectHG_DICTwithTYPEIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_DICT" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SelectHG_DICTwithTYPEIDHttpPostIn">
    <wsdl:part name="typeID" type="s:string" />
    <wsdl:part name="fid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SelectHG_DICTwithTYPEIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_HG_DICT" />
  </wsdl:message>
  <wsdl:portType name="CRM_HGSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectHG_DICTwithTYPEID">
      <wsdl:input message="tns:SelectHG_DICTwithTYPEIDSoapIn" />
      <wsdl:output message="tns:SelectHG_DICTwithTYPEIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CRM_HGHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectHG_DICTwithTYPEID">
      <wsdl:input message="tns:SelectHG_DICTwithTYPEIDHttpGetIn" />
      <wsdl:output message="tns:SelectHG_DICTwithTYPEIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CRM_HGHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectHG_DICTwithTYPEID">
      <wsdl:input message="tns:SelectHG_DICTwithTYPEIDHttpPostIn" />
      <wsdl:output message="tns:SelectHG_DICTwithTYPEIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRM_HGSoap" type="tns:CRM_HGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectHG_DICTwithTYPEID">
      <soap:operation soapAction="http://tempuri.org/SelectHG_DICTwithTYPEID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRM_HGSoap12" type="tns:CRM_HGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectHG_DICTwithTYPEID">
      <soap12:operation soapAction="http://tempuri.org/SelectHG_DICTwithTYPEID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRM_HGHttpGet" type="tns:CRM_HGHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectHG_DICTwithTYPEID">
      <http:operation location="/SelectHG_DICTwithTYPEID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRM_HGHttpPost" type="tns:CRM_HGHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectHG_DICTwithTYPEID">
      <http:operation location="/SelectHG_DICTwithTYPEID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRM_HG">
    <wsdl:port name="CRM_HGSoap" binding="tns:CRM_HGSoap">
      <soap:address location="http://192.168.0.16/API/CRM/CRM_HG.asmx" />
    </wsdl:port>
    <wsdl:port name="CRM_HGSoap12" binding="tns:CRM_HGSoap12">
      <soap12:address location="http://192.168.0.16/API/CRM/CRM_HG.asmx" />
    </wsdl:port>
    <wsdl:port name="CRM_HGHttpGet" binding="tns:CRM_HGHttpGet">
      <http:address location="http://192.168.0.16/API/CRM/CRM_HG.asmx" />
    </wsdl:port>
    <wsdl:port name="CRM_HGHttpPost" binding="tns:CRM_HGHttpPost">
      <http:address location="http://192.168.0.16/API/CRM/CRM_HG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>