Sonluk.UI.Model/Service References/MES.PMM_MTCService/PMM_MTC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PMM_MTC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MTCID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_PMM_MOULD" type="tns:MES_PMM_MOULD" />
          <s:element minOccurs="1" maxOccurs="1" name="QID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_PMM_MTC_REP" type="tns:ArrayOfMES_PMM_MTC_REP" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_PMM_MTC_CAVE" type="tns:ArrayOfMES_PMM_MTC_CAVE" />
          <s:element minOccurs="1" maxOccurs="1" name="DATES" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MMSTAFF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MMSTAFFNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MMCFM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MMDATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WTSTAFF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WTSTAFFNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WTCFM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WTDATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WTNOTES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QCSTAFF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QCSTAFFNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QCCFM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QCDATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="QCNOTES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TECSTAFF" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TECSTAFFNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TECCFM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TECDATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TECNOTES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OPERATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATESS" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DATESE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEES" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEEE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_PMM_MOULD">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GCMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WLLBID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WLLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WLMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBBH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPEID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MXNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATCHCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATCHCODENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATCHCODEREMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MOULD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CAVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CASENUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CASEWET" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISFIM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISNPA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NOTES" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_PMM_MTC_REP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_PMM_MTC_REP" nillable="true" type="tns:MES_PMM_MTC_REP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_PMM_MTC_REP">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MTCID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RCODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_PMM_MTC_CAVE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_PMM_MTC_CAVE" nillable="true" type="tns:MES_PMM_MTC_CAVE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_PMM_MTC_CAVE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MTCID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CAVENO" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_PMM_MTC_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_PMM_MTC_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_PMM_MTC" type="tns:ArrayOfMES_PMM_MTC" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_PMM_MTC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_PMM_MTC" nillable="true" type="tns:MES_PMM_MTC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_SAVE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_SAVEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_SAVEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_START">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_STARTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_STARTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_BACK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_BACKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_BACKResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_MM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_MMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_MMResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_WT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_WTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_WTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_QC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_QCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_QCResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_TEC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_TECResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_TECResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_CFMBACK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_CFMBACKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_CFMBACKResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_PMM_MTC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_SAVESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_SAVE" />
  </wsdl:message>
  <wsdl:message name="UPDATE_SAVESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_SAVEResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_STARTSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_START" />
  </wsdl:message>
  <wsdl:message name="UPDATE_STARTSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_STARTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_BACKSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_BACK" />
  </wsdl:message>
  <wsdl:message name="UPDATE_BACKSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_BACKResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_MMSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_MM" />
  </wsdl:message>
  <wsdl:message name="UPDATE_MMSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_MMResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_WTSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_WT" />
  </wsdl:message>
  <wsdl:message name="UPDATE_WTSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_WTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_QCSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_QC" />
  </wsdl:message>
  <wsdl:message name="UPDATE_QCSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_QCResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_TECSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_TEC" />
  </wsdl:message>
  <wsdl:message name="UPDATE_TECSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_TECResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATE_CFMBACKSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_CFMBACK" />
  </wsdl:message>
  <wsdl:message name="UPDATE_CFMBACKSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_CFMBACKResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:portType name="PMM_MTCSoap">
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SAVE">
      <wsdl:input message="tns:UPDATE_SAVESoapIn" />
      <wsdl:output message="tns:UPDATE_SAVESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_START">
      <wsdl:input message="tns:UPDATE_STARTSoapIn" />
      <wsdl:output message="tns:UPDATE_STARTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_BACK">
      <wsdl:input message="tns:UPDATE_BACKSoapIn" />
      <wsdl:output message="tns:UPDATE_BACKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_MM">
      <wsdl:input message="tns:UPDATE_MMSoapIn" />
      <wsdl:output message="tns:UPDATE_MMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_WT">
      <wsdl:input message="tns:UPDATE_WTSoapIn" />
      <wsdl:output message="tns:UPDATE_WTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QC">
      <wsdl:input message="tns:UPDATE_QCSoapIn" />
      <wsdl:output message="tns:UPDATE_QCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TEC">
      <wsdl:input message="tns:UPDATE_TECSoapIn" />
      <wsdl:output message="tns:UPDATE_TECSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CFMBACK">
      <wsdl:input message="tns:UPDATE_CFMBACKSoapIn" />
      <wsdl:output message="tns:UPDATE_CFMBACKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PMM_MTCHttpGet" />
  <wsdl:portType name="PMM_MTCHttpPost" />
  <wsdl:binding name="PMM_MTCSoap" type="tns:PMM_MTCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SAVE">
      <soap:operation soapAction="http://tempuri.org/UPDATE_SAVE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_START">
      <soap:operation soapAction="http://tempuri.org/UPDATE_START" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_BACK">
      <soap:operation soapAction="http://tempuri.org/UPDATE_BACK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_MM">
      <soap:operation soapAction="http://tempuri.org/UPDATE_MM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_WT">
      <soap:operation soapAction="http://tempuri.org/UPDATE_WT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QC">
      <soap:operation soapAction="http://tempuri.org/UPDATE_QC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TEC">
      <soap:operation soapAction="http://tempuri.org/UPDATE_TEC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CFMBACK">
      <soap:operation soapAction="http://tempuri.org/UPDATE_CFMBACK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PMM_MTCSoap12" type="tns:PMM_MTCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_SAVE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_SAVE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_START">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_START" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_BACK">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_BACK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_MM">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_MM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_WT">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_WT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_QC">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_QC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_TEC">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_TEC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE_CFMBACK">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_CFMBACK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PMM_MTCHttpGet" type="tns:PMM_MTCHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="PMM_MTCHttpPost" type="tns:PMM_MTCHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="PMM_MTC">
    <wsdl:port name="PMM_MTCSoap" binding="tns:PMM_MTCSoap">
      <soap:address location="http://192.168.0.101/API/MES/PMM_MTC.asmx" />
    </wsdl:port>
    <wsdl:port name="PMM_MTCSoap12" binding="tns:PMM_MTCSoap12">
      <soap12:address location="http://192.168.0.101/API/MES/PMM_MTC.asmx" />
    </wsdl:port>
    <wsdl:port name="PMM_MTCHttpGet" binding="tns:PMM_MTCHttpGet">
      <http:address location="http://192.168.0.101/API/MES/PMM_MTC.asmx" />
    </wsdl:port>
    <wsdl:port name="PMM_MTCHttpPost" binding="tns:PMM_MTCHttpPost">
      <http:address location="http://192.168.0.101/API/MES/PMM_MTC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>