Sonluk.UI.Model/Service References/CRM.MSG_INVOICEService/MSG_INVOICE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_MSG_INVOICE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_MSG_INVOICE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="INVOICEID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FPHM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FPSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KDDH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CKCS" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_MSG_INVOICE" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_MSG_INVOICEParam" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_MSG_INVOICEParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FPHM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSRQ_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSRQ_END" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_MSG_INVOICEList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_MSG_INVOICEList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_MSG_INVOICEList" nillable="true" type="tns:CRM_MSG_INVOICEList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CRM_MSG_INVOICEList">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRM_MSG_INVOICE">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CJRDES" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XGRDES" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INVOICEID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByKHID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByKHIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByKHIDResult" type="tns:ArrayOfCRM_MSG_INVOICEList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="INVOICEID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfCRM_MSG_INVOICEList" nillable="true" type="tns:ArrayOfCRM_MSG_INVOICEList" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByKHIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByKHID" />
  </wsdl:message>
  <wsdl:message name="ReadByKHIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByKHIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddCountSoapIn">
    <wsdl:part name="parameters" element="tns:AddCount" />
  </wsdl:message>
  <wsdl:message name="AddCountSoapOut">
    <wsdl:part name="parameters" element="tns:AddCountResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="INVOICEID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByKHIDHttpGetIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByKHIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_MSG_INVOICEList" />
  </wsdl:message>
  <wsdl:message name="AddCountHttpGetIn">
    <wsdl:part name="INVOICEID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="INVOICEID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ReadByKHIDHttpPostIn">
    <wsdl:part name="KHID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByKHIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_MSG_INVOICEList" />
  </wsdl:message>
  <wsdl:message name="AddCountHttpPostIn">
    <wsdl:part name="INVOICEID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="MSG_INVOICESoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByKHID">
      <wsdl:input message="tns:ReadByKHIDSoapIn" />
      <wsdl:output message="tns:ReadByKHIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCount">
      <wsdl:input message="tns:AddCountSoapIn" />
      <wsdl:output message="tns:AddCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MSG_INVOICEHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByKHID">
      <wsdl:input message="tns:ReadByKHIDHttpGetIn" />
      <wsdl:output message="tns:ReadByKHIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCount">
      <wsdl:input message="tns:AddCountHttpGetIn" />
      <wsdl:output message="tns:AddCountHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MSG_INVOICEHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByKHID">
      <wsdl:input message="tns:ReadByKHIDHttpPostIn" />
      <wsdl:output message="tns:ReadByKHIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCount">
      <wsdl:input message="tns:AddCountHttpPostIn" />
      <wsdl:output message="tns:AddCountHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MSG_INVOICESoap" type="tns:MSG_INVOICESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByKHID">
      <soap:operation soapAction="http://tempuri.org/ReadByKHID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCount">
      <soap:operation soapAction="http://tempuri.org/AddCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MSG_INVOICESoap12" type="tns:MSG_INVOICESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByKHID">
      <soap12:operation soapAction="http://tempuri.org/ReadByKHID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCount">
      <soap12:operation soapAction="http://tempuri.org/AddCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MSG_INVOICEHttpGet" type="tns:MSG_INVOICEHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByKHID">
      <http:operation location="/ReadByKHID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCount">
      <http:operation location="/AddCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MSG_INVOICEHttpPost" type="tns:MSG_INVOICEHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByKHID">
      <http:operation location="/ReadByKHID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCount">
      <http:operation location="/AddCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSG_INVOICE">
    <wsdl:port name="MSG_INVOICESoap" binding="tns:MSG_INVOICESoap">
      <soap:address location="http://192.168.0.135/API/CRM/MSG_INVOICE.asmx" />
    </wsdl:port>
    <wsdl:port name="MSG_INVOICESoap12" binding="tns:MSG_INVOICESoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/MSG_INVOICE.asmx" />
    </wsdl:port>
    <wsdl:port name="MSG_INVOICEHttpGet" binding="tns:MSG_INVOICEHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/MSG_INVOICE.asmx" />
    </wsdl:port>
    <wsdl:port name="MSG_INVOICEHttpPost" binding="tns:MSG_INVOICEHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/MSG_INVOICE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>