Sonluk.UI.Model/Service References/MES.BAT_QLTYService/BAT_QLTY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZLRBB_SEARCH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZLRBB_SEARCH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DATES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDLINE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SDLINEID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:MES_ZLRBB_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZLRBB_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_ZLRBB" type="tns:ArrayOfMES_ZLRBB" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZLRBB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZLRBB" nillable="true" type="tns:MES_ZLRBB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_ZLRBB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BCID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ZJHQR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FKJTB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GMZCR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DJYZR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XGZR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FKCX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DDMTB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SDCL" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="VYX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VZ" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VYS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SDZYXCCD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WGBL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TTBL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LKCK" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TTP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CXBL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WXG" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TDXC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TPLS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KXBL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DGX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TDTH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RJZRBL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WBDL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YYBM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLTXR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JLTXRID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JLTXRGH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDLINE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SDLINEID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ISDELETE" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_SUM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZLRBB_SEARCH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_SUMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_SUMResult" type="tns:MES_ZLRBB_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TMARK_SELECT_SUM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZLRBB_SEARCH" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TMARK_SELECT_SUMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TMARK_SELECT_SUMResult" type="tns:MES_ZLRBB_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="COVER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZLRBB" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="COVERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="COVERResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="COVER_TMARK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZLRBB" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="COVER_TMARKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="COVER_TMARKResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACTION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RI" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACTIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACTIONResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RI" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_TMARK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RI" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE_TMARKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETE_TMARKResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="STAFF_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_ZLRBB_STAFF" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_ZLRBB_STAFF">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTION" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="STAFF_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="STAFF_SELECTResult" type="tns:MES_SELECTOfMES_ZLRBB_STAFF" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SELECTOfMES_ZLRBB_STAFF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TList" type="tns:ArrayOfMES_ZLRBB_STAFF" />
          <s:element minOccurs="0" maxOccurs="1" name="Others" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMES_ZLRBB_STAFF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_ZLRBB_STAFF" nillable="true" type="tns:MES_ZLRBB_STAFF" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_SUMSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_SUM" />
  </wsdl:message>
  <wsdl:message name="SELECT_SUMSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_SUMResponse" />
  </wsdl:message>
  <wsdl:message name="TMARK_SELECT_SUMSoapIn">
    <wsdl:part name="parameters" element="tns:TMARK_SELECT_SUM" />
  </wsdl:message>
  <wsdl:message name="TMARK_SELECT_SUMSoapOut">
    <wsdl:part name="parameters" element="tns:TMARK_SELECT_SUMResponse" />
  </wsdl:message>
  <wsdl:message name="COVERSoapIn">
    <wsdl:part name="parameters" element="tns:COVER" />
  </wsdl:message>
  <wsdl:message name="COVERSoapOut">
    <wsdl:part name="parameters" element="tns:COVERResponse" />
  </wsdl:message>
  <wsdl:message name="COVER_TMARKSoapIn">
    <wsdl:part name="parameters" element="tns:COVER_TMARK" />
  </wsdl:message>
  <wsdl:message name="COVER_TMARKSoapOut">
    <wsdl:part name="parameters" element="tns:COVER_TMARKResponse" />
  </wsdl:message>
  <wsdl:message name="ACTIONSoapIn">
    <wsdl:part name="parameters" element="tns:ACTION" />
  </wsdl:message>
  <wsdl:message name="ACTIONSoapOut">
    <wsdl:part name="parameters" element="tns:ACTIONResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="DELETE_TMARKSoapIn">
    <wsdl:part name="parameters" element="tns:DELETE_TMARK" />
  </wsdl:message>
  <wsdl:message name="DELETE_TMARKSoapOut">
    <wsdl:part name="parameters" element="tns:DELETE_TMARKResponse" />
  </wsdl:message>
  <wsdl:message name="STAFF_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:STAFF_SELECT" />
  </wsdl:message>
  <wsdl:message name="STAFF_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:STAFF_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="ACTIONHttpGetIn">
    <wsdl:part name="RI" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ACTIONHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpGetIn">
    <wsdl:part name="RI" type="s:string" />
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_TMARKHttpGetIn">
    <wsdl:part name="RI" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_TMARKHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="ACTIONHttpPostIn">
    <wsdl:part name="RI" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ACTIONHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpPostIn">
    <wsdl:part name="RI" type="s:string" />
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="DELETE_TMARKHttpPostIn">
    <wsdl:part name="RI" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETE_TMARKHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="BAT_QLTYSoap">
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_SUM">
      <wsdl:input message="tns:SELECT_SUMSoapIn" />
      <wsdl:output message="tns:SELECT_SUMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TMARK_SELECT_SUM">
      <wsdl:input message="tns:TMARK_SELECT_SUMSoapIn" />
      <wsdl:output message="tns:TMARK_SELECT_SUMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="COVER">
      <wsdl:input message="tns:COVERSoapIn" />
      <wsdl:output message="tns:COVERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="COVER_TMARK">
      <wsdl:input message="tns:COVER_TMARKSoapIn" />
      <wsdl:output message="tns:COVER_TMARKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ACTION">
      <wsdl:input message="tns:ACTIONSoapIn" />
      <wsdl:output message="tns:ACTIONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_TMARK">
      <wsdl:input message="tns:DELETE_TMARKSoapIn" />
      <wsdl:output message="tns:DELETE_TMARKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="STAFF_SELECT">
      <wsdl:input message="tns:STAFF_SELECTSoapIn" />
      <wsdl:output message="tns:STAFF_SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BAT_QLTYHttpGet">
    <wsdl:operation name="ACTION">
      <wsdl:input message="tns:ACTIONHttpGetIn" />
      <wsdl:output message="tns:ACTIONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETEHttpGetIn" />
      <wsdl:output message="tns:DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_TMARK">
      <wsdl:input message="tns:DELETE_TMARKHttpGetIn" />
      <wsdl:output message="tns:DELETE_TMARKHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BAT_QLTYHttpPost">
    <wsdl:operation name="ACTION">
      <wsdl:input message="tns:ACTIONHttpPostIn" />
      <wsdl:output message="tns:ACTIONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETEHttpPostIn" />
      <wsdl:output message="tns:DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE_TMARK">
      <wsdl:input message="tns:DELETE_TMARKHttpPostIn" />
      <wsdl:output message="tns:DELETE_TMARKHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BAT_QLTYSoap" type="tns:BAT_QLTYSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SUM">
      <soap:operation soapAction="http://tempuri.org/SELECT_SUM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TMARK_SELECT_SUM">
      <soap:operation soapAction="http://tempuri.org/TMARK_SELECT_SUM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COVER">
      <soap:operation soapAction="http://tempuri.org/COVER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COVER_TMARK">
      <soap:operation soapAction="http://tempuri.org/COVER_TMARK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACTION">
      <soap:operation soapAction="http://tempuri.org/ACTION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_TMARK">
      <soap:operation soapAction="http://tempuri.org/DELETE_TMARK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="STAFF_SELECT">
      <soap:operation soapAction="http://tempuri.org/STAFF_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAT_QLTYSoap12" type="tns:BAT_QLTYSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SUM">
      <soap12:operation soapAction="http://tempuri.org/SELECT_SUM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TMARK_SELECT_SUM">
      <soap12:operation soapAction="http://tempuri.org/TMARK_SELECT_SUM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COVER">
      <soap12:operation soapAction="http://tempuri.org/COVER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COVER_TMARK">
      <soap12:operation soapAction="http://tempuri.org/COVER_TMARK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACTION">
      <soap12:operation soapAction="http://tempuri.org/ACTION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_TMARK">
      <soap12:operation soapAction="http://tempuri.org/DELETE_TMARK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="STAFF_SELECT">
      <soap12:operation soapAction="http://tempuri.org/STAFF_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAT_QLTYHttpGet" type="tns:BAT_QLTYHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ACTION">
      <http:operation location="/ACTION" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <http:operation location="/DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_TMARK">
      <http:operation location="/DELETE_TMARK" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BAT_QLTYHttpPost" type="tns:BAT_QLTYHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ACTION">
      <http:operation location="/ACTION" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <http:operation location="/DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE_TMARK">
      <http:operation location="/DELETE_TMARK" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BAT_QLTY">
    <wsdl:port name="BAT_QLTYSoap" binding="tns:BAT_QLTYSoap">
      <soap:address location="http://localhost/API/MES/BAT_QLTY.asmx" />
    </wsdl:port>
    <wsdl:port name="BAT_QLTYSoap12" binding="tns:BAT_QLTYSoap12">
      <soap12:address location="http://localhost/API/MES/BAT_QLTY.asmx" />
    </wsdl:port>
    <wsdl:port name="BAT_QLTYHttpGet" binding="tns:BAT_QLTYHttpGet">
      <http:address location="http://localhost/API/MES/BAT_QLTY.asmx" />
    </wsdl:port>
    <wsdl:port name="BAT_QLTYHttpPost" binding="tns:BAT_QLTYHttpPost">
      <http:address location="http://localhost/API/MES/BAT_QLTY.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>