Sonluk.UI.Model/Service References/HR.RY_RYINFO_RSDAService/RY_RYINFO_RSDA1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="JYJL_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_JYJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_JYJL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EDUID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XLNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCHOOL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XXFS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XXFSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISSHOW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="JYJL_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JYJL_SELECTResult" type="tns:HR_RY_JYJL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_JYJL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_JYJL_LIST" type="tns:ArrayOfHR_RY_JYJL_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_JYJL_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_JYJL_LIST" nillable="true" type="tns:HR_RY_JYJL_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_JYJL_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EDUID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="XL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XLNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCHOOL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XXFS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XXFSNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISSHOW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="JYJL_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_JYJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JYJL_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JYJL_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JYJL_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_JYJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JYJL_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JYJL_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JYJL_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EDUID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JYJL_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JYJL_DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GRJL_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_GRJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_GRJL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GRJLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DUTY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DUTYNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GRJL_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GRJL_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GRJL_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_GRJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GRJL_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GRJL_SELECTResult" type="tns:HR_RY_GRJL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_GRJL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_GRJL_LIST" type="tns:ArrayOfHR_RY_GRJL_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_GRJL_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_GRJL_LIST" nillable="true" type="tns:HR_RY_GRJL_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_GRJL_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GRJLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JSDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEPT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DUTY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DUTYNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GRJL_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_GRJL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GRJL_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GRJL_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GRJL_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GRJLID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GRJL_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GRJL_DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOMEGX_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_HOMEGX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_HOMEGX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JTGXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GXLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GXLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GXNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GXDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GXADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GXPHONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HOMEGX_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HOMEGX_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOMEGX_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_HOMEGX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOMEGX_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HOMEGX_SELECTResult" type="tns:HR_RY_HOMEGX_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_HOMEGX_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_HOMEGX_LIST" type="tns:ArrayOfHR_RY_HOMEGX_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_HOMEGX_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_HOMEGX_LIST" nillable="true" type="tns:HR_RY_HOMEGX_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_HOMEGX_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JTGXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GXLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GXLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GXNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GXDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GXADDRESS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GXPHONE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HOMEGX_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_HOMEGX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOMEGX_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HOMEGX_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOMEGX_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JTGXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HOMEGX_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HOMEGX_DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GSGL_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_GSGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_GSGL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GSID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JOBS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JOBSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GSLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLEVELNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YLKSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YLJSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GSGL_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GSGL_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GSGL_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_GSGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GSGL_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GSGL_SELECTResult" type="tns:HR_RY_GSGL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_GSGL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_GSGL_LIST" type="tns:ArrayOfHR_RY_GSGL_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_GSGL_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_GSGL_LIST" nillable="true" type="tns:HR_RY_GSGL_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_GSGL_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GSID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JOBS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JOBSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GSLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GSLEVELNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YLKSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YLJSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSREMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GSGL_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_GSGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GSGL_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GSGL_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GSGL_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GSID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GSGL_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GSGL_DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WJGL_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_WJGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_WJGL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WJID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WJGL_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WJGL_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WJGL_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_WJGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WJGL_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WJGL_SELECTResult" type="tns:HR_RY_WJGL_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_WJGL_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_WJGL_LIST" type="tns:ArrayOfHR_RY_WJGL_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_WJGL_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_WJGL_LIST" nillable="true" type="tns:HR_RY_WJGL_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_WJGL_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WJID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FSDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WJGL_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_WJGL" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WJGL_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WJGL_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WJGL_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WJID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WJGL_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WJGL_DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HT_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_HT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_HT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HTZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HTZTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HTQXLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HTQXLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTQX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QDRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SXRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DQR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JCRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTQCS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HT_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HT_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HT_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_HT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HT_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HT_SELECTResult" type="tns:HR_RY_HT_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_HT_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_HT_LIST" type="tns:ArrayOfHR_RY_HT_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_HT_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_HT_LIST" nillable="true" type="tns:HR_RY_HT_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_HT_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HTZT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HTZTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HTQXLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HTQXLBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HTQX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QDRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SXRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DQR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JCRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSNAME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HT_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_HT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HT_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HT_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HT_UPDATE_HTQCS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_HT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HT_UPDATE_HTQCSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HT_UPDATE_HTQCSResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HT_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HT_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HT_DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZC_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_ZC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_ZC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ZCID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCXL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCXLNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCLEVELNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCJGBM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FSDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISPY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PYRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PYXL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PYXLNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PYLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PYLEVELNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISBJSHOW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEJS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZC_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZC_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZC_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_ZC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZC_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZC_SELECTResult" type="tns:HR_RY_ZC_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_ZC_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_ZC_LIST" type="tns:ArrayOfHR_RY_ZC_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_ZC_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_ZC_LIST" nillable="true" type="tns:HR_RY_ZC_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_ZC_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ZCID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCLBNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCXL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCXLNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZCLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCLEVELNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCJGBM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZCNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FSDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISPY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PYRQ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PYXL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PYXLNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PYLEVEL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PYLEVELNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISBJSHOW" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RY_ZC_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_ZC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RY_ZC_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RY_ZC_SELECTResult" type="tns:HR_RY_ZC_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZC_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_ZC" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZC_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZC_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZC_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ZCID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZC_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZC_DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WBZW_INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_WBZW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_WBZW">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WBZWID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WBZWNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBZWDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBPYRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBJZRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WBZW_INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WBZW_INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WBZW_SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_WBZW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WBZW_SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WBZW_SELECTResult" type="tns:HR_RY_WBZW_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_RY_WBZW_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HR_RY_WBZW_LIST" type="tns:ArrayOfHR_RY_WBZW_LIST" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHR_RY_WBZW_LIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HR_RY_WBZW_LIST" nillable="true" type="tns:HR_RY_WBZW_LIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HR_RY_WBZW_LIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WBZWID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WBZWNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBZWDW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBPYRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WBJZRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REMARK" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJTIME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRTIME" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WBZW_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_RY_WBZW" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WBZW_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WBZW_UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WBZW_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WBZWID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WBZW_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WBZW_DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="JYJL_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:JYJL_SELECT" />
  </wsdl:message>
  <wsdl:message name="JYJL_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:JYJL_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="JYJL_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:JYJL_UPDATE" />
  </wsdl:message>
  <wsdl:message name="JYJL_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:JYJL_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="JYJL_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:JYJL_INSERT" />
  </wsdl:message>
  <wsdl:message name="JYJL_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:JYJL_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="JYJL_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:JYJL_DELETE" />
  </wsdl:message>
  <wsdl:message name="JYJL_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:JYJL_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="GRJL_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:GRJL_INSERT" />
  </wsdl:message>
  <wsdl:message name="GRJL_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:GRJL_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="GRJL_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:GRJL_SELECT" />
  </wsdl:message>
  <wsdl:message name="GRJL_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:GRJL_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="GRJL_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:GRJL_UPDATE" />
  </wsdl:message>
  <wsdl:message name="GRJL_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:GRJL_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="GRJL_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:GRJL_DELETE" />
  </wsdl:message>
  <wsdl:message name="GRJL_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:GRJL_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:HOMEGX_INSERT" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:HOMEGX_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:HOMEGX_SELECT" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:HOMEGX_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:HOMEGX_UPDATE" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:HOMEGX_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:HOMEGX_DELETE" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:HOMEGX_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="GSGL_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:GSGL_INSERT" />
  </wsdl:message>
  <wsdl:message name="GSGL_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:GSGL_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="GSGL_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:GSGL_SELECT" />
  </wsdl:message>
  <wsdl:message name="GSGL_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:GSGL_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="GSGL_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:GSGL_UPDATE" />
  </wsdl:message>
  <wsdl:message name="GSGL_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:GSGL_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="GSGL_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:GSGL_DELETE" />
  </wsdl:message>
  <wsdl:message name="GSGL_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:GSGL_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="WJGL_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:WJGL_INSERT" />
  </wsdl:message>
  <wsdl:message name="WJGL_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:WJGL_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="WJGL_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:WJGL_SELECT" />
  </wsdl:message>
  <wsdl:message name="WJGL_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:WJGL_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="WJGL_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:WJGL_UPDATE" />
  </wsdl:message>
  <wsdl:message name="WJGL_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:WJGL_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="WJGL_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:WJGL_DELETE" />
  </wsdl:message>
  <wsdl:message name="WJGL_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:WJGL_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="HT_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:HT_INSERT" />
  </wsdl:message>
  <wsdl:message name="HT_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:HT_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="HT_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:HT_SELECT" />
  </wsdl:message>
  <wsdl:message name="HT_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:HT_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="HT_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:HT_UPDATE" />
  </wsdl:message>
  <wsdl:message name="HT_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:HT_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="HT_UPDATE_HTQCSSoapIn">
    <wsdl:part name="parameters" element="tns:HT_UPDATE_HTQCS" />
  </wsdl:message>
  <wsdl:message name="HT_UPDATE_HTQCSSoapOut">
    <wsdl:part name="parameters" element="tns:HT_UPDATE_HTQCSResponse" />
  </wsdl:message>
  <wsdl:message name="HT_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:HT_DELETE" />
  </wsdl:message>
  <wsdl:message name="HT_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:HT_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="ZC_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:ZC_INSERT" />
  </wsdl:message>
  <wsdl:message name="ZC_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:ZC_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="ZC_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:ZC_SELECT" />
  </wsdl:message>
  <wsdl:message name="ZC_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:ZC_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="RY_ZC_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:RY_ZC_SELECT" />
  </wsdl:message>
  <wsdl:message name="RY_ZC_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:RY_ZC_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="ZC_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:ZC_UPDATE" />
  </wsdl:message>
  <wsdl:message name="ZC_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:ZC_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="ZC_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:ZC_DELETE" />
  </wsdl:message>
  <wsdl:message name="ZC_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:ZC_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="WBZW_INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:WBZW_INSERT" />
  </wsdl:message>
  <wsdl:message name="WBZW_INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:WBZW_INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="WBZW_SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:WBZW_SELECT" />
  </wsdl:message>
  <wsdl:message name="WBZW_SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:WBZW_SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="WBZW_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:WBZW_UPDATE" />
  </wsdl:message>
  <wsdl:message name="WBZW_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:WBZW_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="WBZW_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:WBZW_DELETE" />
  </wsdl:message>
  <wsdl:message name="WBZW_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:WBZW_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="JYJL_DELETEHttpGetIn">
    <wsdl:part name="EDUID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JYJL_DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="GRJL_DELETEHttpGetIn">
    <wsdl:part name="GRJLID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GRJL_DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_DELETEHttpGetIn">
    <wsdl:part name="JTGXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="GSGL_DELETEHttpGetIn">
    <wsdl:part name="GSID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GSGL_DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="WJGL_DELETEHttpGetIn">
    <wsdl:part name="WJID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WJGL_DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="HT_DELETEHttpGetIn">
    <wsdl:part name="HTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HT_DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="ZC_DELETEHttpGetIn">
    <wsdl:part name="ZCID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZC_DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="WBZW_DELETEHttpGetIn">
    <wsdl:part name="WBZWID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WBZW_DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="JYJL_DELETEHttpPostIn">
    <wsdl:part name="EDUID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JYJL_DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="GRJL_DELETEHttpPostIn">
    <wsdl:part name="GRJLID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GRJL_DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_DELETEHttpPostIn">
    <wsdl:part name="JTGXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HOMEGX_DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="GSGL_DELETEHttpPostIn">
    <wsdl:part name="GSID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GSGL_DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="WJGL_DELETEHttpPostIn">
    <wsdl:part name="WJID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WJGL_DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="HT_DELETEHttpPostIn">
    <wsdl:part name="HTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HT_DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="ZC_DELETEHttpPostIn">
    <wsdl:part name="ZCID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZC_DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="WBZW_DELETEHttpPostIn">
    <wsdl:part name="WBZWID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WBZW_DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="RY_RYINFO_RSDASoap">
    <wsdl:operation name="JYJL_SELECT">
      <wsdl:input message="tns:JYJL_SELECTSoapIn" />
      <wsdl:output message="tns:JYJL_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JYJL_UPDATE">
      <wsdl:input message="tns:JYJL_UPDATESoapIn" />
      <wsdl:output message="tns:JYJL_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JYJL_INSERT">
      <wsdl:input message="tns:JYJL_INSERTSoapIn" />
      <wsdl:output message="tns:JYJL_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JYJL_DELETE">
      <wsdl:input message="tns:JYJL_DELETESoapIn" />
      <wsdl:output message="tns:JYJL_DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GRJL_INSERT">
      <wsdl:input message="tns:GRJL_INSERTSoapIn" />
      <wsdl:output message="tns:GRJL_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GRJL_SELECT">
      <wsdl:input message="tns:GRJL_SELECTSoapIn" />
      <wsdl:output message="tns:GRJL_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GRJL_UPDATE">
      <wsdl:input message="tns:GRJL_UPDATESoapIn" />
      <wsdl:output message="tns:GRJL_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GRJL_DELETE">
      <wsdl:input message="tns:GRJL_DELETESoapIn" />
      <wsdl:output message="tns:GRJL_DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_INSERT">
      <wsdl:input message="tns:HOMEGX_INSERTSoapIn" />
      <wsdl:output message="tns:HOMEGX_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_SELECT">
      <wsdl:input message="tns:HOMEGX_SELECTSoapIn" />
      <wsdl:output message="tns:HOMEGX_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_UPDATE">
      <wsdl:input message="tns:HOMEGX_UPDATESoapIn" />
      <wsdl:output message="tns:HOMEGX_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_DELETE">
      <wsdl:input message="tns:HOMEGX_DELETESoapIn" />
      <wsdl:output message="tns:HOMEGX_DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GSGL_INSERT">
      <wsdl:input message="tns:GSGL_INSERTSoapIn" />
      <wsdl:output message="tns:GSGL_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GSGL_SELECT">
      <wsdl:input message="tns:GSGL_SELECTSoapIn" />
      <wsdl:output message="tns:GSGL_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GSGL_UPDATE">
      <wsdl:input message="tns:GSGL_UPDATESoapIn" />
      <wsdl:output message="tns:GSGL_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GSGL_DELETE">
      <wsdl:input message="tns:GSGL_DELETESoapIn" />
      <wsdl:output message="tns:GSGL_DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WJGL_INSERT">
      <wsdl:input message="tns:WJGL_INSERTSoapIn" />
      <wsdl:output message="tns:WJGL_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WJGL_SELECT">
      <wsdl:input message="tns:WJGL_SELECTSoapIn" />
      <wsdl:output message="tns:WJGL_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WJGL_UPDATE">
      <wsdl:input message="tns:WJGL_UPDATESoapIn" />
      <wsdl:output message="tns:WJGL_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WJGL_DELETE">
      <wsdl:input message="tns:WJGL_DELETESoapIn" />
      <wsdl:output message="tns:WJGL_DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HT_INSERT">
      <wsdl:input message="tns:HT_INSERTSoapIn" />
      <wsdl:output message="tns:HT_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HT_SELECT">
      <wsdl:input message="tns:HT_SELECTSoapIn" />
      <wsdl:output message="tns:HT_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HT_UPDATE">
      <wsdl:input message="tns:HT_UPDATESoapIn" />
      <wsdl:output message="tns:HT_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HT_UPDATE_HTQCS">
      <wsdl:input message="tns:HT_UPDATE_HTQCSSoapIn" />
      <wsdl:output message="tns:HT_UPDATE_HTQCSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HT_DELETE">
      <wsdl:input message="tns:HT_DELETESoapIn" />
      <wsdl:output message="tns:HT_DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZC_INSERT">
      <wsdl:input message="tns:ZC_INSERTSoapIn" />
      <wsdl:output message="tns:ZC_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZC_SELECT">
      <wsdl:input message="tns:ZC_SELECTSoapIn" />
      <wsdl:output message="tns:ZC_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RY_ZC_SELECT">
      <wsdl:input message="tns:RY_ZC_SELECTSoapIn" />
      <wsdl:output message="tns:RY_ZC_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZC_UPDATE">
      <wsdl:input message="tns:ZC_UPDATESoapIn" />
      <wsdl:output message="tns:ZC_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZC_DELETE">
      <wsdl:input message="tns:ZC_DELETESoapIn" />
      <wsdl:output message="tns:ZC_DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WBZW_INSERT">
      <wsdl:input message="tns:WBZW_INSERTSoapIn" />
      <wsdl:output message="tns:WBZW_INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WBZW_SELECT">
      <wsdl:input message="tns:WBZW_SELECTSoapIn" />
      <wsdl:output message="tns:WBZW_SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WBZW_UPDATE">
      <wsdl:input message="tns:WBZW_UPDATESoapIn" />
      <wsdl:output message="tns:WBZW_UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WBZW_DELETE">
      <wsdl:input message="tns:WBZW_DELETESoapIn" />
      <wsdl:output message="tns:WBZW_DELETESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RY_RYINFO_RSDAHttpGet">
    <wsdl:operation name="JYJL_DELETE">
      <wsdl:input message="tns:JYJL_DELETEHttpGetIn" />
      <wsdl:output message="tns:JYJL_DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GRJL_DELETE">
      <wsdl:input message="tns:GRJL_DELETEHttpGetIn" />
      <wsdl:output message="tns:GRJL_DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_DELETE">
      <wsdl:input message="tns:HOMEGX_DELETEHttpGetIn" />
      <wsdl:output message="tns:HOMEGX_DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GSGL_DELETE">
      <wsdl:input message="tns:GSGL_DELETEHttpGetIn" />
      <wsdl:output message="tns:GSGL_DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WJGL_DELETE">
      <wsdl:input message="tns:WJGL_DELETEHttpGetIn" />
      <wsdl:output message="tns:WJGL_DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HT_DELETE">
      <wsdl:input message="tns:HT_DELETEHttpGetIn" />
      <wsdl:output message="tns:HT_DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ZC_DELETE">
      <wsdl:input message="tns:ZC_DELETEHttpGetIn" />
      <wsdl:output message="tns:ZC_DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WBZW_DELETE">
      <wsdl:input message="tns:WBZW_DELETEHttpGetIn" />
      <wsdl:output message="tns:WBZW_DELETEHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RY_RYINFO_RSDAHttpPost">
    <wsdl:operation name="JYJL_DELETE">
      <wsdl:input message="tns:JYJL_DELETEHttpPostIn" />
      <wsdl:output message="tns:JYJL_DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GRJL_DELETE">
      <wsdl:input message="tns:GRJL_DELETEHttpPostIn" />
      <wsdl:output message="tns:GRJL_DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_DELETE">
      <wsdl:input message="tns:HOMEGX_DELETEHttpPostIn" />
      <wsdl:output message="tns:HOMEGX_DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GSGL_DELETE">
      <wsdl:input message="tns:GSGL_DELETEHttpPostIn" />
      <wsdl:output message="tns:GSGL_DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WJGL_DELETE">
      <wsdl:input message="tns:WJGL_DELETEHttpPostIn" />
      <wsdl:output message="tns:WJGL_DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HT_DELETE">
      <wsdl:input message="tns:HT_DELETEHttpPostIn" />
      <wsdl:output message="tns:HT_DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ZC_DELETE">
      <wsdl:input message="tns:ZC_DELETEHttpPostIn" />
      <wsdl:output message="tns:ZC_DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WBZW_DELETE">
      <wsdl:input message="tns:WBZW_DELETEHttpPostIn" />
      <wsdl:output message="tns:WBZW_DELETEHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RY_RYINFO_RSDASoap" type="tns:RY_RYINFO_RSDASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JYJL_SELECT">
      <soap:operation soapAction="http://tempuri.org/JYJL_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JYJL_UPDATE">
      <soap:operation soapAction="http://tempuri.org/JYJL_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JYJL_INSERT">
      <soap:operation soapAction="http://tempuri.org/JYJL_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JYJL_DELETE">
      <soap:operation soapAction="http://tempuri.org/JYJL_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_INSERT">
      <soap:operation soapAction="http://tempuri.org/GRJL_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_SELECT">
      <soap:operation soapAction="http://tempuri.org/GRJL_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_UPDATE">
      <soap:operation soapAction="http://tempuri.org/GRJL_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_DELETE">
      <soap:operation soapAction="http://tempuri.org/GRJL_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_INSERT">
      <soap:operation soapAction="http://tempuri.org/HOMEGX_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_SELECT">
      <soap:operation soapAction="http://tempuri.org/HOMEGX_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_UPDATE">
      <soap:operation soapAction="http://tempuri.org/HOMEGX_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_DELETE">
      <soap:operation soapAction="http://tempuri.org/HOMEGX_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_INSERT">
      <soap:operation soapAction="http://tempuri.org/GSGL_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_SELECT">
      <soap:operation soapAction="http://tempuri.org/GSGL_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_UPDATE">
      <soap:operation soapAction="http://tempuri.org/GSGL_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_DELETE">
      <soap:operation soapAction="http://tempuri.org/GSGL_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_INSERT">
      <soap:operation soapAction="http://tempuri.org/WJGL_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_SELECT">
      <soap:operation soapAction="http://tempuri.org/WJGL_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_UPDATE">
      <soap:operation soapAction="http://tempuri.org/WJGL_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_DELETE">
      <soap:operation soapAction="http://tempuri.org/WJGL_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_INSERT">
      <soap:operation soapAction="http://tempuri.org/HT_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_SELECT">
      <soap:operation soapAction="http://tempuri.org/HT_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_UPDATE">
      <soap:operation soapAction="http://tempuri.org/HT_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_UPDATE_HTQCS">
      <soap:operation soapAction="http://tempuri.org/HT_UPDATE_HTQCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_DELETE">
      <soap:operation soapAction="http://tempuri.org/HT_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_INSERT">
      <soap:operation soapAction="http://tempuri.org/ZC_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_SELECT">
      <soap:operation soapAction="http://tempuri.org/ZC_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RY_ZC_SELECT">
      <soap:operation soapAction="http://tempuri.org/RY_ZC_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_UPDATE">
      <soap:operation soapAction="http://tempuri.org/ZC_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_DELETE">
      <soap:operation soapAction="http://tempuri.org/ZC_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_INSERT">
      <soap:operation soapAction="http://tempuri.org/WBZW_INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_SELECT">
      <soap:operation soapAction="http://tempuri.org/WBZW_SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_UPDATE">
      <soap:operation soapAction="http://tempuri.org/WBZW_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_DELETE">
      <soap:operation soapAction="http://tempuri.org/WBZW_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RY_RYINFO_RSDASoap12" type="tns:RY_RYINFO_RSDASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JYJL_SELECT">
      <soap12:operation soapAction="http://tempuri.org/JYJL_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JYJL_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/JYJL_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JYJL_INSERT">
      <soap12:operation soapAction="http://tempuri.org/JYJL_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JYJL_DELETE">
      <soap12:operation soapAction="http://tempuri.org/JYJL_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_INSERT">
      <soap12:operation soapAction="http://tempuri.org/GRJL_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_SELECT">
      <soap12:operation soapAction="http://tempuri.org/GRJL_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/GRJL_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_DELETE">
      <soap12:operation soapAction="http://tempuri.org/GRJL_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_INSERT">
      <soap12:operation soapAction="http://tempuri.org/HOMEGX_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_SELECT">
      <soap12:operation soapAction="http://tempuri.org/HOMEGX_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/HOMEGX_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_DELETE">
      <soap12:operation soapAction="http://tempuri.org/HOMEGX_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_INSERT">
      <soap12:operation soapAction="http://tempuri.org/GSGL_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_SELECT">
      <soap12:operation soapAction="http://tempuri.org/GSGL_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/GSGL_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_DELETE">
      <soap12:operation soapAction="http://tempuri.org/GSGL_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_INSERT">
      <soap12:operation soapAction="http://tempuri.org/WJGL_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_SELECT">
      <soap12:operation soapAction="http://tempuri.org/WJGL_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/WJGL_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_DELETE">
      <soap12:operation soapAction="http://tempuri.org/WJGL_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_INSERT">
      <soap12:operation soapAction="http://tempuri.org/HT_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_SELECT">
      <soap12:operation soapAction="http://tempuri.org/HT_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/HT_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_UPDATE_HTQCS">
      <soap12:operation soapAction="http://tempuri.org/HT_UPDATE_HTQCS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_DELETE">
      <soap12:operation soapAction="http://tempuri.org/HT_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_INSERT">
      <soap12:operation soapAction="http://tempuri.org/ZC_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_SELECT">
      <soap12:operation soapAction="http://tempuri.org/ZC_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RY_ZC_SELECT">
      <soap12:operation soapAction="http://tempuri.org/RY_ZC_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/ZC_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_DELETE">
      <soap12:operation soapAction="http://tempuri.org/ZC_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_INSERT">
      <soap12:operation soapAction="http://tempuri.org/WBZW_INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_SELECT">
      <soap12:operation soapAction="http://tempuri.org/WBZW_SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/WBZW_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_DELETE">
      <soap12:operation soapAction="http://tempuri.org/WBZW_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RY_RYINFO_RSDAHttpGet" type="tns:RY_RYINFO_RSDAHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="JYJL_DELETE">
      <http:operation location="/JYJL_DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_DELETE">
      <http:operation location="/GRJL_DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_DELETE">
      <http:operation location="/HOMEGX_DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_DELETE">
      <http:operation location="/GSGL_DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_DELETE">
      <http:operation location="/WJGL_DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_DELETE">
      <http:operation location="/HT_DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_DELETE">
      <http:operation location="/ZC_DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_DELETE">
      <http:operation location="/WBZW_DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RY_RYINFO_RSDAHttpPost" type="tns:RY_RYINFO_RSDAHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="JYJL_DELETE">
      <http:operation location="/JYJL_DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GRJL_DELETE">
      <http:operation location="/GRJL_DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HOMEGX_DELETE">
      <http:operation location="/HOMEGX_DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSGL_DELETE">
      <http:operation location="/GSGL_DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WJGL_DELETE">
      <http:operation location="/WJGL_DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HT_DELETE">
      <http:operation location="/HT_DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZC_DELETE">
      <http:operation location="/ZC_DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WBZW_DELETE">
      <http:operation location="/WBZW_DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RY_RYINFO_RSDA">
    <wsdl:port name="RY_RYINFO_RSDASoap" binding="tns:RY_RYINFO_RSDASoap">
      <soap:address location="http://192.168.0.223/API/HR/RY_RYINFO_RSDA.asmx" />
    </wsdl:port>
    <wsdl:port name="RY_RYINFO_RSDASoap12" binding="tns:RY_RYINFO_RSDASoap12">
      <soap12:address location="http://192.168.0.223/API/HR/RY_RYINFO_RSDA.asmx" />
    </wsdl:port>
    <wsdl:port name="RY_RYINFO_RSDAHttpGet" binding="tns:RY_RYINFO_RSDAHttpGet">
      <http:address location="http://192.168.0.223/API/HR/RY_RYINFO_RSDA.asmx" />
    </wsdl:port>
    <wsdl:port name="RY_RYINFO_RSDAHttpPost" binding="tns:RY_RYINFO_RSDAHttpPost">
      <http:address location="http://192.168.0.223/API/HR/RY_RYINFO_RSDA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>