Sonluk.UI.Model/Service References/MES.SY_TYPEMXService/SY_TYPEMX1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_TYPEMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_SY_TYPEMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPEID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MXNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MXNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MXREMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GCNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAXVALUE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MINVALUE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MXBS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:ArrayOfMES_SY_TYPEMXLIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMES_SY_TYPEMXLIST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MES_SY_TYPEMXLIST" nillable="true" type="tns:MES_SY_TYPEMXLIST" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_SY_TYPEMXLIST">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TYPEID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TYPENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MXNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MXNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MXREMARK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAXVALUE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MINVALUE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MXBS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SELECT_NOPTOKEN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_TYPEMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_NOPTOKENResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_NOPTOKENResult" type="tns:ArrayOfMES_SY_TYPEMXLIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_TYPEMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSGNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISCLMSG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:MES_SY_TYPEMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DELETEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_SBFL_BY_GZZX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_SBFL_BY_GZZXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_SBFL_BY_GZZXResult" type="tns:ArrayOfMES_SY_TYPEMXLIST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
      <s:element name="ArrayOfMES_SY_TYPEMXLIST" nillable="true" type="tns:ArrayOfMES_SY_TYPEMXLIST" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_NOPTOKENSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_NOPTOKEN" />
  </wsdl:message>
  <wsdl:message name="SELECT_NOPTOKENSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_NOPTOKENResponse" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="DELETESoapIn">
    <wsdl:part name="parameters" element="tns:DELETE" />
  </wsdl:message>
  <wsdl:message name="DELETESoapOut">
    <wsdl:part name="parameters" element="tns:DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_SBFL_BY_GZZXSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_SBFL_BY_GZZX" />
  </wsdl:message>
  <wsdl:message name="SELECT_SBFL_BY_GZZXSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_SBFL_BY_GZZXResponse" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="SELECT_SBFL_BY_GZZXHttpGetIn">
    <wsdl:part name="GC" type="s:string" />
    <wsdl:part name="GZZXBH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_SBFL_BY_GZZXHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMES_SY_TYPEMXLIST" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DELETEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="SELECT_SBFL_BY_GZZXHttpPostIn">
    <wsdl:part name="GC" type="s:string" />
    <wsdl:part name="GZZXBH" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SELECT_SBFL_BY_GZZXHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMES_SY_TYPEMXLIST" />
  </wsdl:message>
  <wsdl:portType name="SY_TYPEMXSoap">
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_NOPTOKEN">
      <wsdl:input message="tns:SELECT_NOPTOKENSoapIn" />
      <wsdl:output message="tns:SELECT_NOPTOKENSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETESoapIn" />
      <wsdl:output message="tns:DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_SBFL_BY_GZZX">
      <wsdl:input message="tns:SELECT_SBFL_BY_GZZXSoapIn" />
      <wsdl:output message="tns:SELECT_SBFL_BY_GZZXSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_TYPEMXHttpGet">
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETEHttpGetIn" />
      <wsdl:output message="tns:DELETEHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_SBFL_BY_GZZX">
      <wsdl:input message="tns:SELECT_SBFL_BY_GZZXHttpGetIn" />
      <wsdl:output message="tns:SELECT_SBFL_BY_GZZXHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SY_TYPEMXHttpPost">
    <wsdl:operation name="DELETE">
      <wsdl:input message="tns:DELETEHttpPostIn" />
      <wsdl:output message="tns:DELETEHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_SBFL_BY_GZZX">
      <wsdl:input message="tns:SELECT_SBFL_BY_GZZXHttpPostIn" />
      <wsdl:output message="tns:SELECT_SBFL_BY_GZZXHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SY_TYPEMXSoap" type="tns:SY_TYPEMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_NOPTOKEN">
      <soap:operation soapAction="http://tempuri.org/SELECT_NOPTOKEN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SBFL_BY_GZZX">
      <soap:operation soapAction="http://tempuri.org/SELECT_SBFL_BY_GZZX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_TYPEMXSoap12" type="tns:SY_TYPEMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_NOPTOKEN">
      <soap12:operation soapAction="http://tempuri.org/SELECT_NOPTOKEN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETE">
      <soap12:operation soapAction="http://tempuri.org/DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SBFL_BY_GZZX">
      <soap12:operation soapAction="http://tempuri.org/SELECT_SBFL_BY_GZZX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_TYPEMXHttpGet" type="tns:SY_TYPEMXHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DELETE">
      <http:operation location="/DELETE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SBFL_BY_GZZX">
      <http:operation location="/SELECT_SBFL_BY_GZZX" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SY_TYPEMXHttpPost" type="tns:SY_TYPEMXHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DELETE">
      <http:operation location="/DELETE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_SBFL_BY_GZZX">
      <http:operation location="/SELECT_SBFL_BY_GZZX" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SY_TYPEMX">
    <wsdl:port name="SY_TYPEMXSoap" binding="tns:SY_TYPEMXSoap">
      <soap:address location="http://localhost/API/MES/SY_TYPEMX.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_TYPEMXSoap12" binding="tns:SY_TYPEMXSoap12">
      <soap12:address location="http://localhost/API/MES/SY_TYPEMX.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_TYPEMXHttpGet" binding="tns:SY_TYPEMXHttpGet">
      <http:address location="http://localhost/API/MES/SY_TYPEMX.asmx" />
    </wsdl:port>
    <wsdl:port name="SY_TYPEMXHttpPost" binding="tns:SY_TYPEMXHttpPost">
      <http:address location="http://localhost/API/MES/SY_TYPEMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>