Sonluk.UI.Model/Service References/EM.EM_MISSIONService/EM_MISSION.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ZSD_XBZ_CHANGEINFO_Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MISSION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZSD_XBZ_CHANGEINFO_ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZSD_XBZ_CHANGEINFO_ReadResult" type="tns:ZSD_XBZ_CHANGEINFORESULT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZSD_XBZ_CHANGEINFORESULT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="ET_TABLE" type="tns:ArrayOfZSL_SDT076" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_SDT076">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_SDT076" nillable="true" type="tns:ZSL_SDT076" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_SDT076">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ITEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MISSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZSD_XBZ_MAIN_Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="importList" type="tns:ZSD_XBZ_MAINRESULT" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZSD_XBZ_MAINRESULT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EM_MISSION_IMPORT" type="tns:EM_MISSION_IMPORT" />
          <s:element minOccurs="0" maxOccurs="1" name="ET_TABLE" type="tns:ArrayOfZSL_SDT075" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="ET_TABLE_PLUS" type="tns:ArrayOfZSL_SDT075_PLUS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EM_MISSION_IMPORT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FUNTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEBEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATEEND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MISSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUSSTR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_SDT075">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_SDT075" nillable="true" type="tns:ZSL_SDT075" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_SDT075">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MISSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_SDT075_PLUS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_SDT075_PLUS" nillable="true" type="tns:ZSL_SDT075_PLUS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_SDT075_PLUS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MISSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BBNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BBUPDATETIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KUNAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BSTDK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GSTRP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZSD_XBZ_MAIN_ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZSD_XBZ_MAIN_ReadResult" type="tns:ZSD_XBZ_MAINRESULT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZSD_XBZ_MAIN_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="importList" type="tns:ZSD_XBZ_MAINRESULT" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZSD_XBZ_MAIN_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZSD_XBZ_MAIN_UPDATEResult" type="tns:ZSD_XBZ_MAINRESULT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZSD_XBZ_CHANGEINFORESULT" nillable="true" type="tns:ZSD_XBZ_CHANGEINFORESULT" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ZSD_XBZ_CHANGEINFO_ReadSoapIn">
    <wsdl:part name="parameters" element="tns:ZSD_XBZ_CHANGEINFO_Read" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_CHANGEINFO_ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ZSD_XBZ_CHANGEINFO_ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_MAIN_ReadSoapIn">
    <wsdl:part name="parameters" element="tns:ZSD_XBZ_MAIN_Read" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_MAIN_ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ZSD_XBZ_MAIN_ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_MAIN_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:ZSD_XBZ_MAIN_UPDATE" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_MAIN_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:ZSD_XBZ_MAIN_UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_CHANGEINFO_ReadHttpGetIn">
    <wsdl:part name="MISSION" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_CHANGEINFO_ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:ZSD_XBZ_CHANGEINFORESULT" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_CHANGEINFO_ReadHttpPostIn">
    <wsdl:part name="MISSION" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ZSD_XBZ_CHANGEINFO_ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:ZSD_XBZ_CHANGEINFORESULT" />
  </wsdl:message>
  <wsdl:portType name="EM_MISSIONSoap">
    <wsdl:operation name="ZSD_XBZ_CHANGEINFO_Read">
      <wsdl:input message="tns:ZSD_XBZ_CHANGEINFO_ReadSoapIn" />
      <wsdl:output message="tns:ZSD_XBZ_CHANGEINFO_ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZSD_XBZ_MAIN_Read">
      <wsdl:input message="tns:ZSD_XBZ_MAIN_ReadSoapIn" />
      <wsdl:output message="tns:ZSD_XBZ_MAIN_ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZSD_XBZ_MAIN_UPDATE">
      <wsdl:input message="tns:ZSD_XBZ_MAIN_UPDATESoapIn" />
      <wsdl:output message="tns:ZSD_XBZ_MAIN_UPDATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EM_MISSIONHttpGet">
    <wsdl:operation name="ZSD_XBZ_CHANGEINFO_Read">
      <wsdl:input message="tns:ZSD_XBZ_CHANGEINFO_ReadHttpGetIn" />
      <wsdl:output message="tns:ZSD_XBZ_CHANGEINFO_ReadHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EM_MISSIONHttpPost">
    <wsdl:operation name="ZSD_XBZ_CHANGEINFO_Read">
      <wsdl:input message="tns:ZSD_XBZ_CHANGEINFO_ReadHttpPostIn" />
      <wsdl:output message="tns:ZSD_XBZ_CHANGEINFO_ReadHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EM_MISSIONSoap" type="tns:EM_MISSIONSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZSD_XBZ_CHANGEINFO_Read">
      <soap:operation soapAction="http://tempuri.org/ZSD_XBZ_CHANGEINFO_Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSD_XBZ_MAIN_Read">
      <soap:operation soapAction="http://tempuri.org/ZSD_XBZ_MAIN_Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSD_XBZ_MAIN_UPDATE">
      <soap:operation soapAction="http://tempuri.org/ZSD_XBZ_MAIN_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EM_MISSIONSoap12" type="tns:EM_MISSIONSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZSD_XBZ_CHANGEINFO_Read">
      <soap12:operation soapAction="http://tempuri.org/ZSD_XBZ_CHANGEINFO_Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSD_XBZ_MAIN_Read">
      <soap12:operation soapAction="http://tempuri.org/ZSD_XBZ_MAIN_Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZSD_XBZ_MAIN_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/ZSD_XBZ_MAIN_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EM_MISSIONHttpGet" type="tns:EM_MISSIONHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ZSD_XBZ_CHANGEINFO_Read">
      <http:operation location="/ZSD_XBZ_CHANGEINFO_Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EM_MISSIONHttpPost" type="tns:EM_MISSIONHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ZSD_XBZ_CHANGEINFO_Read">
      <http:operation location="/ZSD_XBZ_CHANGEINFO_Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM_MISSION">
    <wsdl:port name="EM_MISSIONSoap" binding="tns:EM_MISSIONSoap">
      <soap:address location="http://192.168.0.107/API/EM/EM_MISSION.asmx" />
    </wsdl:port>
    <wsdl:port name="EM_MISSIONSoap12" binding="tns:EM_MISSIONSoap12">
      <soap12:address location="http://192.168.0.107/API/EM/EM_MISSION.asmx" />
    </wsdl:port>
    <wsdl:port name="EM_MISSIONHttpGet" binding="tns:EM_MISSIONHttpGet">
      <http:address location="http://192.168.0.107/API/EM/EM_MISSION.asmx" />
    </wsdl:port>
    <wsdl:port name="EM_MISSIONHttpPost" binding="tns:EM_MISSIONHttpPost">
      <http:address location="http://192.168.0.107/API/EM/EM_MISSION.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>