Sonluk.UI.Model/Service References/HR.SY_MYINFOService/WS_HR_SY_MYINFO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="JM_ISTRUE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MYPW" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JM_ISTRUEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JM_ISTRUEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_SY_MYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_SY_MYINFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MYNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MYLB" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MYMM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MYMMP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MYPWOLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MYPWNEW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SYPW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GYPW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MYPW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STAFFUSER" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="INSERTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INSERTResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_REPORT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_SY_MYINFO" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT_REPORTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECT_REPORTResult" type="tns:HR_SY_MYINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HR_SY_MYINFO_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="DATALIST">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_SY_MYINFO" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATEResult" type="tns:MES_RETURN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:HR_SY_MYINFO" />
            <s:element minOccurs="1" maxOccurs="1" name="LB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SELECTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SELECTResult" type="tns:HR_SY_MYINFO_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_RETURN" nillable="true" type="tns:MES_RETURN" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="JM_ISTRUESoapIn">
    <wsdl:part name="parameters" element="tns:JM_ISTRUE" />
  </wsdl:message>
  <wsdl:message name="JM_ISTRUESoapOut">
    <wsdl:part name="parameters" element="tns:JM_ISTRUEResponse" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTSoapOut">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:message name="SELECT_REPORTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT_REPORT" />
  </wsdl:message>
  <wsdl:message name="SELECT_REPORTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECT_REPORTResponse" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE" />
  </wsdl:message>
  <wsdl:message name="UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:UPDATEResponse" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapIn">
    <wsdl:part name="parameters" element="tns:SELECT" />
  </wsdl:message>
  <wsdl:message name="SELECTSoapOut">
    <wsdl:part name="parameters" element="tns:SELECTResponse" />
  </wsdl:message>
  <wsdl:message name="JM_ISTRUEHttpGetIn">
    <wsdl:part name="MYPW" type="s:string" />
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="LB" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JM_ISTRUEHttpGetOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:message name="JM_ISTRUEHttpPostIn">
    <wsdl:part name="MYPW" type="s:string" />
    <wsdl:part name="STAFFID" type="s:string" />
    <wsdl:part name="LB" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JM_ISTRUEHttpPostOut">
    <wsdl:part name="Body" element="tns:MES_RETURN" />
  </wsdl:message>
  <wsdl:portType name="WS_HR_SY_MYINFOSoap">
    <wsdl:operation name="JM_ISTRUE">
      <wsdl:input message="tns:JM_ISTRUESoapIn" />
      <wsdl:output message="tns:JM_ISTRUESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTSoapIn" />
      <wsdl:output message="tns:INSERTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT_REPORT">
      <wsdl:input message="tns:SELECT_REPORTSoapIn" />
      <wsdl:output message="tns:SELECT_REPORTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <wsdl:input message="tns:UPDATESoapIn" />
      <wsdl:output message="tns:UPDATESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <wsdl:input message="tns:SELECTSoapIn" />
      <wsdl:output message="tns:SELECTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_SY_MYINFOHttpGet">
    <wsdl:operation name="JM_ISTRUE">
      <wsdl:input message="tns:JM_ISTRUEHttpGetIn" />
      <wsdl:output message="tns:JM_ISTRUEHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_HR_SY_MYINFOHttpPost">
    <wsdl:operation name="JM_ISTRUE">
      <wsdl:input message="tns:JM_ISTRUEHttpPostIn" />
      <wsdl:output message="tns:JM_ISTRUEHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_HR_SY_MYINFOSoap" type="tns:WS_HR_SY_MYINFOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JM_ISTRUE">
      <soap:operation soapAction="http://tempuri.org/JM_ISTRUE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_REPORT">
      <soap:operation soapAction="http://tempuri.org/SELECT_REPORT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_SY_MYINFOSoap12" type="tns:WS_HR_SY_MYINFOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JM_ISTRUE">
      <soap12:operation soapAction="http://tempuri.org/JM_ISTRUE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INSERT">
      <soap12:operation soapAction="http://tempuri.org/INSERT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT_REPORT">
      <soap12:operation soapAction="http://tempuri.org/SELECT_REPORT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UPDATE">
      <soap12:operation soapAction="http://tempuri.org/UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SELECT">
      <soap12:operation soapAction="http://tempuri.org/SELECT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_SY_MYINFOHttpGet" type="tns:WS_HR_SY_MYINFOHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="JM_ISTRUE">
      <http:operation location="/JM_ISTRUE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_HR_SY_MYINFOHttpPost" type="tns:WS_HR_SY_MYINFOHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="JM_ISTRUE">
      <http:operation location="/JM_ISTRUE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_HR_SY_MYINFO">
    <wsdl:port name="WS_HR_SY_MYINFOSoap" binding="tns:WS_HR_SY_MYINFOSoap">
      <soap:address location="http://192.168.0.223/API/HR/WS_HR_SY_MYINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_SY_MYINFOSoap12" binding="tns:WS_HR_SY_MYINFOSoap12">
      <soap12:address location="http://192.168.0.223/API/HR/WS_HR_SY_MYINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_SY_MYINFOHttpGet" binding="tns:WS_HR_SY_MYINFOHttpGet">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_SY_MYINFO.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_HR_SY_MYINFOHttpPost" binding="tns:WS_HR_SY_MYINFOHttpPost">
      <http:address location="http://192.168.0.223/API/HR/WS_HR_SY_MYINFO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>