Sonluk.UI.Model/Service References/QM.ZSL_QMFG_RFCService/WS_QM_ZSL_QMFG_RFC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ZSL_QMFM_012">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ZSL_QMFM_012_SELECT" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ZSL_QMFM_012_SELECT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ET_YHINFO" type="tns:ArrayOfZSL_QMS012" />
          <s:element minOccurs="0" maxOccurs="1" name="MES_RETURN" type="tns:MES_RETURN" />
          <s:element minOccurs="0" maxOccurs="1" name="IV_YHNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IV_VBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IV_BOX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IS_DATE_LOW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IS_DATE_HIGH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IS_TJDATE_LOW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IS_TJDATE_HIGH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STAFFID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GZZXBH" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZSL_QMS012">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZSL_QMS012" nillable="true" type="tns:ZSL_QMS012" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZSL_QMS012">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YHNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZFYDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZLYDAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FLAG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZTEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERDAT1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERNAM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KUNNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERZET1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZTEXT3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZTEXT4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FLAG2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ITEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VBELN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POSNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CYNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MATNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KWMENG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VRKME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZCAT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZBQTY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZUNT1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZTEXT1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZTEXT2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BSTKD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LABOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MVGR4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MVGR1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MVGR2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LBTXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZWG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSEC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDUANL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZSZYF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZDXN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MVGR1T" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MVGR2T" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MVGR4T" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AUFNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KTEXT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GLTRP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KALAB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIFNR_PO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="I1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="I2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGPLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GESME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SONUM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LGPLA2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GESME2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="I3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARKTX" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARBPL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MES_RETURN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BH" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TMSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZSL_QMFM_012Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZSL_QMFM_012Result" type="tns:ZSL_QMFM_012_SELECT" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ZSL_QMFM_012SoapIn">
    <wsdl:part name="parameters" element="tns:ZSL_QMFM_012" />
  </wsdl:message>
  <wsdl:message name="ZSL_QMFM_012SoapOut">
    <wsdl:part name="parameters" element="tns:ZSL_QMFM_012Response" />
  </wsdl:message>
  <wsdl:portType name="WS_QM_ZSL_QMFG_RFCSoap">
    <wsdl:operation name="ZSL_QMFM_012">
      <wsdl:input message="tns:ZSL_QMFM_012SoapIn" />
      <wsdl:output message="tns:ZSL_QMFM_012SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WS_QM_ZSL_QMFG_RFCHttpGet" />
  <wsdl:portType name="WS_QM_ZSL_QMFG_RFCHttpPost" />
  <wsdl:binding name="WS_QM_ZSL_QMFG_RFCSoap" type="tns:WS_QM_ZSL_QMFG_RFCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZSL_QMFM_012">
      <soap:operation soapAction="http://tempuri.org/ZSL_QMFM_012" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_QM_ZSL_QMFG_RFCSoap12" type="tns:WS_QM_ZSL_QMFG_RFCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZSL_QMFM_012">
      <soap12:operation soapAction="http://tempuri.org/ZSL_QMFM_012" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_QM_ZSL_QMFG_RFCHttpGet" type="tns:WS_QM_ZSL_QMFG_RFCHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WS_QM_ZSL_QMFG_RFCHttpPost" type="tns:WS_QM_ZSL_QMFG_RFCHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WS_QM_ZSL_QMFG_RFC">
    <wsdl:port name="WS_QM_ZSL_QMFG_RFCSoap" binding="tns:WS_QM_ZSL_QMFG_RFCSoap">
      <soap:address location="http://localhost/API/QM/WS_QM_ZSL_QMFG_RFC.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_QM_ZSL_QMFG_RFCSoap12" binding="tns:WS_QM_ZSL_QMFG_RFCSoap12">
      <soap12:address location="http://localhost/API/QM/WS_QM_ZSL_QMFG_RFC.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_QM_ZSL_QMFG_RFCHttpGet" binding="tns:WS_QM_ZSL_QMFG_RFCHttpGet">
      <http:address location="http://localhost/API/QM/WS_QM_ZSL_QMFG_RFC.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_QM_ZSL_QMFG_RFCHttpPost" binding="tns:WS_QM_ZSL_QMFG_RFCHttpPost">
      <http:address location="http://localhost/API/QM/WS_QM_ZSL_QMFG_RFC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>