Sonluk.UI.Model/Service References/CRM.COST_KATSCLMXService/COST_KATSCLMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KATSCLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_KATSCLMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KATSCLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KATSCLTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTITEMID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CLFS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FYJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YJXS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YJFB" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RCYJXS" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLFSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TT_HTYEAR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TT_KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CX_BEGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CX_END" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CX_MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CX_CRMID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CX_ISACTIVE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CX_CLFS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDJSZJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SJXS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SJFY" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YHXJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FYHXQK" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KATSCLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KATSCLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_KATSCLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_KATSCLMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_KATSCLMX" nillable="true" type="tns:CRM_COST_KATSCLMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="Read_Unconnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KATSCLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_UnconnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_UnconnectedResult" type="tns:ArrayOfCRM_COST_KATSCLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KATSCLMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_CONN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:COST_KATSCLMX_KAHXDJMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="COST_KATSCLMX_KAHXDJMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KATSCLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HXDJMXID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create_CONNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Create_CONNResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_Unconnected_CONN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KATSCLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_Unconnected_CONNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_Unconnected_CONNResult" type="tns:ArrayOfCRM_COST_KATSCLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByHXDJMXID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HXDJMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByHXDJMXIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteByHXDJMXIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Read_Unconnected" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapOut">
    <wsdl:part name="parameters" element="tns:Read_UnconnectedResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Create_CONNSoapIn">
    <wsdl:part name="parameters" element="tns:Create_CONN" />
  </wsdl:message>
  <wsdl:message name="Create_CONNSoapOut">
    <wsdl:part name="parameters" element="tns:Create_CONNResponse" />
  </wsdl:message>
  <wsdl:message name="Read_Unconnected_CONNSoapIn">
    <wsdl:part name="parameters" element="tns:Read_Unconnected_CONN" />
  </wsdl:message>
  <wsdl:message name="Read_Unconnected_CONNSoapOut">
    <wsdl:part name="parameters" element="tns:Read_Unconnected_CONNResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteByHXDJMXIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteByHXDJMXID" />
  </wsdl:message>
  <wsdl:message name="DeleteByHXDJMXIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteByHXDJMXIDResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="KATSCLMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteByHXDJMXIDHttpGetIn">
    <wsdl:part name="HXDJMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByHXDJMXIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="KATSCLMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteByHXDJMXIDHttpPostIn">
    <wsdl:part name="HXDJMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByHXDJMXIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="COST_KATSCLMXSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <wsdl:input message="tns:Read_UnconnectedSoapIn" />
      <wsdl:output message="tns:Read_UnconnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_CONN">
      <wsdl:input message="tns:Create_CONNSoapIn" />
      <wsdl:output message="tns:Create_CONNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected_CONN">
      <wsdl:input message="tns:Read_Unconnected_CONNSoapIn" />
      <wsdl:output message="tns:Read_Unconnected_CONNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByHXDJMXID">
      <wsdl:input message="tns:DeleteByHXDJMXIDSoapIn" />
      <wsdl:output message="tns:DeleteByHXDJMXIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_KATSCLMXHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByHXDJMXID">
      <wsdl:input message="tns:DeleteByHXDJMXIDHttpGetIn" />
      <wsdl:output message="tns:DeleteByHXDJMXIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_KATSCLMXHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByHXDJMXID">
      <wsdl:input message="tns:DeleteByHXDJMXIDHttpPostIn" />
      <wsdl:output message="tns:DeleteByHXDJMXIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_KATSCLMXSoap" type="tns:COST_KATSCLMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_CONN">
      <soap:operation soapAction="http://tempuri.org/Create_CONN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected_CONN">
      <soap:operation soapAction="http://tempuri.org/Read_Unconnected_CONN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByHXDJMXID">
      <soap:operation soapAction="http://tempuri.org/DeleteByHXDJMXID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KATSCLMXSoap12" type="tns:COST_KATSCLMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap12:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_CONN">
      <soap12:operation soapAction="http://tempuri.org/Create_CONN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected_CONN">
      <soap12:operation soapAction="http://tempuri.org/Read_Unconnected_CONN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByHXDJMXID">
      <soap12:operation soapAction="http://tempuri.org/DeleteByHXDJMXID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KATSCLMXHttpGet" type="tns:COST_KATSCLMXHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByHXDJMXID">
      <http:operation location="/DeleteByHXDJMXID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KATSCLMXHttpPost" type="tns:COST_KATSCLMXHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByHXDJMXID">
      <http:operation location="/DeleteByHXDJMXID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_KATSCLMX">
    <wsdl:port name="COST_KATSCLMXSoap" binding="tns:COST_KATSCLMXSoap">
      <soap:address location="http://192.168.0.135/API/CRM/COST_KATSCLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KATSCLMXSoap12" binding="tns:COST_KATSCLMXSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/COST_KATSCLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KATSCLMXHttpGet" binding="tns:COST_KATSCLMXHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/COST_KATSCLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KATSCLMXHttpPost" binding="tns:COST_KATSCLMXHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/COST_KATSCLMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>