Sonluk.UI.Model/Service References/CRM.COST_KAHXZLMXService/COST_KAHXZLMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRM_COST_KAHXZLMX">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HXZLMXID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HXZLTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KADTTTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COSTITEMID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SQJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SQZJE" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FYHXYHCNR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SJXS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SJFY" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SJFB" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="HDJSZJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEIZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CJSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XGR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XGSJ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SHR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SHSJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CJRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XGRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SHRNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COSTITEMIDSTR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJHDMDSL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BEGINDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDDATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FHDATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YJXS" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RCYJXS" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CXJB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDFASM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YJFY" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="YJFB" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CXLXDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MDID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MDMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MDCRMID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLFSDES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZZLXDES" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TT_KHID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TT_HTYEAR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YHXJE" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SQR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SQRNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MCSX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByKADTTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByKADTTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateByKADTTTIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByParamResult" type="tns:ArrayOfCRM_COST_KAHXZLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCRM_COST_KAHXZLMX">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CRM_COST_KAHXZLMX" nillable="true" type="tns:CRM_COST_KAHXZLMX" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadByTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HXZLTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadByTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadByTTIDResult" type="tns:ArrayOfCRM_COST_KAHXZLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_Unconnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:CRM_COST_KAHXZLMX" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_UnconnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_UnconnectedResult" type="tns:ArrayOfCRM_COST_KAHXZLMX" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HXZLMXID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByKADTTTID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KADTTTID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ptoken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteByKADTTTIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteByKADTTTIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfCRM_COST_KAHXZLMX" nillable="true" type="tns:ArrayOfCRM_COST_KAHXZLMX" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateByKADTTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateByKADTTTID" />
  </wsdl:message>
  <wsdl:message name="UpdateByKADTTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateByKADTTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByParam" />
  </wsdl:message>
  <wsdl:message name="ReadByParamSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadByTTID" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadByTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapIn">
    <wsdl:part name="parameters" element="tns:Read_Unconnected" />
  </wsdl:message>
  <wsdl:message name="Read_UnconnectedSoapOut">
    <wsdl:part name="parameters" element="tns:Read_UnconnectedResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteByKADTTTIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteByKADTTTID" />
  </wsdl:message>
  <wsdl:message name="DeleteByKADTTTIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteByKADTTTIDResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpGetIn">
    <wsdl:part name="HXZLTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_COST_KAHXZLMX" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="HXZLMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteByKADTTTIDHttpGetIn">
    <wsdl:part name="KADTTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByKADTTTIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpPostIn">
    <wsdl:part name="HXZLTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadByTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCRM_COST_KAHXZLMX" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="HXZLMXID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteByKADTTTIDHttpPostIn">
    <wsdl:part name="KADTTTID" type="s:string" />
    <wsdl:part name="ptoken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteByKADTTTIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="COST_KAHXZLMXSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateByKADTTTID">
      <wsdl:input message="tns:UpdateByKADTTTIDSoapIn" />
      <wsdl:output message="tns:UpdateByKADTTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <wsdl:input message="tns:ReadByParamSoapIn" />
      <wsdl:output message="tns:ReadByParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDSoapIn" />
      <wsdl:output message="tns:ReadByTTIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <wsdl:input message="tns:Read_UnconnectedSoapIn" />
      <wsdl:output message="tns:Read_UnconnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByKADTTTID">
      <wsdl:input message="tns:DeleteByKADTTTIDSoapIn" />
      <wsdl:output message="tns:DeleteByKADTTTIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_KAHXZLMXHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDHttpGetIn" />
      <wsdl:output message="tns:ReadByTTIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByKADTTTID">
      <wsdl:input message="tns:DeleteByKADTTTIDHttpGetIn" />
      <wsdl:output message="tns:DeleteByKADTTTIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="COST_KAHXZLMXHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <wsdl:input message="tns:ReadByTTIDHttpPostIn" />
      <wsdl:output message="tns:ReadByTTIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByKADTTTID">
      <wsdl:input message="tns:DeleteByKADTTTIDHttpPostIn" />
      <wsdl:output message="tns:DeleteByKADTTTIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="COST_KAHXZLMXSoap" type="tns:COST_KAHXZLMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateByKADTTTID">
      <soap:operation soapAction="http://tempuri.org/UpdateByKADTTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <soap:operation soapAction="http://tempuri.org/ReadByTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByKADTTTID">
      <soap:operation soapAction="http://tempuri.org/DeleteByKADTTTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KAHXZLMXSoap12" type="tns:COST_KAHXZLMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateByKADTTTID">
      <soap12:operation soapAction="http://tempuri.org/UpdateByKADTTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByParam">
      <soap12:operation soapAction="http://tempuri.org/ReadByParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <soap12:operation soapAction="http://tempuri.org/ReadByTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_Unconnected">
      <soap12:operation soapAction="http://tempuri.org/Read_Unconnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByKADTTTID">
      <soap12:operation soapAction="http://tempuri.org/DeleteByKADTTTID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KAHXZLMXHttpGet" type="tns:COST_KAHXZLMXHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <http:operation location="/ReadByTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByKADTTTID">
      <http:operation location="/DeleteByKADTTTID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="COST_KAHXZLMXHttpPost" type="tns:COST_KAHXZLMXHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByTTID">
      <http:operation location="/ReadByTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteByKADTTTID">
      <http:operation location="/DeleteByKADTTTID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="COST_KAHXZLMX">
    <wsdl:port name="COST_KAHXZLMXSoap" binding="tns:COST_KAHXZLMXSoap">
      <soap:address location="http://192.168.0.135/API/CRM/COST_KAHXZLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KAHXZLMXSoap12" binding="tns:COST_KAHXZLMXSoap12">
      <soap12:address location="http://192.168.0.135/API/CRM/COST_KAHXZLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KAHXZLMXHttpGet" binding="tns:COST_KAHXZLMXHttpGet">
      <http:address location="http://192.168.0.135/API/CRM/COST_KAHXZLMX.asmx" />
    </wsdl:port>
    <wsdl:port name="COST_KAHXZLMXHttpPost" binding="tns:COST_KAHXZLMXHttpPost">
      <http:address location="http://192.168.0.135/API/CRM/COST_KAHXZLMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>